<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="../../scss/tci-all.css">
    <link rel="stylesheet" href="./style.css">
    <title>資料流</title>
</head>

<body>
    <div class="container-fluid" id="page_dataFlow2">
        <!-- 🟡🔴🟢🟤⚫🔵 -->
        <section class="cardContent">
            <div class="tci-card">
                <div class="tci-card-header" style="text-align: left;">
                    <span style="text-align: left;">🟡</span>
                </div>
                <div class="tci-card-body">
                    <div class="tci-card-title">資料流</div>
                </div>
                <div class="tci-card-footer text-muted">
                    HEDY.TSENG 曾莞婷
                </div>
            </div>
            <!-- <span style="margin: auto 3px;">
                <i class="fa-solid fa-angle-right"></i>
            </span> -->
            <div class="tci-card" style="left: 200px;
            top: 20px;">
                <div class="tci-card-header" style="text-align: left;">
                    <span style="text-align: left;">🟢</span>
                </div>
                <div class="tci-card-body ">
                    <div class="tci-card-title">資料流</div>
                    <button class="tci-btn bg_darkblue">按鈕</button>
                </div>
                <div class="tci-card-footer text-muted">
                    HEDY.TSENG 曾莞婷
                </div>
            </div>
            <!-- <span style="margin: auto 3px;">
                <i class="fa-solid fa-angle-right"></i>
            </span> -->
            <div class="tci-card" style="left: 400px;
            top: 40px;">
                <div class="tci-card-header" style="text-align: left;">
                    <span style="text-align: left;">🟢</span>
                </div>
                <div class="tci-card-body">
                    <div class="tci-card-title">資料流</div>
                    <button class="tci-btn bg_darkblue">按鈕</button>
                </div>
                <div class="tci-card-footer text-muted">
                    HEDY.TSENG 曾莞婷
                </div>
            </div>
            <!-- <span style="margin: auto 3px;">
                <i class="fa-solid fa-angle-right"></i>
            </span> -->
            <div class="tci-card">
                <div class="tci-card-header" style="text-align: left;">
                    <span style="text-align: left;">🟢</span>
                </div>
                <div class="tci-card-body">
                    <div class="tci-card-title">資料流</div>
                    <button class="tci-btn bg_darkblue">按鈕</button>
                </div>
                <div class="tci-card-footer text-muted">
                    HEDY.TSENG 曾莞婷
                </div>
            </div>
            <!-- <span style="margin: auto 3px;">
                <i class="fa-solid fa-angle-right"></i>
            </span> -->
            <div class="tci-card">
                <div class="tci-card-header" style="text-align: left;">
                    <span style="text-align: left;">🟢</span>
                </div>
                <div class="tci-card-body">
                    <div class="tci-card-title">資料流</div>
                    <button class="tci-btn bg_darkblue">按鈕</button>
                </div>
                <div class="tci-card-footer text-muted">
                    HEDY.TSENG 曾莞婷
                </div>
            </div>
            <!-- <span style="margin: auto 3px;">
                <i class="fa-solid fa-angle-right"></i>
            </span> -->
            <div class="tci-card">
                <div class="tci-card-header" style="text-align: left;">
                    <span style="text-align: left;">🟢</span>
                </div>
                <div class="tci-card-body">
                    <div class="tci-card-title">資料流</div>
                    <button class="tci-btn bg_darkblue">按鈕</button>
                </div>
                <div class="tci-card-footer text-muted">
                    HEDY.TSENG 曾莞婷
                </div>
            </div>
        </section>
    </div>
    <!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script> -->
</body>

</html>