@charset "UTF-8";
#page_light .query .tci-field .tci-valueBtn {
  display: flex;
}
#page_light .tableScroll {
  overflow-x: auto;
}
#page_light .tableScroll .tci-table {
  width: 1200px;
}

@media (min-width: 765px) {
  #page_light .query {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #page_light .query .tci-field {
    width: 45%;
  }
  #page_light .query .tci-field .tci-field-label {
    width: 35%;
  }
  #page_light .query .tci-field .tci-field-value {
    width: 65%;
  }
  #page_light .query .tci-field .tci-valueBtn {
    width: 65%;
  }
}
@media (min-width: 992px) {
  #page_light .tableScroll {
    overflow-x: auto;
  }
  #page_light .tableScroll .tci-table {
    width: 100%;
  }
}
#page_dataFlow .cardContent {
  display: flex;
  flex-wrap: wrap;
}
#page_dataFlow .cardContent .block {
  display: flex;
}
#page_dataFlow .cardContent .tci-card {
  min-width: 162px;
  margin-bottom: 30px;
  margin-right: 5px;
  width: 162px;
}
#page_dataFlow .cardContent .tci-card .tci-card-body {
  margin: auto;
  flex: inherit;
}
#page_dataFlow .cardContent .tci-card .tci-card-body .tci-card-title {
  font-weight: bold;
  font-size: var(--font-size-md);
}
#page_dataFlow .cardContent .tci-card .tci-card-body button {
  padding: 3px 5px;
}
#page_dataFlow .cardContent .circleWidth {
  width: 162px;
}
#page_dataFlow .cardContent .circleWidth .tci-cardradius {
  border: #2a2a2a 1px solid;
  min-width: 165px;
  border-radius: 40rem;
  position: relative;
  height: 160px;
}
#page_dataFlow .cardContent .circleWidth .tci-cardradius .circleName {
  bottom: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: var(--font-size-md);
  font-weight: bold;
}

@media (min-width: 765px) {
  #page_dataFlow .cardContent .tci-card {
    width: 200px;
  }
  #page_dataFlow .cardContent .circleWidth {
    width: 200px;
  }
  #page_dataFlow .cardContent .circleWidth .tci-cardradius {
    width: 165px;
    margin: auto;
  }
}
#page_dataFlow2 .cardContent {
  position: relative;
}
#page_dataFlow2 .cardContent .tci-card {
  position: absolute;
  min-height: 100px;
  width: 200px;
}

@media (min-width: 1200px) {
  #page_dataFlow .cardContent {
    width: 1200px;
    margin: auto;
  }
}
.container {
  width: 1170px;
}

#page_steps {
  font-size: 14px;
}
#page_steps .steps {
  margin-top: 2rem;
  text-align: center;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0 5px;
}
#page_steps .steps li {
  float: left;
  flex: inherit;
  position: relative;
  margin-bottom: 10rem;
  width: 100%;
}
#page_steps .steps li.more {
  margin-bottom: 29rem;
}
#page_steps .step-num {
  display: inline-block;
  height: 30px;
  width: 30px;
  color: var(--color-snow);
  background-color: #b9b9b9;
  line-height: 30px;
  border-radius: 50%;
  text-align: center;
}
#page_steps .step_active .step-num {
  background-color: #fff100;
}
#page_steps .step_pass .step-num {
  background-color: #2ad613;
}
#page_steps .step-sub {
  width: 100%;
  position: absolute;
}
#page_steps .step_card {
  line-height: 2;
  background-color: var(--color-light-gray);
  border-radius: var(--borderRadius);
  padding: 5px;
  box-shadow: var(--borderShadow);
  margin: 1rem auto;
  width: 90%;
}
#page_steps .step_card .step_card_title {
  font-weight: bold;
  cursor: pointer;
}
#page_steps .step_card .line_one {
  height: 5px;
  background-color: var(--color-dark-green);
}
#page_steps .step_card .line_two {
  height: 5px;
  background-color: var(--color-light-red);
}
#page_steps .greenTag {
  font-size: var(--font-size-xs);
  background-color: var(--color-dark-khaki);
  color: var(--color-snow);
  border-radius: var(--borderRadius);
  padding: 0 5px;
}
#page_steps .borderbox {
  padding: 2rem 0;
  border-radius: var(--borderRadius);
  flex-basis: min-content;
}
#page_steps .boxIcon {
  height: 100%;
  margin: auto 0;
  font-size: 20px;
}

@media (min-width: 765px) {
  #page_steps .steps li {
    width: 195px;
  }
}
/* 当屏幕为竖屏时应用的样式 */
@media screen and (orientation: portrait) {
  /*要横屏显示的内容的外层盒子*/
  #page_test3 {
    /* 设置基准点为左上角 */
    transform-origin: top left;
    /* 以左上角为基准点，顺时针旋转90度 然后沿Y轴反方向平移100% */
    /* 为什么沿Y轴，因为旋转使坐标轴方向发生了变化 */
    transform: rotate(90deg) translateY(-100%);
    /*设置元素的宽度为 100%父元素的高度 并提高样式优先级 */
    width: 100vh !important;
    /*设置元素的宽度为 100%父元素的宽度  并提高样式优先级 */
    height: 100vw !important;
  }
}
#page_test3 {
  margin: 2rem auto;
}
#page_test3 .content {
  overflow-x: auto;
}
#page_test3 .content .cardContent {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  justify-content: space-around;
}
#page_test3 .content .cardContent .block {
  display: flex;
  width: 22%;
  margin-bottom: 1rem;
}
#page_test3 .content .cardContent .tci-card {
  min-width: 162px;
  margin-right: 5px;
  width: 190px;
}
#page_test3 .content .cardContent .tci-card .tci-card-body {
  margin: auto;
  flex: inherit;
}
#page_test3 .content .cardContent .tci-card .tci-card-body .tci-card-title {
  font-weight: bold;
  font-size: 16px;
}
#page_test3 .content .cardContent .tci-card .tci-card-body button {
  padding: 3px 5px;
}
#page_test3 .box {
  min-width: 220px;
  text-align: center;
}
#page_test3 .step_card {
  line-height: 2;
  background-color: var(--color-light-gray);
  border-radius: var(--borderRadius);
  padding: 5px;
  box-shadow: var(--borderShadow);
  margin: 1rem auto;
  width: 90%;
}
#page_test3 .step_card .step_card_title {
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}
#page_test3 .step_card .line_one {
  height: 5px;
  background-color: var(--color-dark-green);
}
#page_test3 .step_card .line_two {
  height: 5px;
  background-color: var(--color-light-red);
}
#page_test3 .greenTag {
  font-size: var(--font-size-xs);
  background-color: var(--color-dark-khaki);
  color: var(--color-snow);
  border-radius: var(--borderRadius);
  padding: 0 5px;
}
#page_test3 .step-num {
  display: inline-block;
  height: 30px;
  width: 30px;
  color: var(--color-snow);
  background-color: #b9b9b9;
  line-height: 30px;
  border-radius: 50%;
  text-align: center;
}
#page_test3 .step_active .step-num {
  background-color: #fff100;
  color: var(--color-drak);
}
#page_test3 .step_pass .step-num {
  background-color: #2ad613;
}
#page_test3 .modal-dialog {
  width: 95%;
}
#page_test3 .modal-dialog .modal-body {
  display: flex;
}
#page_test3 .modal-dialog .modal_arrow {
  background-color: var(--color-dark-blue);
  color: #fff;
  margin: auto 0.5rem;
  padding: 2rem 1rem;
  border-radius: var(--borderRadius);
}
#page_test3 .modal-dialog .modal_card {
  display: flex;
  flex-wrap: wrap;
  background-color: #b9b9b9;
  padding: 8px;
  margin-bottom: 1rem;
  border-radius: var(--borderRadius);
}
#page_test3 .modal-dialog .modal_card.secound {
  background-color: antiquewhite;
  border-radius: var(--borderRadius);
}
#page_test3 .modal-dialog .modal_card.secound .box {
  margin: auto;
}
#page_test3 .modal-dialog .modal_card .box {
  position: relative;
}
#page_test3 .modal-dialog .modal_card .box .end {
  bottom: -10px;
  position: absolute;
  right: 12px;
}
#page_test3 .modal-dialog .modal_card .block {
  display: flex;
  margin-bottom: 1rem;
}
#page_test3 .modal-dialog .modal_card .block.end {
  border: 2px solid #2a2a2a;
  padding: 5px;
}
#page_test3 .modal-dialog .modal_card .block_row {
  flex-flow: column;
  border: 3px dashed saddlebrown;
}
#page_test3 .modal-dialog .modal_card .tci-card {
  min-width: 162px;
  margin-right: 5px;
  width: 190px;
}
#page_test3 .modal-dialog .modal_card .tci-card .tci-card-body {
  margin: auto;
  flex: inherit;
}
#page_test3 .modal-dialog .modal_card .tci-card .tci-card-body .tci-card-title {
  font-weight: bold;
  font-size: 16px;
}
#page_test3 .modal-dialog .modal_card .tci-card .tci-card-body button {
  padding: 3px 5px;
}

@media (min-width: 992px) {
  #page_test3 .content .cardContent {
    width: 100%;
  }
}