<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../scss/tci-all.css">
  <link rel="stylesheet" href="./style.css">
  <title>Document</title>
</head>

<body>

  <div id="page_steps">
    <div style="text-align: right;">
      <span class="one">流程1</span><br/>
      <span class="two">流程2</span>

    </div>
    <ul class="steps">
      <li class="step_pass">
        <div class="step-line"></div>
        <div class="step-content">
          <div class="step-num">1</div>
          <div class="sub_title"></div>
          <div class="step-sub">
            <div class="step_card">
              <div class="line_one"></div>
              <div class="line_two"></div>
              <div class="step_card_title">
                <span>建立商機</span>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="step_pass">
        <div class="step-line"></div>
        <div class="step-content">
          <div class="step-num">2</div>
          <div class="sub_title"></div>
          <div class="step-sub">
            <div class="step_card" title="商機審核(EIP)">
              <div class="line_one"></div>
              <div class="line_two"></div>
              <div class="step_card_title">
                <span>商機審核(EIP)</span>
              </div>
              <button class="tci-btn bg_darkblue" style="padding: 0 10px;">變更狀態</button><br>
              <span class="step_tag greenTag">HEDY.TSENG 曾莞婷</span>
            </div>
          </div>
        </div>
      </li>
      <li class="step_pass">
        <div class="step-line"></div>
        <div class="step-content">
          <div class="step-num">3</div>
          <div class="sub_title"></div>
          <div class="step-sub">
            <div class="step_card" title="產品設計需求/上開會議(EIP)">
              <div class="line_one"></div>
              <div class="line_two"></div>
              <div class="step_card_title">
                <span>產品設計需求/上開會議(EIP)</span>
              </div>
              <button class="tci-btn bg_darkblue" style="padding: 0 10px;">變更狀態</button><br>
              <span class="step_tag greenTag">HEDY.TSENG 曾莞婷</span>
            </div>
          </div>
        </div>
      </li>
      <li class="step_pass">
        <div class="step-line"></div>
        <div class="step-content">
          <div class="step-num">4</div>
          <div class="sub_title"></div>
          <div class="step-sub">
            <div class="step_card" title="開立配方(SAP)">
              <div class="line_one"></div>
              <div class="line_two"></div>
              <div class="step_card_title">
                <span>開立配方(SAP)</span>
              </div>
              <button class="tci-btn bg_darkblue" style="padding: 0 10px;">變更狀態</button><br>
              <span class="step_tag greenTag">HEDY.TSENG 曾莞婷</span>
            </div>
          </div>
        </div>
      </li>
      <li class="step_pass">
        <div class="step-line"></div>
        <div class="step-content">
          <div class="step-num">5</div>
          <div class="sub_title"></div>
          <div class="step-sub">
            <div class="step_card" title="配方審核法規(SAP)">
              <div class="line_one"></div>
              <div class="line_two"></div>
              <div class="step_card_title">
                <span>配方審核法規(SAP)</span>
              </div>
              <button class="tci-btn bg_darkblue" style="padding: 0 10px;">變更狀態</button><br>
              <span class="step_tag greenTag">HEDY.TSENG 曾莞婷</span>
            </div>
          </div>
        </div>
      </li>
      <li class="step_pass">
        <div class="step-line"></div>
        <div class="step-content">
          <div class="step-num">6</div>
          <div class="sub_title"></div>
          <div class="step-sub">
            <div class="step_card" title="上傳配方/提案(SAP/EIP)">
              <div class="line_one"></div>
              <div class="line_two"></div>
              <div class="step_card_title">
                <span>上傳配方/提案(SAP/EIP)</span>
              </div>
              <button class="tci-btn bg_darkblue" style="padding: 0 10px;">變更狀態</button><br>
              <span class="step_tag greenTag">HEDY.TSENG 曾莞婷</span>
            </div>
          </div>
        </div>
      </li>
      <li class="step_pass">
        <div class="step-line"></div>
        <div class="step-content">
          <div class="step-num">7</div>
          <div class="sub_title"></div>
          <div class="step-sub">
            <div class="step_card" title="提案/配方確認(EIP)">
              <div class="line_one"></div>
              <div class="line_two"></div>
              <div class="step_card_title">
                <span>提案/配方確認(EIP)</span>
              </div>
              <button class="tci-btn bg_darkblue" style="padding: 0 10px;">變更狀態</button><br>
              <span class="step_tag greenTag">HEDY.TSENG 曾莞婷</span>
            </div>
          </div>
        </div>
      </li>
      <li class="step_edd">
        <div class="step-line"></div>
        <div class="step-content">
          <div class="step-num">8</div>
          <div class="sub_title"></div>
          <div class="step-sub">
             <div class="step_card" title="會計維護資料(SAP)">
              <div class="line_one"></div>
              <div class="line_two"></div>
              <div class="step_card_title">
                <span>會計維護資料(SAP)</span>
              </div>
              <button class="tci-btn bg_darkblue" style="padding: 0 10px;">變更狀態</button><br>
              <span class="step_tag greenTag">HEDY.TSENG 曾莞婷</span>
            </div>
          </div>
        </div>
      </li>
<!-- <hr> -->
      <li class="step_active">
        <div class="step-line"></div>
        <div class="step-content">
          <div class="step-num">9</div>
          <div class="sub_title"></div>
          <div class="step-sub">
             <div class="step_card" title="報價PM送簽">
              <div class="line_one"></div>
              <div class="line_two"></div>
              <div class="step_card_title">
                <span>報價PM送簽</span>
              </div>
              <button class="tci-btn bg_darkblue" style="padding: 0 10px;">變更狀態</button><br>
              <span class="step_tag greenTag">HEDY.TSENG 曾莞婷</span>
            </div>
          </div>
        </div>
      </li>
      <li class="step_edd">
        <div class="step-line"></div>
        <div class="step-content">
          <div class="step-num">10</div>
          <div class="sub_title"></div>
          <div class="step-sub">
             <div class="step_card" title="提打樣需求申請">
              <div class="line_one"></div>
              <div class="line_two"></div>
              <div class="step_card_title">
                <span>提打樣需求申請</span>
              </div>
              <button class="tci-btn bg_darkblue" style="padding: 0 10px;">變更狀態</button><br>
              <span class="step_tag greenTag">HEDY.TSENG 曾莞婷</span>
            </div>
          </div>
        </div>
      </li>
      <li class="step_edd">
        <div class="step-line"></div>
        <div class="step-content">
          <div class="step-num">11</div>
          <div class="sub_title"></div>
          <div class="step-sub">
             <div class="step_card" title="打樣需求">
              <div class="line_one"></div>
              <div class="line_two"></div>
              <div class="step_card_title">
                <span>打樣需求</span>
              </div>
              <button class="tci-btn bg_darkblue" style="padding: 0 10px;">變更狀態</button><br>
              <span class="step_tag greenTag">HEDY.TSENG 曾莞婷</span>
            </div>
          </div>
        </div>
      </li>
      <li class="step_edd">
        <div class="step-line"></div>
        <div class="step-content">
          <div class="step-num">12</div>
          <div class="sub_title"></div>
          <div class="step-sub">
             <div class="step_card" title="業務確認配方(EIP)">
              <div class="line_one"></div>
              <div class="line_two"></div>
              <div class="step_card_title">
                <span>業務確認配方(EIP)</span>
              </div>
              <button class="tci-btn bg_darkblue" style="padding: 0 10px;">變更狀態</button><br>
              <span class="step_tag greenTag">HEDY.TSENG 曾莞婷</span>
            </div>
          </div>
        </div>
      </li>
      <li class="step_edd">
        <div class="step-line"></div>
        <div class="step-content">
          <div class="step-num">13</div>
          <div class="sub_title"></div>
          <div class="step-sub">
             <div class="step_card" title="綁定料號BOM(EIP)">
              <div class="line_one"></div>
              <div class="line_two"></div>
              <div class="step_card_title">
                <span>綁定料號BOM(EIP)</span>
              </div>
              <button class="tci-btn bg_darkblue" style="padding: 0 10px;">變更狀態</button><br>
              <span class="step_tag greenTag">HEDY.TSENG 曾莞婷</span>
            </div>
          </div>
        </div>
      </li>
      <li class="step_edd more">
        <div class="step-line"></div>
        <div class="step-content">
          <div class="step-num">14</div>
          <div class="sub_title"></div>
          <div class="step-sub">
             <div class="step_card" title="送出PMT草稿(EIP)">
              <div class="line_one"></div>
              <div class="step_card_title">
                <span>送出PMT草稿(EIP)</span>
              </div>
              <button class="tci-btn bg_darkblue" style="padding: 0 10px;">變更狀態</button><br>
              <span class="step_tag greenTag">HEDY.TSENG 曾莞婷</span>
            </div>
            <div class="step_card" title="提出仿單需求(EIP)">
              <div class="line_two"></div>
              <div class="step_card_title">
                <span>提出仿單需求(EIP)</span>
              </div>
              <button class="tci-btn bg_darkblue" style="padding: 0 10px;">變更狀態</button><br>
              <span class="step_tag greenTag">HEDY.TSENG 曾莞婷</span>
            </div>
            <div class="step_card" title="建立送檢委託單(EIP)">
              <div class="line_two"></div>
              <div class="step_card_title">
                <span>建立送檢委託單(EIP)</span>
              </div>
              <button class="tci-btn bg_darkblue" style="padding: 0 10px;">變更狀態</button><br>
              <span class="step_tag greenTag">HEDY.TSENG 曾莞婷</span>
            </div>
            <div class="step_card" title="提出安定性測試(EIP)">
              <div class="line_two"></div>
              <div class="step_card_title">
                <span>提出安定性測試(EIP)</span>
              </div>
              <button class="tci-btn bg_darkblue" style="padding: 0 10px;">變更狀態</button><br>
              <span class="step_tag greenTag">HEDY.TSENG 曾莞婷</span>
            </div>
          </div>
        </div>
      </li>
      <li class="step_edd">
        <div class="step-line"></div>
        <div class="step-content">
          <div class="step-num">15</div>
          <div class="sub_title"></div>
          <div class="step-sub">
             <div class="step_card" title="PMT送出">
              <div class="line_one"></div>
              <div class="step_card_title">
                <span>PMT送出</span>
              </div>
              <button class="tci-btn bg_darkblue" style="padding: 0 10px;">變更狀態</button><br>
              <span class="step_tag greenTag">HEDY.TSENG 曾莞婷</span>
            </div>
            <div class="step_card" title="稿件製作">
              <div class="line_two"></div>
              <div class="step_card_title">
                <span>稿件製作</span>
              </div>
              <button class="tci-btn bg_darkblue" style="padding: 0 10px;">變更狀態</button><br>
              <span class="step_tag greenTag">HEDY.TSENG 曾莞婷</span>
            </div>
          </div>
        </div>
      </li>
      <li class="step_edd">
        <div class="step-line"></div>
        <div class="step-content">
          <div class="step-num">16</div>
          <div class="sub_title"></div>
          <div class="step-sub">
             <div class="step_card" title="採購回覆料況(SAP)">
              <div class="line_one"></div>
              <div class="step_card_title">
                <span>採購回覆料況(SAP)</span>
              </div>
              <button class="tci-btn bg_darkblue" style="padding: 0 10px;">變更狀態</button><br>
              <span class="step_tag greenTag">HEDY.TSENG 曾莞婷</span>
            </div>
            <div class="step_card" title="稿件審查">
              <div class="line_two"></div>
              <div class="step_card_title">
                <span>稿件審查</span>
              </div>
              <button class="tci-btn bg_darkblue" style="padding: 0 10px;">變更狀態</button><br>
              <span class="step_tag greenTag">HEDY.TSENG 曾莞婷</span>
            </div>
          </div>
        </div>
      </li>
      <li class="step_edd">
        <div class="step-line"></div>
        <div class="step-content">
          <div class="step-num">17</div>
          <div class="sub_title"></div>
          <div class="step-sub">
             <div class="step_card" title="生管確認排程">
              <div class="line_one"></div>
              <div class="step_card_title">
                <span>生管確認排程</span>
              </div>
              <button class="tci-btn bg_darkblue" style="padding: 0 10px;">變更狀態</button><br>
              <span class="step_tag greenTag">HEDY.TSENG 曾莞婷</span>
            </div>
            <div class="step_card" title="成本核發">
              <div class="line_two"></div>
              <div class="step_card_title">
                <span>成本核發</span>
              </div>
              <button class="tci-btn bg_darkblue" style="padding: 0 10px;">變更狀態</button><br>
              <span class="step_tag greenTag">HEDY.TSENG 曾莞婷</span>
            </div>
          </div>
        </div>
      </li>
      <li class="step_edd">
        <div class="step-line"></div>
        <div class="step-content">
          <div class="step-num">18</div>
          <div class="sub_title"></div>
          <div class="step-sub">
             <div class="step_card" title="估價單轉訂單(SAP)">
              <div class="line_one"></div>
              <div class="step_card_title">
                <span>估價單轉訂單(SAP)</span>
              </div>
              <button class="tci-btn bg_darkblue" style="padding: 0 10px;">變更狀態</button><br>
              <span class="step_tag greenTag">HEDY.TSENG 曾莞婷</span>
            </div>
          </div>
        </div>
      </li>
      <li class="step_edd">
        <div class="step-line"></div>
        <div class="step-content">
          <div class="step-num">19</div>
          <div class="sub_title"></div>
          <div class="step-sub">
             <div class="step_card" title="客戶回簽訂單(SAP)">
               <div class="line_one"></div>
               <div class="step_card_title">
                <span>客戶回簽訂單(SAP)</span>
              </div>
              <button class="tci-btn bg_darkblue" style="padding: 0 10px;">變更狀態</button><br>
              <span class="step_tag greenTag">HEDY.TSENG 曾莞婷</span>
            </div>
          </div>
        </div>
      </li>
      <li class="step_edd">
        <div class="step-line"></div>
        <div class="step-content">
          <div class="step-num">20</div>
          <div class="sub_title"></div>
          <div class="step-sub">
             <div class="step_card" title="銷售訂單完簽(EIP)">
               <div class="line_one"></div>
               <div class="step_card_title">
                <span>銷售訂單完簽(EIP)</span>
              </div>
              <button class="tci-btn bg_darkblue" style="padding: 0 10px;">變更狀態</button><br>
              <span class="step_tag greenTag">HEDY.TSENG 曾莞婷</span>
            </div>
          </div>
        </div>
      </li>
      <li class="step_edd">
        <div class="step-line"></div>
        <div class="step-content">
          <div class="step-num">21</div>
          <div class="sub_title"></div>
          <div class="step-sub">
             <div class="step_card" title="計劃單轉工單(SAP)">
               <div class="line_one"></div>
               <div class="line_two"></div>
               <div class="step_card_title">
                <span>計劃單轉工單(SAP)</span>
              </div>
              <button class="tci-btn bg_darkblue" style="padding: 0 10px;">變更狀態</button><br>
              <span class="step_tag greenTag">HEDY.TSENG 曾莞婷</span>
            </div>
          </div>
        </div>
      </li>
      <li class="step_edd">
        <div class="step-line"></div>
        <div class="step-content">
          <div class="step-num">22</div>
          <div class="sub_title"></div>
          <div class="step-sub">
             <div class="step_card" title="工單核發(SAP)">
               <div class="line_one"></div>
               <div class="step_card_title">
                <span>工單核發(SAP)</span>
              </div>
              <button class="tci-btn bg_darkblue" style="padding: 0 10px;">變更狀態</button><br>
              <span class="step_tag greenTag">HEDY.TSENG 曾莞婷</span>
            </div>
          </div>
        </div>
      </li>
      <li class="step_edd">
        <div class="step-line"></div>
        <div class="step-content">
          <div class="step-num">23</div>
          <div class="sub_title"></div>
          <div class="step-sub">
             <div class="step_card" title="備料工單清冊明細狀態(SAP MES)">
               <div class="line_one"></div>
               <div class="step_card_title">
                <span>備料工單清冊明細狀態(SAP MES)</span>
              </div>
              <button class="tci-btn bg_darkblue" style="padding: 0 10px;">變更狀態</button><br>
              <span class="step_tag greenTag">HEDY.TSENG 曾莞婷</span>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</body>

</html>