<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- //bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />

    <link rel="stylesheet" href="../../scss/tci-all.css" />
    <link rel="stylesheet" href="./style.css">
    <title>簽核單據查詢</title>
</head>

<body>
    <div class="container-fluid" id="page_qianhe" style="margin: 1rem;">
        <div class="tci-text-center pageContent">
            <span class="pageContentTitle"><b>簽核單據查詢<br>Search a WorkFlow</b></span>
        </div>
        <div style="position:absolute;z-index:2000;">
            <button style="background-color: #c3e6cb;padding: 4px;" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-list" aria-hidden="true"></i> &nbsp; <span>查詢單據</span>
            </button>
        </div>
        <div class="btnGroups">
            <button class="tci-btn tci-btn-primary">取消查詢 Cancel</button>
            <button class="tci-btn tci-btn-orgin">重新查詢 Search Again</button>
        </div>
        <section class="pageQuery">
            <div class="tci-input-group tci-mb-2">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text fs-14">單據編號Request No.</span>
                </div>
                <input type="text" class="tci-form-control fs-14">
            </div>
            <div class="tci-input-group tci-mb-2">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text fs-14">公司別Company</span>
                </div>
                <select class="tci-form-control" >
                    <option value="">All</option>
                    <option value="宋玉春">HARU.SUNG宋玉春</option>
                    <option value="王筱玲">IRENE.WANG王筱玲</option>
                </select>
            </div>
            <div class="tci-input-group tci-mb-2">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text fs-14">單據類型Request Type</span>
                </div>
                <select class="tci-form-control" >
                    <option value="">All</option>
                    <option value="宋玉春">HARU.SUNG宋玉春</option>
                    <option value="王筱玲">IRENE.WANG王筱玲</option>
                </select>
            </div>
            <div class="tci-input-group tci-mb-2">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text fs-14">建立日期 Crate Date</span>
                </div>
                <input type="text" class="tci-form-control fs-14">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text fs-14">~</span>
                </div>
                <input type="text" class="tci-form-control fs-14">
            </div>
            <div class="tci-input-group tci-mb-2">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text fs-14">發票編號 Invoice number</span>
                </div>
                <input type="text" class="tci-form-control fs-14">
            </div>
            <div class="tci-input-group tci-mb-2">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text fs-14">摘要內容 Summary</span>
                </div>
                <input type="text" class="tci-form-control fs-14" placeholder="摘要內容關鍵字 Item Name Keyword">
            </div>
            <div class="tci-input-group tci-mb-2" style="width: 100%;">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text fs-14">公司名稱 Company Name</span>
                </div>
                <input type="text" class="tci-form-control fs-14" placeholder="選擇公司T/T時">
                <button class="tci-btn tci-btn-outline-secondary" type="button">歸屬人</button>
            </div>
        </section>

        <section class="pageRequester">
            <div class="tci-input-group tci-mb-2">
                <div class="tci-input-group-prepend btnName">
                    <button class="tci-btn tci-btn-orgin btnName fs-14" type="button">經辦人 Requester</button>
                </div>
                <div class="tci-input-group-prepend disblock">
                    <span class="tci-input-group-text fs-14">210212</span>
                    <span class="tci-input-group-text fs-14">一二三四五六七八九十一二</span>
                </div>
            </div>
            <div class="quickblock">
                <div class="tci-input-group tci-mb-2">
                    <div class="tci-input-group-prepend">
                        <span class="tci-input-group-text fs-14">快查 Quick Search</span>
                    </div>
                    <input type="text" class="tci-form-control fs-14" placeholder="輸入員工姓名關鍵字 Employee Name">
                </div>
                <div class="tci-input-group tci-mb-2">
                    <div class="tci-input-group-prepend">
                        <span class="tci-input-group-text fs-14">-</span>
                    </div>
                    <select class="tci-form-control">
                        <option value="">All</option>
                        <option value="宋玉春">HARU.SUNG宋玉春</option>
                        <option value="王筱玲">IRENE.WANG王筱玲</option>
                    </select>
                    <button class="tci-btn tci-btn-outline-secondary" type="button">所有人員 Reset</button>
                </div>
            </div>
            <div class="tci-input-group tci-mb-2">
                <div class="tci-input-group-prepend requesterD">
                    <button class="tci-btn tci-btn-orgin requesterD fs-14" type="button">經辦人部門別 Requester's Department</button>
                </div>
                <div class="tci-input-group-prepend requesterD_text">
                    <span class="tci-input-group-text fs-14">210212</span>
                    <span class="tci-input-group-text fs-14">一二三四五六七八九十一二</span>
                </div>
                <button class="tci-btn tci-btn-outline-secondary requesterD_btn" type="button">取消選取 Reset</button>
            </div>
            <div class="tci-input-group tci-mb-2">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text fs-14">單據建立日 Crate Date</span>
                </div>
                <input type="text" class="tci-form-control fs-14">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text fs-14">~</span>
                </div>
                <input type="text" class="tci-form-control fs-14">
            </div>
        </section>
        <section class="pageRequester">
            <div class="tci-input-group tci-mb-2">
                <div class="tci-input-group-prepend btnName">
                    <button class="tci-btn tci-btn-orgin btnName fs-14" type="button">最後簽核者 Last Approver</button>
                </div>
                <div class="tci-input-group-prepend disblock">
                    <span class="tci-input-group-text fs-14">210212</span>
                    <span class="tci-input-group-text fs-14">一二三四五六七八九十一二</span>
                </div>
            </div>
            <div class="quickblock">
                <div class="tci-input-group tci-mb-2">
                    <div class="tci-input-group-prepend">
                        <span class="tci-input-group-text fs-14">快查 Quick Search</span>
                    </div>
                    <input type="text" class="tci-form-control fs-14" placeholder="輸入員工姓名關鍵字 Employee Name">
                </div>
                <div class="tci-input-group tci-mb-2">
                    <div class="tci-input-group-prepend">
                        <span class="tci-input-group-text fs-14">-</span>
                    </div>
                    <select class="tci-form-control">
                        <option value="">All</option>
                        <option value="宋玉春">HARU.SUNG宋玉春</option>
                        <option value="王筱玲">IRENE.WANG王筱玲</option>
                    </select>
                    <button class="tci-btn tci-btn-outline-secondary" type="button">所有人員 Reset</button>
                </div>
            </div>
            <div class="tci-input-group tci-mb-2">
                <div class="tci-input-group-prepend btnName">
                    <button class="tci-btn tci-btn-orgin btnName fs-14" type="button">簽核者 Approver</button>
                </div>
                <div class="tci-input-group-prepend disblock">
                    <span class="tci-input-group-text fs-14">210212</span>
                    <span class="tci-input-group-text fs-14">一二三四五六七八九十一二</span>
                </div>
            </div>
            <div class="quickblock">
                <div class="tci-input-group tci-mb-2">
                    <div class="tci-input-group-prepend">
                        <span class="tci-input-group-text fs-14">快查 Quick Search</span>
                    </div>
                    <input type="text" class="tci-form-control fs-14" placeholder="輸入員工姓名關鍵字 Employee Name">
                </div>
                <div class="tci-input-group tci-mb-2">
                    <div class="tci-input-group-prepend">
                        <span class="tci-input-group-text fs-14">-</span>
                    </div>
                    <select class="tci-form-control" >
                        <option value="">All</option>
                        <option value="宋玉春">HARU.SUNG宋玉春</option>
                        <option value="王筱玲">IRENE.WANG王筱玲</option>
                    </select>
                    <button class="tci-btn tci-btn-outline-secondary" type="button">取消選取 Reset</button>
                </div>
            </div>
            <div class="tci-input-group tci-mb-2">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text fs-14">簽核日期 Approver Date</span>
                </div>
                <input type="text" class="tci-form-control fs-14">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text fs-14">~</span>
                </div>
                <input type="text" class="tci-form-control fs-14">
            </div>
        </section>
        <div class="btnGroups">
            <button class="tci-btn tci-btn-primary">查詢 Search</button>
        </div>
    </div>
    <script src="https://cdn.bootcdn.net/ajax/libs/popper.js/2.11.5/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
</body>
</html>