<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- //bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />

    <link rel="stylesheet" href="../../scss/tci-all.css" />
    <link rel="stylesheet" href="./style.css">
    <title>修改簽核單據</title>
</head>

<body>
    <div class="container-fluid" id="page_qianheedit" style="margin: 1rem;">
        <div class="tci-text-center pageContent">
            <span class="pageContentTitle"><b>修改簽核單據<br>Update a WorkFlow</b></span>
        </div>
        <section class="page_table01 pageTable">
            <table class="table table-hover BillInfoTB1">
                <tbody>
                    <tr>
                        <th colspan="4" style="background-color:bisque;">更新請假單-Update</th>
                    </tr>
                    <tr>
                        <th width="5%" nowrap="nowrap">請假人<br>Leave Applicant</th>
                        <td nowrap="">大江戰士-HEDY.TSENG(曾莞婷)
                            <button type="button" class="tci-btn tci-btn-blue tci-ml-2">EIP個人行事曆 EIP Calendar</button></td>
                        <th width="5%" nowrap="nowrap">假別<br>Category</th>
                        <td nowrap="">
                            <select style="visibility: visible;" class="tci-form-control">
                                <option value="0" selected="Selected">特別休假Annual Leave, 年累計Year Total:0, 月累計Month
                                    Total:0</option>
                                <option value="1">補休Compensatory leave, 年累計Year Total:0, 月累計Month Total:0</option>
                                <option value="2">事假Personal Leave, 年累計Year Total:0, 月累計Month Total:0</option>
                                <option value="3">普通傷病假Sickness leave, 年累計Year Total:0, 月累計Month Total:0</option>
                                <option value="15">家庭照顧假Family Care Leave, 年累計Year Total:0, 月累計Month Total:0</option>
                                <option value="10">生理假Menstrual Leave, 年累計Year Total:0, 月累計Month Total:0</option>
                                <option value="8">產假Maternity leave, 年累計Year Total:0, 月累計Month Total:0</option>
                                <option value="9">陪產檢及陪產假Pregnancy Checkup Accompaniment And Paternity Leaves, 年累計Year
                                    Total:0, 月累計Month Total:0</option>
                                <option value="6">婚假Marital Leave, 年累計Year Total:0, 月累計Month Total:0</option>
                                <option value="7">喪假Funeral Leave, 年累計Year Total:0, 月累計Month Total:0</option>
                                <option value="13">法定公休假Leave for legal regulations, 年累計Year Total:0, 月累計Month Total:0
                                </option>
                                <option value="5">公傷假Occupational sickness leave, 年累計Year Total:0, 月累計Month Total:0
                                </option>
                                <option value="11">育嬰假Parental Leave, 年累計Year Total:0, 月累計Month Total:0</option>
                                <option value="16">留職停薪假Unpaid Leave, 年累計Year Total:0, 月累計Month Total:0</option>
                                <option value="17">產檢假Leave for pregnancy checkups, 年累計Year Total:0, 月累計Month Total:0
                                </option>
                                <option value="19">天災假Natural disaster day-off, 年累計Year Total:0, 月累計Month Total:0
                                </option>
                                <option value="20">謀職假Job hunting leave, 年累計Year Total:0, 月累計Month Total:0</option>
                                <option value="22">居家作業Work from home, 年累計Year Total:0, 月累計Month Total:0</option>
                                <option value="23">原住民族歲時祭儀假Indigenous rituals , 年累計Year Total:0, 月累計Month Total:0
                                </option>
                                <option value="26">無薪病假Unpaid sick leave, 年累計Year Total:0, 月累計Month Total:0</option>
                                <option value="27">無薪事假Unpaid Personal Leave, 年累計Year Total:0, 月累計Month Total:0</option>
                                <option value="28">有薪假(COVID-19,限磐石直接人員)Paid leave for self-health management, 年累計Year
                                    Total:0, 月累計Month Total:0</option>
                                <option value="29">防疫照顧假Unpaid Family Care Leave, 年累計Year Total:0, 月累計Month Total:0
                                </option>
                                <option value="25">防疫隔離假Paid leave for home quarantine, 年累計Year Total:0, 月累計Month
                                    Total:0</option>
                                <option value="30">哺乳假Leave, 年累計Year Total:0, 月累計Month Total:0</option>
                            </select>
                            <input type="hidden" name="Bkind" id="Bkind" value="34">
                            <input type="hidden" name="Depno" id="Depno" value="2794">
                        </td>
                    </tr>
                    <tr>
                        <th nowrap="nowrap">事由<br>
                            Reason</th>
                        <td colspan="3">
                            <textarea cols="60" rows="5" class="tci-form-control">123</textarea>
                            <input type="hidden" value="2206A0011">
                        </td>
                    </tr>
                    <tr>
                        <th nowrap="nowrap">代理簽核<br>
                            Substitute Approve</th>
                        <td colspan="3">
                            <input type="checkbox" name="BSET8" id="BSET8" value="1">
                            <br>
                            (我的請假期間，代理人可以代簽核我的單據Substitute will be authorized to approve all documents in my "request of
                            waiting" list.)
                        </td>
                    </tr>
                    <tr>
                        <th>代理人設定<br>Substitute Settings</th>
                        <td colspan="3">
                            <input type="checkbox"value="1">
                            <br>
                            如果其他公司也有此代理人資料,也一併異動Change all company's settings when other companys had "Same substitute
                            names".
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>

        <section class="page_table02 tci-mt-4">
            <div class="tci-input-group" >
                <div class="tci-input-group-prepend" style="background-color: bisque;">
                    <span class="tci-input-group-text" style="background-color: bisque;font-weight: bold;">我剩餘的 特休/補休 時數：<br>
                        My Remaining Leave</span>
                </div>
                <span class="tci-form-control" style="background-color: bisque;display: flex;align-items: center;">0 / 0</span>
            </div>
            <div class="pageTable">
                <table cellspacing="1" cellpadding="3" class="table table-hover BillInfoTB2">
                    <thead>
                        <tr>
                            <th colspan="26" style="background-color: #f5c6cb;">
                                <span>請假累計-Accumulated Leave：</span>
                            </th>
                          </tr>
                    </thead>
                    <tbody><tr>
                    <th width="5%">累計<br>Accumulated Leave</th>
                    <th>特別休假<br>Annual Leave</th>
                    <th>補休<br>Compensatory leave</th>
                    <th>事假<br>Personal Leave</th>
                    <th>普通傷病假<br>Sickness leave</th>
                    <th>家庭照顧假<br>Family Care Leave</th>
                    <th>生理假<br>Menstrual Leave</th>
                    <th>產假<br>Maternity leave</th>
                    <th>陪產檢及陪產假<br>Pregnancy Checkup Accompaniment And Paternity Leaves</th>
                    <th>婚假<br>Marital Leave</th>
                    <th>喪假<br>Funeral Leave</th>
                    <th>法定公休假<br>Leave for legal regulations</th>
                    <th>公傷假<br>Occupational sickness leave</th>
                    <th>育嬰假<br>Parental Leave</th>
                    <th>留職停薪假<br>Unpaid Leave</th>
                    <th>產檢假<br>Leave for pregnancy checkups</th>
                    <th>天災假<br>Natural disaster day-off</th>
                    <th>謀職假<br>Job hunting leave</th>
                    <th>居家作業<br>Work from home</th>
                    <th>原住民族歲時祭儀假<br>Indigenous rituals </th>
                    <th>無薪病假<br>Unpaid sick leave</th>
                    <th>無薪事假<br>Unpaid Personal Leave</th>
                    <th>有薪假(COVID-19,限磐石直接人員)<br>Paid leave for self-health management</th>
                    <th>防疫照顧假<br>Unpaid Family Care Leave</th>
                    <th>防疫隔離假<br>Paid leave for home quarantine</th>
                    <th>哺乳假<br>Leave</th>
                    </tr>
                    <tr>
                    <th width="5%">月累計<br>Monthly Accumulated Leave</th>
                    <td style="color:#E00">0&nbsp;hr</td>
                    <td style="color:#E00">0&nbsp;hr</td>
                    <td style="color:#E00">0&nbsp;hr</td>
                    <td style="color:#E00">0&nbsp;hr</td>
                    <td style="color:#E00">0&nbsp;hr</td>
                    <td style="color:#E00">0&nbsp;hr</td>
                    <td style="color:#E00">0&nbsp;hr</td>
                    <td style="color:#E00">0&nbsp;hr</td>
                    <td style="color:#E00">0&nbsp;hr</td>
                    <td style="color:#E00">0&nbsp;hr</td>
                    <td style="color:#E00">0&nbsp;hr</td>
                    <td style="color:#E00">0&nbsp;hr</td>
                    <td style="color:#E00">0&nbsp;hr</td>
                    <td style="color:#E00">0&nbsp;hr</td>
                    <td style="color:#E00">0&nbsp;hr</td>
                    <td style="color:#E00">0&nbsp;hr</td>
                    <td style="color:#E00">0&nbsp;hr</td>
                    <td style="color:#E00">0&nbsp;hr</td>
                    <td style="color:#E00">0&nbsp;hr</td>
                    <td style="color:#E00">0&nbsp;hr</td>
                    <td style="color:#E00">0&nbsp;hr</td>
                    <td style="color:#E00">0&nbsp;hr</td>
                    <td style="color:#E00">0&nbsp;hr</td>
                    <td style="color:#E00">0&nbsp;hr</td>
                    <td style="color:#E00">0&nbsp;hr</td>
                    </tr>
                    <tr>
                    <th>年累計<br>Annually Accumulated Leave</th>
                    <td style="color:#E00">0&nbsp;hr</td>
                    <td style="color:#E00">0&nbsp;hr</td>
                    <td style="color:#E00">0&nbsp;hr</td>
                    <td style="color:#E00">0&nbsp;hr</td>
                    <td style="color:#E00">0&nbsp;hr</td>
                    <td style="color:#E00">0&nbsp;hr</td>
                    <td style="color:#E00">0&nbsp;hr</td>
                    <td style="color:#E00">0&nbsp;hr</td>
                    <td style="color:#E00">0&nbsp;hr</td>
                    <td style="color:#E00">0&nbsp;hr</td>
                    <td style="color:#E00">0&nbsp;hr</td>
                    <td style="color:#E00">0&nbsp;hr</td>
                    <td style="color:#E00">0&nbsp;hr</td>
                    <td style="color:#E00">0&nbsp;hr</td>
                    <td style="color:#E00">0&nbsp;hr</td>
                    <td style="color:#E00">0&nbsp;hr</td>
                    <td style="color:#E00">0&nbsp;hr</td>
                    <td style="color:#E00">0&nbsp;hr</td>
                    <td style="color:#E00">0&nbsp;hr</td>
                    <td style="color:#E00">0&nbsp;hr</td>
                    <td style="color:#E00">0&nbsp;hr</td>
                    <td style="color:#E00">0&nbsp;hr</td>
                    <td style="color:#E00">0&nbsp;hr</td>
                    <td style="color:#E00">0&nbsp;hr</td>
                    <td style="color:#E00">0&nbsp;hr</td>
                    </tr>
                </tbody></table>
            </div>
            <div class="text-right tci-mt-2">
                <button class="tci-btn tci-btn-secondary">全部清除 Reset</button>
                <button class="tci-btn tci-btn-success">確認資料，預覽單據 Confim & Preview</button>
            </div>
            <div style="text-align: right;" class="tci-mt-3">
                <span style="font-size:10pt; color:#AAA; font-style:italic;">
                    <u><b>使用者資訊：</b>
                    <span>大江生醫 - 軟體研發組 - 大江戰士TCI Warrior(2) - 2206A0011 - HEDY.TSENG - 曾莞婷</span></u>
                </span>
            </div>
        </section>
    </div>
</body>

</html>