#page_contract {
    .contractContent {
        .tci-field {
            flex-wrap: wrap;
            margin-bottom: 1.5rem;

            .tci-field-label {
                width: 100%;
            }

            .tci-field-value {
                width: 100%;
            }

            .text {
                padding: .5rem 0;
                white-space: nowrap;
            }
            sub{
                color: var(--color-light-red);
            }
            .numbertext{
                color: var(--color-light-green);
            }
            .small {
                width: 100%;
            }

            .longdata {
                width: 100%;

                &.table {
                    overflow-x: auto;

                    .tci-table {
                        width: 700px;

                        .tci-field-value {
                            width: auto;
                        }
                    }
                }

            }

            .contactlongdata {
                .longdata_item {
                    display: flex;
                    margin-bottom: .5rem;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    #page_contract {
        .contractContent {
            .tci-field {
                flex-wrap: nowrap;

                .tci-field-label {
                    width: 28%;
                }

                .tci-field-value {
                    width: 72%;
                }

                .small {
                    width: 72%;

                    input {
                        width: 100%;
                    }
                }

                .longdata {
                    width: 72%;

                    &.table {
                        overflow-x: auto;

                        .tci-table {
                            width: 100%;
                        }
                    }

                }

                .contactlongdata {
                    width: 72%;
                    display: flex;
                    flex-wrap: wrap;

                    .longdata_item {
                        width: 30%;
                        margin-right: 1rem;
                    }
                }
            }
        }
    }
}
//簽核列印
#page_contract_signoff{
    .tableScroll{
        overflow-x: auto;
        .tableContent{
            width: 768px;
        }
    }
}

@media (min-width: 768px) {
    #page_contract_signoff{
        .tableScroll{
            .tableContent{
                width: 100%;
            }
        }
    }
}