#page_generalInvoice {
    .tag {
        color: var(--color-light-red);
    }

    .tci-input-group {
        .tci-form-control {
            &.gray {
                background-color: var(--color-whitesmoke);
            }
        }
    }

    .btnIconGroups {
        button {
            width: 30px;
        }
    }

    .details {
        input {
            width: 100%;
            margin-bottom: 0.5rem;
        }
    }
    .tableScroll {
        table {
            th,td{
                padding: 3px!important;
            }
        }
    }
}

@media (min-width: 768px) {
    #page_generalInvoice {
        .details {
            input {
                width: 60%;
                margin-bottom: 0;
            }
        }

        .invoiceContent {
            .invoiceForm {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                .tci-input-group {
                    width: 49%;

                    &.mark {
                        width: 100%;
                    }
                }
            }
        }

        .orderTableBox {
            .orderTable {
                display: flex;
                flex-wrap: wrap;
                padding: 5px;

                .tci-input-group {
                    width: 30%;
                    margin-right: 1rem;
                }
            }
        }

        .orderDetailsTitle {
            .orderDetailsTitle_text {
                display: flex;
                justify-content: space-between;

                .tci-input-group {
                    width: 49%;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    #page_generalInvoice {
        .invoiceContent {
            .invoiceForm {
                justify-content: flex-start;

                .tci-input-group {
                    width: 32%;
                    margin-right: 10px;

                    &.data_short {
                        width: 15%;
                    }
                }
            }
        }

        .orderTableBox {
            .orderTable {
                .tci-input-group {
                    width: 24%;
                    margin-right: 10px;
                }
            }
        }
    }
}
#page_generalInvoice_signoff {
    .tableScroll {
        overflow-x: auto;
        margin-bottom: 2rem;
        .tableContent {
            width: 768px;
        }
    }
}

@media (min-width: 768px) {
    #page_generalInvoice_signoff {
        .tableScroll {
            .tableContent {
                width: 100%;
            }
            .content {
                display: flex;
                justify-content: space-between;
                .tci-input-group {
                    width: 48%;
                }
            }
        }
        .completeInfo{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 1.5rem;
            padding:.5rem;
            .tci-field{
                width: 47%;
                .tci-valueBtn{
                    display: flex;
                    width: 70%;
                }
            }
        }
        .condensedInfo {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 1.5rem;
            padding:.5rem;
            .tci-field{
                width: 46%;
            }
        }
    }
}
