#page_generalInvoice .tag {
  color: var(--color-light-red);
}
#page_generalInvoice .tci-input-group .tci-form-control.gray {
  background-color: var(--color-whitesmoke);
}
#page_generalInvoice .btnIconGroups button {
  width: 30px;
}
#page_generalInvoice .details input {
  width: 100%;
  margin-bottom: 0.5rem;
}
#page_generalInvoice .addTableBox {
  border: 1px solid var(--color-rosybrown);
  border-radius: var(--borderRadius);
  margin-top: 0.5rem;
}
#page_generalInvoice .addTableBox .addTable {
  display: flex;
  margin: 5px;
}
#page_generalInvoice .addTableBox .addTable .addTableNo {
  width: 50px;
  background-color: var(--color-rosybrown);
  margin-right: 0.5rem;
  text-align: center;
  display: flex;
  align-items: center;
}
#page_generalInvoice .addTableBox .addTable .addTableNo span {
  width: 100%;
  font-weight: bold;
  color: var(--color-snow);
}
#page_generalInvoice .addTableBox .addTable .addTableContent {
  padding: 5px;
  border: 3px solid var(--color-rosybrown);
  border-radius: var(--borderRadius);
}
#page_generalInvoice .addTableBox .addTableFooter {
  border: 3px solid var(--color-rosybrown);
  border-radius: var(--borderRadius);
  margin: 5px;
  text-align: right;
  padding: 5px;
}
#page_generalInvoice .addTableBox .addTableFooter .addTableFooterTitle {
  margin-right: 100px;
  font-weight: bold;
  color: var(--color-rosybrown);
}
#page_generalInvoice .addTableBox .addTableFooter .addTableFooterText,
#page_generalInvoice .addTableBox .addTableFooter .addTableFooterTitle {
  font-weight: bold;
  color: var(--color-dark-red);
}

@media (min-width: 768px) {
  #page_generalInvoice .details input {
    width: 60%;
    margin-bottom: 0;
  }
  #page_generalInvoice .invoiceContent .invoiceForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #page_generalInvoice .invoiceContent .invoiceForm .tci-input-group {
    width: 49%;
  }
  #page_generalInvoice .invoiceContent .invoiceForm .tci-input-group.mark {
    width: 100%;
  }
  #page_generalInvoice .addTableBox .addTable .addTableNo {
    width: 100px;
  }
  #page_generalInvoice .addTableBox .addTable .addTableContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  #page_generalInvoice .addTableBox .addTable .addTableContent .tci-input-group {
    width: 31%;
    margin-right: 5px;
  }
  #page_generalInvoice .addTableBox .addTable .addTableContent .tci-input-group.type {
    width: 60%;
  }
  #page_generalInvoice .addTableBox .addTable .addTableContent .tci-input-group.type .tci-input-group-text {
    margin: 0 5px;
  }
  #page_generalInvoice .orderTableBox .orderTable {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
  }
  #page_generalInvoice .orderTableBox .orderTable .tci-input-group {
    width: 30%;
    margin-right: 1rem;
  }
  #page_generalInvoice .orderDetailsTitle .orderDetailsTitle_text {
    display: flex;
    justify-content: space-between;
  }
  #page_generalInvoice .orderDetailsTitle .orderDetailsTitle_text .tci-input-group {
    width: 49%;
  }
}
@media (min-width: 992px) {
  #page_generalInvoice .invoiceContent .invoiceForm {
    justify-content: flex-start;
  }
  #page_generalInvoice .invoiceContent .invoiceForm .tci-input-group {
    width: 32%;
    margin-right: 10px;
  }
  #page_generalInvoice .invoiceContent .invoiceForm .tci-input-group.data_short {
    width: 15%;
  }
  #page_generalInvoice .addTableBox .addTable .addTableNo {
    width: 60px;
  }
  #page_generalInvoice .addTableBox .addTable .addTableContent .tci-input-group {
    width: 16%;
  }
  #page_generalInvoice .addTableBox .addTable .addTableContent .tci-input-group.type {
    width: 40%;
  }
  #page_generalInvoice .addTableBox .addTable .addTableContent .tci-input-group.type .tci-input-group-text {
    margin: 0 5px;
  }
  #page_generalInvoice .orderTableBox .orderTable .tci-input-group {
    width: 24%;
    margin-right: 10px;
  }
}
#page_generalInvoice_signoff .tableScroll {
  overflow-x: auto;
  margin-bottom: 2rem;
}
#page_generalInvoice_signoff .tableScroll .tableContent {
  width: 768px;
}

@media (min-width: 768px) {
  #page_generalInvoice_signoff .tableScroll .tableContent {
    width: 100%;
  }
  #page_generalInvoice_signoff .tableScroll .content {
    display: flex;
    justify-content: space-between;
  }
  #page_generalInvoice_signoff .tableScroll .content .tci-input-group {
    width: 48%;
  }
}