<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="../../scss/tci-all.css">
    <title>一般請款單</title>
</head>

<body>
    <div class="container-fluid" id="page_generalInvoice">
        <div class="pageHeader">
            <span class="pageHeaderTitle"><b>一般請款單</b></span>
        </div>

        <section class="invoiceContent darkBorderCard tci-mb-3">
            <div class="darkBorderCardTitle">
                <span>單據資訊</span>
            </div>
            <div class="darkBorderCardContent invoiceForm">
                <div class="tci-input-group tci-mb-2">
                    <div class="tci-input-group-prepend">
                        <span class="tci-input-group-text">公司:</span>
                    </div>
                    <input type="text" class="tci-form-control gray" value="大江生醫股份有限公司" disabled />
                </div>
                <div class="tci-input-group tci-mb-2">
                    <div class="tci-input-group-prepend">
                        <span class="tci-input-group-text">文件日期:</span>
                    </div>
                    <input type="text" class="tci-form-control gray" value="大江生醫股份有限公司" disabled />
                </div>
                <div class="tci-input-group tci-mb-2">
                    <div class="tci-input-group-prepend">
                        <span class="tci-input-group-text">部門別<b class="tag">*</b>:</span>
                    </div>
                    <input type="text" class="tci-form-control gray" value="曾曾曾(hedy.tseng)"
                        style="border-bottom-right-radius: 0;border-top-right-radius: 0;" />
                    <button class="tci-btn-icon bg_darkkhaki"
                        style="width: 40px; border-bottom-left-radius: 0;border-top-left-radius: 0;"><i
                            class="fa-solid fa-building"></i></button>
                </div>
                <div class="tci-input-group tci-mb-2">
                    <div class="tci-input-group-prepend">
                        <span class="tci-input-group-text">公司統編<b class="tag">*</b>:</span>
                    </div>
                    <select class="tci-bs-custom-select">
                        <option>Choose...</option>
                        <option value="1" selected>12292039 - 大江生醫股份有限公司美膚科技分公司</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="tci-input-group tci-mb-2">
                    <div class="tci-input-group-prepend">
                        <span class="tci-input-group-text">幣別<b class="tag">*</b>:</span>
                    </div>
                    <div style="display: flex;width: 100%;">
                        <select class="tci-bs-custom-select">
                            <option selected>Choose...</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                        <span class="tci-input-group-text" style="margin: auto 4px;white-space: nowrap;">匯率</span>
                        <input type="text" class="tci-form-control" value="1" />
                    </div>
                </div>
                <div class="tci-input-group tci-mb-2">
                    <div class="tci-input-group-prepend">
                        <span class="tci-input-group-text">請款金額(NTD):</span>
                    </div>
                    <input type="text" class="tci-form-control gray" value="大江生醫股份有限公司" disabled />
                </div>
                <div class="tci-input-group tci-mb-2">
                    <div class="tci-input-group-prepend">
                        <span class="tci-input-group-text">請款金額(NTD):</span>
                    </div>
                    <input type="text" class="tci-form-control gray" value="大江生醫股份有限公司" disabled />
                </div>
                <div class="tci-input-group tci-mb-2">
                    <div class="tci-input-group-prepend">
                        <span class="tci-input-group-text">稅額(NTD):</span>
                    </div>
                    <input type="text" class="tci-form-control gray" value="大江生醫股份有限公司" disabled />
                </div>
                <div class="tci-input-group tci-mb-2">
                    <div class="tci-input-group-prepend">
                        <span class="tci-input-group-text">過帳日期:</span>
                    </div>
                    <input type="text" class="tci-form-control gray" value="大江生醫股份有限公司" disabled />
                </div>
                <div class="tci-input-group tci-mb-2">
                    <div class="tci-input-group-prepend">
                        <span class="tci-input-group-text">付款方式<b class="tag">*</b>:</span>
                    </div>
                    <select class="tci-bs-custom-select">
                        <option selected>支票</option>
                        <option value="1">領現</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <!-- 支票 -->
                <div class="tci-input-group tci-mb-2">
                    <div class="tci-input-group-prepend">
                        <span class="tci-input-group-text">抬頭<b class="tag">*</b>:</span>
                    </div>
                    <input type="text" class="tci-form-control gray" value="曾曾曾(hedy.tseng)"
                        style="border-bottom-right-radius: 0;border-top-right-radius: 0;" />
                    <button class="tci-btn-icon bg_darkblue"
                        style="width: 40px; border-bottom-left-radius: 0;border-top-left-radius: 0;"><i
                            class="fa-solid fa-magnifying-glass"></i></button>
                </div>
                <div class="tci-input-group tci-mb-2">
                    <div class="tci-input-group-prepend">
                        <span class="tci-input-group-text">支票兌現日<b class="tag">*</b>:</span>
                    </div>
                    <input type="text" class="tci-form-control" value="大江生醫股份有限公司" />
                </div>
                <div class="tci-input-group tci-mb-2">
                    <div class="tci-input-group-prepend">
                        <span class="tci-input-group-text">回郵:</span>
                    </div>
                    <div>
                        <div class="tci-form-check tci-form-check-inline">
                            <input class="tci-form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                                value="option1" checked>
                            <label class="tci-form-check-label" for="exampleRadios1">
                                有
                            </label>
                        </div>
                        <div class="tci-form-check tci-form-check-inline">
                            <input class="tci-form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                                value="option2">
                            <label class="tci-form-check-label" for="exampleRadios2">
                                無
                            </label>
                        </div>
                    </div>
                </div>
                <!-- 領現 -->
                <!-- <div class="tci-input-group tci-mb-2">
                    <div class="tci-input-group-prepend">
                        <span class="tci-input-group-text">領款人<b class="tag">*</b>:</span>
                    </div>
                    <input type="text" class="tci-form-control gray" disabled />
                    <button class="tci-btn-icon bg_darkblue" style="width: 40px;"><i
                            class="fa-solid fa-magnifying-glass"></i></button>
                </div>
                <div class="tci-input-group tci-mb-2">
                    <div class="tci-input-group-prepend">
                        <span class="tci-input-group-text">付款條件:</span>
                    </div>
                    <input type="text" class="tci-form-control gray" value="开票后15天付款" disabled />
                </div> -->
                <!-- 公司 -->
                <!-- <div class="tci-input-group tci-mb-2">
                    <div class="tci-input-group-prepend">
                        <span class="tci-input-group-text">匯入公司<b class="tag">*</b>:</span>
                    </div>
                    <input type="text" class="tci-form-control gray" disabled />
                    <button class="tci-btn-icon bg_darkblue" style="width: 40px;"><i
                            class="fa-solid fa-magnifying-glass"></i></button>
                </div>
                <div class="tci-input-group tci-mb-2">
                    <div class="tci-input-group-prepend">
                        <span class="tci-input-group-text">經辦指定付款日<b class="tag">*</b>:</span>
                    </div>
                    <input type="text" class="tci-form-control" value="大江生醫股份有限公司" />
                </div>
                <div class="tci-input-group tci-mb-2">
                    <div class="tci-input-group-prepend">
                        <span class="tci-input-group-text">帳戶<b class="tag">*</b>:</span>
                    </div>
                    <input type="text" class="tci-form-control" value="大江生醫股份有限公司" />
                </div>
                <div class="tci-input-group tci-mb-2">
                    <div class="tci-input-group-prepend">
                        <span class="tci-input-group-text">付款條件:</span>
                    </div>
                    <input type="text" class="tci-form-control gray" value="大江生醫股份有限公司" />
                </div>
                <div class="tci-input-group tci-mb-2">
                    <div class="tci-input-group-prepend">
                        <span class="tci-input-group-text">匯入銀行:</span>
                    </div>
                    <input type="text" class="tci-form-control" value="大江生醫股份有限公司" />
                </div> -->
                <!-- 公司卡 -->
                <!-- <div class="tci-input-group tci-mb-2">
                    <div class="tci-input-group-prepend">
                        <span class="tci-input-group-text">卡別<b class="tag">*</b>:</span>
                    </div>
                    <select class="tci-bs-custom-select">
                        <option selected>支票</option>
                        <option value="1">領現</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="tci-input-group tci-mb-2">
                    <div class="tci-input-group-prepend">
                        <span class="tci-input-group-text">簽字人<b class="tag">*</b>:</span>
                    </div>
                    <input type="text" class="tci-form-control" value="大江生醫股份有限公司" />
                </div>
                <div class="tci-input-group tci-mb-2">
                    <div class="tci-input-group-prepend">
                        <span class="tci-input-group-text">簽帳日期<b class="tag">*</b>:</span>
                    </div>
                    <input type="text" class="tci-form-control" value="大江生醫股份有限公司" />
                </div> -->
                <!-- 員工 -->
                <!-- <div class="tci-input-group tci-mb-2">
                    <div class="tci-input-group-prepend">
                        <span class="tci-input-group-text">領款人<b class="tag">*</b>:</span>
                    </div>
                    <input type="text" class="tci-form-control gray" disabled />
                    <button class="tci-btn-icon bg_darkblue" style="width: 40px;"><i
                            class="fa-solid fa-magnifying-glass"></i></button>
                </div>
                <div class="tci-input-group tci-mb-2">
                    <div class="tci-input-group-prepend">
                        <span class="tci-input-group-text">付款條件:</span>
                    </div>
                    <input type="text" class="tci-form-control gray" value="大江生醫股份有限公司" />
                </div> -->

                <!-- 臨櫃繳款 -->
                <!-- <div class="tci-input-group tci-mb-2">
                    <div class="tci-input-group-prepend">
                        <span class="tci-input-group-text">抬頭<b class="tag">*</b>:</span>
                    </div>
                    <input type="text" class="tci-form-control gray" disabled />
                    <button class="tci-btn-icon bg_darkblue" style="width: 40px;"><i
                            class="fa-solid fa-magnifying-glass"></i></button>
                </div>
                <div class="tci-input-group tci-mb-2">
                    <div class="tci-input-group-prepend">
                        <span class="tci-input-group-text">經辦指定付款日:</span>
                    </div>
                    <input type="text" class="tci-form-control" value="大江生醫股份有限公司" />
                </div> -->


                <!-- 非員工個人 -->
                <!-- <div class="tci-input-group tci-mb-2">
                    <div class="tci-input-group-prepend">
                        <span class="tci-input-group-text">帳戶名稱<b class="tag">*</b>:</span>
                    </div>
                    <input type="text" class="tci-form-control gray" disabled />
                    <button class="tci-btn-icon bg_darkblue" style="width: 40px;"><i
                            class="fa-solid fa-magnifying-glass"></i></button>
                </div>
                <div class="tci-input-group tci-mb-2">
                    <div class="tci-input-group-prepend">
                        <span class="tci-input-group-text">經辦指定付款日:</span>
                    </div>
                    <input type="text" class="tci-form-control" value="大江生醫股份有限公司" />
                </div>
                <div class="tci-input-group tci-mb-2">
                    <div class="tci-input-group-prepend">
                        <span class="tci-input-group-text">帳戶:</span>
                    </div>
                    <input type="text" class="tci-form-control" value="大江生醫股份有限公司" />
                </div> -->

                <!-- AE卡 -->
                <!-- <div class="tci-input-group tci-mb-2">
                    <div class="tci-input-group-prepend">
                        <span class="tci-input-group-text">卡號<b class="tag">*</b>:</span>
                    </div>
                    <input type="text" class="tci-form-control" value="大江生醫股份有限公司" />
                </div>
                <div class="tci-input-group tci-mb-2">
                    <div class="tci-input-group-prepend">
                        <span class="tci-input-group-text">簽字人<b class="tag">*</b>:</span>
                    </div>
                    <input type="text" class="tci-form-control" value="大江生醫股份有限公司" />
                </div>
                <div class="tci-input-group tci-mb-2">
                    <div class="tci-input-group-prepend">
                        <span class="tci-input-group-text">簽帳日期<b class="tag">*</b>:</span>
                    </div>
                    <input type="text" class="tci-form-control" value="大江生醫股份有限公司" />
                </div> -->

                <!-- 自動扣款 -->
                <!-- <div class="tci-input-group tci-mb-2">
                    <div class="tci-input-group-prepend">
                        <span class="tci-input-group-text">抬頭<b class="tag">*</b>:</span>
                    </div>
                    <input type="text" class="tci-form-control gray" disabled />
                    <button class="tci-btn-icon bg_darkblue" style="width: 40px;"><i
                            class="fa-solid fa-magnifying-glass"></i></button>
                </div>
                <div class="tci-input-group tci-mb-2">
                    <div class="tci-input-group-prepend">
                        <span class="tci-input-group-text">扣款日期<b class="tag">*</b>:</span>
                    </div>
                    <input type="text" class="tci-form-control" value="大江生醫股份有限公司" />
                </div> -->

                <!-- 信用狀 -->
                <!-- <div class="tci-input-group tci-mb-2">
                    <div class="tci-input-group-prepend">
                        <span class="tci-input-group-text">付款條件:</span>
                    </div>
                    <select class="tci-bs-custom-select">
                        <option selected>支票</option>
                        <option value="1">領現</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div> -->

                <!-- /////////// -->
                <div class="tci-input-group tci-mb-2">
                    <div class="tci-input-group-prepend">
                        <span class="tci-input-group-text">請款備註:</span>
                    </div>
                    <textarea class="tci-form-control"></textarea>
                </div>
            </div>
        </section>
        <section class="billContent darkBorderCard tci-mb-3">
            <div class="darkBorderCardTitle">
                <span>票據明細</span>
            </div>
            <div class="darkBorderCardContent">
                <div class="tci-input-group tci-mb-2 details">
                    <div class="tci-input-group-prepend">
                        <span class="tci-input-group-text">批次匯入票據明細:</span>
                    </div>
                    <input type="file" class="tci-form-control" style="margin-right:5px;" />
                    <button class="tci-btn bg_darkgreen" style="margin-right:5px;">匯入</button>
                    <button class="tci-btn bg_darkkhaki">下載票據明細範例檔案</button>
                </div>
                <div class="btnIconGroups">
                    <!-- 一開始 加 筆 ，按下"加",出現“勾”&"X"消失"筆"，按下“勾”,出現“筆”，消失“X” -->
                    <button class="tci-icon bg_darkgreen"><i class="fa-solid fa-plus"></i></button>
                    <button class="tci-icon bg_darkred"><i class="fa-solid fa-xmark"></i></button>
                    <button class="tci-icon bg_darkblue"><i class="fa-solid fa-check"></i></button>
                    <button class="tci-icon tci-btn-warning"><i class="fa-solid fa-pen"></i></button>
                </div>
                <div class="tableScroll" style="overflow-x: auto;">
                    <table class="tci-table tci-table-bordered" style="min-width: 970px;">
                        <thead>
                            <tr style="text-align: center;background-color:var(--color-light-gray)">
                                <th style="width: 20px;">NO</th>
                                <th style="width: 14%;">票據類型</th>
                                <th style="width: 12%;">票據號碼</th>
                                <th style="width: 12%;">票據日期</th>
                                <th>賣方票據抬頭</th>
                                <th style="width: 13%;">票據金額(含稅)</th>
                                <th style="width: 12%;">賣方統一編號</th>
                                <th style="width: 20px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="text-align: center;">1</td>
                                <td>
                                    <select class="tci-form-control">
                                        <option selected>悠悠(聯名卡)</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1">起</span>
                                        <select class="form-control">
                                            <option selected>南港</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1">迄</span>
                                        <select class="form-control">
                                            <option selected>南港</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <!-- <p style="color: var(--color-light-red);">此欄位必填</p> -->
                                </td>
                                <td><input type="text" class="tci-form-control" value="FD-88888888" />
                                    <!-- <p style="color: var(--color-light-red);">此欄位必填</p> -->
                                </td>
                                <td><input type="text" class="tci-form-control" value="2022/22/22" /></td>
                                <td>
                                    <div class="tci-input-group">
                                        <input type="text" class="tci-form-control" value="曾曾曾(hedy.tseng)"
                                            style="border-bottom-right-radius: 0;border-top-right-radius: 0;" />
                                        <button class="tci-btn-icon bg_darkblue"
                                            style="width: 40px; border-bottom-left-radius: 0;border-top-left-radius: 0;"><i
                                                class="fa-solid fa-magnifying-glass"></i></button>
                                    </div>
                                </td>
                                <td><input type="number" class="tci-form-control" value="450,000" /></td>
                                <td><input type="text" class="tci-form-control" value="FD-88888888" /></td>
                                <td><button class="tci-icon bg_darkred"><i class="fa-solid fa-trash-can"></i></button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr style="text-align: right;color:var(--color-light-red)">
                                <th colspan="5">NTD 合計</th>
                                <th>5</th>
                                <th colspan="2"></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </section>
        <section class="paymentContent darkBorderCard tci-mb-3">
            <div class="darkBorderCardTitle">
                <span>請款明細</span>
            </div>
            <div class="darkBorderCardContent">
                <div class="tci-input-group tci-mb-2 details">
                    <div class="tci-input-group-prepend">
                        <span class="tci-input-group-text">批次匯入票據明細:</span>
                    </div>
                    <input type="file" class="tci-form-control" style="margin-right:5px;" />
                    <button class="tci-btn bg_darkgreen" style="margin-right:5px;">匯入</button>
                    <button class="tci-btn bg_darkkhaki">下載票據明細範例檔案</button>
                </div>
                <div class="btnIconGroups">
                    <!-- 一開始 加 筆 ，按下"加",出現“勾”&"X"消失"筆"，按下“勾”,出現“筆”，消失“X” -->
                    <button class="tci-icon bg_darkgreen"><i class="fa-solid fa-plus"></i></button>
                    <button class="tci-icon bg_darkred"><i class="fa-solid fa-xmark"></i></button>
                    <button class="tci-icon bg_darkblue"><i class="fa-solid fa-check"></i></button>
                    <button class="tci-icon tci-btn-warning"><i class="fa-solid fa-pen"></i></button>
                </div>
                <div class="tableScroll" style="overflow-x: auto;">
                    <table class="tci-table tci-table-bordered" style="min-width: 990px;">
                        <thead>
                            <tr style="text-align: center;background-color:var(--color-light-gray)">
                                <th style="width: 20px;">NO</th>
                                <th style="width: 14%;">請款類別</th>
                                <th>摘要說明</th>
                                <th style="width: 10%;">金額(含稅)</th>
                                <th style="width:18%;">歸屬人</th>
                                <th style="width: 13%;">成本中心</th>
                                <th style="width: 10%;">專案代號</th>
                                <th>關聯票據</th>
                                <th>項目備註</th>
                                <th style="width: 20px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="text-align: center;">1</td>
                                <td>
                                    <div class="tci-input-group">
                                        <select class="tci-form-control" style="border-bottom-right-radius: 0;border-top-right-radius: 0;">
                                            <option selected>雜費-機台清洗</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                        <button class="tci-btn-icon bg_darkblue"
                                            style="width: 40px; border-bottom-left-radius: 0;border-top-left-radius: 0;"><i
                                                class="fa-solid fa-circle-question"></i></button>
                                    </div>
                                </td>
                                <td><input type="text" class="tci-form-control" value="FD-88888888" />
                                    <!-- <p style="color: var(--color-light-red);">此欄位必填</p> -->
                                </td>
                                <td><input type="number" class="tci-form-control" value="20888" /></td>
                                <td>
                                    <div class="tci-input-group">
                                        <input type="text" class="tci-form-control" value="曾曾曾(hedy.tseng)"
                                            style="border-bottom-right-radius: 0;border-top-right-radius: 0;" />
                                        <button class="tci-btn-icon bg_darkblue"
                                            style="width: 40px; border-bottom-left-radius: 0;border-top-left-radius: 0;"><i
                                                class="fa-solid fa-magnifying-glass"></i></button>
                                    </div>
                                </td>
                                <td><input type="text" class="tci-form-control" value="88080200" /></td>
                                <td><input type="text" class="tci-form-control" value="FD-88888888" /></td>
                                <td><input type="text" class="tci-form-control" value="FD-88888888" /></td>
                                <td><input type="text" class="tci-form-control" value="1.fd88888888" /></td>
                                <td><button class="tci-icon bg_darkred"><i class="fa-solid fa-trash-can"></i></button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr style="text-align: right;color:var(--color-light-red)">
                                <th colspan="3">NTD 合計</th>
                                <th>5</th>
                                <th colspan="6"></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </section>
        <section class="orderDetailsContent darkBorderCard tci-mb-3">
            <div class="darkBorderCardTitle">
                <span>請採單明細</span>
            </div>
            <div class="darkBorderCardContent orderDetailsTitle">
                <div class="orderDetailsTitle_text">
                    <div class="tci-input-group tci-mb-2">
                        <div class="tci-input-group-prepend">
                            <span class="tci-input-group-text">請採(優先)/合約單號:</span>
                        </div>
                        <input type="text" class="tci-form-control" />
                    </div>
                    <div class="tci-input-group tci-mb-2">
                        <div class="tci-input-group-prepend">
                            <span class="tci-input-group-text">固定資產若無請採單/合約請說明原因:</span>
                        </div>
                        <input type="text" class="tci-form-control" />
                    </div>
                </div>
                <hr>
                <div class="orderTableBox">
                    <div class="orderTable">
                        <div class="tci-input-group tci-mb-2">
                            <div class="tci-input-group-prepend">
                                <span class="tci-input-group-text">請採單:</span>
                            </div>
                            <select class="tci-bs-custom-select">
                                <option selected>Choose...</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                        <div class="tci-input-group tci-mb-2">
                            <div class="tci-input-group-prepend">
                                <span class="tci-input-group-text">採購金額 :</span>
                            </div>
                            <input type="text" class="tci-form-control" value="1234567890" />
                        </div>
                        <div class="tci-input-group tci-mb-2">
                            <div class="tci-input-group-prepend">
                                <span class="tci-input-group-text">合約:</span>
                            </div>
                            <input type="number" class="tci-form-control" value="1234567890" />
                        </div>
                        <div class="tci-input-group tci-mb-2">
                            <div class="tci-input-group-prepend">
                                <span class="tci-input-group-text">請款單:</span>
                            </div>
                            <input type="text" class="tci-form-control" value="1234567890" />
                        </div>
                        <div class="tci-input-group tci-mb-2">
                            <div class="tci-input-group-prepend">
                                <span class="tci-input-group-text">驗收單:</span>
                            </div>
                            <input type="text" class="tci-form-control" value="1234567890" />
                        </div>
                        <div class="tci-input-group tci-mb-2">
                            <div class="tci-input-group-prepend">
                                <span class="tci-input-group-text">合計已請款(不含本單):</span>
                            </div>
                            <input type="text" class="tci-form-control" value="83224836" />
                        </div>
                        <div class="tci-input-group tci-mb-2">
                            <div class="tci-input-group-prepend">
                                <span class="tci-input-group-text">合計待請款(含本單):</span>
                            </div>
                            <input type="text" class="tci-form-control" value="83224836" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="fileBox formBox_gray">
            <div class="tci-input-group tci-mb-2 fileContentNo formBox_title"
                style="margin-bottom: 0;border-bottom-left-radius: 0;border-bottom-right-radius: 0;">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text tci-mr-2">檔案數:</span>
                    <select class="tci-bs-custom-select" style="width:100px">
                        <option selected>100</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
            </div>
            <div class="illustrate formBox_content" style="border-top-left-radius: 0;border-top-right-radius: 0;">
                <div class="fileIllustrate">
                    <div class="tci-input-group tci-mr-1" style="width: 13%;">
                        <div class="tci-input-group-prepend">
                            <span class="tci-input-group-text">序號:</span>
                        </div>
                        <div class="tci-form-control gray">1</div>
                    </div>
                    <div class="tci-input-group tci-mr-1">
                        <div class="tci-input-group-prepend">
                            <span class="tci-input-group-text">檔案:</span>
                        </div>
                        <input type="file" class="tci-form-control" />
                    </div>
                    <div class="tci-input-group">
                        <div class="tci-input-group-prepend">
                            <span class="tci-input-group-text">檔案說明:</span>
                        </div>
                        <input type="text" class="tci-form-control" />
                    </div>
                </div>
                <div class="fileIllustrate ">
                    <div class="tci-input-group tci-mr-1" style="width: 13%;">
                        <div class="tci-input-group-prepend">
                            <span class="tci-input-group-text">序號:</span>
                        </div>
                        <div class="tci-form-control gray">1</div>
                    </div>
                    <div class="tci-input-group tci-mr-1">
                        <div class="tci-input-group-prepend">
                            <span class="tci-input-group-text">檔案:</span>
                        </div>
                        <input type="file" class="tci-form-control" />
                    </div>
                    <div class="tci-input-group">
                        <div class="tci-input-group-prepend">
                            <span class="tci-input-group-text">檔案說明:</span>
                        </div>
                        <input type="text" class="tci-form-control" />
                    </div>
                </div>
            </div>
        </section>
        <div class="btnGroups">
            <button class="tci-btn bg_darkgreen">確認資料，儲存單據</button>
        </div>
    </div>
    <!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
<!-- hedy 1. 請採單明細：不清楚舊表格內容是怎樣的，所以大概畫
2. 有三個 modal 沒做 -->