<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="../../scss/tci-all.css">
    <title>一般請款單</title>
</head>

<body>
    <div class="container-fluid tci-mb-3" id="page_generalInvoice">
        <div class="pageHeader" style="position: relative;">
            <span class="pageHeaderTitle tci-ml-2"><b>一般請款單</b></span>
        </div>

        <section style="margin: .5rem;" class="invoiceContent darkBorderCard">
            <div class="darkBorderCardTitle">
                <span>單據資訊</span>
                <!-- 展開縮放，icon 切換 -->
                <span class="col-sm-12 col-sm-12 ">
                    <span class=""><i class="fa-solid fa-chevron-up"></i></span>
                    <!-- <span class=""><i class="fa-solid fa-chevron-down"></i></span> -->
                </span>
            </div>
            <div class="darkBorderCardContent invoiceForm">
                <div class="tci-input-group tci-mb-2">
                    <div class="tci-input-group-prepend">
                        <span class="tci-input-group-text">公司:</span>
                    </div>
                    <input type="text" class="tci-form-control" value="大江生醫股份有限公司" disabled />
                </div>
                <div class="tci-input-group tci-mb-2">
                    <div class="tci-input-group-prepend">
                        <span class="tci-input-group-text">文件日期:</span>
                    </div>
                    <input type="text" class="tci-form-control" value="大江生醫股份有限公司" disabled />
                </div>
                <div class="tci-input-group tci-mb-2">
                    <div class="tci-input-group-prepend">
                        <span class="tci-input-group-text">部門別:</span>
                    </div>
                    <input type="text" class="tci-form-control" disabled />
                    <button class="tci-btn-icon search_btn" style="width: 40px;"><i
                            class="fa-solid fa-magnifying-glass"></i></button>
                </div>
                <div class="tci-input-group tci-mb-2">
                    <div class="tci-input-group-prepend">
                        <span class="tci-input-group-text">公司統編:</span>
                    </div>
                    <select class="tci-bs-custom-select">
                        <option>Choose...</option>
                        <option value="1" selected>12292039 - 大江生醫股份有限公司美膚科技分公司</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="tci-input-group tci-mb-2">
                    <div class="tci-input-group-prepend">
                        <span class="tci-input-group-text">幣別:</span>
                    </div>
                    <div style="display: flex;width: 100%;">
                        <select class="tci-bs-custom-select">
                            <option selected>Choose...</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                        <span class="tci-input-group-text" style="margin: 0 1rem;">匯率</span>
                        <input type="text" class="tci-form-control" value="大江生醫股份有限公司" disabled />
                    </div>
                </div>
                <div class="tci-input-group tci-mb-2">
                    <div class="tci-input-group-prepend">
                        <span class="tci-input-group-text">請款金額(NTD):</span>
                    </div>
                    <input type="text" class="tci-form-control" value="大江生醫股份有限公司" disabled />
                </div>
                <div class="tci-input-group tci-mb-2">
                    <div class="tci-input-group-prepend">
                        <span class="tci-input-group-text">請款金額(NTD):</span>
                    </div>
                    <input type="text" class="tci-form-control" value="大江生醫股份有限公司" disabled />
                </div>
                <div class="tci-input-group tci-mb-2">
                    <div class="tci-input-group-prepend">
                        <span class="tci-input-group-text">稅額(NTD):</span>
                    </div>
                    <input type="text" class="tci-form-control" value="大江生醫股份有限公司" disabled />
                </div>
                <div class="tci-input-group tci-mb-2">
                    <div class="tci-input-group-prepend">
                        <span class="tci-input-group-text">過帳日期:</span>
                    </div>
                    <input type="text" class="tci-form-control" value="大江生醫股份有限公司" disabled />
                </div>
                <div class="tci-input-group tci-mb-2">
                    <div class="tci-input-group-prepend">
                        <span class="tci-input-group-text">付款方式:</span>
                    </div>
                    <select class="tci-bs-custom-select">
                        <option selected>Choose...</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="tci-input-group tci-mb-2 mark">
                    <div class="tci-input-group-prepend">
                        <span class="tci-input-group-text">請款備註:</span>
                    </div>
                    <textarea class="tci-form-control"></textarea>
                </div>
            </div>
        </section>
        <section style="margin: .5rem;" class="billContent darkBorderCard">
            <div class="darkBorderCardTitle">
                <span>票據明細</span>
                <!-- 展開縮放，icon 切換 -->
                <span class="col-sm-12 col-sm-12 ">
                    <span class=""><i class="fa-solid fa-chevron-up"></i></span>
                    <!-- <span class=""><i class="fa-solid fa-chevron-down"></i></span> -->
                </span>
            </div>
            <div class="darkBorderCardContent">
                <div class="tci-input-group tci-mb-2">
                    <div class="tci-input-group-prepend">
                        <span class="tci-input-group-text">批次匯入票據明細:</span>
                    </div>
                    <input type="file" class="tci-form-control" style="margin-right:5px;" />
                    <button class="tci-btn save_btn" style="margin-right:5px;">匯入</button>
                    <button class="tci-btn tci-btn-darkkhaki">下載票據明細範例檔案</button>
                </div>
                <div class="btnIconGroups">
                    <!-- 一開始 加 筆 ，按下"加",出現“勾”&"X"消失"筆"，按下“勾”,出現“筆”，消失“X” -->
                    <button class="tci-icon save_btn"><i class="fa-solid fa-plus"></i></button>
                    <button class="tci-icon tci-btn-regular"><i class="fa-solid fa-xmark"></i></button>
                    <button class="tci-icon search_btn"><i class="fa-solid fa-check"></i></button>
                    <button class="tci-icon search_btn"><i class="fa-solid fa-pen"></i></button>
                </div>
                <div class="addTableBox">
                    <div class="addTable">
                        <div class="addTableNo"><span>1</span></div>
                        <div class="addTableContent">
                            <div class="tci-input-group tci-mb-2">
                                <div class="tci-input-group-prepend">
                                    <span class="tci-input-group-text">票據類型:</span>
                                </div>
                                <select class="tci-bs-custom-select">
                                    <option selected>Choose...</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <div class="tci-input-group tci-mb-2">
                                <div class="tci-input-group-prepend">
                                    <span class="tci-input-group-text">票據號碼:</span>
                                </div>
                                <input type="text" class="tci-form-control" value="1234567890" />
                            </div>
                            <div class="tci-input-group tci-mb-2">
                                <div class="tci-input-group-prepend">
                                    <span class="tci-input-group-text">票據日期:</span>
                                </div>
                                <input type="text" class="tci-form-control" value="2022/08/01" />
                            </div>
                            <div class="tci-input-group tci-mb-2">
                                <div class="tci-input-group-prepend">
                                    <span class="tci-input-group-text">賣方票據抬頭:</span>
                                </div>
                                <input type="text" class="tci-form-control" value="天賜爾生物科技股份有限公司" />
                                <button class="tci-btn-icon search_btn" style="width: 40px;"><i
                                        class="fa-solid fa-magnifying-glass"></i></button>
                            </div>
                            <div class="tci-input-group tci-mb-2">
                                <div class="tci-input-group-prepend">
                                    <span class="tci-input-group-text">票據金額(含稅):</span>
                                </div>
                                <input type="number" class="tci-form-control" value="1234567890" />
                            </div>
                            <div class="tci-input-group tci-mb-2">
                                <div class="tci-input-group-prepend">
                                    <span class="tci-input-group-text">賣方統一編號:</span>
                                </div>
                                <input type="text" class="tci-form-control" value="83224836" />
                            </div>
                            <div style="width: 100%;">
                                <button class="tci-icon darkerror"><i class="fa-solid fa-trash-can"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="addTable">
                        <div class="addTableNo"><span>2</span></div>
                        <div class="addTableContent">
                            <div class="tci-input-group tci-mb-2">
                                <div class="tci-input-group-prepend">
                                    <span class="tci-input-group-text">票據類型:</span>
                                </div>
                                <select class="tci-bs-custom-select">
                                    <option selected>Choose...</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <div class="tci-input-group tci-mb-2">
                                <div class="tci-input-group-prepend">
                                    <span class="tci-input-group-text">票據號碼:</span>
                                </div>
                                <input type="text" class="tci-form-control" value="1234567890" />
                            </div>
                            <div class="tci-input-group tci-mb-2">
                                <div class="tci-input-group-prepend">
                                    <span class="tci-input-group-text">票據日期:</span>
                                </div>
                                <input type="text" class="tci-form-control" value="1234567890" />
                            </div>
                            <div class="tci-input-group tci-mb-2">
                                <div class="tci-input-group-prepend">
                                    <span class="tci-input-group-text">賣方票據抬頭:</span>
                                </div>
                                <input type="text" class="tci-form-control" value="1234567890" />
                                <button class="tci-btn-icon search_btn" style="width: 40px;"><i
                                        class="fa-solid fa-magnifying-glass"></i></button>
                            </div>
                            <div class="tci-input-group tci-mb-2">
                                <div class="tci-input-group-prepend">
                                    <span class="tci-input-group-text">票據金額(含稅):</span>
                                </div>
                                <input type="number" class="tci-form-control" value="1234567890" />
                            </div>
                            <div class="tci-input-group tci-mb-2">
                                <div class="tci-input-group-prepend">
                                    <span class="tci-input-group-text">賣方統一編號:</span>
                                </div>
                                <input type="text" class="tci-form-control" value="1234567890" />
                            </div>
                            <div style="width: 100%;">
                                <button class="tci-icon darkerror"><i class="fa-solid fa-trash-can"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="addTableFooter">
                        <span class="addTableFooterTitle">Total:</span>
                        <span class="addTableFooterText">10,000,000.00</span>
                    </div>
                </div>
            </div>
        </section>
        <section style="margin: .5rem;" class="paymentContent darkBorderCard">
            <div class="darkBorderCardTitle">
                <span>請款明細</span>
                <!-- 展開縮放，icon 切換 -->
                <span class="col-sm-12 col-sm-12 ">
                    <span class=""><i class="fa-solid fa-chevron-up"></i></span>
                    <!-- <span class=""><i class="fa-solid fa-chevron-down"></i></span> -->
                </span>
            </div>
            <div class="darkBorderCardContent">
                <div class="tci-input-group tci-mb-2">
                    <div class="tci-input-group-prepend">
                        <span class="tci-input-group-text">批次匯入票據明細:</span>
                    </div>
                    <input type="file" class="tci-form-control" style="margin-right:5px;" />
                    <button class="tci-btn save_btn" style="margin-right:5px;">匯入</button>
                    <button class="tci-btn tci-btn-darkkhaki">下載票據明細範例檔案</button>
                </div>
                <div class="btnIconGroups">
                    <!-- 一開始 加 筆 ，按下"加",出現“勾”&"X"消失"筆"，按下“勾”,出現“筆”，消失“X” -->
                    <button class="tci-icon save_btn"><i class="fa-solid fa-plus"></i></button>
                    <button class="tci-icon tci-btn-regular"><i class="fa-solid fa-xmark"></i></button>
                    <button class="tci-icon search_btn"><i class="fa-solid fa-check"></i></button>
                    <button class="tci-icon search_btn"><i class="fa-solid fa-pen"></i></button>
                </div>
                <div class="addTableBox">
                    <div class="addTable">
                        <div class="addTableNo"><span>1</span></div>
                        <div class="addTableContent">
                            <div class="tci-input-group tci-mb-2">
                                <div class="tci-input-group-prepend">
                                    <span class="tci-input-group-text">請款類型:</span>
                                </div>
                                <div style="display: flex;width:100%" >
                                    <select class="tci-bs-custom-select">
                                        <option selected>Choose...</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                    <button class="tci-icon search_btn" style="width:40px"><i class="fa-solid fa-circle-question"></i></button>
                                </div>
                            </div>
                            <div class="tci-input-group tci-mb-2">
                                <div class="tci-input-group-prepend">
                                    <span class="tci-input-group-text">摘要說明 :</span>
                                </div>
                                <input type="text" class="tci-form-control" value="1234567890" />
                            </div>
                            <div class="tci-input-group tci-mb-2">
                                <div class="tci-input-group-prepend">
                                    <span class="tci-input-group-text">金額(含稅):</span>
                                </div>
                                <input type="number" class="tci-form-control" value="1234567890" />
                            </div>
                            <div class="tci-input-group tci-mb-2">
                                <div class="tci-input-group-prepend">
                                    <span class="tci-input-group-text">歸屬人:</span>
                                </div>
                                <input type="text" class="tci-form-control gray" value="1234567890" disabled/>
                                <button class="tci-icon search_btn" style="width:40px"><i class="fa-solid fa-magnifying-glass"></i></button>

                            </div>
                            <div class="tci-input-group tci-mb-2">
                                <div class="tci-input-group-prepend">
                                    <span class="tci-input-group-text">成本中心:</span>
                                </div>
                                <input type="text" class="tci-form-control gray" value="1234567890" disabled/>
                            </div>
                            <div class="tci-input-group tci-mb-2">
                                <div class="tci-input-group-prepend">
                                    <span class="tci-input-group-text">專案代號:</span>
                                </div>
                                <input type="text" class="tci-form-control" value="83224836" />
                            </div>
                            <div class="tci-input-group tci-mb-2">
                                <div class="tci-input-group-prepend">
                                    <span class="tci-input-group-text">關聯票據:</span>
                                </div>
                                <input type="text" class="tci-form-control" value="83224836" />
                            </div>
                            <div class="tci-input-group tci-mb-2">
                                <div class="tci-input-group-prepend">
                                    <span class="tci-input-group-text">項目備註:</span>
                                </div>
                                <input type="text" class="tci-form-control" value="83224836" />
                            </div>
                            <div style="width: 100%;">
                                <button class="tci-icon darkerror"><i class="fa-solid fa-trash-can"></i></button>
                                <button class="tci-icon tci-btn-darkkhaki"><i class="fa-solid fa-copy"></i></button>

                            </div>
                        </div>
                    </div>
                    <div class="addTableFooter">
                        <span class="addTableFooterTitle">Total:</span>
                        <span class="addTableFooterText">10,000,000.00</span>
                    </div>
                </div>
            </div>
        </section>
        <section style="margin: .5rem;" class="orderDetailsContent darkBorderCard">
            <div class="darkBorderCardTitle">
                <span>請採單明細</span>
                <!-- 展開縮放，icon 切換 -->
                <span class="col-sm-12 col-sm-12 ">
                    <span class=""><i class="fa-solid fa-chevron-up"></i></span>
                    <!-- <span class=""><i class="fa-solid fa-chevron-down"></i></span> -->
                </span>
            </div>
            <div class="darkBorderCardContent orderDetailsTitle">
                <div class="orderDetailsTitle_text">
                    <div class="tci-input-group tci-mb-2">
                        <div class="tci-input-group-prepend">
                            <span class="tci-input-group-text">請採(優先)/合約單號:</span>
                        </div>
                        <input type="text" class="tci-form-control" />
                    </div>
                    <div class="tci-input-group tci-mb-2">
                        <div class="tci-input-group-prepend">
                            <span class="tci-input-group-text">固定資產若無請採單/合約請說明原因:</span>
                        </div>
                        <input type="text" class="tci-form-control" />
                    </div>
                </div>
                <hr>
                <div class="orderTableBox">
                    <div class="orderTable">
                        <div class="tci-input-group tci-mb-2">
                            <div class="tci-input-group-prepend">
                                <span class="tci-input-group-text">請採單:</span>
                            </div>
                            <select class="tci-bs-custom-select">
                                <option selected>Choose...</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                        <div class="tci-input-group tci-mb-2">
                            <div class="tci-input-group-prepend">
                                <span class="tci-input-group-text">採購金額 :</span>
                            </div>
                            <input type="text" class="tci-form-control" value="1234567890" />
                        </div>
                        <div class="tci-input-group tci-mb-2">
                            <div class="tci-input-group-prepend">
                                <span class="tci-input-group-text">合約:</span>
                            </div>
                            <input type="number" class="tci-form-control" value="1234567890" />
                        </div>
                        <div class="tci-input-group tci-mb-2">
                            <div class="tci-input-group-prepend">
                                <span class="tci-input-group-text">請款單:</span>
                            </div>
                            <input type="text" class="tci-form-control" value="1234567890" />
                        </div>
                        <div class="tci-input-group tci-mb-2">
                            <div class="tci-input-group-prepend">
                                <span class="tci-input-group-text">驗收單:</span>
                            </div>
                            <input type="text" class="tci-form-control" value="1234567890" />
                        </div>
                        <div class="tci-input-group tci-mb-2">
                            <div class="tci-input-group-prepend">
                                <span class="tci-input-group-text">合計已請款(不含本單):</span>
                            </div>
                            <input type="text" class="tci-form-control" value="83224836" />
                        </div>
                        <div class="tci-input-group tci-mb-2">
                            <div class="tci-input-group-prepend">
                                <span class="tci-input-group-text">合計待請款(含本單):</span>
                            </div>
                            <input type="text" class="tci-form-control" value="83224836" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="fileBox">
            <div class="tci-input-group tci-mb-2 fileContentNo">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text">檔案數:</span>
                </div>
                <select class="tci-bs-custom-select">
                    <option selected>Choose...</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
            <hr>
            <div class="illustrate">
                <div class="fileIllustrate">
                    <div class="tci-input-group tci-mr-1">
                        <div class="tci-input-group-prepend">
                            <span class="tci-input-group-text">檔案:</span>
                        </div>
                        <input type="file" class="tci-form-control" />
                    </div>
                    <div class="tci-input-group">
                        <div class="tci-input-group-prepend">
                            <span class="tci-input-group-text">檔案說明:</span>
                        </div>
                        <input type="text" class="tci-form-control" />
                    </div>
                </div>
                <div class="fileIllustrate">
                    <div class="tci-input-group tci-mr-1">
                        <div class="tci-input-group-prepend">
                            <span class="tci-input-group-text">檔案:</span>
                        </div>
                        <input type="file" class="tci-form-control" />
                    </div>
                    <div class="tci-input-group">
                        <div class="tci-input-group-prepend">
                            <span class="tci-input-group-text">檔案說明:</span>
                        </div>
                        <input type="text" class="tci-form-control" />
                    </div>
                </div>
            </div>
        </section>
        <div class="btnGroups" style="text-align: right;margin-right: .5rem;">
            <button class="tci-btn save_btn">資料確認，儲存單據</button>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script> -->
</body>
</html>
<!-- hedy 1. 請採單明細：不清楚舊表格內容是怎樣的，所以大概畫
2. 有三個 modal 沒做 -->