<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="../../scss/tci-all.css">
    <title>一般請款單列印</title>
</head>

<body>
    <div class="container-fluid" id="page_generalInvoice_print">
        <div class="pageHeader">
            <span class="pageHeaderTitle"><b>一般請款單列印</b></span>
        </div>
        <section class="btnTop tci-mb-3">
            <div style="text-align: right;">
                <button class="tci-btn bg_drakblue"><i class="fa fa-undo" aria-hidden="true"></i> 關閉單據內容</button>
            </div>
            <div class="btnGroups_lr" style="justify-content: space-between;display: flex;margin-top: .5rem;">
                <button class="tci-btn bg_lightgray" style="width: 49%;"><i class="fa fa-long-arrow-left"
                        aria-hidden="true"></i> 上一筆</button>
                <button class="tci-btn bg_lightgray" style="width: 49%;"><i class="fa fa-long-arrow-right"
                        aria-hidden="true"></i>下一筆</button>
            </div>
        </section>
        <section class="print_btn">
            <div class="btnGroups">
                <button class="tci-btn bg_darkkhaki">顯示簽核記錄</button>
                <button class="tci-btn bg_darkkhaki">列印單據</button>
                <button class="tci-btn bg_darkkhaki">單據列印格式?</button>
            </div>
            <div style="width: 100%;text-align: center;">
                <img src="https://media.istockphoto.com/photos/happy-shiba-inu-dog-on-yellow-redhaired-japanese-dog-smile-portrait-picture-id1197121742?k=20&m=1197121742&s=612x612&w=0&h=HX4DoFCL1RDlegj3P9w4O2H64sgwKvMP0VSki7sBEtE="
                    alt="附件1" style="width: 50%;" />
            </div>
        </section>
        <hr>
        <section class="print_table" style="margin-top:1rem;">
            <div>
                <div class="tableContent">
                    <div class="tableScroll">
                        <div class="tableAuto">
                            <div style="text-align: center;font-size:1.5rem">
                                <span>大江生醫_一般請款單</span>
                            </div>
                            <table class="tci-table tci-table-bordered">
                                <tbody>
                                    <tr>
                                        <th style="text-align: right;">單據號碼</th>
                                        <td>220804-65-A002</td>
                                        <th>&nbsp;</th>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <th style="text-align: right;">公司</th>
                                        <td>大江生醫股份有限公司</td>
                                        <th style="text-align: right;">文件日期</th>
                                        <td>2022/08/04</td>
                                    </tr>
                                    <tr>
                                        <th style="text-align: right;">部門別</th>
                                        <td>MIA實驗室</td>
                                        <th style="text-align: right;">公司統編</th>
                                        <td>大江生醫股份有限公司農科分公司</td>
                                    </tr>
                                    <tr>
                                        <th style="text-align: right;">幣別</th>
                                        <td>NTD(新台幣) 匯率:1</td>
                                        <th style="text-align: right;">請款金額(NTD)</th>
                                        <td>3,150.00</td>
                                    </tr>
                                    <tr>
                                        <th style="text-align: right;">請款金額</th>
                                        <td>3,150.00</td>
                                        <th style="text-align: right;">稅額(NTD)</th>
                                        <td>0.00</td>
                                    </tr>
                                    <tr>
                                        <th style="text-align: right;">過帳日期</th>
                                        <td>2022/08/04</td>
                                        <th style="text-align: right;">付款方式</th>
                                        <td>公司T/T-T/T to company</td>
                                    </tr>
                                    <tr>
                                        <th style="text-align: right;">匯入公司</th>
                                        <td>大江生醫股份有限公司</td>
                                        <th style="text-align: right;">經辦指定付款日</th>
                                        <td>2022/11/30</td>
                                    </tr>
                                    <tr>
                                        <th style="text-align: right;">帳戶</th>
                                        <td>大江生醫股份有限公司</td>
                                        <th style="text-align: right;">文件日期</th>
                                        <td>精上企業有限公司(702407)</td>
                                    </tr>
                                    <tr>
                                        <th style="text-align: right;">匯入銀行</th>
                                        <td>大江生醫股份有限公司</td>
                                        <th style="text-align: right;">付款條件</th>
                                        <td>月結90天</td>
                                    </tr>
                                    <tr>
                                        <th style="text-align: right;">請款備註</th>
                                        <td colspan="3"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tableContent">
                    <div class="tableScroll">
                        <div class="tableAuto">
                            <div style="text-align: center;">
                                <span>票據明細</span>
                            </div>
                            <table class="tci-table tci-table-bordered">
                                <thead style="text-align: center;">
                                    <tr>
                                        <th>項次</th>
                                        <th>票據類型</th>
                                        <th>票據號碼</th>
                                        <th>票據日期</th>
                                        <th>賣方票據抬頭</th>
                                        <th>票據金額(含稅)</th>
                                        <th>賣方統一編號</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>發票</td>
                                        <td>BS34787764</td>
                                        <td>2022/08/03</td>
                                        <td>精上企業有限公司</td>
                                        <td>3,150.00</td>
                                        <td>12274047</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tableContent">
                    <div class="tableScroll">
                        <div class="tableAuto">
                            <div style="text-align: center;">
                                <span>請款明細</span>
                            </div>
                            <table class="tci-table tci-table-bordered" style="border: 1px solid #000;">
                                <thead style="text-align: center;">
                                    <tr>
                                        <th>項次</th>
                                        <th>請款類別</th>
                                        <th>摘要說明</th>
                                        <th>金額(含稅)</th>
                                        <th>歸屬人</th>
                                        <th>成本中心</th>
                                        <th>專案代號</th>
                                        <th>關聯發票</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>發票</td>
                                        <td>BS34787764</td>
                                        <td>2022/08/03</td>
                                        <td>精上企業有限公司</td>
                                        <td>3,150.00</td>
                                        <td>12274047</td>
                                        <td>12274047</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <hr>
        <section class="print_process">
            <div class="print_process_circuit">
                <div class="tci-card tci-mt-2 card-green">
                    <div class="tci-card-header card-header-green"><i class="fa-solid fa-user-tie"></i> 總經理主管</div>
                    <div class="tci-card-body">
                        <p class="tci-card-title">林詠翔<br>VINCENT.LIN</p>
                        <div>
                            <span class="tci-card-text card-text-green"><i class="fa-solid fa-clock"></i>&nbsp;
                                免簽核</span>
                        </div>
                    </div>
                    <div class="tci-card-footer"></div>
                </div>
                <!-- 手機以上 -->
                <span style="text-align: center;margin: auto 1rem;">
                    <i class="fa-solid fa-left-long fa-2x"></i>
                </span>
                <!-- 手機 向上 Icon -->
                <!-- <span style="text-align:center;">
                    <i class="fa-solid fa-up-long fa-2x" style="width: 100%;"></i>
                </span> -->
                <div class="tci-card tci-mt-2 card-blue">
                    <div class="tci-card-header card-header-blue"><i class="fa-solid fa-user-tie"></i> 戰略數據中心主管</div>
                    <div class="tci-card-body">
                        <p class="tci-card-title"> 王浩駿<br>JOHNNY.WANG</p>
                        <div>
                            <span class="tci-card-text card-text-blue"><i class="fa-solid fa-clock"></i>&nbsp;
                                未簽核</span>
                        </div>
                    </div>
                    <div class="tci-card-footer"></div>
                </div>

                <!-- 手機以上 -->
                <span style="text-align: center;margin: auto 1rem;">
                    <i class="fa-solid fa-left-long fa-2x"></i>
                </span>
                <!-- 手機 向上 Icon -->
                <!-- <span style="text-align:center;">
                    <i class="fa-solid fa-up-long fa-2x" style="width: 100%;"></i>
                </span> -->
                <div class="tci-card tci-mt-2 card-blue">
                    <div class="tci-card-header card-header-blue"><i class="fa-solid fa-user-tie"></i> 軟體整合開發部主管</div>
                    <div class="tci-card-body">
                        <p class="tci-card-title">吳春隆<br>REX.WU</p>
                        <div>
                            <span class="tci-card-text card-text-blue"><i class="fa-solid fa-clock"></i>&nbsp; 同意</span>
                        </div>
                    </div>
                    <div class="tci-card-footer"></div>
                </div>
                <!-- 手機以上 -->
                <span style="text-align: center;margin: auto 1rem;">
                    <i class="fa-solid fa-left-long fa-2x"></i>
                </span>
                <!-- 手機 向上 Icon -->
                <!-- <span style="text-align:center;">
                    <i class="fa-solid fa-up-long fa-2x" style="width: 100%;"></i>
                </span> -->
                <div class="tci-card tci-mt-2 card-blue">
                    <div class="tci-card-header card-header-blue"><i class="fa-solid fa-user-tie"></i> 軟體研發組主管</div>
                    <div class="tci-card-body">
                        <p class="tci-card-title">吳春隆<br>REX.WU</p>
                        <div>
                            <span class="tci-card-text card-text-blue"><i class="fa-solid fa-check"></i>&nbsp; 同意</span>
                        </div>
                    </div>
                    <div class="tci-card-footer"></div>
                </div>
                <!-- 手機以上 -->
                <span style="text-align: center;margin: auto 1rem;">
                    <i class="fa-solid fa-left-long fa-2x"></i>
                </span>
                <!-- 手機 向上 Icon -->
                <!-- <span style="text-align:center;">
                    <i class="fa-solid fa-up-long fa-2x" style="width: 100%;"></i>
                </span> -->
                <div class="tci-card tci-mt-2 card-blue">
                    <div class="tci-card-header card-header-blue"><i class="fa-solid fa-user"></i> 經辦人</div>
                    <div class="tci-card-body">
                        <p class="tci-card-title">曾莞婷<br>HEDY.TSENG</p>
                        <div>
                            <span class="tci-card-text card-text-blue"><i class="fa-solid fa-check"></i>&nbsp; 送出</span>
                        </div>
                    </div>
                    <div class="tci-card-footer">2022/07/21 12:31:32</div>
                </div>
            </div>
        </section>
        <hr>
        <!-- 簽核記錄 start -->
        <section class="approvalBox tci-mb-3">
            <div class="">
                <ul class="" style="padding-left:20px;">
                    <li style="color: var(--color-rosybrown);font-size: 14px;">等待【經辦人】【HEDY.TSENG(曾莞婷) 大江戰士】簽核
                        <span style="font-size:12px;color: #949495;font-weight: bold;">上傳附件：新增1個附件</span></li>
                    <li style="color: var(--color-rosybrown);font-size: 14px;">等待【經辦人】【HEDY.TSENG(曾莞婷) 大江戰士】簽核
                        <span style="font-size:12px;color: var(--color-dark-green);font-weight: bold;">已簽核：送出單據 Send the
                            Request</span></li>
                </ul>
            </div>
        </section>
        <!-- 簽核記錄 end -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script> -->
</body>

</html>
<!-- hedy 手機向上的那個icon 也可不做，統一向左 -->