

@media (min-width: 765px) {
#page_tryApplication{
    .form_item{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .tci-input-group{
            width: 49%;
        }
    }
}
    
}