@media (min-width: 768px) {
  #page_tryApplication .form_item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #page_tryApplication .form_item .tci-input-group {
    width: 49%;
  }
}
#page_tryApplication_signoff .tableScroll {
  overflow-x: auto;
}
#page_tryApplication_signoff .tableScroll .tci-table {
  width: 992px;
}

@media (min-width: 768px) {
  #page_tryApplication_signoff .tableScroll .tci-table {
    width: 100%;
  }
}