<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="../../scss/tci-all.css">
    <title>試嘗申請單</title>
</head>

<body>
    <div class="container-fluid" id="page_tryApplication">
        <div class="pageHeader">
            <span class="pageHeaderTitle"><b>新增 試嘗申請單</b></span>
        </div>
        <section>
            <div class="tci-input-group tci-mb-2">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text">申請日期:</span>
                </div>
                <div class="tci-form-control">2022/8/1</div>
            </div>
            <div class="tci-mt-2">
                <div class="lightGrayBack">
                    <span>品項</span>
                </div>
                <div class="form_item">
                    <div class="tci-input-group tci-mb-2">
                        <div class="tci-input-group-prepend">
                            <span class="tci-input-group-text">試製料號:</span>
                        </div>
                        <input type="text" class="tci-form-control" />
                    </div>
                    <div class="tci-input-group tci-mb-2">
                        <div class="tci-input-group-prepend">
                            <span class="tci-input-group-text">RD料號:</span>
                        </div>
                        <input type="text" class="tci-form-control" />
                    </div>
                    <div class="tci-input-group tci-mb-2">
                        <div class="tci-input-group-prepend">
                            <span class="tci-input-group-text">試製專案號:</span>
                        </div>
                        <input type="text" class="tci-form-control" />
                    </div>
                    <div class="tci-input-group tci-mb-2">
                        <div class="tci-input-group-prepend">
                            <span class="tci-input-group-text">需求數量:</span>
                        </div>
                        <input type="text" class="tci-form-control" />
                    </div>
                    <div class="tci-input-group tci-mb-2">
                        <div class="tci-input-group-prepend">
                            <span class="tci-input-group-text">單位:</span>
                        </div>
                        <input type="text" class="tci-form-control" />
                    </div>
                    <div class="tci-input-group tci-mb-2">
                        <div class="tci-input-group-prepend">
                            <span class="tci-input-group-text">需求日期:</span>
                        </div>
                        <input type="text" class="tci-form-control" />
                    </div>
                    <div class="tci-input-group tci-mb-2">
                        <div class="tci-input-group-prepend">
                            <span class="tci-input-group-text">品名:</span>
                        </div>
                        <input type="text" class="tci-form-control" disabled />
                    </div>
                    <div class="tci-input-group tci-mb-2">
                        <div class="tci-input-group-prepend">
                            <span class="tci-input-group-text">品名:</span>
                        </div>
                        <input type="text" class="tci-form-control" disabled />
                    </div>
                    <div class="tci-input-group tci-mb-2">
                        <div class="tci-input-group-prepend">
                            <span class="tci-input-group-text">專案名:</span>
                        </div>
                        <input type="text" class="tci-form-control" disabled />
                    </div>
                </div>
            </div>
            <hr>
            <div class="tci-input-group tci-mb-2">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text">劑型:</span>
                </div>
                <select class="tci-form-control">
                    <option selected>Choose...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="tci-input-group tci-mb-2">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text">試製品處理方式:</span>
                </div>
                <textarea class="tci-form-control"></textarea>
            </div>
            <div class="tci-input-group tci-mb-2">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text">是否需做安定性測試:</span>
                </div>
                <select class="tci-form-control">
                    <option>Choose...</option>
                    <option value="1" selected>不需要</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="tci-input-group tci-mb-2">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text">試製品處理方式:</span>
                </div>
                <div style="width: 100%;margin-bottom: .5rem;">
                    <div class="tci-form-check tci-form-check-inline">
                        <input class="tci-form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                            value="option1" checked>
                        <label class="tci-form-check-label" for="exampleRadios1">
                            是
                        </label>
                    </div>
                    <div class="tci-form-check tci-form-check-inline">
                        <input class="tci-form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                            value="option2">
                        <label class="tci-form-check-label" for="exampleRadios2">
                            否
                        </label>
                    </div>
                    <span>請在下方填寫說明：</span>
                </div>
                <textarea class="tci-form-control"></textarea>
            </div>
            <div class="tci-mt-2">
                <div class="lightGrayBack">
                    <span>簽核流程</span>
                </div>
                <div class="form_item">
                    <div class="tci-input-group tci-mb-2">
                        <div class="tci-input-group-prepend">
                            <span class="tci-input-group-text">負責業務(非必填):</span>
                        </div>
                        <select class="tci-form-control">
                            <option>Choose...</option>
                            <option value="1" selected>功效性食品調配組-xxx-anna.ye</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="tci-input-group tci-mb-2">
                        <div class="tci-input-group-prepend">
                            <span class="tci-input-group-text">產品設計主管:</span>
                        </div>
                        <select class="tci-form-control">
                            <option>Choose...</option>
                            <option value="1" selected>不需要</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="tci-input-group tci-mb-2">
                        <div class="tci-input-group-prepend">
                            <span class="tci-input-group-text">精準製程設計組:</span>
                        </div>
                        <select class="tci-form-control">
                            <option>Choose...</option>
                            <option value="1" selected>不需要</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="tci-input-group tci-mb-2">
                        <div class="tci-input-group-prepend">
                            <span class="tci-input-group-text">QODM實驗室:</span>
                        </div>
                        <select class="tci-form-control">
                            <option>Choose...</option>
                            <option value="1" selected>不需要</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="tci-input-group tci-mb-2">
                        <div class="tci-input-group-prepend">
                            <span class="tci-input-group-text">S5/S9 精準製程導入組:</span>
                        </div>
                        <select class="tci-form-control">
                            <option>Choose...</option>
                            <option value="1" selected>不需要</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="tci-input-group tci-mb-2">
                        <div class="tci-input-group-prepend">
                            <span class="tci-input-group-text">S5/S9產銷管理部:</span>
                        </div>
                        <select class="tci-form-control">
                            <option>Choose...</option>
                            <option value="1" selected>不需要</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="tci-input-group tci-mb-2">
                        <div class="tci-input-group-prepend">
                            <span class="tci-input-group-text">S5/S9生產管理部:</span>
                        </div>
                        <select class="tci-form-control">
                            <option>Choose...</option>
                            <option value="1" selected>不需要</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="tci-input-group tci-mb-2">
                        <div class="tci-input-group-prepend">
                            <span class="tci-input-group-text">S5/S9品質工程:</span>
                        </div>
                        <select class="tci-form-control">
                            <option>Choose...</option>
                            <option value="1" selected>不需要</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="tci-input-group tci-mb-2">
                        <div class="tci-input-group-prepend">
                            <span class="tci-input-group-text">S5/S9品質管制部主管:</span>
                        </div>
                        <select class="tci-form-control">
                            <option>Choose...</option>
                            <option value="1" selected>不需要</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
            </div>
        </section>
        <div class="btnGroups">
            <button class="tci-btn bg_lightgray">全部清除</button>
            <button class="tci-btn bg_darkgreen">確認資料，預覽單據</button>
        </div>
        <div class="userCard_info">
            <span class="user_info">
                <u><b>使用者資訊：</b>
                <span>大江生醫 - 軟體研發組 - 大江戰士TCI Warrior(2) - 2206A0011 - HEDY.TSENG - 曾莞婷</span></u>
            </span>
        </div>
    </div>
</body>

</html>