<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="../../scss/tci-all.css">
    <link rel="stylesheet" href="./style.css">
    <title>試嘗申請單簽核</title>
</head>

<body>
    <div class="container-fluid" id="page_tryApplication_signoff">
        <div class="pageHeader" style="position: relative;">
            <span class="pageHeaderTitle"><b>試嘗申請單-簽核</b></span>
            <!-- 查詢bar -->
        </div>
        <!-- 上下頁 -->
        <section class="btnTop tci-mb-3">
            <div class="btnGroups">
                <button class="tci-btn bg_darkblue"><i class="fa fa-undo" aria-hidden="true"></i> 關閉單據內容</button>
            </div>
            <div class="btnGroups_lr" style="justify-content: space-between;display: flex;margin-top: .5rem;">
                <button class="tci-btn bg_lightgray" style="width: 49%;"><i class="fa fa-long-arrow-left"
                        aria-hidden="true"></i> 上一筆</button>
                <button class="tci-btn bg_lightgray" style="width: 49%;"><i class="fa fa-long-arrow-right"
                        aria-hidden="true"></i>下一筆</button>
            </div>
        </section>

        <div class="accordion accordion-flush" id="accordionFlush">
            <!-- 留言 -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="messageBox">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-messageBox" aria-expanded="true"
                        aria-controls="panelsStayOpen-messageBox">
                        <span>留言</span>
                    </button>
                </h2>
                <div id="panelsStayOpen-messageBox" class="accordion-collapse collapse show"
                    aria-labelledby="messageBox">
                    <div class="accordion-body messageBoxContent">
                        <div class="messagebtn_message tci-mt-3 message" style="text-align: center;
                    display: flex;
                    padding: 5px;
                    margin: 0 1rem;
                    border-radius: var(--borderRadius);">
                            <button type="button" class="tci-btn tci-btn-orgin" data-bs-toggle="modal"
                                data-bs-target="#messageBoxModal">
                                留言</button>
                            <ul class="tci-mt-3" style="list-style-type: decimal;
                        padding-top: 5px;
                        padding-right: 5px;
                        background-color: var(--color-light-gray);
                        margin: 0;
                        overflow-y: auto;
                        height: 100px;">
                                <li>曾莞婷(HEDY.TSENG) → 吳春隆(REX.WUdfsdfs)
                                    <p style="color: var(--color-blue);">2022/7/21 13:55： 1212</p>
                                </li>
                                <li>曾莞婷(HEDY.TSENG) → 吳春隆(REX.WUdfsdfs)
                                    <p style="color: var(--color-blue);">2022/7/21 13:55： 1212</p>
                                </li>
                                <li>曾莞婷(HEDY.TSENG) → 吳春隆(REX.WUdfsdfs)
                                    <p style="color: var(--color-blue);">2022/7/21 13:55： 1212</p>
                                </li>
                            </ul>
                        </div>
                        <div class="messagebtn_voice tci-mt-3 message" style="text-align: center;
                    display: flex;
                    padding: 5px;
                    margin: 0 1rem;
                    border-radius: var(--borderRadius);">
                            <button type="button" class="tci-btn tci-btn-orgin" data-bs-toggle="modal"
                                data-bs-target="#voiceMessageBoxModal">
                                語言留言</button>
                            <ul class="tci-mt-3" style="list-style-type: decimal;
                        padding-top: 5px;
                        padding-right: 5px;
                        background-color: var(--color-light-gray);
                        margin: 0;
                        overflow-y: auto;
                        height: 100px;">
                                <li>曾莞婷(HEDY.TSENG) → 吳春隆(REX.WU)
                                    <p style="color: var(--color-blue);">2022/7/21 13:55： 1212</p>
                                </li>
                                <li>曾莞婷(HEDY.TSENG) → 吳春隆(REX.WU)
                                    <p style="color: var(--color-blue);">2022/7/21 13:55： 1212</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 簽核意見 -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="description">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-description" aria-expanded="true"
                        aria-controls="panelsStayOpen-description">
                        <span>簽核意見</span>
                    </button>
                </h2>
                <div id="panelsStayOpen-description" class="accordion-collapse collapse show"
                    aria-labelledby="description">
                    <div class="accordion-body">
                        <div class="descriptionBox_invalid tci-text-center tci-mb-2">
                            <span
                                style="border: 1px solid #003D79;background-color:#003D79;padding:0 6px;color: var(--color-snow);font-weight: bold;">此單據已列印</span>
                        </div>
                        <div class="next_signer" style="margin: .5rem 0;">
                            <div class="tci-bs-input-group">
                                <div class="tci-bs-input-group-prepend">
                                    <span class="tci-bs-input-group-text">選擇下一位簽核者:</span>
                                </div>
                                <select class="tci-bs-custom-select">
                                    <option selected>Choose...</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                        <div class="descriptionBoxContent">
                            <div class="descriptionBox_notice">
                                <div class="tci-input-group">
                                    <div class="tci-input-group-prepend">
                                        <span class="tci-input-group-text">內容:&nbsp;
                                            <div class="dropdown open" style="margin-bottom:.5rem;">
                                                <button class="dropdown-toggle tci-btn bg_darkblue py-0" type="button"
                                                    data-bs-toggle="dropdown" data-animations="fadeIn">
                                                    通知人員
                                                </button>
                                                <!-- 下拉清單 -->
                                                <ul class="dropdown-menu">
                                                    <li style="margin-left:5px;cursor:pointer">
                                                        <label><input type="checkbox" class="decisionMsg" value="">
                                                            所有簽核者</label>
                                                    </li>
                                                    <li style="margin-left:5px;cursor:pointer">
                                                        <label><input type="checkbox" class="decisionMsg"
                                                                value="2011A0016">
                                                            吳春隆(REX.WU)</label>
                                                    </li>
                                                </ul>
                                            </div>
                                        </span>
                                    </div>
                                    <textarea class="tci-form-control"></textarea>
                                </div>
                            </div>

                            <div class="descriptionBox_icon tci-text-center">
                                <div class="dropdown file">
                                    <div class="dropdown">
                                        <button class="tci-btn" type="button" data-animations="fadeIn"
                                            data-hover="dropdown"
                                            style="background: none;border-width: 0px;text-align: center;text-decoration: none;padding: 0;"
                                            data-bs-toggle="dropdown" aria-expanded="false" id="dropdownbtn">
                                            <i class="fa-solid fa-file-lines fa-4x" style="color: #b8aba2;"></i>
                                            <p style="color:black;margin-top: .5rem;">其他</p>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">作廢單據</a></li>
                                            <li><a class="dropdown-item" href="#">標示為急件</a></li>
                                            <li><a class="dropdown-item" href="#">修改單據</a></li>
                                            <li><a class="dropdown-item" href="#" data-bs-toggle="modal"
                                                    data-bs-target="#forwardContentModal">轉寄內容</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 單據明細 -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="detailsBox">
                    <button class="accordion-button " type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-detailsBox" aria-expanded="true"
                        aria-controls="panelsStayOpen-detailsBox">
                        <span>單據明細</span>
                    </button>
                </h2>
                <div id="panelsStayOpen-detailsBox" class="accordion-collapse collapse show"
                    aria-labelledby="detailsBox">
                    <div class="accordion-body detailsBoxContent">
                        <div class="detailsBox_company tci-mt-1 tci-mb-2" style="text-align: right;">
                            <span class="detailsBox_companytext"
                                style=" color: #fff;padding: 0 6px;background-color: #83a2b4;border-radius: var(--borderRadius);font-size: 14px;">大江生醫</span>
                        </div>
                        <div class="tableScroll">
                            <div class="tableContent">
                                <div
                                    style="text-align: center;font-size:var(--font-size-xl);font-weight: bold;margin-bottom: 1rem;">
                                    <span>試嘗申請單</span>
                                </div>
                                <table class="tci-table tci-table-bordered">
                                    <tbody>
                                        <tr>
                                            <th style="background-color: var(--color-light-gray);width: 20%;">單據編號</th>
                                            <td>220804-36-A001</td>
                                        </tr>
                                        <tr>
                                            <th style="background-color: var(--color-light-gray);">申請日期</th>
                                            <td>220804-36-A001</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <div class="tableScroll">
                                                    <table class="tci-table tci-table-bordered">
                                                        <thead>
                                                            <tr style="background-color: var(--color-light-gray);">
                                                                <th colspan="2">料號</th>
                                                                <th>品名</th>
                                                                <th>試製專案號</th>
                                                                <th>專案名</th>
                                                                <th>需求數量</th>
                                                                <th>需求日期</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <th style="background-color: var(--color-light-gray);">試製料號</th>
                                                                <td>34012567</td>
                                                                <td>TCI-焦糖蘋果果昔_LN000121 50mL SDN試製</td>
                                                                <td rowspan="2">880400657</td>
                                                                <td rowspan="2">產品設計部一般耗用</td>
                                                                <td rowspan="2">10000PCS</td>
                                                                <td rowspan="2">2022/07/29</td>
                                                            </tr>
                                                            <tr>
                                                                <th style="background-color: var(--color-light-gray);">RD料號</th>
                                                                <td>34012567</td>
                                                                <td>TCI-焦糖蘋果果昔_LN000121 50mL SDN試製</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </td>
                                        </tr>
                                        <tr>
                                            <th style="background-color: var(--color-light-gray);">劑型</th>
                                            <td>液態-飲品</td>
                                        </tr>
                                        <tr>
                                            <th style="background-color: var(--color-light-gray);">規格說明</th>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th style="background-color: var(--color-light-gray);">是否需做<br />
                                                安定性測試 </th>
                                            <td>6個月</td>
                                        </tr>
                                        <tr>
                                            <th style="background-color: var(--color-light-gray);">是否需做<br />
                                                效性測試</th>
                                            <td>否</td>
                                        </tr>
                                        <tr>
                                            <th style="background-color: var(--color-light-gray);">試製結果</th>
                                            <td>試製結果</td>
                                        </tr>

                                        <tr>
                                            <th style="background-color: var(--color-light-gray);">品質工程(QA)回覆</th>
                                            <td>固定資產：資訊設備</td>

                                        </tr>
                                        <tr>
                                            <th style="background-color: var(--color-light-gray);">試製品處理方式</th>
                                            <td>研發領回</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th style="background-color: var(--color-light-gray);">額外附件<br />(研發人員請附SOP)
                                            </th>
                                            <td colspan="3">
                                                <div>
                                                    <span>附件 1( 220503-43-0002.pdf )</span>
                                                    <span><a href="http://" target="_blank"
                                                            rel="noopener noreferrer">PDF開啟檔案
                                                            Open file</a></span>
                                                </div>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>