<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="../../scss/tci-all.css">
    <title>試嘗申請單列印</title>
</head>

<body>
    <div class="container-fluid" id="page_tryApplication_print">
        <div class="pageHeader">
            <span class="pageHeaderTitle"><b>試嘗申請單-列印</b></span>
        </div>
        <section class="btnTop tci-mb-3">
            <div class="btnGroups">
                <button class="tci-btn bg_darkblue"><i class="fa fa-undo" aria-hidden="true"></i> 關閉單據內容</button>
            </div>
            <div class="btnGroups_lr" style="justify-content: space-between;display: flex;margin-top: .5rem;">
                <button class="tci-btn bg_lightgray" style="width: 49%;"><i class="fa fa-long-arrow-left"
                        aria-hidden="true"></i> 上一筆</button>
                <button class="tci-btn bg_lightgray" style="width: 49%;"><i class="fa fa-long-arrow-right"
                        aria-hidden="true"></i>下一筆</button>
            </div>
        </section>
        <section class="print_btn">
            <div class="btnGroups">
                <button class="tci-btn bg_darkkhaki">顯示簽核記錄</button>
                <button class="tci-btn bg_darkkhaki">列印單據</button>
                <button class="tci-btn bg_darkkhaki">單據列印格式?</button>
            </div>
            <div style="width: 100%;text-align: center;">
                <img src="https://media.istockphoto.com/photos/happy-shiba-inu-dog-on-yellow-redhaired-japanese-dog-smile-portrait-picture-id1197121742?k=20&m=1197121742&s=612x612&w=0&h=HX4DoFCL1RDlegj3P9w4O2H64sgwKvMP0VSki7sBEtE="
                    alt="附件1" style="width: 50%;" />
            </div>
        </section>
        <hr>
        <section class="print_table">
            <div class="tableContent">
                <div class="tableScroll">
                    <div class="tableAuto">
                        <div style="text-align: center;font-size:1.5rem;margin-bottom: 1rem;font-weight: bold;">
                            <span>試嘗申請單</span>
                        </div>
                        <table class="tci-table tci-table-bordered">
                            <tbody>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">單據編號</th>
                                    <td>220804-36-A001</td>
                                    <th style="background-color: var(--color-light-gray);">專案代號</th>
                                    <td>220802-34-A006</td>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">類別</th>
                                    <td>固定資產：資訊設備</td>
                                    <th style="background-color: var(--color-light-gray);">請購日期</th>
                                    <td>2022/5/1</td>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">請購部門</th>
                                    <td>硬體支援組</td>
                                    <th style="background-color: var(--color-light-gray);">請購人員</th>
                                    <td>WISSEN.LEE(李威億)</td>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">請購品名</th>
                                    <td>Synology DS920</td>
                                    <th style="background-color: var(--color-light-gray);">數量</th>
                                    <td>1 式 </td>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">用途</th>
                                    <td colspan="3">
                                        <div>
                                            <p>1.美感設計組產出的原始圖檔、設計稿等，因輸出大量檔案需要 NAS 儲存設備並可透過 NAS 備份機制長期安全保存這些資料。</p>
                                            <p>2.規格 : Synology DS920 4 Bay，8TB 硬碟 X 4 (RAID5) 可用儲存空間約 21.6TB。</p>
                                            <p>1.美感設計組產出的原始圖檔、設計稿等，因輸出大量檔案需要 NAS 儲存設備並可透過 NAS 備份機制長期安全保存這些資料。</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">建議廠商</th>
                                    <td colspan="3">
                                        <div>
                                            <div>廠商：<span>竣皓科技</span></div>
                                            <div>原因：<span>報價最便宜</span></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">預計使用日期</th>
                                    <td>2022/05/20</td>
                                    <th style="background-color: var(--color-light-gray);">預估金額 (含稅)</th>
                                    <td>NTD</td>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">幣別</th>
                                    <td colspan="3">李威億</td>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">額外附件</th>
                                    <td colspan="3">
                                        <div>
                                            <span>附件 1( 220503-43-0002.pdf )</span>
                                            <span><a href="http://" target="_blank" rel="noopener noreferrer">PDF開啟檔案 Open file</a></span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <table class="tci-table tci-table-bordered">
                                            <tbody>
                                                <tr>
                                                    <th style="background-color: var(--color-light-gray);">請購部門</th>
                                                    <td>HQ綜合服務組</td>
                                                    <th style="background-color: var(--color-light-gray);">採購人員</th>
                                                    <td>BLAIR.CHEN(陳冠妤)</td>
                                                </tr>
                                                <tr>
                                                    <th colspan="4" style="font-size:var(--font-size-md)">詢價記錄</th>
                                                </tr>
                                                <tr>
                                                    <th style="background-color: var(--color-light-gray);width: 15%;">
                                                        廠商名稱</th>
                                                    <td>德記</td>
                                                    <th style="background-color: var(--color-light-gray);width: 15%;">金額
                                                    </th>
                                                    <td>29,925</td>
                                                </tr>
                                                <tr>
                                                    <th style="background-color: var(--color-light-gray);">廠商名稱</th>
                                                    <td>無</td>
                                                    <th style="background-color: var(--color-light-gray);">金額</th>
                                                    <td>0</td>
                                                </tr>
                                                <tr>
                                                    <th style="background-color: var(--color-light-gray);">廠商名稱</th>
                                                    <td>無</td>
                                                    <th style="background-color: var(--color-light-gray);">金額</th>
                                                    <td>0</td>
                                                </tr>
                                                <tr>
                                                    <th style="background-color: var(--color-light-gray);">廠商名稱</th>
                                                    <td>無</td>
                                                    <th style="background-color: var(--color-light-gray);">金額</th>
                                                    <td>0</td>
                                                </tr>
                                                <tr>
                                                    <th style="background-color: var(--color-light-gray);">廠商名稱</th>
                                                    <td>無</td>
                                                    <th style="background-color: var(--color-light-gray);">金額</th>
                                                    <td>0</td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th colspan="4" style="font-size:var(--font-size-md)">最終選定廠商</th>
                                                </tr>
                                                <tr>
                                                    <th style="background-color: var(--color-light-gray);width: 15%;">
                                                        廠商名稱</th>
                                                    <td>德記</td>
                                                    <th style="background-color: var(--color-light-gray);width: 15%;">金額
                                                    </th>
                                                    <td>29,925</td>
                                                </tr>
                                                <tr>
                                                    <th style="background-color: var(--color-light-gray);width: 15%;">
                                                        選定原因</th>
                                                    <td colspan="3">長期配合廠商</td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
         
        </section>
        <hr>
        <!-- 簽核記錄 start -->
        <section class="approvalBox tci-mb-3">
            <div class="">
                <ul class="" style="padding-left:20px;">
                    <li style="color: var(--color-rosybrown);font-size: 14px;">等待【經辦人】【HEDY.TSENG(曾莞婷) 大江戰士】簽核
                        <span style="font-size:12px;color: #949495;font-weight: bold;">上傳附件：新增1個附件</span>
                    </li>
                    <li style="color: var(--color-rosybrown);font-size: 14px;">2022/6/1 下午
                        02:28:48【經辦人-BENNY.SU(蘇雅雯)管理師】
                        <span style="font-size:12px;color: var(--color-dark-green);font-weight: bold;">已簽核：送出單據</span>
                    </li>
                </ul>
            </div>
        </section>
        <!-- 簽核記錄 end -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script> -->
</body>

</html>
<!-- hedy 手機向上的那個icon 也可不做，統一向左 -->