<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="../../scss/tci-all.css">
    <title>試嘗申請單列印</title>
</head>

<body>
    <div class="container-fluid" id="page_tryApplication_print">
        <div class="pageHeader">
            <span class="pageHeaderTitle"><b>試嘗申請單-列印</b></span>
        </div>
        <section class="btnTop tci-mb-3">
            <div class="btnGroups">
                <button class="tci-btn bg_darkblue"><i class="fa fa-undo" aria-hidden="true"></i> 關閉單據內容</button>
            </div>
            <div class="btnGroups_lr" style="justify-content: space-between;display: flex;margin-top: .5rem;">
                <button class="tci-btn bg_lightgray" style="width: 49%;"><i class="fa fa-long-arrow-left"
                        aria-hidden="true"></i> 上一筆</button>
                <button class="tci-btn bg_lightgray" style="width: 49%;"><i class="fa fa-long-arrow-right"
                        aria-hidden="true"></i>下一筆</button>
            </div>
        </section>
        <section class="print_btn">
            <div class="btnGroups">
                <button class="tci-btn bg_darkkhaki">顯示簽核記錄</button>
                <button class="tci-btn bg_darkkhaki">列印單據</button>
                <button class="tci-btn bg_darkkhaki">單據列印格式?</button>
            </div>
            <div style="width: 100%;text-align: center;">
                <img src="https://media.istockphoto.com/photos/happy-shiba-inu-dog-on-yellow-redhaired-japanese-dog-smile-portrait-picture-id1197121742?k=20&m=1197121742&s=612x612&w=0&h=HX4DoFCL1RDlegj3P9w4O2H64sgwKvMP0VSki7sBEtE="
                    alt="附件1" style="width: 50%;" />
            </div>
        </section>
        <hr>
        <section class="print_table">
            <div class="tableContent">
                <div class="tableScroll">
                    <div class="tableAuto">
                        <div style="text-align: center;font-size:var(--font-size-xl);font-weight: bold;margin-bottom: 1rem;">
                            <span>大江生醫股份有限公司 試嘗申請單</span>
                        </div>
                        <table class="tci-table tci-table-bordered">
                            <tbody>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);width: 20%;">單據編號</th>
                                    <td>220804-36-A001</td>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">申請日期</th>
                                    <td>220804-36-A001</td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div class="tableScroll">
                                            <table class="tci-table tci-table-bordered">
                                                <thead>
                                                    <tr style="background-color: var(--color-light-gray);">
                                                        <th colspan="2">料號</th>
                                                        <th>品名</th>
                                                        <th>試製專案號</th>
                                                        <th>專案名</th>
                                                        <th>需求數量</th>
                                                        <th>需求日期</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th style="background-color: var(--color-light-gray);">試製料號</th>
                                                        <td>34012567</td>
                                                        <td>TCI-焦糖蘋果果昔_LN000121 50mL SDN試製</td>
                                                        <td rowspan="2">880400657</td>
                                                        <td rowspan="2">產品設計部一般耗用</td>
                                                        <td rowspan="2">10000PCS</td>
                                                        <td rowspan="2">2022/07/29</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">劑型</th>
                                    <td>液態-飲品</td>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">規格說明</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">是否需做<br/>
                                        安定性測試	</th>
                                    <td>6個月</td>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">是否需做<br/>
                                        效性測試</th>
                                    <td>否</td>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">試製結果</th>
                                    <td>試製結果</td>
                                </tr>
                                
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">品質工程(QA)回覆</th>
                                    <td>固定資產：資訊設備</td>
                               
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">試製品處理方式</th>
                                    <td>研發領回</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
         
        </section>
        <hr>
        <!-- 簽核記錄 start -->
        <section class="approvalBox tci-mb-3">
            <div class="">
                <ul class="" style="padding-left:20px;">
                    <li style="color: var(--color-rosybrown);font-size: 14px;">等待【經辦人】【HEDY.TSENG(曾莞婷) 大江戰士】簽核
                        <span style="font-size:12px;color: #949495;font-weight: bold;">上傳附件：新增1個附件</span>
                    </li>
                    <li style="color: var(--color-rosybrown);font-size: 14px;">2022/6/1 下午
                        02:28:48【經辦人-BENNY.SU(蘇雅雯)管理師】
                        <span style="font-size:12px;color: var(--color-dark-green);font-weight: bold;">已簽核：送出單據</span>
                    </li>
                </ul>
            </div>
        </section>
        <!-- 簽核記錄 end -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
<!-- hedy 手機向上的那個icon 也可不做，統一向左 -->