<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
  <link rel="stylesheet" href="../../scss/tci-all.css">
  <title>form</title>
</head>

<body>
  <h2>form</h2>
  <div class="tci-form-check">
    <input class="tci-form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
    <label class="tci-form-check-label" for="exampleRadios1">
      Default radio
    </label>
  </div>
  <div class="tci-form-check">
    <input class="tci-form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
    <label class="tci-form-check-label" for="exampleRadios2">
      Second default radio
    </label>
  </div>
  <div class="tci-form-check">
    <input class="tci-form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
    <label class="tci-form-check-label" for="exampleRadios3">
      Disabled radio
    </label>
  </div>
  <hr>
  <div>
    <div class="tci-form-check tci-form-check-inline">
      <input class="tci-form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
      <label class="tci-form-check-label" for="inlineCheckbox1">1</label>
    </div>
    <div class="tci-form-check tci-form-check-inline">
      <input class="tci-form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
      <label class="tci-form-check-label" for="inlineCheckbox2">2</label>
    </div>
    <div class="tci-form-check tci-form-check-inline">
      <input class="tci-form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" disabled>
      <label class="tci-form-check-label" for="inlineCheckbox3">3 (disabled)</label>
    </div>
  </div>

</body>

</html>