<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- //bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />

    <link rel="stylesheet" href="../../scss/tci-all.css" />
    <link rel="stylesheet" href="./style.css">
    <title>簽核單修改</title>
</head>

<body>
    <div class="container-fluid" id="page_qianheedit" style="margin: 1rem;">
        <section>
            <table class="table table-hover">
                
            </table>
        </section>
    </div>
</body>

</html>