.fs-14 {
    font-size: 1rem;
}

.table>tbody>tr>td{
    vertical-align: inherit;
}
#page60 {
    .tci-form-control {
        height: auto;
    }

    .pageContent {
        margin: .5rem;

        .pageContentTitle {
            font-size: 1rem;
        }
    }

    .pageQuery {
        .pageQueryLeft {
            .tci-input-group-prepend {
                display: block;
                width: 100%;
            }

            input {
                width: 70%;
                margin-top: .5rem;
            }

            button {
                margin-top: .5rem;
            }
        }

        .pageQueryRight {
            margin-top: .5rem;
        }
    }

    .pageTable {
        overflow-x: auto;
        margin-top: 1.5rem;

        .BillInfoTB1 {
            width: 1200px;
            border: 1px solid #ddd;
            margin-bottom: 0;

            th {
                background-color: #fcf8e3;
                width: 15%;
                border: 1px solid #ddd;
            }

            td {
                border: 1px solid #ddd;
            }

            .BillPrintTB1_content {
                margin-bottom: 0;

                th {
                    background-color: #fcf8e3;
                    color: #2a2a2a;
                }
            }
        }

        .tableCount {
            margin-bottom: 20px;
            td {
                border: none;
            }
        }
    }

}


@media (min-width: 765px) {
    #page60 {

        .pageContent {
            .pageContentTitle {
                font-size: 1.75rem;
            }
        }

        .pageQuery {
            .pageQueryLeft {
                .tci-input-group-prepend {
                    display: flex;
                    width: auto;
                }

                input {
                    width: auto;
                    margin-top: 0;
                }

                button {
                    margin-top: 0;
                }
            }

            .pageQueryRight {
                .pageQueryRightContent {
                    display: flex;
                    flex-wrap: wrap;

                    .tci-input-group {
                        width: 50%;
                    }
                }
            }
        }

        .pageTable {
            .BillInfoTB1 {
                width: 100%;
            }
        }

        .mark {
            .markFile {
                display: flex;
            }
        }
    }

    .fs-14 {
        font-size: 14px;
    }
}