.fs-14 {
  font-size: 1rem;
}

.table > tbody > tr > td {
  vertical-align: inherit;
}

#page60 .tci-form-control {
  height: auto;
}
#page60 .pageContent {
  margin: 0.5rem;
}
#page60 .pageContent .pageContentTitle {
  font-size: 1rem;
}
#page60 .pageQuery .pageQueryLeft .tci-input-group-prepend {
  display: block;
  width: 100%;
}
#page60 .pageQuery .pageQueryLeft input {
  width: 70%;
  margin-top: 0.5rem;
}
#page60 .pageQuery .pageQueryLeft button {
  margin-top: 0.5rem;
}
#page60 .pageQuery .pageQueryRight {
  margin-top: 0.5rem;
}
#page60 .pageTable {
  overflow-x: auto;
  margin-top: 1.5rem;
}
#page60 .pageTable .BillInfoTB1 {
  width: 1200px;
  border: 1px solid #ddd;
  margin-bottom: 0;
}
#page60 .pageTable .BillInfoTB1 th {
  background-color: #fcf8e3;
  width: 15%;
  border: 1px solid #ddd;
}
#page60 .pageTable .BillInfoTB1 td {
  border: 1px solid #ddd;
}
#page60 .pageTable .BillInfoTB1 .BillPrintTB1_content {
  margin-bottom: 0;
}
#page60 .pageTable .BillInfoTB1 .BillPrintTB1_content th {
  background-color: #fcf8e3;
  color: #2a2a2a;
}
#page60 .pageTable .tableCount {
  margin-bottom: 20px;
}
#page60 .pageTable .tableCount td {
  border: none;
}

@media (min-width: 765px) {
  #page60 .pageContent .pageContentTitle {
    font-size: 1.75rem;
  }
  #page60 .pageQuery .pageQueryLeft .tci-input-group-prepend {
    display: flex;
    width: auto;
  }
  #page60 .pageQuery .pageQueryLeft input {
    width: auto;
    margin-top: 0;
  }
  #page60 .pageQuery .pageQueryLeft button {
    margin-top: 0;
  }
  #page60 .pageQuery .pageQueryRight .pageQueryRightContent {
    display: flex;
    flex-wrap: wrap;
  }
  #page60 .pageQuery .pageQueryRight .pageQueryRightContent .tci-input-group {
    width: 50%;
  }
  #page60 .pageTable .BillInfoTB1 {
    width: 100%;
  }
  #page60 .mark .markFile {
    display: flex;
  }
  .fs-14 {
    font-size: 14px;
  }
}