<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- //bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />

    <link rel="stylesheet" href="../../scss/tci-all.css" />
    <link rel="stylesheet" href="./style60.css">
    <title>page60-供需狀況</title>
</head>

<body>
    <div class="container-fluid" id="page60" style="margin: 1rem;">
        <div class="tci-text-center pageContent">
            <span class="pageContentTitle"><b>page60-供需狀況</b></span>
        </div>
        <section class="pageTable">
            <table class="table table-hover BillInfoTB1">
                <thead>
                    <tr>
                        <th colspan="10">供需狀況</th>
                        <th colspan="5" style="text-align: right;">紀錄日期：2022-07-21 15:12:18</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>日期<br> Date</th>
                        <th>MRP元素<br> MRP element</th>
                        <th>開始/核發日期<br> Start/approve and issue date</th>
                        <th>開單日期<br> Order creation date</th>
                        <th>MRP要素資料<br> MRP element data</th>
                        <th>重新排程日<br> Reschedule day</th>
                        <th>例外<br> Exception</th>
                        <th>例外說明<br> Exception Description</th>
                        <th>收貨/需求<br> Receipt/demand</th>
                        <th>可用數量<br> Available quantity</th>
                        <th>儲存地點<br> Storage location</th>
                        <th>SO類型&amp;留樣資訊<br> SO type &amp; sample information</th>
                        <th>業務員資訊<br> Salesperson information</th>
                        <th>顯示品名<br> Display product name</th>
                        <th>保存工單號<br> Save work order no.</th>
                    </tr>
                    <tr>
                        <td>
                            <input type="hidden" value="1">
                            <input type="hidden" value="11000214">
                            <input type="hidden" value="2022/07/21">
                            <input type="hidden" value="庫存">
                            <input type="hidden" value="">
                            <input type="hidden" value="">
                            <input type="hidden" value="">
                            <input type="hidden" value="">
                            <input type="hidden" value="96">
                            <input type="hidden" value="跌至安全庫存層次以下之庫存">
                            <input type="hidden" value="">
                            <input type="hidden" value="135.622">
                            <input type="hidden" value="">
                            <input type="hidden" value="">
                            <input type="hidden" value="">
                            <input type="hidden" value="">
                            <input type="hidden" value="">
                            2022/07/21
                        </td>
                        <td>庫存</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>96</td>
                        <td>跌至安全庫存層次以下之庫存</td>
                        <td></td>
                        <td>135.622</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>000010050135</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</body>

</html>