<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
  <link rel="stylesheet" href="../../scss/tci-all.css" />
  <link rel="stylesheet" href="./style.css" />
  <title>公告中心-簽核</title>
</head>

<body>
  <div class="container-fluid" id="page_announcement_signoff">
    <div class="pageHeader">
      <span class="pageHeaderTitle"><b>公告中心-簽核</b></span>
    </div>
    <!-- 上下頁 -->
    <section class="btnTop tci-mb-3">
      <div class="btnGroups">
        <button class="tci-btn bg_darkblue">
          <i class="fa fa-undo" aria-hidden="true"></i> 關閉單據內容
        </button>
      </div>
      <div class="btnGroups_lr" style="
            justify-content: space-between;
            display: flex;
            margin-top: 0.5rem;
          ">
        <button class="tci-btn bg_lightgray" style="width: 49%">
          <i class="fa fa-long-arrow-left" aria-hidden="true"></i> 上一筆
        </button>
        <button class="tci-btn bg_lightgray" style="width: 49%">
          <i class="fa fa-long-arrow-right" aria-hidden="true"></i>下一筆
        </button>
      </div>
    </section>
    <div class="accordion accordion-flush" id="accordionFlush">
      <!-- 公告內容 -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="announcement">
          <button class="accordion-button" type="button" data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-announcement" aria-expanded="true"
            aria-controls="panelsStayOpen-announcement">
            <span>公告內容</span>
          </button>
        </h2>
        <div id="panelsStayOpen-announcement" class="accordion-collapse collapse show" aria-labelledby="announcement">
          <div class="accordion-body">
            <div>
              <table class="tci-table tci-table-bordered">
                <tbody>
                  <tr>
                    <th style="background-color: var(--color-light-gray);">公告時間</th>
                    <td>2011/3/15 上午 11:17:16</td>
                  </tr>
                  <tr>
                    <th style="background-color: var(--color-light-gray);">部門別</th>
                    <td>人力資源部</td>
                  </tr>
                  <tr>
                    <th style="background-color: var(--color-light-gray);">公告人</th>
                    <td>AMY.LEE(李美侖)</td>
                  </tr>
                  <tr>
                    <th style="background-color: var(--color-light-gray);">公告分類</th>
                    <td>一般事項</td>
                  </tr>
                  <tr>
                    <th style="background-color: var(--color-light-gray);">有效日期</th>
                    <td>2070/3/31</td>
                  </tr>
                  <tr>
                    <th style="background-color: var(--color-light-gray);">公告對象</th>
                    <td>指定部門：<br />BD GZ1-BD GZ1／BD5-BD5／Closed-M07-M07／HQ招募組-Recruitment Team(HQ)／HQ綜合服務組-HQ General
                      Affairs Team／Human Resource Database-／M01-M01／M02-M02／</td>
                  </tr>
                  <tr>
                    <th style="background-color: var(--color-light-gray);">公告標題</th>
                    <td>建廠工程請採驗管理辦法</td>
                  </tr>
                  <tr>
                    <th style="background-color: var(--color-light-gray);">公告內容</th>
                    <td>
                      <div>
                        主旨：農科分公司工程設備之請購、採購及驗收管理辦法。<br />
                        說明：為使本公司建廠相關經費支出控管程序能有所依循，特定此辦法。<br />
                        辦法：詳細內容請詳附件「建廠工程請採驗管理辦法」
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th style="background-color: var(--color-light-gray);">狀態</th>
                    <td>一般</td>
                  </tr>
                </tbody>
              </table>
              <div class="btnGroups">
                <button class="tci-btn tci-btn-warning">修改公告</button>
                <button class="tci-btn bg_darkblue">列印公告內容</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 單據附件 -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="attachmentBox">
          <button class="accordion-button " type="button" data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-attachmentBox" aria-expanded="true"
            aria-controls="panelsStayOpen-attachmentBox">
            <span>單據附件 </span>
          </button>
        </h2>
        <div id="panelsStayOpen-attachmentBox" class="accordion-collapse collapse show" aria-labelledby="attachmentBox">
          <div class="accordion-body attachmentBoxContent">
            <div>
              <span style="font-size:var(--font-size-sm)"><b>附件1：</b><a href="#">開啟檔案</a></span>
            </div>
          </div>
        </div>
      </div>
      <!-- 回覆內容 -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="reply">
          <button class="accordion-button " type="button" data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-reply" aria-expanded="true" aria-controls="panelsStayOpen-reply">
            <span>回覆內容</span>
          </button>
        </h2>
        <div id="panelsStayOpen-reply" class="accordion-collapse collapse show" aria-labelledby="reply">
          <div class="accordion-body replyContent">
            <div>
              <div class="tci-field">
                <div class="tci-field-label">
                  <span class="tci-field-text text-left">回覆:</span>
                </div>
                <div class="tci-valueBtn">
                  <select class="tci-form-control tci-mb-2">
                    <option selected>Choose...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                  <textarea class="tci-form-control"></textarea>
                </div>
              </div>
              <div class="btnGroups">
                <button class="tci-btn bg_darkgreen">確認回覆</button>
            </div>
            </div>
          </div>
        </div>
      </div>
       <!-- 查看已回覆清單 -->
       <div class="accordion-item">
        <h2 class="accordion-header" id="replyView">
          <button class="accordion-button " type="button" data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-replyView" aria-expanded="true" aria-controls="panelsStayOpen-replyView">
            <span>查看已回覆清單</span>
          </button>
        </h2>
        <div id="panelsStayOpen-replyView" class="accordion-collapse collapse show" aria-labelledby="replyView">
          <div class="accordion-body replyViewContent">
            <div>
              <table class="tci-table tci-table-bordered">
                <tbody>
                  <tr>
                    <th style="width: 22%;">FENIX.YANG(楊卓松)</th>
                    <td style="width: 60px;text-align: center;">回覆</td>
                    <td>2011/3/15&nbsp;11:18：For Amy.Lee(李美侖)<br>已閱讀</td>
                  </tr>
                  <tr>
                    <th style="width: 22%;">MAGGIE.CHUANG(莊涵茹)</th>
                    <td style="width: 60px;text-align: center;">回覆</td>
                    <td>2011/3/15&nbsp;11:18：For Amy.Lee(李美侖)<br>已閱讀</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="userCard_info">
      <span class="user_info">
        <u><b>使用者資訊：</b>
          <span>大江生醫 - 軟體研發組 - 大江戰士TCI Warrior(2) - 2206A0011 -
            HEDY.TSENG - 曾莞婷</span></u>
      </span>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>