@media (min-width:768px) {
    #page_manuallyAttendance {
        .query {
            .tci-field {
                .tci-field-label {
                    padding-right: 2rem;
                    width: 20%;

                }
                .tci-field-value{
                    width: 80%;
                }
            }
        }
    }
}