#page_manuallyAttendance {
    .manuallyAttendanceContent {
        .application {
            .time {
                width: 100%;
                .type {
                    margin: auto 1rem;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    #page_manuallyAttendance {
        .manuallyAttendanceContent {
            .application {
                .time {
                    display: flex;
                    width: 60%;
                    .type {
                        margin: 0.5rem;
                    }
                }
            }
        }
    }
}