#page_jobhandover {
    .query {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .tci-field {
            width: 48%;

            &.w100 {
                width: 100%;
            }
        }
    }
}
@media (min-width:768px) {
    #page_jobhandover {
        .query {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
    
            .tci-field {
                width: 48%;
    
                &.w100 {
                    width:  48%;
                }
            }
        }
    }
}
@media (min-width:992px) {
    #page_jobhandover {
        .query {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
    
            .tci-field {
                width: 28%;
                
                &.w100 {
                    width: 28%;
                }
                .tci-field-label{
                    width: 40%;
                }
                .tci-field-value{
                    width: 60%;

                }
            }
        }
    }
}