<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>button</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="../../scss/tci-all.css">
</head>

<body>
    1
    <button class="tci-btn tci-btn-blue">button</button>
    <button class="tci-btn tci-btn-warning">warning</button>
    <button class="tci-btn tci-btn-success">success</button>
    <button class="tci-btn tci-btn-error">error</button>
    <button class="tci-btn tci-btn-orgin">error</button>
    <br/>
    2
    <div class="tci-mt-3"></div>
    <button class="tci-btn bg_darkblue">查詢</button>
    <button class="tci-btn bg_darkkhaki">button</button>
    <button class="tci-btn bg_darkgreen">儲存</button>
    <button class="tci-btn bg_darkred">button</button>
    <button class="tci-btn bg_lightgray">button</button>

    <hr>
    3
    <button class="tci-btn tci-btn-blue btn-radius">button</button>
    <button class="tci-btn-icon tci-btn-warning btn-radius"><i class="fa-solid fa-bell"></i> warning</button>
    <button class="tci-btn-icon tci-btn-success btn-radius"><i class="fa-solid fa-check"></i> success</button>
    <button class="tci-btn-icon tci-btn-error"><i class="fa-solid fa-xmark"></i></button>

    <hr>
    4
    <button class="tci-btn tci-btn-bs-blue">button</button>
    <button class="tci-btn tci-btn-bs-warning">warning</button>
    <button class="tci-btn tci-btn-bs-success">success</button>
    <button class="tci-btn tci-btn-bs-error">error</button>

    <hr>
    5
    <button class="tci-btn tci-btn-bg-blue">button</button>
    <button class="tci-btn tci-btn-bg-warning">warning</button>
    <button class="tci-btn tci-btn-bg-success">success</button>
    <button class="tci-btn tci-btn-bg-error">error</button>

    <hr>
    6
    <button class="tci-btn tci-btn-bd-blue">button</button>
    <button class="tci-btn tci-btn-bd-warning">warning</button>
    <button class="tci-btn tci-btn-bd-success">success</button>
    <button class="tci-btn tci-btn-bd-error">error</button>

    <hr>
    7
    <button class="tci-btn tci-btn-grass">11button</button>
    <button class="tci-btn tci-btn-regular">button</button>
    <button class="tci-btn tci-btn-dark">button</button>
    <button class="tci-btn tci-btn-blue">button</button>
    <hr>
    <button class="tci-icon bg_darkgreen"><i class="fa-solid fa-table"></i></button>
    <button class="tci-icon bg_darkgreen"><i class="fa-solid fa-check"></i></button>
    <button class="tci-icon bg_darkgreen"><i class="fa-solid fa-pen"></i></button>
    
    <button class="tci-btn tci-btn-default-active"></button>
    
    1 <button class="tci-icon bg_darkblue"><i class="fa-solid fa-magnifying-glass"></i></button>
    2 <button class="tci-icon bg_darkblue"><i class="fa-solid fa-user"></i></button>
    3 <button class="tci-icon bg_darkkhaki"><i class="fa-solid fa-building"></i></button>
    4 <button class="tci-icon bg_darkblue"><i class="fa-solid fa-people-group"></i></button>
    5 <button class="tci-icon bg_darkred"><i class="fa-solid fa-xmark"></i></button>
    6 <button class="tci-icon bg_darkred"><i class="fa-solid fa-trash-can"></i></button>
    7 <button class="tci-icon bg_darkgreen"><i class="fa-solid fa-plus"></i></button>
    <i class="fa-solid fa-pencil"></i>
</body>
</html>