<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>button</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="../../scss/tci-all.css">
</head>

<body>
    <button class="tci-btn tci-btn-blue">button</button>
    <button class="tci-btn tci-btn-warning">warning</button>
    <button class="tci-btn tci-btn-success">success</button>
    <button class="tci-btn tci-btn-error">error</button>
    <button class="tci-btn tci-btn-orgin">error</button>
    <br>
    <div class="tci-mt-3"></div>
    <button class="tci-btn search_btn">查詢</button>
    <button class="tci-btn tci-btn-darkkhaki">button</button>
    <button class="tci-btn save_btn">儲存</button>
    <button class="tci-btn darkerror">button</button>
    <button class="tci-btn gray_btn">button</button>



    <hr>
    <button class="tci-btn tci-btn-blue btn-radius">button</button>
    <button class="tci-btn-icon tci-btn-warning btn-radius"><i class="fa-solid fa-bell"></i> warning</button>
    <button class="tci-btn-icon tci-btn-success btn-radius"><i class="fa-solid fa-check"></i> success</button>
    <button class="tci-btn-icon tci-btn-error"><i class="fa-solid fa-xmark"></i></button>

    <hr>
    <button class="tci-btn tci-btn-bs-blue">button</button>
    <button class="tci-btn tci-btn-bs-warning">warning</button>
    <button class="tci-btn tci-btn-bs-success">success</button>
    <button class="tci-btn tci-btn-bs-error">error</button>

    <hr>
    <button class="tci-btn tci-btn-bg-blue">button</button>
    <button class="tci-btn tci-btn-bg-warning">warning</button>
    <button class="tci-btn tci-btn-bg-success">success</button>
    <button class="tci-btn tci-btn-bg-error">error</button>

    <hr>
    <button class="tci-btn tci-btn-bd-blue">button</button>
    <button class="tci-btn tci-btn-bd-warning">warning</button>
    <button class="tci-btn tci-btn-bd-success">success</button>
    <button class="tci-btn tci-btn-bd-error">error</button>

    <hr>
    <button class="tci-btn tci-btn-grass">button</button>
    <button class="tci-btn tci-btn-regular">button</button>
    <button class="tci-btn tci-btn-dark">button</button>
    <button class="tci-btn tci-btn-blue">button</button>
    <button class="tci-btn tci-btn-salmon">button</button>
    <button class="tci-btn tci-btn-sun">button</button>
    <button class="tci-btn tci-btn-alge">button</button>
    <button class="tci-btn tci-btn-flower ">button</button>
    <hr>
    <button class="tci-icon search_btn"><i class="fa-solid fa-table"></i></button>
    <button class="tci-icon save_btn"><i class="fa-solid fa-table"></i></button>
    <button class="tci-icon save_btn"><i class="fa-solid fa-plus"></i></button>
    <button class="tci-icon save_btn"><i class="fa-solid fa-xmark"></i></button>
    <button class="tci-icon save_btn"><i class="fa-solid fa-check"></i></button>
    <button class="tci-icon save_btn"><i class="fa-solid fa-pen"></i></button>
</body>

</html>