ul {
  margin: 0px 0px 0px 5px;
  list-style: none;
  line-height: 2em;
  font-family: Arial;
}
ul li {
  font-size: 16px;
  position: relative;
  white-space: nowrap;
  line-height: 4rem;
}
ul li .current {
  background-color: var(--color-orgin);
  color: var(--color-snow);
}

.panel_container {
  margin-bottom: 2rem;
}
.panel_container .tree_container {
  width: 100%;
  background-color: #f2f2f3;
  border-radius: 0.5rem;
  height: 750px;
  overflow-y: auto;
}
.panel_container .tree_container .tree_content {
  overflow-x: auto;
}
.panel_container .tree_container .tree_content .tci-btn {
  font-size: 16px;
}
.panel_container .box_container {
  width: 100%;
  height: 750px;
  overflow-y: auto;
}
.panel_container .box_container .btnGroup {
  display: flex;
}
.panel_container .box_container .box_content {
  width: 100%;
  margin-bottom: 1rem;
}
.panel_container .box_container .box_content .box_title {
  padding: 0.75rem;
  text-align: center;
  background-color: #f2f2f3;
  margin-bottom: 1rem;
  font-weight: 700;
}
.panel_container .box_container .box_content .box_text_name {
  text-align: center;
  font-weight: 700;
}
.panel_container .box_container .box_content .box_text {
  min-height: 80px;
}
.panel_container .box_container .box_content .box_text label {
  border-radius: 1.4rem;
  padding: 0.5rem 0.75rem;
  border: 1px solid #a8a8a9;
  color: #2a2a2a;
  font-weight: 500;
  font-size: 1rem;
}
.panel_container .box_container .box_content .box_text p {
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 14px;
}

#edit_data .modal_box_content {
  width: 100%;
  margin-bottom: 1rem;
}

.modal-backdrop {
  opacity: 0.8;
}

.panel-heading {
  background-color: #f2f2f3;
}

.panel-gray {
  border-color: #f2f2f3;
}

@media screen and (min-width: 765px) {
  .panel_container {
    display: flex;
    justify-content: space-between;
  }
  .panel_container .tree_container {
    width: 58%;
  }
  .panel_container .box_container {
    width: 40%;
  }
  .panel_container .box_container .box_content {
    width: 100%;
  }
}