#page_reserveInvoice {
    .reserveInvoiceQuery {
        .tci-field {
            .tci-field-label {
                text-align: left;
            }
            &.type {
                .tci-valueBtn {
                    display: flex;
                    width: 100%;
                }
            }
        }
    }
}
@media (min-width: 768px) {
    #page_reserveInvoice {
        .reserveInvoiceQuery {
            display: flex;
            justify-content: end;
            .tci-field {
                width: 50%;
                justify-content: space-between;
                .tci-field-label {
                    width: 60%;
                    text-align: right;
                }

                .tci-field-value {
                    width: 40%;
                }

                &.type {
                    width: 50%;
                    margin-left: 0.5rem;
                    justify-content: space-between;
                    .tci-field-label {
                        width: 25%;
                    }
                    .tci-valueBtn {
                        width: 75%;
                        .tci-field-value{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: 992px) {
    #page_reserveInvoice {
        .reserveInvoiceQuery {
            .tci-field {
                .tci-field-label {
                    width: 60%;
                }

                .tci-field-value {
                    width: 40%;
                }

                &.type {
                    width: 35%;
                    .tci-field-label {
                        width: 25%;
                    }
                    .tci-valueBtn {
                        width: 75%;
                        .tci-field-value{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

//簽核 列印
#page_reserveInvoice_signoff {
    .tableScroll0 {
        overflow-x: auto;

        .tableContent {
            width: 900px;
        }
    }
}
#page_reserveInvoice_print {
    .print_table {
        overflow-x: auto;
        .tableContent {
            width: 900px;
        }
    }
}
@media (min-width: 768px) {
    #page_reserveInvoice_signoff {
        .tableScroll0 {
            .tableContent {
                width: 100%;
            }
        }
    }
    #page_reserveInvoice_print {
        .print_table {
            .tableContent {
                width: 100%;
            }
        }
    }
}
