@media (min-width: 765px) {
  #page_reserveInvoice .reserveInvoiceQuery {
    display: flex;
    justify-content: space-between;
  }
  #page_reserveInvoice .reserveInvoiceQuery .tci-field {
    width: 48%;
    justify-content: space-between;
  }
  #page_reserveInvoice .reserveInvoiceQuery .tci-field .tci-field-label {
    width: 50%;
  }
  #page_reserveInvoice .reserveInvoiceQuery .tci-field .tci-field-value {
    width: 50%;
  }
}
#page_reserveInvoice_signoff .tableScroll0 {
  overflow-x: auto;
}
#page_reserveInvoice_signoff .tableScroll0 .tableContent {
  width: 900px;
}

#page_reserveInvoice_print .print_table {
  overflow-x: auto;
}
#page_reserveInvoice_print .print_table .tableContent {
  width: 900px;
}

@media (min-width: 765px) {
  #page_reserveInvoice_signoff .tableScroll0 .tableContent {
    width: 100%;
  }
  #page_reserveInvoice_print .print_table .tableContent {
    width: 100%;
  }
}