@media (min-width: 768px) {
  #page_reserveInvoice .reserveInvoiceQuery {
    display: flex;
    justify-content: space-between;
  }
  #page_reserveInvoice .reserveInvoiceQuery .tci-field {
    width: 58%;
    justify-content: space-between;
  }
  #page_reserveInvoice .reserveInvoiceQuery .tci-field .tci-field-label {
    width: 55%;
  }
  #page_reserveInvoice .reserveInvoiceQuery .tci-field .tci-field-value {
    width: 45%;
  }
  #page_reserveInvoice .reserveInvoiceQuery .tci-field.type {
    width: 40%;
    margin-left: 0.5rem;
    justify-content: space-between;
  }
  #page_reserveInvoice .reserveInvoiceQuery .tci-field.type .tci-field-label {
    width: 30%;
  }
  #page_reserveInvoice .reserveInvoiceQuery .tci-field.type .tci-field-value {
    width: 70%;
  }
}
#page_reserveInvoice_signoff .tableScroll0 {
  overflow-x: auto;
}
#page_reserveInvoice_signoff .tableScroll0 .tableContent {
  width: 900px;
}

#page_reserveInvoice_print .print_table {
  overflow-x: auto;
}
#page_reserveInvoice_print .print_table .tableContent {
  width: 900px;
}

@media (min-width: 768px) {
  #page_reserveInvoice_signoff .tableScroll0 .tableContent {
    width: 100%;
  }
  #page_reserveInvoice_print .print_table .tableContent {
    width: 100%;
  }
}