#page_reserveInvoice {
    .reserveInvoiceQuery {
        .tci-field {}
    }
}

@media (min-width:765px) {
    #page_reserveInvoice {
        .reserveInvoiceQuery {
            display: flex;
            justify-content: space-between;
            .tci-field {
                width: 48%;
                justify-content: space-between;

                .tci-field-label {
                    width: 50%;
                }

                .tci-field-value {
                    width:50%;
                }
            }
        }
    }
}


//簽核 列印
#page_reserveInvoice_signoff {
    .tableScroll0 {
        overflow-x: auto;

        .tableContent {
            width: 900px;
        }
    }
}
#page_reserveInvoice_print{
    .print_table{
        overflow-x: auto;
        .tableContent{
            width: 900px;
        }
    }
}
@media (min-width:765px) {
    #page_reserveInvoice_signoff {
        .tableScroll0 {
            .tableContent {
                width: 100%;
            }
        }
    }
    #page_reserveInvoice_print{
        .print_table{
            .tableContent{
                width: 100%;

            }
        }
    }
}