#page_reserveInvoice .reserveInvoiceQuery .tci-field .tci-field-label {
  text-align: left;
}
#page_reserveInvoice .reserveInvoiceQuery .tci-field.type .tci-valueBtn {
  display: flex;
  width: 100%;
}

@media (min-width: 768px) {
  #page_reserveInvoice .reserveInvoiceQuery {
    display: flex;
    justify-content: end;
  }
  #page_reserveInvoice .reserveInvoiceQuery .tci-field {
    width: 50%;
    justify-content: space-between;
  }
  #page_reserveInvoice .reserveInvoiceQuery .tci-field .tci-field-label {
    width: 60%;
    text-align: right;
  }
  #page_reserveInvoice .reserveInvoiceQuery .tci-field .tci-field-value {
    width: 40%;
  }
  #page_reserveInvoice .reserveInvoiceQuery .tci-field.type {
    width: 50%;
    margin-left: 0.5rem;
    justify-content: space-between;
  }
  #page_reserveInvoice .reserveInvoiceQuery .tci-field.type .tci-field-label {
    width: 25%;
  }
  #page_reserveInvoice .reserveInvoiceQuery .tci-field.type .tci-valueBtn {
    width: 75%;
  }
  #page_reserveInvoice .reserveInvoiceQuery .tci-field.type .tci-valueBtn .tci-field-value {
    width: 100%;
  }
}
@media (min-width: 992px) {
  #page_reserveInvoice .reserveInvoiceQuery .tci-field .tci-field-label {
    width: 60%;
  }
  #page_reserveInvoice .reserveInvoiceQuery .tci-field .tci-field-value {
    width: 40%;
  }
  #page_reserveInvoice .reserveInvoiceQuery .tci-field.type {
    width: 35%;
  }
  #page_reserveInvoice .reserveInvoiceQuery .tci-field.type .tci-field-label {
    width: 25%;
  }
  #page_reserveInvoice .reserveInvoiceQuery .tci-field.type .tci-valueBtn {
    width: 75%;
  }
  #page_reserveInvoice .reserveInvoiceQuery .tci-field.type .tci-valueBtn .tci-field-value {
    width: 100%;
  }
}
#page_reserveInvoice_signoff .tableScroll0 {
  overflow-x: auto;
}
#page_reserveInvoice_signoff .tableScroll0 .tableContent {
  width: 900px;
}

#page_reserveInvoice_print .print_table {
  overflow-x: auto;
}
#page_reserveInvoice_print .print_table .tableContent {
  width: 900px;
}

@media (min-width: 768px) {
  #page_reserveInvoice_signoff .tableScroll0 .tableContent {
    width: 100%;
  }
  #page_reserveInvoice_print .print_table .tableContent {
    width: 100%;
  }
}