#page_workOrder .workOrderQuery .tci-field {
  flex-wrap: wrap;
  justify-content: space-between;
}
#page_workOrder .workOrderQuery .tci-field .tci-field-label {
  text-align: left;
}
#page_workOrder .workOrderQuery .tci-field .tci-valueBtn {
  display: flex;
  width: 100%;
}

@media (min-width: 768px) {
  #page_workOrder .workOrderQuery .tci-field {
    flex-wrap: nowrap;
  }
  #page_workOrder .workOrderQuery .tci-field .tci-field-label {
    width: 40%;
    text-align: right;
  }
  #page_workOrder .workOrderQuery .tci-field .tci-valueBtn {
    display: flex;
    width: 55%;
    justify-content: end;
  }
  #page_workOrder .workOrderQuery .tci-field .tci-field-value {
    width: 80%;
  }
}
#page_workOrder_signoff .tableScroll {
  overflow-x: auto;
}
#page_workOrder_signoff .tableScroll .tableContent {
  width: 768px;
}

#page_workOrder_print .print_table {
  overflow-x: auto;
}
#page_workOrder_print .print_table .tableContent {
  width: 768px;
}

@media (min-width: 768px) {
  #page_workOrder_signoff .tableScroll .tableContent {
    width: 100%;
  }
  #page_workOrder_print .print_table .tableContent {
    width: 100%;
  }
}