#page_workOrder .tci-valueBtn {
  display: flex;
  width: 100%;
}

@media (min-width: 765px) {
  #page_workOrder .tci-input-group-prepend {
    width: 30%;
  }
  #page_workOrder .tci-valueBtn {
    width: 70%;
  }
}
#page_workOrder_signoff .tableScroll {
  overflow-x: auto;
}
#page_workOrder_signoff .tableScroll .tableContent {
  width: 765px;
}

#page_workOrder_print .print_table {
  overflow-x: auto;
}
#page_workOrder_print .print_table .tableContent {
  width: 765px;
}

@media (min-width: 765px) {
  #page_workOrder_signoff .tableScroll .tableContent {
    width: 100%;
  }
  #page_workOrder_print .print_table .tableContent {
    width: 100%;
  }
}