<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="../../scss/tci-all.css">
    <title>工單重啟申請單</title>
</head>

<body>
    <div class="container-fluid" id="page_workOrder">
        <div class="pageHeader">
            <span class="pageHeaderTitle"><b>工單重啟申請單</b></span>
        </div>
        <section class="workOrderQuery">
            <div class="tci-field">
                <div class="tci-field-label">
                    <span class="tci-field-text">欲重啟之工單號碼:</span>
                </div>
                <div class="tci-valueBtn">
                    <input type="text" class="tci-field-value" />
                    <button class="tci-btn bg_darkblue tci-ml-2">查詢</button>
                </div>
            </div>
        </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>