#page_loyaltyPoint {
    .loyaltyPointAdd {
        .loyaltyPointAddContent {
            .tci-field{
                flex-wrap: wrap;
                .tci-field-label{
                    width: 100%;
                }
                .tci-field-value {
                    width:100%;
                    &.gray {
                        background-color: var(--color-whitesmoke);
                    }
                }
                .table_content{
                    width:100%;
                    .tci-table{
                        tbody{
                            overflow-y: auto;/*設定卷軸 auto 是有超過我的高度的時候才會出現卷軸*/
                            height: 100px;/*自己設定*/
                            display: block;
                        }
                        tr {
                            width: 100%;
                            display: inline-table;
                        }
                    }
                    th{
                        text-align: center;
                    }
                }
            }
          
        }
    }
}

@media (min-width: 768px) {
    #page_loyaltyPoint {
        .loyaltyPointAdd {
            .loyaltyPointAddContent {
                .tci-field{
                    .tci-field-label{
                        width: 25%;
                    }
                    .tci-field-value {
                        width:75%;
                        &.gray {
                            background-color: var(--color-whitesmoke);
                        }
                    }
                    .table_content{
                        width:75%;
                    }
                }
              
            }
        }
    }
}
#page_loyaltyPoint_signoff{
    .tableScroll{
        overflow-x: auto;
        margin-bottom: 1.5rem;
        .tableContent{
            width: 900px;
            .tableContentAuto{
                overflow-y: auto;
                height: 350px;
            }
        }
    }
}

@media (min-width: 768px) {
    #page_loyaltyPoint_signoff{
        .tableScroll{
            .tableContent{
                width: 100%;
            }
        }
    }
}