<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="../../scss/tci-all.css" />
    <link rel="stylesheet" href="./style.css" />
    <title>忠誠點數異動單簽核</title>
</head>

<body>
    <div class="container-fluid" id="page_loyaltyPoint_signoff">
        <div class="pageHeader">
            <span class="pageHeaderTitle"><b>忠誠點數異動單-簽核</b></span>
        </div>

        <!-- 單據明細 -->
        <section class="darkBorderCard detailsBox tci-mb-3">
            <div class="darkBorderCardTitle">
                <span>單據明細</span>
                <span class="tci-pl-0">
                    <span class=""><i class="fa-solid fa-chevron-up"></i></span>
                    <!-- <span class=""><i class="fa-solid fa-chevron-down"></i></span> -->
                </span>
            </div>
            <div class="detailsBoxContent darkBorderCardContent">
                <div class="detailsBox_company tci-mt-1 tci-mb-2" style="text-align: right">
                    <span class="detailsBox_companytext" style="
                color: #fff;
                padding: 0 6px;
                background-color: #83a2b4;
                border-radius: var(--borderRadius);
                font-size: 14px;
              ">百岳特國際貿易(上海)</span>
                </div>
                <div class="tableScroll">
                    <div class="tableContent">
                        <div style="
                  text-align: center;
                  font-size: var(--font-size-xl);
                  font-weight: bold;
                  margin-bottom: 1rem;
                ">
                            <span>大江生醫股份有限公司 忠誠點數異動單</span>
                        </div>
                        <table class="tci-table tci-table-bordered">
                            <tbody>
                                <tr>
                                    <th style="background-color: var(--color-light-gray)">客戶類別</th>
                                    <td>客戶</td>
                                    <th style="background-color: var(--color-light-gray)">CRM ID/名稱</th>
                                    <td>74 - 真珠美学集团</td>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray)">服務項目</th>
                                    <td colspan="3">
                                        <table class="tci-table tci-table-bordered">
                                            <thead
                                                style="background-color: var(--color-light-gray);text-align: center;">
                                                <tr>
                                                    <th>服務項目</th>
                                                    <th>兌換點數</th>
                                                    <th>項目負責人</th>
                                                    <th>部門名稱</th>
                                                </tr>
                                            </thead>
                                            <tbody style="text-align: center;">
                                                <tr>
                                                    <td>教育訓練指定講師 (一般件14天前申請)</td>
                                                    <td>500</td>
                                                    <td>RENEE.CHEN</td>
                                                    <td>產品設計部</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray)">
                                        當前點數餘額
                                    </th>
                                    <td>101366</td>
                                    <th style="background-color: var(--color-light-gray);width:15%">
                                        異動點數
                                    </th>
                                    <td>500</td>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray)">
                                        異動後點數餘額
                                    </th>
                                    <td colspan="3">100866</td>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray)">
                                        備註
                                    </th>
                                    <td colspan="3">石榴抗糖饮直播培训</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tableScroll">
                    <div class="tableContent">
                        <div style="
                  text-align: center;
                  font-size: var(--font-size-xl);
                  font-weight: bold;
                  margin-bottom: 1rem;
                ">
                            <span>大江生醫股份有限公司 歷史異動明細</span>
                        </div>
                        <div style="display: flex;justify-content:space-between;">
                            <div class="tci-field" style="flex-wrap: nowrap;">
                                <div class="tci-field-label">
                                    <span class="tci-field-text text-left" style="margin-top: 2px;">顯示:</span>
                                </div>
                                <div style="display: flex;">
                                    <select class="tci-form-control" style="width: 90px;">
                                        <option selected>全部</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                    <span class="tci-field-text" style="margin: auto 5px;">筆</span>
                                    <button class="tci-btn bg_darkgreen">Excel</button>
                                </div>
                            </div>
                            <div class="tci-field" style="flex-wrap: nowrap;">
                                <div class="tci-field-label">
                                    <span class="tci-field-text text-right">搜尋</span>
                                </div>
                                <input type="text" class="tci-field-value" />
                            </div>
                        </div>
                        <div class="tableContentAuto">
                            <table class="tci-table tci-table-bordered">
                                <thead style="text-align: center;background-color: var(--color-light-gray);">
                                    <tr>
                                        <th>集團ID</th>
                                        <th>集團名稱</th>
                                        <th>客戶ID</th>
                                        <th>客戶名稱</th>
                                        <th>點數-餘額</th>
                                        <th>點數-異動</th>
                                        <th>業務/異動人員</th>
                                        <th>最後發單日/異動時間</th>
                                        <th>異動類別</th>
                                        <th>異動單據</th>
                                        <th>備註</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>74</td>
                                        <td>真珠美学集团</td>
                                        <td>2222</td>
                                        <td>上海梵蓉网络科技有限公司</td>
                                        <td>101599</td>
                                        <td>333</td>
                                        <td>薛婷婷(MICHELLE.XUE)</td>
                                        <td>2022/08/09 00:00:00</td>
                                        <td>SAP order</td>
                                        <td>2100014160</td>
                                        <td>石榴抗糖饮直播培训</td>
                                    </tr>
                                    <tr>
                                        <td>74</td>
                                        <td>真珠美学集团</td>
                                        <td>2222</td>
                                        <td>上海梵蓉网络科技有限公司</td>
                                        <td>101599</td>
                                        <td>333</td>
                                        <td>薛婷婷(MICHELLE.XUE)</td>
                                        <td>2022/08/09 00:00:00</td>
                                        <td>SAP order</td>
                                        <td>2100014160</td>
                                        <td>石榴抗糖饮直播培训</td>
                                    </tr>
                                    <tr>
                                        <td>74</td>
                                        <td>真珠美学集团</td>
                                        <td>2222</td>
                                        <td>上海梵蓉网络科技有限公司</td>
                                        <td>101599</td>
                                        <td>333</td>
                                        <td>薛婷婷(MICHELLE.XUE)</td>
                                        <td>2022/08/09 00:00:00</td>
                                        <td>SAP order</td>
                                        <td>2100014160</td>
                                        <td>石榴抗糖饮直播培训</td>
                                    </tr>
                                    <tr>
                                        <td>74</td>
                                        <td>真珠美学集团</td>
                                        <td>2222</td>
                                        <td>上海梵蓉网络科技有限公司</td>
                                        <td>101599</td>
                                        <td>333</td>
                                        <td>薛婷婷(MICHELLE.XUE)</td>
                                        <td>2022/08/09 00:00:00</td>
                                        <td>SAP order</td>
                                        <td>2100014160</td>
                                        <td>石榴抗糖饮直播培训</td>
                                    </tr>
                                    <tr>
                                        <td>74</td>
                                        <td>真珠美学集团</td>
                                        <td>2222</td>
                                        <td>上海梵蓉网络科技有限公司</td>
                                        <td>101599</td>
                                        <td>333</td>
                                        <td>薛婷婷(MICHELLE.XUE)</td>
                                        <td>2022/08/09 00:00:00</td>
                                        <td>SAP order</td>
                                        <td>2100014160</td>
                                        <td>石榴抗糖饮直播培训</td>
                                    </tr>
                                    <tr>
                                        <td>74</td>
                                        <td>真珠美学集团</td>
                                        <td>2222</td>
                                        <td>上海梵蓉网络科技有限公司</td>
                                        <td>101599</td>
                                        <td>333</td>
                                        <td>薛婷婷(MICHELLE.XUE)</td>
                                        <td>2022/08/09 00:00:00</td>
                                        <td>SAP order</td>
                                        <td>2100014160</td>
                                        <td>石榴抗糖饮直播培训</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div style="display: flex;justify-content:space-between;">
                            <div>
                                <span>共52筆</span>
                            </div>
                            <div class="pagination p1">
                                <ul>
                                    <a href="#">
                                        <li>上一頁</li>
                                    </a>
                                    <a href="#">
                                        <li>1</li>
                                    </a>
                                    <a href="#">
                                        <li>2</li>
                                    </a>
                                    <a href="#">
                                        <li>3</li>
                                    </a>
                                    <a href="#">
                                        <li>4</li>
                                    </a>
                                    <a class="is-active" href="#">
                                        <li>5</li>
                                    </a>
                                    <a href="#">
                                        <li>下一頁</li>
                                    </a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- 簽核流程 start -->
        <section class="darkBorderCard tci-mb-3">
            <div class="darkBorderCardTitle">
                <span>簽核流程</span>
                <span class="tci-pl-0">
                    <span class=""><i class="fa-solid fa-chevron-up"></i></span>
                    <!-- <span class=""><i class="fa-solid fa-chevron-down"></i></span> -->
                </span>
            </div>
            <div class="darkBorderCardContent print_process_circuit">
                <div class="tci-card tci-mt-2 card-green">
                    <div class="tci-card-header card-header-green">
                        <i class="fa-solid fa-user-tie"></i> 總經理主管
                    </div>
                    <div class="tci-card-body">
                        <p class="tci-card-title">林詠翔<br />VINCENT.LIN</p>
                        <div>
                            <span class="tci-card-text card-text-green"><i class="fa-solid fa-clock"></i>&nbsp;
                                免簽核</span>
                        </div>
                    </div>
                    <div class="tci-card-footer"></div>
                </div>
                <!-- 手機以上 -->
                <span style="text-align: center; margin: auto 1rem">
                    <i class="fa-solid fa-left-long fa-2x"></i>
                </span>
                <!-- 手機 向上 Icon -->
                <!-- <span style="text-align:center;">
                        <i class="fa-solid fa-up-long fa-2x" style="width: 100%;"></i>
                    </span> -->
                <div class="tci-card tci-mt-2 card-blue">
                    <div class="tci-card-header card-header-blue">
                        <i class="fa-solid fa-user-tie"></i> 戰略數據中心主管
                    </div>
                    <div class="tci-card-body">
                        <p class="tci-card-title">王浩駿<br />JOHNNY.WANG</p>
                        <div>
                            <span class="tci-card-text card-text-blue"><i class="fa-solid fa-clock"></i>&nbsp;
                                未簽核</span>
                        </div>
                    </div>
                    <div class="tci-card-footer"></div>
                </div>

                <!-- 手機以上 -->
                <span style="text-align: center; margin: auto 1rem">
                    <i class="fa-solid fa-left-long fa-2x"></i>
                </span>
                <!-- 手機 向上 Icon -->
                <!-- <span style="text-align:center;">
                        <i class="fa-solid fa-up-long fa-2x" style="width: 100%;"></i>
                    </span> -->
                <div class="tci-card tci-mt-2 card-blue">
                    <div class="tci-card-header card-header-blue">
                        <i class="fa-solid fa-user-tie"></i> 軟體整合開發部主管
                    </div>
                    <div class="tci-card-body">
                        <p class="tci-card-title">吳春隆<br />REX.WU</p>
                        <div>
                            <span class="tci-card-text card-text-blue"><i class="fa-solid fa-clock"></i>&nbsp; 同意</span>
                        </div>
                    </div>
                    <div class="tci-card-footer">2022/07/21 12:31:32</div>
                </div>
                <!-- 手機以上 -->
                <span style="text-align: center; margin: auto 1rem">
                    <i class="fa-solid fa-left-long fa-2x"></i>
                </span>
                <!-- 手機 向上 Icon -->
                <!-- <span style="text-align:center;">
                        <i class="fa-solid fa-up-long fa-2x" style="width: 100%;"></i>
                    </span> -->
                <div class="tci-card tci-mt-2 card-blue">
                    <div class="tci-card-header card-header-blue">
                        <i class="fa-solid fa-user-tie"></i> 軟體研發組主管
                    </div>
                    <div class="tci-card-body">
                        <p class="tci-card-title">吳春隆<br />REX.WU</p>
                        <div>
                            <span class="tci-card-text card-text-blue"><i class="fa-solid fa-check"></i>&nbsp; 同意</span>
                        </div>
                    </div>
                    <div class="tci-card-footer">2022/07/21 12:31:32</div>
                </div>
                <!-- 手機以上 -->
                <span style="text-align: center; margin: auto 1rem">
                    <i class="fa-solid fa-left-long fa-2x"></i>
                </span>
                <!-- 手機 向上 Icon -->
                <!-- <span style="text-align:center;">
                        <i class="fa-solid fa-up-long fa-2x" style="width: 100%;"></i>
                    </span> -->
                <div class="tci-card tci-mt-2 card-blue">
                    <div class="tci-card-header card-header-blue">
                        <i class="fa-solid fa-user"></i> 經辦人
                    </div>
                    <div class="tci-card-body">
                        <p class="tci-card-title">曾莞婷<br />HEDY.TSENG</p>
                        <div>
                            <span class="tci-card-text card-text-blue"><i class="fa-solid fa-check"></i>&nbsp; 送出</span>
                        </div>
                    </div>
                    <div class="tci-card-footer">2022/07/21 12:31:32</div>
                </div>
            </div>
        </section>
        <!-- 簽核流程 end -->

        <!-- 單據附件 start -->
        <section class="darkBorderCard tci-mb-3">
            <div class="darkBorderCardTitle">
                <span>單據附件</span>
                <!-- 展開縮放，icon 切換 -->
                <span class="tci-pl-0">
                    <span class=""><i class="fa-solid fa-chevron-up"></i></span>
                    <!-- <span class=""><i class="fa-solid fa-chevron-down"></i></span> -->
                </span>
            </div>
            <div class="darkBorderCardContent">
                <div style="text-align: center; margin: 1rem 0">
                    <span style="font-weight: bold">沒有附件</span>
                </div>
            </div>
        </section>
        <!-- 單據附件 end -->

        <!-- 簽核記錄 start -->
        <section class="darkBorderCard approvalBox tci-mb-3">
            <div class="darkBorderCardTitle">
                <span>簽核記錄</span>
                <!-- 展開縮放，icon 切換 -->
                <span class="tci-pl-0">
                    <span class=""><i class="fa-solid fa-chevron-up"></i></span>
                    <!-- <span class=""><i class="fa-solid fa-chevron-down"></i></span> -->
                </span>
            </div>
            <ul class="darkBorderCardContent" style="padding-left: 20px; margin-top: 0">
                <li style="color: var(--color-rosybrown); font-size: 14px">
                    2022/7/21 上午 11:35:21【經辦人-HEDY.TSENG(曾莞婷)工程師】
                    <span style="font-size: 12px; color: #949495; font-weight: bold">上傳附件：新增1個附件</span>
                </li>
                <li style="color: var(--color-rosybrown); font-size: 14px">
                    2022/7/21 上午 11:35:21【經辦人-HEDY.TSENG(曾莞婷)工程師】
                    <span style="
                font-size: 12px;
                color: var(--color-dark-green);
                font-weight: bold;
              ">已簽核：送出單據</span>
                </li>
                <li style="color: var(--color-sienna); font-size: 14px">
                    等待【軟體整合開發部主管-REX.WU(吳春隆)部門主管】簽核
                </li>
            </ul>
        </section>
        <!-- 簽核記錄 end -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>