#page_inventoryTransfer {

    .tci-table th,
    .tci-table td {
        padding: .5rem;
    }

    .tableScroll {
        overflow-x: auto;

        .tci-table {
            width: 900px;
        }
    }
}

@media (min-width:765px) {
    #page_inventoryTransfer {
        .tableScroll {
            overflow-x: auto;

            .tci-table {
                width: 100%;
            }
        }

        .inventoryTransferQuery {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .tci-bs-input-group {
                width: 33%;
            }
        }

        .inventoryTransferContent {
            .query {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                .tci-bs-input-group {
                    width: 50%;

                    &.w100 {
                        width: 100%;
                    }
                }
            }
        }
    }
}

// 簽核&列印
#page_inventoryTransfer_signoff {
    .tableScroll0 {
        overflow-x: auto;

        table {
            width: 900px;
        }
    }
}
#page_inventoryTransfer_print{
    .print_table{
        overflow-x: auto;
        .tableContent{
            width: 900px;
        }
    }
}
@media (min-width:765px) {
    #page_inventoryTransfer_signoff {
        .tableScroll0 {
            table {
                width: 100%;
            }
        }
    }
    #page_inventoryTransfer_print{
        .print_table{
            .tableContent{
                width: 100%;
            }
        }
    }
}
