#page_advancedPayment .advancedPaymentTable .pointData {
  display: flex;
  margin-bottom: 1rem;
  justify-content: end;
}
#page_advancedPayment .advancedPaymentTable .pointData .tci-input-group-text {
  font-size: 14px;
}
#page_advancedPayment .advancedPaymentTable .pointData .tci-form-control {
  font-size: 14px;
  margin: 0 1rem;
  padding: 0.2rem;
}
#page_advancedPayment .advancedPaymentTable .pointData .point {
  display: flex;
  padding: 0.2rem;
  background-color: var(--color-light-gray);
  border-radius: 0.25rem;
}
#page_advancedPayment .advancedPaymentTable .tci-table td {
  text-align: center;
}
#page_advancedPayment .advancedPaymentTable .tci-table th {
  text-align: center;
  background-color: var(--color-light-gray);
}
#page_advancedPayment .advancedPaymentOrder .orderBox {
  margin: 1rem 0;
}
#page_advancedPayment .advancedPaymentOrder .orderTitle {
  font-weight: bold;
  background-color: var(--color-dimgray);
  color: var(--color-snow);
  padding: 0.3rem;
  border-radius: var(--borderRadius);
}
#page_advancedPayment .advancedPayment .payment {
  display: flex;
}

@media (min-width: 768px) {
  #page_advancedPayment .advancedPaymentData .advancedPaymentData_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #page_advancedPayment .advancedPaymentData .advancedPaymentData_content .tci-field {
    width: 48%;
  }
  #page_advancedPayment .advancedPaymentData .advancedPaymentData_content .tci-field .tci-field-label {
    width: 25%;
  }
  #page_advancedPayment .advancedPaymentData .advancedPaymentData_content .tci-field .tci-field-value {
    width: 75%;
  }
  #page_advancedPayment .advancedPaymentOrder .orderContent {
    display: flex;
  }
  #page_advancedPayment .advancedPaymentOrder .orderContent .order {
    display: flex;
  }
  #page_advancedPayment .advancedPaymentOrder .orderContent .order .tci-input-group-text {
    margin: 0 0.5rem;
  }
  #page_advancedPayment .advancedPayment .paymentContent .block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #page_advancedPayment .advancedPayment .paymentContent .block .tci-field {
    width: 48%;
  }
  #page_advancedPayment .advancedPayment .paymentContent .block .tci-field .tci-field-label {
    width: 20%;
  }
  #page_advancedPayment .advancedPayment .paymentContent .block .tci-field .tci-field-value {
    width: 80%;
  }
  #page_advancedPayment .advancedPayment .paymentContent .block2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #page_advancedPayment .advancedPayment .paymentContent .block2 .tci-field {
    width: 48%;
  }
  #page_advancedPayment .advancedPayment .paymentContent .block2 .tci-field .tci-field-label {
    width: 30%;
  }
  #page_advancedPayment .advancedPayment .paymentContent .block2 .tci-field .tci-field-value {
    width: 70%;
  }
}
@media (min-width: 992px) {
  #page_advancedPayment .advancedPayment .paymentContent .block2 {
    justify-content: flex-start;
  }
  #page_advancedPayment .advancedPayment .paymentContent .block2 .tci-field {
    margin-right: 1rem;
    width: 48%;
  }
  #page_advancedPayment .advancedPayment .paymentContent .block2 .tci-field .tci-field-label {
    width: 25%;
  }
  #page_advancedPayment .advancedPayment .paymentContent .block2 .tci-field .tci-field-value {
    width: 75%;
  }
  #page_advancedPayment .advancedPayment .paymentContent .block {
    justify-content: flex-start;
  }
  #page_advancedPayment .advancedPayment .paymentContent .block .tci-field {
    margin-right: 1rem;
    width: 23%;
  }
  #page_advancedPayment .advancedPayment .paymentContent .block .tci-field .tci-field-label {
    width: 25%;
  }
  #page_advancedPayment .advancedPayment .paymentContent .block .tci-field .tci-field-value {
    width: 75%;
  }
}
#page_advancedPayment_signoff .tableScroll {
  overflow-x: auto;
}
#page_advancedPayment_signoff .tableScroll .tableContent {
  width: 992px;
}

@media (min-width: 992px) {
  #page_advancedPayment_signoff .tableScroll .tableContent {
    width: 100%;
  }
}