#page_advancedPayment {
    .advancedPaymentTable {
        .pointData {
            display: flex;
            margin-bottom: 1rem;
            justify-content: end;

            .tci-input-group-text {
                font-size: 14px;

            }

            .tci-form-control {
                font-size: 14px;
                margin: 0 1rem;
                padding: .2rem;
            }

            .point {
                display: flex;
                padding: 0.2rem;
                background-color: var(--color-light-gray);
                border-radius: 0.25rem;
            }
        }

        .tci-table {
            td {
                text-align: center;
            }

            th {
                text-align: center;
                background-color: var(--color-light-gray);
            }
        }
    }

    .advancedPaymentOrder {
        .orderBox {
            margin: 1rem 0;
        }

        .orderTitle {
            font-weight: bold;
            background-color: var(--color-dimgray);
            color: var(--color-snow);
            padding: .3rem;
            border-radius: var(--borderRadius);
        }
    }

    .advancedPayment {
        .payment {
            display: flex;
        }
    }
}


@media (min-width: 765px) {

    #page_advancedPayment {
        .advancedPaymentData {
            .advancedPaymentData_content {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                .tci-field {
                    width: 48%;

                    .tci-field-label {
                        width: 25%;
                    }

                    .tci-field-value {
                        width: 75%;
                    }
                }
            }
        }

        .advancedPaymentOrder {
            .orderContent {
                display: flex;

                .order {
                    display: flex;

                    .tci-input-group-text {
                        margin: 0 .5rem;
                    }
                }
            }
        }

        .advancedPayment {
            .paymentContent {
                .block {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;

                    .tci-field {
                        width: 48%;

                        .tci-field-label {
                            width: 20%;
                        }

                        .tci-field-value {
                            width: 80%;
                        }
                    }
                }

                .block2 {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;

                    .tci-field {
                        width: 48%;

                        .tci-field-label {
                            width: 30%;
                        }

                        .tci-field-value {
                            width: 70%;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {

    #page_advancedPayment {
        .advancedPayment {
            .paymentContent {
                .block2 {
                    justify-content: flex-start;

                    .tci-field {
                        margin-right: 1rem;
                        width: 48%;

                        .tci-field-label {
                            width: 25%;
                        }

                        .tci-field-value {
                            width: 75%;
                        }
                    }
                }

                .block {
                    justify-content: flex-start;

                    .tci-field {
                        margin-right: 1rem;
                        width: 23%;

                        .tci-field-label {
                            width: 25%;
                        }

                        .tci-field-value {
                            width: 75%;
                        }
                    }
                }
            }
        }
    }
}

#page_advancedPayment_signoff {
    .tableScroll {
        overflow-x: auto;

        .tableContent {
            width: 992px;
        }
    }
}

@media (min-width: 992px) {
    #page_advancedPayment_signoff {
        .tableScroll {
            .tableContent {
                width: 100%;
            }
        }
    }
}