<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="../../scss/tci-all.css">
    <link rel="stylesheet" href="./style.css">
    <title>暫支單</title>
</head>

<body>
    <div class="container-fluid" id="page_advancedPayment">
        <div class="pageHeader">
            <span class="pageHeaderTitle"><b>暫支單</b></span>
        </div>
        <section class="advancedPaymentData">
            <div style="text-align: right;font-size:var(--font-size-xs);">
                <span>日期:<span>2022/8/8</span></span>
            </div>
            <div class="advancedPaymentData_content">
                <div class="tci-field">
                    <div class="tci-field-label">
                        <span class="tci-field-text text-left">部門別:&nbsp;
                            <button class="tci-icon bg_darkkhaki"><i class="fa-solid fa-building"></i></button>
                        </span>
                    </div>
                    <input type="text" class="tci-field-value gray" disabled value="軟體研發組" />
                </div>
                <div class="tci-field">
                    <div class="tci-field-label">
                        <span class="tci-field-text text-left">單據編號:</span>
                    </div>
                    <input type="text" class="tci-field-value gray" style="color: var(--color-dark-blue);" disabled
                        value="訂單完成時自動填寫" />
                </div>
            </div>
        </section>
        <section class="advancedPaymentTable">
            <div class="pointData">
                <div class="point">
                    <span class="tci-input-group-text">幣別：</span>
                    <select class="tci-form-control" style="width: 120px;">
                        <option selected>馬來西亞幣</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="point tci-ml-1">
                    <span class="tci-input-group-text">匯率：</span>
                    <input type="text" class="tci-form-control" style="width: 80px;" />
                </div>

            </div>
            <table class="tci-table tci-table-bordered">
                <thead>
                    <tr>
                        <th style="width: 90px;">項目
                            <select class="tci-form-control">
                                <option selected>10</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </th>
                        <th>摘要/說明</th>
                        <th style="width: 20%;">金額</th>
                        <th style="width: 20px;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td><input type="text" class="tci-form-control" /></td>
                        <td><input type="text" class="tci-form-control" /></td>
                        <td><button class="tci-icon bg_darkred"><i class="fa-solid fa-trash-can"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </section>
        <hr>
        <section class="advancedPaymentOrder">
            <div class="orderBox">
                <span class="orderTitle"><u>請採單明細</u></span>
            </div>
            <div class="orderContent">
                <div class="order short">
                    <span class="tci-input-group-text">請採單號:</span>
                    <input type="text" class="tci-form-control" />
                </div>
                <div class="order">
                    <span class="tci-input-group-text">若無請採單號，請說明暫支原因: </span>
                    <input type="text" class="tci-form-control" />

                </div>
            </div>
        </section>
        <section style="margin-top: 1rem;">
            <table class="tci-table tci-table-bordered">
                <thead>
                    <tr style="text-align: center;background-color:var(--color-light-gray)">
                        <th>請採單</th>
                        <th>採購金額</th>
                        <th>合約</th>
                        <th>暫支單</th>
                        <th>驗收單</th>
                        <th>合計已請款(不含本單)</th>
                        <th>合計待請款(含本單)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="7" style="color: var(--color-light-red);text-align: center;">查無此請採單號</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <hr>
        <section class="advancedPayment formBox_gray">
            <div class="payment formBox_title">
                <span class="tci-input-group-text">付款方式：</span>
                <select class="tci-form-control" style="width: 120px;">
                    <option selected>臨櫃繳款</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <!-- 改變 check ,cash... -->
            <div class="paymentContent formBox_content">
                <!-- 支票 -->
                <div class="check block">
                    <div class="tci-field">
                        <div class="tci-field-label">
                            <span class="tci-field-text text-left">抬頭:</span>
                        </div>
                        <input type="text" class="tci-field-value" />
                    </div>
                    <div class="tci-field">
                        <div class="tci-field-label">
                            <span class="tci-field-text text-left">到期日:</span>
                        </div>
                        <input type="text" class="tci-field-value" />
                    </div>
                    <div class="tci-field">
                        <div class="tci-field-label">
                            <span class="tci-field-text text-left">回郵:</span>
                        </div>
                        <div class="tci-form-check tci-form-check-inline">
                            <input class="tci-form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                                value="option1" checked>
                            <label class="tci-form-check-label" for="exampleRadios1">
                                有
                            </label>
                        </div>
                        <div class="tci-form-check tci-form-check-inline">
                            <input class="tci-form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                                value="option2">
                            <label class="tci-form-check-label" for="exampleRadios2">
                                無
                            </label>
                        </div>
                    </div>

                </div>
                <!-- 領現 -->
                <div class="cash block2">
                    <div class="tci-field">
                        <div class="tci-field-label">
                            <span class="tci-field-text text-left">領款人:&nbsp;
                                <button class="tci-icon bg_darkblue"><i class="fa-solid fa-circle-user"></i></button>

                            </span>
                        </div>
                        <input type="text" class="tci-field-value" />
                    </div>
                    <div class="tci-field">
                        <div class="tci-field-label">
                            <span class="tci-field-text text-left">簽收人:</span>
                        </div>
                        <input type="text" class="tci-field-value" />
                    </div>
                </div>
                <!-- 公司T/T -->
                <div class="company block">
                    <div class="tci-field">
                        <div class="tci-field-label">
                            <span class="tci-field-text text-left">匯入公司:</span>
                        </div>
                        <input type="text" class="tci-field-value" />
                    </div>
                    <div class="tci-field">
                        <div class="tci-field-label">
                            <span class="tci-field-text text-left">匯入日期:</span>
                        </div>
                        <input type="text" class="tci-field-value" />
                    </div>
                    <div class="tci-field">
                        <div class="tci-field-label">
                            <span class="tci-field-text text-left">帳戶:</span>
                        </div>
                        <input type="text" class="tci-field-value" />
                    </div>
                    <div class="tci-field">
                        <div class="tci-field-label">
                            <span class="tci-field-text text-left">付款條件:</span>
                        </div>
                        <input type="text" class="tci-field-value" />
                    </div>
                </div>

                <!-- 公司卡 -->
                <div class="block">
                    <div class="tci-field">
                        <div class="tci-field-label">
                            <span class="tci-field-text text-left">卡別:</span>
                        </div>
                        <select class="tci-field-value">
                            <option selected>Choose...</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="tci-field">
                        <div class="tci-field-label">
                            <span class="tci-field-text text-left">簽字人:</span>
                        </div>
                        <input type="text" class="tci-field-value" />
                    </div>
                    <div class="tci-field">
                        <div class="tci-field-label">
                            <span class="tci-field-text text-left">簽帳日期:</span>
                        </div>
                        <input type="text" class="tci-field-value" />
                    </div>


                </div>

                <!-- 員工 -->
                <div class="counter block2">
                    <div class="tci-field">
                        <div class="tci-field-label">
                            <span class="tci-field-text text-left">員工:</span>
                        </div>
                        <input type="text" class="tci-field-value" />
                    </div>
                    <div class="tci-field">
                        <div class="tci-field-label">
                            <span class="tci-field-text text-left">帳戶:</span>
                        </div>
                        <input type="text" class="tci-field-value" />
                    </div>
                </div>
                <!-- 臨櫃繳款 -->
                <div class="counter block2">
                    <div class="tci-field">
                        <div class="tci-field-label">
                            <span class="tci-field-text text-left">抬頭:</span>
                        </div>
                        <input type="text" class="tci-field-value" />
                    </div>
                    <div class="tci-field">
                        <div class="tci-field-label">
                            <span class="tci-field-text text-left">到期日:</span>
                        </div>
                        <input type="text" class="tci-field-value" />
                    </div>
                </div>
                <!-- 個人 -->
                <div class="person block">
                    <div class="tci-field">
                        <div class="tci-field-label">
                            <span class="tci-field-text text-left">帳戶名稱:</span>
                        </div>
                        <input type="text" class="tci-field-value" />
                    </div>
                    <div class="tci-field">
                        <div class="tci-field-label">
                            <span class="tci-field-text text-left">匯入日期:</span>
                        </div>
                        <input type="text" class="tci-field-value" />
                    </div>
                    <div class="tci-field">
                        <div class="tci-field-label">
                            <span class="tci-field-text text-left">帳號:</span>
                        </div>
                        <input type="text" class="tci-field-value" />
                    </div>
                </div>
            </div>
        </section>
        <div class="btnGroups">
            <button class="tci-btn bg_lightgray">全部清除</button>
            <button class="tci-btn bg_darkgreen">確認資料，儲存單據</button>
        </div>
        <div class="userCard_info">
            <span class="user_info">
                <u><b>使用者資訊：</b>
                    <span>大江生醫 - 軟體研發組 - 大江戰士TCI Warrior(2) - 2206A0011 - HEDY.TSENG - 曾莞婷</span></u>
            </span>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>