#page_depositForm {
    .tci-valueBtn {
        width: 100%;
    }
}

@media (min-width: 768px) {
    #page_depositForm {
        .query {
            display: flex;
            flex-wrap: wrap;
        }

        .tci-field {
            width: 30%;

            .tci-field-label {
                width: 30%;
            }

            .tci-field-value {
                width: 68%;
            }

            &.long {
                width: 45%;
            }

            .tci-valueBtn {
                width: 70%;
                display: flex;

                .tci-field-value {
                    width: 200px;
                }
            }
        }

        .form {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .left {
                width: 70%;
                display: flex;
                flex-wrap: wrap;

                .input-group {
                    width: 60%;
                    &.type{
                        width: 30%;
                    }
                }
            }
            .input-group {
                width: 25%;
            }
        }
    }
}
@media (min-width: 992px) {
    #page_depositForm {
        .query {
            display: flex;
            flex-wrap: wrap;
        }

        .tci-field {
            width: 20%;

            &.long {
                width: 45%;
                .tci-field-label {
                    width: 15%;
                }
            }

            .tci-valueBtn {
                width: 70%;
                display: flex;

                .tci-field-value {
                    width: 200px;
                }
            }
        }
        .form {
            .left {
                .input-group {
                    width: 45%;
                    &.type{
                        width: 25%;
                    }
                }
            }
        }
    }
}
#page_acceptanceForm_print{
    table{
        td,th{
            padding: 3px;
        }
    }
}
#page_acceptanceForm_signoff{
    table{
        td,th{
            padding: 3px;
        }
    }
}