#page_remittance {
    .remittanceTable {
        &.tableScroll {
            overflow-x: auto;

            .tci-table {
                width: 900px;

                th {
                    background-color: var(--color-light-gray);
                }
            }
        }
    }

    .remittanceNumber {
        .tableScroll {
            overflow-x: auto;

            .tci-table {
                width: 900px;
                text-align: center;
                th {
                    background-color: var(--color-light-gray);
                }
            }
        }
    }

}

#page_remittance_preview {
    .tableScroll {
        overflow-x: auto;

        .tci-table {
            width: 900px;
            th {
                background-color: var(--color-light-gray);
            }
        }
    }

    .remittance_previewNumber {
        .tableScroll {
            overflow-x: auto;

            .tci-table {
                width: 900px;
                text-align: center;
                th {
                    background-color: var(--color-light-gray);
                    text-align: center;
                }
            }
        }
    }

    .fileBox {
        .illustrate {
            .fileIllustrate {
                display: flex;

                .tci-input-group {
                    margin-bottom: .5rem;
                }
            }
        }
    }
}

@media (min-width: 765px) {
    #page_remittance {
        .remittanceTable {
            &.tableScroll {
                .tci-table {
                    width: 100%;

                }
            }
        }

        .remittanceNumber {
            .tableScroll {
                overflow-x: auto;

                .tci-table {
                    width: 100%;
                  
                }
            }
        }
    }

    #page_remittance_preview {
        .tableScroll {
            overflow-x: auto;

            .tci-table {
                width: 100%;

            }
        }
        .remittance_previewNumber {
            .tableScroll {
                overflow-x: auto;

                .tci-table {
                    width: 100%;
                  
                }
            }
        }
    }
}
#page_remittance_signoff{
    .tableScroll{
        overflow-x: auto;
        .tableContent0{
            width: 765px;
        }
        .tableContent{
            width: 1200px;
        }
    }
}
#page_remittance_print{
    .tableScroll{
        overflow-x: auto;
        .tableAuto{
            width: 1200px;
        }
    }
}
@media (min-width: 765px) {
    #page_remittance_signoff{
        .tableScroll{
            .tableContent0{
                width: 100%;
            }
        }
    }
}
@media (min-width: 992px) {
    #page_remittance_signoff{
        .tableScroll{
            .tableContent{
                width: 100%;
            }
        }
    }
    #page_remittance_print{
        .tableScroll{
            .tableAuto{
                width: 100%;
            }
        }
    }
}
