<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="../../scss/tci-all.css">
    <link rel="stylesheet" href="./style.css">
    <title>收款單簽核</title>
</head>

<body>
    <div class="container-fluid" id="page_remittance_signoff">
        <div class="pageHeader">
            <span class="pageHeaderTitle"><b>收款單-簽核</b></span>
        </div>

        <!-- 單據明細 -->
        <section class="darkBorderCard detailsBox tci-mb-3">
            <div class="darkBorderCardTitle">
                <span>單據明細</span>
                <span class="tci-pl-0 ">
                    <span class=""><i class="fa-solid fa-chevron-up"></i></span>
                    <!-- <span class=""><i class="fa-solid fa-chevron-down"></i></span> -->
                </span>
            </div>
            <div class="detailsBoxContent darkBorderCardContent">
                <div class="detailsBox_company tci-mt-1 tci-mb-2" style="text-align: right;">
                    <span class="detailsBox_companytext"
                        style=" color: #fff;padding: 0 6px;background-color: #83a2b4;border-radius: var(--borderRadius);font-size: 14px;">百岳特國際貿易(上海)</span>
                </div>
                <div class="tableScroll">
                    <div class="tableContent0">
                        <div
                            style="text-align: center;font-size:var(--font-size-xl);font-weight: bold;margin-bottom: 1rem;">
                            <span>大江生醫股份有限公司 收款單</span>
                        </div>
                        <table class="tci-table tci-table-bordered">
                            <tbody>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);width: 20%;">單據編號</th>
                                    <td>22323</td>
                                    <th style="background-color: var(--color-light-gray);width: 20%;">部門別</th>
                                    <td>S12進出口船務</td>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);width: 20%;">收款對象編號</th>
                                    <td>22323</td>
                                    <th style="background-color: var(--color-light-gray);width: 20%;">收款對象名稱</th>
                                    <td>S12進出口船務</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tableScroll">
                    <div class="tableContent">
                        <table class="tci-table tci-table-bordered">
                            <thead>
                                <tr style="background-color: var(--color-light-gray);text-align: center;">
                                    <th>NO</th>
                                    <th style="width:7%;">類別</th>
                                    <th>專案號碼</th>
                                    <th>產品名稱/摘要說明</th>
                                    <th>發票日/出口日</th>
                                    <th>發票號碼</th>
                                    <th>幣別/金額</th>
                                    <th>開立AR訂金發票 </th>
                                    <th>備註</th>
                                </tr>
                            </thead>
                            <tbody style="text-align: center;">
                                <tr>
                                    <td>1</td>
                                    <td>預收</td>
                                    <td>122322</td>
                                    <td>保險理賠(因絲芙蘭精華液1板傾倒洩漏,會有細菌感染的風險,無法再做生產使用) </td>
                                    <td>2022/07/28 </td>
                                    <td></td>
                                    <td>NTD 78,036.00</td>
                                    <td>否</td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr style="text-align: right;color:var(--color-light-red)">
                                    <th colspan="6">合計</th>
                                    <th>NTD 78,036.00</th>
                                    <th colspan="2"></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"></script>
</body>

</html>