
.tci-form-control {
    margin-right: 5px;

    &.checkContent {
        .tci-form-check{
            margin: .5rem;
        }
    }
}
@media (min-width: 768px) {
    #page_requisition {
        .requisition_form {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .tci-input-group {
                width: 48%;
            }
        }

        .requisition_formMaterial {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .tci-input-group {
                width: 48%;
            }
        }

        .requisition_formPackage {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .tci-input-group {
                width: 48%;
            }
        }

        .requisition_formCrop {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .tci-input-group {
                width: 48%;
            }
        }

    }
}

#page_requisition_signoff{
    .tableScroll{
        overflow-x: auto;
        .tableContent{
            width: 768px;
        }
    }
}
@media (min-width: 768px) {
    #page_requisition_signoff{
        .tableScroll{
            .tableContent{
                width: 100%;
            }
        }
    }
}