<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="../../scss/tci-all.css">
    <title>尋料申請單</title>
</head>

<body>
    <div class="container-fluid" id="page_requisition">
        <div class="pageHeader" style="position: relative;">
            <span class="pageHeaderTitle"><b>新增尋料單</b></span>
        </div>
       <section class="requisition_formText">
        <div class="requisition_form">
            <div class="tci-input-group tci-mb-2">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text">分類:</span>
                </div>
                <select class="tci-form-control">
                    <option selected>請選擇...</option>
                    <option value="1">原料</option>
                    <option value="2">包材</option>
                    <option value="3">農作物</option>
                </select>
            </div>
            <div class="tci-input-group tci-mb-2">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text">申請部門:</span>
                    <button class="tci-icon bg_darkkhaki" style="margin-bottom: 0.2rem;"><i class="fa-solid fa-building"></i></button>
                </div>
                <input type="text" class="tci-form-control" value="產前安定性組 "/>
            </div>
        </div>
        <!-- 分類：原料 -->
        <div class="requisition_formMaterial">
            <div class="tci-input-group tci-mb-2">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text">類別:</span>
                </div>
                <select class="tci-form-control">
                    <option selected>請選擇...</option>
                    <option value="1">原料</option>
                    <option value="2">包材</option>
                    <option value="3">農作物</option>
                </select>
            </div>
            <div class="tci-input-group tci-mb-2">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text">使用的劑型:</span>
                </div>
                <select class="tci-form-control">
                    <option selected>請選擇...</option>
                    <option value="1">原料</option>
                    <option value="2">包材</option>
                    <option value="3">農作物</option>
                </select>
                <input type="text" class="tci-form-control"value="其他"/>
            </div>
            <div class="tci-input-group tci-mb-2">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text">中文名:</span>
                </div>
                <input type="text" class="tci-form-control" />
            </div>
            <div class="tci-input-group tci-mb-2">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text">英文名:</span>
                </div>
                <input type="text" class="tci-form-control" />
            </div>
            <div class="tci-input-group tci-mb-2">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text">INCIName:</span>
                </div>
                <input type="text" class="tci-form-control" />
            </div>
            <div class="tci-input-group tci-mb-2">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text">CAS No.:</span>
                </div>
                <input type="text" class="tci-form-control" />
            </div>
            <div class="tci-input-group tci-mb-2">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text">原料性狀:</span>
                </div>
                <select class="tci-form-control">
                    <option>請選擇...</option>
                    <option value="1" selected>固態</option>
                    <option value="2">包材</option>
                    <option value="3">農作物</option>
                </select>
                <select class="tci-form-control">
                    <option selected>請選擇...</option>
                    <option value="1">原料</option>
                    <option value="2">包材</option>
                    <option value="3">農作物</option>
                </select>
            </div>
            <div class="tci-input-group tci-mb-2">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text">原料規格:</span>
                </div>
                <select class="tci-form-control">
                    <option selected>請選擇...</option>
                    <option value="1">原料</option>
                    <option value="2">包材</option>
                    <option value="3">農作物</option>
                </select>
                <input type="text" class="tci-form-control" />
            </div>
            <div class="tci-input-group tci-mb-2">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text">效性成分:</span>
                </div>
                <input type="text" class="tci-form-control" />
            </div>
            <div class="tci-input-group tci-mb-2">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text">萃取部份:</span>
                </div>
                <input type="text" class="tci-form-control" />
            </div>
            <div class="tci-input-group tci-mb-2">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text">萃取方式:</span>
                </div>
                <select class="tci-form-control">
                    <option selected>請選擇...</option>
                    <option value="1">原料</option>
                    <option value="2">包材</option>
                    <option value="3">農作物</option>
                </select>
                <input type="text" class="tci-form-control" />
            </div>
            <div class="tci-input-group tci-mb-2">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text">溶解性:</span>
                </div>
                <select class="tci-form-control">
                    <option selected>請選擇...</option>
                    <option value="1">原料</option>
                    <option value="2">包材</option>
                    <option value="3">農作物</option>
                </select>
            </div>
            <div class="tci-input-group tci-mb-2">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text">備註:</span>
                </div>
                <textarea class="tci-form-control"></textarea>
            </div>
            <div class="tci-input-group tci-mb-2">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text">採購:</span>
                </div>
                <select class="tci-form-control">
                    <option selected>請選擇...</option>
                    <option value="1">原料</option>
                    <option value="2">包材</option>
                    <option value="3">農作物</option>
                </select>
            </div>
        </div>
        
        <!-- 分類：包材 -->
        <div class="requisition_formPackage">
            <div class="tci-input-group tci-mb-2">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text">類別:</span>
                </div>
                <select class="tci-form-control">
                    <option selected>請選擇...</option>
                    <option value="1">原料</option>
                    <option value="2">包材</option>
                    <option value="3">農作物</option>
                </select>
                <input type="text" class="tci-form-control" />
            </div>
            <div class="tci-input-group tci-mb-2">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text">中文名:</span>
                </div>
                <input type="text" class="tci-form-control" />
            </div>
            <div class="tci-input-group tci-mb-2">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text">英文名:</span>
                </div>
                <input type="text" class="tci-form-control" />
            </div>
            <div class="tci-input-group tci-mb-2">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text">包材購買區域:</span>
                </div>
                <input type="text" class="tci-form-control" />
            </div>
            <div class="tci-input-group tci-mb-2">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text">原廠商限定:</span>
                </div>
                <input type="text" class="tci-form-control" />
            </div>
            <div class="tci-input-group tci-mb-2" style="width: 100%;">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text">需求資料:</span>
                </div>
                <div class="tci-form-control checkContent" >
                    <div class="tci-form-check tci-form-check-inline">
                        <input class="tci-form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="tci-form-check-label" for="inlineCheckbox1">COA</label>
                    </div>
                    <div class="tci-form-check tci-form-check-inline">
                        <input class="tci-form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="tci-form-check-label" for="inlineCheckbox2">規格表</label>
                    </div>
                    <div class="tci-form-check tci-form-check-inline">
                        <input class="tci-form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                        <label class="tci-form-check-label" for="inlineCheckbox3">MSDS</label>
                    </div>
                    <div class="tci-form-check tci-form-check-inline">
                        <input class="tci-form-check-input" type="checkbox" id="inlineCheckbox4" value="option3">
                        <label class="tci-form-check-label" for="inlineCheckbox4">產地證明</label>
                    </div>
                    <div class="tci-form-check tci-form-check-inline">
                        <input class="tci-form-check-input" type="checkbox" id="inlineCheckbox5" value="option3">
                        <label class="tci-form-check-label" for="inlineCheckbox5">進口報單</label>
                    </div>
                    <div class="tci-form-check tci-form-check-inline">
                        <input class="tci-form-check-input" type="checkbox" id="inlineCheckbox6" value="option3">
                        <label class="tci-form-check-label" for="inlineCheckbox6">製造流程</label>
                    </div>
                    <div class="tci-form-check tci-form-check-inline">
                        <input class="tci-form-check-input" type="checkbox" id="inlineCheckbox6" value="option3">
                        <label class="tci-form-check-label" for="inlineCheckbox6">HALAL認證</label>
                    </div>
                    <div class="tci-form-check tci-form-check-inline">
                        <input class="tci-form-check-input" type="checkbox" id="inlineCheckbox6" value="option3">
                        <label class="tci-form-check-label" for="inlineCheckbox6">填寫HALAL認證問卷簡介</label>
                    </div>
                    <div class="tci-form-check tci-form-check-inline">
                        <input class="tci-form-check-input" type="checkbox" id="inlineCheckbox6" value="option3">
                        <label class="tci-form-check-label" for="inlineCheckbox6">簡介DM(行銷資訊)</label>
                    </div>
                    <div class="tci-form-check tci-form-check-inline">
                        <input class="tci-form-check-input" type="checkbox" id="inlineCheckbox6" value="option3">
                        <label class="tci-form-check-label" for="inlineCheckbox6">專利資料</label>
                    </div>
                    <div class="tci-form-check tci-form-check-inline">
                        <input class="tci-form-check-input" type="checkbox" id="inlineCheckbox6" value="option3">
                        <label class="tci-form-check-label" for="inlineCheckbox6">過敏原測試報告</label>
                    </div>
                    <div class="tci-form-check tci-form-check-inline">
                        <input class="tci-form-check-input" type="checkbox" id="inlineCheckbox6" value="option3">
                        <label class="tci-form-check-label" for="inlineCheckbox6">英文版</label>
                    </div>
                    <div class="tci-form-check tci-form-check-inline">
                        <input class="tci-form-check-input" type="checkbox" id="inlineCheckbox6" value="option3">
                        <label class="tci-form-check-label" for="inlineCheckbox6">食品添加物許可證 </label>
                    </div>
                    <div class="tci-form-check tci-form-check-inline">
                        <input class="tci-form-check-input" type="checkbox" id="inlineCheckbox6" value="option3">
                        <label class="tci-form-check-label" for="inlineCheckbox6">其他 </label>
                    </div>
                </div>
            </div>
            <div class="tci-input-group tci-mb-2">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text">預計訂單需求量:</span>
                </div>
                <input type="text" class="tci-form-control" />
            </div>
            <div class="tci-input-group tci-mb-2">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text">樣品需求量:</span>
                </div>
                <input type="text" class="tci-form-control" />
            </div>
            <div class="tci-input-group tci-mb-2">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text">尋料區域:</span>
                </div>
                <select class="tci-form-control">
                    <option selected>請選擇...</option>
                    <option value="1">原料</option>
                    <option value="2">包材</option>
                    <option value="3">農作物</option>
                </select>
                <input type="text" class="tci-form-control" />
            </div>
            <div class="tci-input-group tci-mb-2">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text">要求回覆時間:</span>
                </div>
                <input type="text" class="tci-form-control" />
            </div>
            <div class="tci-input-group tci-mb-2">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text">備註:</span>
                </div>
                <textarea class="tci-form-control"></textarea>
            </div>
            <div class="tci-input-group tci-mb-2">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text">採購:</span>
                </div>
                <select class="tci-form-control">
                    <option selected>請選擇...</option>
                    <option value="1">原料</option>
                    <option value="2">包材</option>
                    <option value="3">農作物</option>
                </select>
            </div>
        </div>

         <!-- 農作物 -->
         <div class="requisition_formCrop">
            <div class="tci-input-group tci-mb-2">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text">名稱:</span>
                </div>
                <input type="text" class="tci-form-control" />
            </div>
            <div class="tci-input-group tci-mb-2">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text">樣品預期需求日:</span>
                </div>
                <input type="text" class="tci-form-control" />
            </div>
            <div class="tci-input-group tci-mb-2">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text">學名:</span>
                </div>
                <input type="text" class="tci-form-control" />
            </div>
            <div class="tci-input-group tci-mb-2">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text">別名:</span>
                </div>
                <input type="text" class="tci-form-control" />
            </div>
            <div class="tci-input-group tci-mb-2">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text">大小:</span>
                </div>
                <div class="tci-form-check tci-form-check-inline">
                    <input class="tci-form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="tci-form-check-label" for="inlineCheckbox1">不限</label>
                </div>
                <input type="text" class="tci-form-control"  value="選取“不限”，輸入框 disable"/>
            </div>
            <div class="tci-input-group tci-mb-2">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text">性狀:</span>
                </div>
                <select class="tci-form-control">
                    <option selected>請選擇...</option>
                    <option value="1">原料</option>
                    <option value="2">包材</option>
                    <option value="3">農作物</option>
                </select>
                <input type="text" class="tci-form-control" value="選擇“其他”打開" disabled
                style="background-color: #ddd;"/>
            </div>
            <div class="tci-input-group tci-mb-2">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text">顏色:</span>
                </div>
                <div class="tci-form-check tci-form-check-inline">
                    <input class="tci-form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="tci-form-check-label" for="inlineCheckbox1">不限</label>
                </div>
                <input type="text" class="tci-form-control" disabled  value="選取“不限”，輸入框 disable"/>
            </div>
            <div class="tci-input-group tci-mb-2">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text">部位:</span>
                </div>
                <div class="tci-form-check tci-form-check-inline">
                    <input class="tci-form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="tci-form-check-label" for="inlineCheckbox1">不限</label>
                </div>
                <input type="text" class="tci-form-control" disabled  value="選取“不限”，輸入框 disable"/>
            </div>
            <div class="tci-input-group tci-mb-2">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text">尋料區域:</span>
                </div>
                <div class="tci-form-check">
                    <input class="tci-form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                    <label class="tci-form-check-label" for="exampleRadios1">
                        台灣
                    </label>
                  </div>
                  <div class="tci-form-check">
                    <input class="tci-form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                    <label class="tci-form-check-label" for="exampleRadios2">
                        中國
                    </label>
                  </div>
                  <div class="tci-form-check">
                    <input class="tci-form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
                    <label class="tci-form-check-label" for="exampleRadios3">
                        不限
                    </label>
                  </div>
            </div>
            <div class="tci-input-group tci-mb-2">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text">品種限定:</span>
                </div>
                <div class="tci-form-check tci-form-check-inline">
                    <input class="tci-form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="tci-form-check-label" for="inlineCheckbox1">不限</label>
                </div>
                <input type="text" class="tci-form-control" disabled  value="選取“不限”，輸入框 disable"/>
            </div>
            <div class="tci-input-group tci-mb-2">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text">產季限制:</span>
                </div>
                <div class="tci-form-check tci-form-check-inline">
                    <input class="tci-form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="tci-form-check-label" for="inlineCheckbox1">不限</label>
                </div>
                <input type="text" class="tci-form-control" disabled  value="選取“不限”，輸入框 disable"/>
            </div>
            <div class="tci-input-group tci-mb-2">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text">樣品需求量:</span>
                </div>
                <input type="text" class="tci-form-control" />
                <select class="tci-form-control">
                    <option selected>請選擇...</option>
                    <option value="1">g</option>
                    <option value="2">kg</option>
                </select>
            </div>
            <div class="tci-input-group tci-mb-2">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text">備註:</span>
                </div>
                <textarea class="tci-form-control"></textarea>
            </div>
            <div class="tci-input-group tci-mb-2">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text">採購:</span>
                </div>
                <select class="tci-form-control">
                    <option selected>請選擇...</option>
                    <option value="1">原料生產研發部-張文輪-OLVER.CHANG</option>
                    <option value="2">包材</option>
                    <option value="3">農作物</option>
                </select>
            </div>
         </div>
       </section>
       <div class="btnGroups">
        <button class="tci-btn bg_darkgreen">儲存單據</button>
       </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script> -->
</body>

</html>


<!-- hedy 選擇“其他”選項，打開後面 input 的輸入框 ，選擇除了“其他”選項，鎖住（disabled） input
新增尋料單，包含三種分類（原料包材農作物），申請部門的跳出視窗未做...
-->