.allDepartmentsQuery {
  height: 40px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 3px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
}
.allDepartmentsQuery .tci-bs-input-group {
  flex-wrap: nowrap;
}
.allDepartmentsQuery .tci-bs-input-group .tci-valueBtn {
  display: flex;
}

.hover, .content .row_display .box.box_7:hover, .content .row_display .box.box_6:hover, .content .row_display .box.box_5:hover, .content .row_display .box.box_4:hover, .content .row_display .box.box_3:hover, .content .row_display .box.box_2:hover, .content .row_display .box.box_1:hover, .content .row_display .box:hover {
  background-color: var(--color-dark-green);
  color: var(--color-snow);
}

.content {
  overflow-x: auto;
  overflow-y: auto;
  text-align: center;
  height: 600px;
  position: relative;
}
.content .row_display {
  display: flex;
  flex-wrap: nowrap;
}
.content .row_display .box {
  width: 170px;
  margin: 5px;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
  border-radius: var(--borderRadius);
  box-shadow: var(--borderShadow);
}
.content .row_display .box.box_1 {
  background-color: var(--color-light-blue);
}
.content .row_display .box.box_2 {
  background-color: var(--color-light-error);
}
.content .row_display .box.box_3 {
  background-color: var(--color-light-warning);
}
.content .row_display .box.box_4 {
  background-color: #FFD1A4;
}
.content .row_display .box.box_5 {
  background-color: #A6A6D2;
}
.content .row_display .box.box_6 {
  background-color: #C07AB8;
}
.content .row_display .box.box_7 {
  background-color: #C2C287;
}
@media (min-width: 768px) {
  .allDepartmentsQuery {
    display: flex;
    flex-wrap: wrap;
  }
  .allDepartmentsQuery .tci-bs-input-group {
    width: 60%;
    margin-right: 1rem;
  }
  .allDepartmentsQuery .tci-bs-input-group.auto {
    width: auto;
  }
  .allDepartmentsQuery .tci-bs-input-group .tci-valueBtn {
    flex-wrap: nowrap;
    width: 100%;
  }
  .allDepartmentsQuery .tci-bs-input-group .tci-valueBtn button {
    width: 180px;
  }
}