#page_goodsReceipt {

    .goodsReceiptQuery {
        .goodsReceiptQueryTitle {
            margin-bottom: 1rem;
            width: 100%;

            span {
                background-color: var(--color-border);
                padding: 5px 10px;
                border-radius: var(--borderRadius);
                font-weight: bold;
            }
        }
    }

    .goodsReceiptContent {
        .tci-input-group {
            .tci-form-control {
                &.gray {
                    background-color: var(--color-whitesmoke);
                }
            }
        }

        .input_part {
            width: 100%;
        }

        .input_classification {
            width: 100%;
        }

        .addTable {
            margin-bottom: .5rem;

            .addTableNo {
                text-align: center;
                font-size: 1.25rem;
                font-weight: bold;
                background-color: var(--color-rosybrown);
                color: var(--color-snow);
                border-radius: var(--borderRadius);
            }
            .addTableContent{
                padding: 5px;
                border: 3px solid var(--color-rosybrown);
                border-radius: var(--borderRadius);
                .tci-form-control.gray{
                    background-color: var(--color-whitesmoke);
                }
            }
        }
    }
    .goodsReceiptOther{
        .total{
            padding: 5px;
            border-radius: var(--borderRadius);
            border: 3px solid var(--color-rosybrown);
            margin-bottom: .5rem;
            display: flex;
            justify-content:space-between;
            margin-bottom: .5rem;
            font-weight: bold;
        }
        .mark{
            margin-bottom: .5rem;
            padding: 5px;
        }
    }
}


@media (min-width:765px) {
    #page_goodsReceipt {
        .goodsReceiptQuery {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .tci-bs-input-group {
                width: 33%;
            }
        }

        .goodsReceiptContent {

            .input_part {
                display: flex;

                .tci-bs-input-group {
                    flex-wrap: inherit;

                    &.input_partnumber {
                        width: 65%;
                    }
                }
            }

            .input_classification {
                display: flex;
                flex-wrap: wrap;

                .tci-bs-input-group {
                    width: 50%;
                }
            }

            .addTable {
                display: flex;

                .addTableNo {
                    font-size: 1.5rem;
                    width: 100px;
                    margin-right: .5rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .addTableContent {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    .tci-input-group {
                        width: 23%;
                        margin-right: 5px;

                        &.w100 {
                            width: 100%;
                        }

                        &.w60 {
                            width: 75%;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width:992px) {
    #page_goodsReceipt {
        .goodsReceiptQuery {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .tci-bs-input-group {
                width: 29%;

                &.no {
                    width: 10%;
                }
            }
        }
    }
}