#page_goodsReceipt {
    .goodsReceiptQuery {
        .goodsReceiptQueryTitle {
            margin-bottom: 1rem;
            width: 100%;

            span {
                background-color: var(--color-border);
                padding: 5px 10px;
                border-radius: var(--borderRadius);
                font-weight: bold;
            }
        }
    }
    .tableScroll {
        overflow-x: auto;
        .tci-table {
            width: 992px;
            .input_part {
                width: 100%;
            }
            .input_partnumber {
                width: 100%;
            }
        }
    }
    .tci-bs-input-group-text {
        padding: 3px 5px;
    }
}

@media (min-width: 768px) {
    #page_goodsReceipt {
        .goodsReceiptQuery {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .tci-bs-input-group {
                width: 33%;
            }
        }
    }
}

@media (min-width: 992px) {
    #page_goodsReceipt {
        .goodsReceiptQuery {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .tci-bs-input-group {
                width: 29%;

                &.no {
                    width: 10%;
                }
            }
        }
        .tableScroll {
            .tci-table {
                width: 100%;
            }
        }
    }
}

// 簽核&列印
#page_goodsReceipt_signoff {
    .tableScroll {
        overflow-x: auto;
        .tableContent {
            width: 900px;
        }
    }
}
#page_goodsReceipt_print {
    .print_table {
        overflow-x: auto;
        .tableContent {
            width: 900px;
        }
    }
}
@media (min-width: 768px) {
    #page_goodsReceipt_signoff {
        .tableScroll {
            .tableContent {
                width: 100%;
            }
        }
    }
    #page_goodsReceipt_print {
        .print_table {
            .tableContent {
                width: 100%;
            }
        }
    }
}
