#page_goodsReceipt .goodsReceiptQuery .goodsReceiptQueryTitle {
  margin-bottom: 1rem;
  width: 100%;
}
#page_goodsReceipt .goodsReceiptQuery .goodsReceiptQueryTitle span {
  background-color: var(--color-border);
  padding: 5px 10px;
  border-radius: var(--borderRadius);
  font-weight: bold;
}
#page_goodsReceipt .tableScroll {
  overflow-x: auto;
}
#page_goodsReceipt .tableScroll .tci-table {
  width: 992px;
}
#page_goodsReceipt .tableScroll .tci-table .input_part {
  width: 100%;
}
#page_goodsReceipt .tableScroll .tci-table .input_partnumber {
  width: 100%;
}
#page_goodsReceipt .tci-bs-input-group-text {
  padding: 3px 5px;
}

@media (min-width: 768px) {
  #page_goodsReceipt .goodsReceiptQuery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #page_goodsReceipt .goodsReceiptQuery .tci-bs-input-group {
    width: 33%;
  }
}
@media (min-width: 992px) {
  #page_goodsReceipt .goodsReceiptQuery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #page_goodsReceipt .goodsReceiptQuery .tci-bs-input-group {
    width: 29%;
  }
  #page_goodsReceipt .goodsReceiptQuery .tci-bs-input-group.no {
    width: 10%;
  }
  #page_goodsReceipt .tableScroll .tci-table {
    width: 100%;
  }
}
#page_goodsReceipt_signoff .tableScroll {
  overflow-x: auto;
}
#page_goodsReceipt_signoff .tableScroll .tableContent {
  width: 900px;
}

#page_goodsReceipt_print .print_table {
  overflow-x: auto;
}
#page_goodsReceipt_print .print_table .tableContent {
  width: 900px;
}

@media (min-width: 768px) {
  #page_goodsReceipt_signoff .tableScroll .tableContent {
    width: 100%;
  }
  #page_goodsReceipt_print .print_table .tableContent {
    width: 100%;
  }
}