#page_businessTravel .journey th {
  min-width: 100px;
}
#page_businessTravel .journey .weekdays_date {
  text-align: center;
  font-weight: bold;
}
#page_businessTravel .journey .holiday_td {
  background-color: var(--color-whitesmoke);
}
#page_businessTravel .journey .holiday {
  text-align: center;
  font-weight: bold;
  color: var(--color-dark-red);
}
#page_businessTravel .journey .place {
  background-color: var(--color-alge);
  color: var(--color-snow);
  padding: 2px;
  border-radius: var(--borderRadius);
}
#page_businessTravel .journey .region {
  color: var(--color-dimgray);
}
#page_businessTravel .tableScroll {
  overflow-x: auto;
}
#page_businessTravel .tableScroll .tci-table {
  width: 900px;
}
#page_businessTravel .businessTravelTable {
  font-size: 0.5rem;
}
#page_businessTravel .reason .reasonContent .tci-field {
  flex-wrap: wrap;
}
#page_businessTravel .reason .reasonContent .tci-field .tci-field-content {
  display: flex;
}
#page_businessTravel .reason .reasonContent .tci-form-control {
  padding: 0;
}
#page_businessTravel .reason .reasonContent table thead {
  background-color: var(--color-light-gray);
  text-align: center;
}

@media (min-width: 765px) {
  #page_businessTravel .tableScroll .tci-table {
    width: 100%;
  }
  #page_businessTravel .businessTravelTable {
    font-size: var(--font-size-sm);
  }
  #page_businessTravel .businessTravelTable .tci-table .table_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #page_businessTravel .businessTravelTable .tci-table .table_row .tci-bs-input-group {
    width: 48%;
  }
  #page_businessTravel .itinerary .itineraryContent .formBox_date {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #page_businessTravel .itinerary .itineraryContent .formBox_date .tci-field {
    width: 48%;
  }
  #page_businessTravel .itinerary .itineraryContent .formBox_date .tci-field .tci-field-label {
    width: 30%;
  }
  #page_businessTravel .itinerary .itineraryContent .formBox_date .tci-field .tci-field-value {
    width: 70%;
  }
  #page_businessTravel .reason .reasonContent .tci-field {
    flex-wrap: wrap;
  }
  #page_businessTravel .reason .reasonContent .tci-field .tci-field-content {
    display: flex;
    width: 60%;
  }
}
@media (min-width: 992px) {
  #page_businessTravel .itinerary .itineraryContent .formBox_date {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #page_businessTravel .itinerary .itineraryContent .formBox_date .tci-field {
    width: 25%;
  }
  #page_businessTravel .itinerary .itineraryContent .formBox_date .tci-field .tci-field-label {
    width: 25%;
  }
  #page_businessTravel .itinerary .itineraryContent .formBox_date .tci-field .tci-field-value {
    width: 70%;
  }
  #page_businessTravel .reason .reasonContent table thead {
    background-color: var(--color-light-gray);
    text-align: center;
  }
  #page_businessTravel .reason .reasonContent table thead .date {
    width: 10%;
  }
}
@media (min-width: 1200px) {
  #page_businessTravel .businessTravelTable .tci-table .table_row .tci-bs-input-group {
    width: 30%;
  }
  #page_businessTravel .businessTravelTable .tci-table .table_row .tci-bs-input-group.small {
    width: 20%;
  }
}
table .visitTag {
  font-size: var(--font-size-xs);
  background-color: var(--color-dark-khaki);
  color: var(--color-snow);
  border-radius: var(--borderRadius);
}
table .exhibitionTag {
  font-size: var(--font-size-xs);
  background-color: var(--color-dark-blue);
  color: var(--color-snow);
  border-radius: var(--borderRadius);
}
table .abroadTag {
  font-size: var(--font-size-xs);
  background-color: var(--color-orgin);
  color: var(--color-snow);
  border-radius: var(--borderRadius);
}
table .otherTag {
  font-size: var(--font-size-xs);
  background-color: var(--color-dark-green);
  color: var(--color-snow);
  border-radius: var(--borderRadius);
}

#page_businessTravel_signoff .tableScroll {
  overflow-x: auto;
}
#page_businessTravel_signoff .tableScroll .tableContent {
  width: 992px;
}

#page_businessTravel_print .print_table {
  overflow-x: auto;
}
#page_businessTravel_print .print_table .tableContent {
  width: 992px;
}

@media (min-width: 992px) {
  #page_businessTravel_signoff .tableScroll .tableContent {
    width: 100%;
  }
  #page_businessTravel_print .print_table .tableContent {
    width: 100%;
  }
}