#page_businessTravel{
    .journey{
        th{
            min-width: 100px;
        }
        .weekdays_date{
            text-align: center;
            font-weight: bold;
        }
        .holiday_td{
            background-color: var(--color-whitesmoke);
        }
        .holiday{
            text-align: center;
            font-weight: bold;
            color: var(--color-dark_red);
        }
        .place{
            background-color: var(--color-alge);
            color: var(--color-snow);
            padding: 2px;
            border-radius: var(--borderRadius);
        }
        .region{
            color: var(--color-dimgray);
        }
    }
    .tableScroll{
        overflow-x: auto;
        .tci-table{
            width: 900px;
        }
    }
    .businessTravelTable{
        font-size: .5rem;
    }
    .reason{
        .reasonContent{
            .tci-field{
                flex-wrap: wrap;
                .tci-field-content{
                    display: flex;
                }
            }
            .tci-form-control{
                padding: 0;
            }
            table{
                thead{
                    background-color: var(--color-light-warning);
                    text-align: center;
                }
            }
        }
    }
}


@media (min-width: 765px) {
    #page_businessTravel{
        .tableScroll{
            .tci-table{
                width: 100%;
            }
        }
        .businessTravelTable{
            font-size: var(--font-size-sm);
            .tci-table{
                .table_row{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    
                    .tci-bs-input-group{
                        width: 48%;
                    }
                }
            }
        }
        .itinerary{
            .itineraryContent{
                .formBox_date{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    .tci-field{
                        width: 48%;
                        .tci-field-label{
                            width: 30%;
                        }
                        .tci-field-value{
                            width: 70%;
                        }
                    }
                }
            }
        }
        .reason{
            .reasonContent{
                .tci-field{
                    flex-wrap: wrap;
                    .tci-field-content{
                        display: flex;
                        width: 60%;
                    }
                }
            }
        }
    }
    
}
@media (min-width: 992px) {
    
    #page_businessTravel{
        .itinerary{
            .itineraryContent{
                .formBox_date{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    .tci-field{
                        width: 25%;
                        .tci-field-label{
                            width: 25%;
                        }
                        .tci-field-value{
                            width: 70%;
                        }
                    }
                }
            }
        }
        .reason{
            .reasonContent{
                table{
                    thead{
                        background-color: var(--color-light-warning);
                        text-align: center;
                        .date{
                           width: 10%; 
                        }
                    }
                }
            }
        }
    }


    table{
        thead{
            background-color: var(--color-light-warning);
            text-align: center;
            .date{

            }
        }
    }
}
@media (min-width: 1200px) {
    #page_businessTravel{
        
        .businessTravelTable{
            .tci-table{
                .table_row{
                    .tci-bs-input-group{
                        width: 30%;
                        &.small{
                            width: 20%;
                        }
                    }
                }
            }
        }
    }
    
}