<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="../../scss/tci-all.css">
    <title>出差暨旅費申請單</title>
</head>

<body>
    <div class="container-fluid" id="page_businessTravel2">
        <div class="pageHeader">
            <span class="pageHeaderTitle"><b>出差暨旅費申請單</b></span>
        </div>
        <section class="businessTravelTable">
            <div class="tableScroll">
                <table class="tci-table tci-table-bordered">
                    <tbody>
                        <tr>
                            <th>經辦人</th>
                            <td colspan="3">
                                <div class="table_row">
                                    <div class="tci-bs-input-group tci-mb-1 small">
                                        <div class="tci-bs-input-group-prepend">
                                            <span class="tci-bs-input-group-text">員工編號:</span>
                                        </div>
                                        <div class="tci-form-control">2206A0011</div>
                                    </div>
                                    <div class="tci-bs-input-group tci-mb-1">
                                        <div class="tci-bs-input-group-prepend">
                                            <span class="tci-bs-input-group-text">姓名:</span>
                                        </div>
                                        <div class="tci-form-control">HEDY.TSENG曾莞婷</div>

                                    </div>
                                    <div class="tci-bs-input-group tci-mb-1">
                                        <div class="tci-bs-input-group-prepend">
                                            <span class="tci-bs-input-group-text">部門別:&nbsp;
                                                <button class="tci-icon tci-btn-darkkhaki"><i
                                                        class="fa-solid fa-building"></i></button>
                                            </span>
                                        </div>
                                        <div class="tci-form-control">軟體研發組</div>
                                    </div>
                                    <div class="tci-bs-input-group tci-mb-1 small">
                                        <div class="tci-bs-input-group-prepend">
                                            <span class="tci-bs-input-group-text">分機:</span>
                                        </div>
                                        <div class="tci-form-control">22222222</div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>出差人員&nbsp;<button class="tci-icon tci-btn-darkkhaki">
                                    <i class="fa-solid fa-person"></i></button>
                            </th>
                            <td>2206A0011-曾莞婷(HEDY.TSENG)</td>
                            <th>國內/國外</th>
                            <td>
                                <select class="tci-bs-custom-select">
                                    <option selected>Choose...</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>返台</th>
                            <td colspan="4">
                                <div>
                                    <div class="tci-form-check tci-form-check-inline">
                                        <input class="tci-form-check-input" type="radio" name="exampleRadios"
                                            id="exampleRadios1" value="option1" checked>
                                        <label class="tci-form-check-label" for="exampleRadios1">
                                            是
                                        </label>
                                    </div>
                                    <div class="tci-form-check tci-form-check-inline">
                                        <input class="tci-form-check-input" type="radio" name="exampleRadios"
                                            id="exampleRadios2" value="option2">
                                        <label class="tci-form-check-label" for="exampleRadios2">
                                            否
                                        </label>
                                    </div>
                                </div>
                            </td>
                           
                        </tr>
                        <tr>
                            <th>同行人員&nbsp;<button class="tci-icon tci-btn-darkkhaki">
                                <i class="fa-solid fa-people-group"></i></button>
                            </th>
                            <!-- 5個以上 顯示 勾選了5個人員資料 -->
                            <td colspan="4">2206A0011-曾莞婷(HEDY.TSENG)</td>
                        </tr>
                        <tr>
                            <th>行程內容</th>
                            <td colspan="3">
                                <div class="table_row" style="justify-content: flex-start;">
                                    <div class="tci-bs-input-group tci-mb-1">
                                        <div class="tci-bs-input-group-prepend">
                                            <span class="tci-bs-input-group-text">開始日期:</span>
                                        </div>
                                        <input type="text" class="tci-form-control" />
                                    </div>
                                    <div class="tci-bs-input-group tci-mb-1">
                                        <div class="tci-bs-input-group-prepend">
                                            <span class="tci-bs-input-group-text">結束日期:</span>
                                        </div>
                                        <input type="text" class="tci-form-control" />
                                    </div>
                                </div>
                                <div class="table_row" style="justify-content: flex-start;">
                                    <div class="tci-bs-input-group">
                                        <div class="tci-bs-input-group-prepend">
                                            <span class="tci-bs-input-group-text">出差地點:</span>
                                        </div>
                                        <select class="tci-bs-custom-select">
                                            <option selected>阿拉伯聯合大公園</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <select class="tci-bs-custom-select" style="width: 27%;">
                                        <option selected>阿布達比</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                    <button class="tci-btn tci-btn-darkkhaki">新增行程資料&nbsp;<i class="fa-solid fa-arrow-down-long"></i></button>
                                </div>
                                <div>
                                    <table class="tci-table tci-table-bordered">
                                        <thead style="text-align: center;">
                                            <tr>
                                                <th colspan="7">行程(工計<span style="font-weight: bold;">20</span>天)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr style="text-align: center;">
                                                <th>星期天</th>
                                                <th>星期一</th>
                                                <th>星期二</th>
                                                <th>星期三</th>
                                                <th>星期四</th>
                                                <th>星期五</th>
                                                <th>星期六</th>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td>
                                                    <div>
                                                        <span>8/10</span>
                                                        <div>
                                                            <span>阿拉伯聯合大公國</span><br>
                                                            <span style="color: var(--color-dimgray);">阿布達比</span>
                                                        </div>
                                                    </div>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script> -->
</body>

</html>