#page_purchaseOrder {
    .tableScroll {
        overflow-x: auto;

        .tci-table {
            width: 900px;

            thead {
                color: var(--color-snow);
                background-color: var(--color-rosybrown);
                text-align: center;
            }
        }
    }
}

@media (min-width:768px) {
    #page_purchaseOrder {
        .tableScroll {
            overflow-x: auto;

            .tci-table {
                width: 100%;
            }
        }
    }
}

//簽核 列印
#page_purchaseOrder_signoff {
    .tableScroll {
        overflow-x: auto;

        .tableContent {
            width: 768px;
        }
    }
}

#page_purchaseOrder_print{
    .tableScroll{
        overflow-x: auto;
        .tableAuto{
            width: 768px;
        }
    }
}
@media (min-width:768px) {
    #page_purchaseOrder_signoff {
        .tableScroll {
            .tableContent {
                width: 100%;
            }
        }
    }
    #page_purchaseOrder_print{
        .tableScroll{
            .tableAuto{
                width: 100%;
            }
        }
    }
}