#page_purchaseOrder .tableScroll {
  overflow-x: auto;
}
#page_purchaseOrder .tableScroll .tci-table {
  width: 900px;
}
#page_purchaseOrder .tableScroll .tci-table thead {
  color: var(--color-snow);
  background-color: var(--color-rosybrown);
  text-align: center;
}
#page_purchaseOrder .tableScroll .tci-table tbody th {
  background-color: var(--color-light-gray);
}

@media (min-width: 768px) {
  #page_purchaseOrder .tableScroll {
    overflow-x: auto;
  }
  #page_purchaseOrder .tableScroll .tci-table {
    width: 100%;
  }
}
#page_purchaseOrder_signoff .tableScroll {
  overflow-x: auto;
}
#page_purchaseOrder_signoff .tableScroll .tableContent {
  width: 768px;
}

#page_purchaseOrder_print .tableScroll {
  overflow-x: auto;
}
#page_purchaseOrder_print .tableScroll .tableAuto {
  width: 768px;
}

@media (min-width: 768px) {
  #page_purchaseOrder_signoff .tableScroll .tableContent {
    width: 100%;
  }
  #page_purchaseOrder_print .tableScroll .tableAuto {
    width: 100%;
  }
}