#page_purchaseOrder{
    .tableScroll{
        overflow-x: auto;
        .tci-table{
            width: 900px;
            thead{
                color: var(--color-snow);
                background-color: var(--color-rosybrown);
                text-align: center;
            }
            tbody{

                th{
                    background-color: var(--color-light-gray);
                    text-align: center;
                }
            }
        }
    }
}
@media (min-width:765px) {
    #page_purchaseOrder{
        .tableScroll{
            overflow-x: auto;
            .tci-table{
                width: 100%;
            }
        }
    }
}