<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="../../scss/tci-all.css">
    <link rel="stylesheet" href="./style.css">
    <title>請採單簽核</title>
</head>

<body>
    <div class="container-fluid" id="page_purchaseOrder_signoff">
        <div class="pageHeader">
            <span class="pageHeaderTitle"><b>請採單-簽核</b></span>
        </div>

        <!-- 單據明細 -->
        <section class="darkBorderCard detailsBox tci-mb-3">
            <div class="darkBorderCardTitle">
                <span>單據明細</span>
                <span class="tci-pl-0 ">
                    <span class=""><i class="fa-solid fa-chevron-up"></i></span>
                    <!-- <span class=""><i class="fa-solid fa-chevron-down"></i></span> -->
                </span>
            </div>
            <div class="detailsBoxContent darkBorderCardContent">
                <div class="detailsBox_company tci-mt-1 tci-mb-2" style="text-align: right;">
                    <span class="detailsBox_companytext"
                        style=" color: #fff;padding: 0 6px;background-color: #83a2b4;border-radius: var(--borderRadius);font-size: 14px;">百岳特國際貿易(上海)</span>
                </div>
                <div class="tableScroll">
                    <div class="tableContent">
                        <div
                            style="text-align: center;font-size:var(--font-size-xl);font-weight: bold;margin-bottom: 1rem;">
                            <span>請採單</span>
                        </div>
                        <table class="tci-table tci-table-bordered">
                            <tbody>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">單據編號</th>
                                    <td>220804-36-A001</td>
                                    <th style="background-color: var(--color-light-gray);">專案代號</th>
                                    <td>220802-34-A006</td>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">類別</th>
                                    <td>固定資產：資訊設備&nbsp;<button class="tci-btn bg_darkblue" style="padding: 3px;">修改類別</button></td>
                                    <th style="background-color: var(--color-light-gray);">請購日期</th>
                                    <td>2022/5/1</td>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">Requesting Department</th>
                                    <td>硬體支援組</td>
                                    <th style="background-color: var(--color-light-gray);">Purchasing Person</th>
                                    <td>WISSEN.LEE(李威億)</td>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">Product name	</th>
                                    <td>Synology DS920</td>
                                    <th style="background-color: var(--color-light-gray);">Quantity</th>
                                    <td>1 式 </td>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">用途</th>
                                    <td colspan="3">
                                        <div>
                                            <p>1.美感設計組產出的原始圖檔、設計稿等，因輸出大量檔案需要 NAS 儲存設備並可透過 NAS 備份機制長期安全保存這些資料。</p>
                                            <p>2.規格 : Synology DS920 4 Bay，8TB 硬碟 X 4 (RAID5) 可用儲存空間約 21.6TB。</p>
                                            <p>1.美感設計組產出的原始圖檔、設計稿等，因輸出大量檔案需要 NAS 儲存設備並可透過 NAS 備份機制長期安全保存這些資料。</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">Suggested Supplier</th>
                                    <td colspan="3">
                                        <div>
                                            <div>廠商：<span>竣皓科技</span></div>
                                            <div>原因：<span>報價最便宜</span></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">Estimated Date of Use</th>
                                    <td>2022/05/20</td>
                                    <th style="background-color: var(--color-light-gray);">Estimated Amount</th>
                                    <td>NTD  51,240.0</td>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">採購人員</th>
                                    <td colspan="3">李威億</td>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">額外附件</th>
                                    <td colspan="3">
                                        <div>
                                            <span>附件 1( 220503-43-0002.pdf )</span>
                                            <span><a href="http://" target="_blank" rel="noopener noreferrer">PDF開啟檔案 Open file</a></span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <table class="tci-table tci-table-bordered">
                                            <tbody>
                                                <tr>
                                                    <th colspan="4" style="font-size:var(--font-size-md)">詢價記錄</th>
                                                </tr>
                                                <tr>
                                                    <th style="background-color: var(--color-light-gray);width: 15%;">
                                                        Price Inquiry</th>
                                                    <td>德記</td>
                                                    <th style="background-color: var(--color-light-gray);width: 15%;">Amount
                                                    </th>
                                                    <td>29,925</td>
                                                </tr>
                                                <tr>
                                                    <th style="background-color: var(--color-light-gray);">Price Inquiry</th>
                                                    <td>無</td>
                                                    <th style="background-color: var(--color-light-gray);">Amount</th>
                                                    <td>0</td>
                                                </tr>
                                                <tr>
                                                    <th style="background-color: var(--color-light-gray);">Price Inquiry</th>
                                                    <td>無</td>
                                                    <th style="background-color: var(--color-light-gray);">Amount</th>
                                                    <td>0</td>
                                                </tr>
                                                <tr>
                                                    <th style="background-color: var(--color-light-gray);">Price Inquiry</th>
                                                    <td>無</td>
                                                    <th style="background-color: var(--color-light-gray);">Amount</th>
                                                    <td>0</td>
                                                </tr>
                                                <tr>
                                                    <th style="background-color: var(--color-light-gray);">Price Inquiry</th>
                                                    <td>無</td>
                                                    <th style="background-color: var(--color-light-gray);">Amount</th>
                                                    <td>0</td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th colspan="4" style="font-size:var(--font-size-md)">Ultimated Selected Supplier</th>
                                                </tr>
                                                <tr>
                                                    <th style="background-color: var(--color-light-gray);width: 15%;">
                                                        Price Inquiry</th>
                                                    <td>德記</td>
                                                    <th style="background-color: var(--color-light-gray);width: 15%;">Amount
                                                    </th>
                                                    <td>29,925</td>
                                                </tr>
                                                <tr>
                                                    <th style="background-color: var(--color-light-gray);width: 15%;">
                                                        Reason for selection</th>
                                                    <td colspan="3">長期配合廠商</td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <table class="tci-table tci-table-bordered">
                                            <thead>
                                                <tr>
                                                    <th colspan="3">相關單據</th>
                                                </tr>
                                                <tr style="background-color: var(--color-light-gray);text-align: center;">
                                                    <th>一般請款單</th>
                                                    <th>一般物品驗收單</th>
                                                    <th>合約</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                               <tr style="text-align: center;">
                                                    <td>無</td>
                                                    <td><button class="tci-btn bg_darkblue">202022-22-a222</button></td>
                                                    <td>無</td>
                                               </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <section class="darkBorderCard tci-mb-3">
            <div class="darkBorderCardTitle">
                <span>簽核流程</span>
                <span class="tci-pl-0 ">
                    <span class=""><i class="fa-solid fa-chevron-up"></i></span>
                    <!-- <span class=""><i class="fa-solid fa-chevron-down"></i></span> -->
                </span>
            </div>
            <div class="darkBorderCardContent print_process_circuit">
                <div class="tci-card tci-mt-2 card-green">
                    <div class="tci-card-header card-header-green"><i class="fa-solid fa-user-tie"></i> 總經理主管</div>
                    <div class="tci-card-body">
                        <p class="tci-card-title">林詠翔<br>VINCENT.LIN</p>
                        <div>
                            <span class="tci-card-text card-text-green"><i class="fa-solid fa-clock"></i>&nbsp;
                                免簽核</span>
                        </div>
                    </div>
                    <div class="tci-card-footer"></div>
                </div>
                <!-- 手機以上 -->
                <span style="text-align: center;margin: auto 1rem;">
                    <i class="fa-solid fa-left-long fa-2x"></i>
                </span>
                <!-- 手機 向上 Icon -->
                <!-- <span style="text-align:center;">
                        <i class="fa-solid fa-up-long fa-2x" style="width: 100%;"></i>
                    </span> -->
                <div class="tci-card tci-mt-2 card-blue">
                    <div class="tci-card-header card-header-blue"><i class="fa-solid fa-user-tie"></i> 戰略數據中心主管</div>
                    <div class="tci-card-body">
                        <p class="tci-card-title"> 王浩駿<br>JOHNNY.WANG</p>
                        <div>
                            <span class="tci-card-text card-text-blue"><i class="fa-solid fa-clock"></i>&nbsp;
                                未簽核</span>
                        </div>
                    </div>
                    <div class="tci-card-footer"></div>
                </div>

                <!-- 手機以上 -->
                <span style="text-align: center;margin: auto 1rem;">
                    <i class="fa-solid fa-left-long fa-2x"></i>
                </span>
                <!-- 手機 向上 Icon -->
                <!-- <span style="text-align:center;">
                        <i class="fa-solid fa-up-long fa-2x" style="width: 100%;"></i>
                    </span> -->
                <div class="tci-card tci-mt-2 card-blue">
                    <div class="tci-card-header card-header-blue"><i class="fa-solid fa-user-tie"></i> 軟體整合開發部主管</div>
                    <div class="tci-card-body">
                        <p class="tci-card-title">吳春隆<br>REX.WU</p>
                        <div>
                            <span class="tci-card-text card-text-blue"><i class="fa-solid fa-clock"></i>&nbsp; 同意</span>
                        </div>
                    </div>
                    <div class="tci-card-footer">2022/07/21 12:31:32</div>
                </div>
                <!-- 手機以上 -->
                <span style="text-align: center;margin: auto 1rem;">
                    <i class="fa-solid fa-left-long fa-2x"></i>
                </span>
                <!-- 手機 向上 Icon -->
                <!-- <span style="text-align:center;">
                        <i class="fa-solid fa-up-long fa-2x" style="width: 100%;"></i>
                    </span> -->
                <div class="tci-card tci-mt-2 card-blue">
                    <div class="tci-card-header card-header-blue"><i class="fa-solid fa-user-tie"></i> 軟體研發組主管</div>
                    <div class="tci-card-body">
                        <p class="tci-card-title">吳春隆<br>REX.WU</p>
                        <div>
                            <span class="tci-card-text card-text-blue"><i class="fa-solid fa-check"></i>&nbsp; 同意</span>
                        </div>
                    </div>
                    <div class="tci-card-footer">2022/07/21 12:31:32</div>
                </div>
                <!-- 手機以上 -->
                <span style="text-align: center;margin: auto 1rem;">
                    <i class="fa-solid fa-left-long fa-2x"></i>
                </span>
                <!-- 手機 向上 Icon -->
                <!-- <span style="text-align:center;">
                        <i class="fa-solid fa-up-long fa-2x" style="width: 100%;"></i>
                    </span> -->
                <div class="tci-card tci-mt-2 card-blue">
                    <div class="tci-card-header card-header-blue"><i class="fa-solid fa-user"></i> 經辦人</div>
                    <div class="tci-card-body">
                        <p class="tci-card-title">曾莞婷<br>HEDY.TSENG</p>
                        <div>
                            <span class="tci-card-text card-text-blue"><i class="fa-solid fa-check"></i>&nbsp; 送出</span>
                        </div>
                    </div>
                    <div class="tci-card-footer">2022/07/21 12:31:32</div>
                </div>
            </div>
        </section>
        <!-- 單據附件 start -->
        <section class="darkBorderCard tci-mb-3">
            <div class="darkBorderCardTitle">
                <span>單據附件</span>
                <!-- 展開縮放，icon 切換 -->
                <span class="tci-pl-0 ">
                    <span class=""><i class="fa-solid fa-chevron-up"></i></span>
                    <!-- <span class=""><i class="fa-solid fa-chevron-down"></i></span> -->
                </span>
            </div>
            <div class="darkBorderCardContent">
                <div style="text-align: center;margin: 1rem 0;">
                    <span style="font-weight: bold;">沒有附件</span>
                </div>
            </div>
        </section>
        <!-- 單據附件 end -->

        <!-- 簽核記錄 start -->
        <section class="darkBorderCard approvalBox tci-mb-3">
            <div class="darkBorderCardTitle">
                <span>簽核記錄</span>
                <!-- 展開縮放，icon 切換 -->
                <span class="tci-pl-0 ">
                    <span class=""><i class="fa-solid fa-chevron-up"></i></span>
                    <!-- <span class=""><i class="fa-solid fa-chevron-down"></i></span> -->
                </span>
            </div>
            <ul class="darkBorderCardContent" style="padding-left:20px;margin-top: 0;">
                <li style="color: var(--color-rosybrown);font-size: 14px;">2022/7/21 上午 11:35:21【經辦人-HEDY.TSENG(曾莞婷)工程師】
                    <span style="font-size:12px;color: #949495;font-weight: bold;">上傳附件：新增1個附件</span>
                </li>
                <li style="color: var(--color-rosybrown);font-size: 14px;">2022/7/21 上午 11:35:21【經辦人-HEDY.TSENG(曾莞婷)工程師】
                    <span style="font-size:12px;color: var(--color-dark-green);font-weight: bold;">已簽核：送出單據</span>
                </li>
                <li style="color: var(--color-sienna);font-size: 14px;">等待【軟體整合開發部主管-REX.WU(吳春隆)部門主管】簽核
                </li>
            </ul>
        </section>
        <!-- 簽核記錄 end -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script> -->
</body>

</html>