#page_productionDesgin .tci-field-value.gray {
  background-color: var(--color-light-gray);
}
#page_productionDesgin .copyForm {
  border: 2px solid var(--color-dark-khaki);
  padding: 0.5rem;
  border-radius: var(--borderRadius);
  box-shadow: var(--borderShadow);
  margin-bottom: 1rem;
}
#page_productionDesgin .copyForm .copy_input .tci-field {
  flex-wrap: wrap;
}
#page_productionDesgin .copyForm .copy_input .tci-field .tci-field-label {
  width: 100%;
}
#page_productionDesgin .copyForm .copy_input .tci-field .tci-field-value {
  width: 100%;
}
#page_productionDesgin .allflex .allflexContent {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#page_productionDesgin .allflex .allflexContent .tci-bs-input-group {
  width: 47%;
  margin-bottom: 0.5rem;
}
#page_productionDesgin .allflex .allflexContent .tci-bs-input-group .tci-form-control {
  text-align: left;
}
#page_productionDesgin .darkBorderCard .darkBorderCardContent {
  padding: 1rem;
}
#page_productionDesgin .tci-field {
  flex-wrap: wrap;
}
#page_productionDesgin .tci-field .tci-field-label {
  width: 100%;
}
#page_productionDesgin .tci-field .tci-field-value {
  width: 100%;
}
#page_productionDesgin .tci-field .tci-bs-input-group {
  margin-bottom: 0.5rem;
}
#page_productionDesgin .tci-field .valueBtn {
  width: 100%;
  display: flex;
}
#page_productionDesgin .tci-field .valueBtn input {
  width: 100%;
}
#page_productionDesgin .tci-field .valueBtn .tci-input-group-text {
  margin: 0 0.5rem;
}
#page_productionDesgin .input_long {
  width: 100%;
}
#page_productionDesgin .input_long .alarm {
  color: var(--color-dark-red);
}
#page_productionDesgin .input_short {
  width: 100%;
}

@media (min-width: 765px) {
  #page_productionDesgin .copyForm .copy_input {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #page_productionDesgin .copyForm .copy_input .tci-field {
    width: 45%;
  }
  #page_productionDesgin .copyForm .copy_input .tci-field .tci-field-label {
    width: 40%;
  }
  #page_productionDesgin .copyForm .copy_input .tci-field .tci-field-value {
    width: 60%;
  }
  #page_productionDesgin .tci-field .tci-field-label {
    width: 40%;
  }
  #page_productionDesgin .tci-field .tci-field-value {
    width: 60%;
  }
  #page_productionDesgin .tci-field .valueBtn {
    width: 60%;
  }
  #page_productionDesgin .input_long {
    width: 60%;
  }
  #page_productionDesgin .input_long .tci-bs-input-group {
    width: 100%;
  }
  #page_productionDesgin .input_short {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #page_productionDesgin .input_short .tci-bs-input-group {
    width: 48%;
  }
}
@media (min-width: 1200px) {
  #page_productionDesgin .tci-field .tci-field-label {
    width: 30%;
  }
  #page_productionDesgin .tci-field .tci-field-value {
    width: 70%;
  }
  #page_productionDesgin .tci-field .valueBtn {
    width: 70%;
  }
  #page_productionDesgin .input_long {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #page_productionDesgin .input_long .tci-bs-input-group {
    width: 48%;
  }
  #page_productionDesgin .input_short {
    width: 70%;
  }
}
.tagDiv {
  line-height: 30px;
}

.tag_green {
  background-color: var(--color-light-green);
  color: var(--color-snow);
  border-radius: var(--borderRadius);
  padding: 3px 5px;
  margin: 5px;
  font-size: var(--font-size-sm);
}

.tag_sienna {
  background-color: var(--color-sienna);
  color: var(--color-snow);
  border-radius: var(--borderRadius);
  padding: 3px 5px;
  margin: 5px;
  font-size: var(--font-size-sm);
}