<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="../../scss/tci-all.css">
    <link rel="stylesheet" href="./style.css">
    <title>產品設計需求單簽核</title>
</head>

<body>
    <div class="container-fluid" id="page_productionDesgin_signoff">
        <div class="pageHeader">
            <span class="pageHeaderTitle"><b>產品設計需求單-簽核</b></span>
        </div>

        <!-- 單據明細 -->
        <section class="darkBorderCard detailsBox tci-mb-3">
            <div class="darkBorderCardTitle">
                <span>單據明細</span>
                <span class="tci-pl-0 ">
                    <span class=""><i class="fa-solid fa-chevron-up"></i></span>
                    <!-- <span class=""><i class="fa-solid fa-chevron-down"></i></span> -->
                </span>
            </div>
            <div class="detailsBoxContent darkBorderCardContent">
                <div class="detailsBox_company tci-mt-1 tci-mb-2" style="text-align: right;">
                    <span class="detailsBox_companytext"
                        style=" color: #fff;padding: 0 6px;background-color: #83a2b4;border-radius: var(--borderRadius);font-size: 14px;">百岳特國際貿易(上海)</span>
                </div>
                <div class="tableScroll">
                    <div class="tableContent">
                        <div
                            style="text-align: center;font-size:var(--font-size-xl);font-weight: bold;margin-bottom: 1rem;">
                            <span>產品設計需求單</span>
                        </div>
                        <div class="btnGroups tci-mb-1">
                            <button class="tci-btn bg_darkblue">查看需求進度</button>
                        </div>
                        <table class="tci-table tci-table-bordered">
                            <tbody>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">單據編號</th>
                                    <th colspan="3">220607-71-A002<span class="tag_green">CRM預估明細編號 Estimated Item No:0</span></th>
                                </tr>
                                 <tr>
                                    <th style="background-color: var(--color-light-gray);">產品名稱</th>
                                    <th  colspan="3"><span class="tag_green">快銷粉包公關品-蔬果青汁粉</span></th>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">負責業務</th>
                                    <th  colspan="3"><span class="tag_green">hedy.tseng</span></th>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">產品類型</th>
                                    <th colspan="3"><span class="tag_green">固態</span></th>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">現階段需求</th>
                                    <th colspan="3">
                                        <div class="tagDiv">
                                            <span class="tag_green">提案</span>
                                            <span class="tag_green">預開配方表</span>
                                            <span class="tag_green">打樣</span>
                                        </div>
                                    </th>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">需求單位</th>
                                    <th colspan="3">
                                        <div  class="tagDiv">
                                            <span>需求者：</span><span class="tag_green">TCI-產品研發研究所-產品設計部-實創PD固態製劑組-歐靖詠-CLAIRE.OU</span>
                                        </div>
                                    </th>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">客戶資訊</th>
                                    <th colspan="3" >
                                        <div class="tagDiv">
                                            <span>客戶名稱：</span>
                                            <span class="tag_green">TCI</span>
                                        </div>
                                         <div class="tagDiv">
                                            <span>客戶名網站稱：</span>
                                            <span class="tag_green">-</span>
                                        </div>
                                        <div class="tagDiv">
                                            <span>品牌風格：</span>
                                            <span class="tag_green">植萃</span>
                                        </div>
                                        <div class="tagDiv">
                                            <span>主力產品：</span>
                                            <span class="tag_green">-</span>
                                        </div>
                                        <div class="tagDiv">
                                            <span>主價格區間：</span>
                                            <span class="tag_green">TCI</span>
                                        </div>
                                        <div class="tagDiv">
                                            <span>銷售地區： </span>
                                            <span class="tag_green">台灣</span>
                                            <span class="tag_green">中國</span>
                                            <span class="tag_green">歐洲</span>
                                            <span class="tag_green">美國</span>

                                        </div>
                                         <div class="tagDiv">
                                            <span>主銷售通路：</span>
                                            <span class="tag_green">連鎖通路組-美(藥)妝</span>
                                            <span class="tag_green">社群銷售組-全球百大直銷</span>
                                            <span class="tag_green">社群銷售組-本土直銷</span>

                                        </div>
                                        <div class="tagDiv">
                                            <span>銷售年齡層：</span>
                                            <span class="tag_green">18~24 </span>
                                            <span class="tag_green">25~30 </span>
                                            <span class="tag_green">30~35 </span>
                                            <span class="tag_green">36~40 </span>
                                            <span class="tag_green">40~50 </span>
                                            <span class="tag_green">50~60</span>
                                            <span class="tag_green">60以上</span>
                                        </div>
                                         <div class="tagDiv">
                                            <span>銷售族群性別：</span>
                                            <span class="tag_green">全族群</span>
                                        </div>
                                         <div class="tagDiv">
                                            <span>分級：</span>
                                            <span class="tag_green">A</span>
                                        </div>
                                    </th>
                                </tr>
                                  <tr>
                                    <th style="background-color: var(--color-light-gray);">產品細節</th>
                                    <th colspan="3">
                                        <div class="tagDiv">
                                            <span>樣本型態：</span>
                                            <span class="tag_green">粉劑包 (沖泡飲用 )</span>
                                        </div>
                                        <div class="tagDiv">
                                            <span>樣本規格：</span>
                                            <span class="tag_sienna">重量：</span>
                                            <span class="tag_green">由RD建議</span>
                                        </div>
                                        <div class="tagDiv">
                                            <span>樣本規格：</span>
                                            <span class="tag_sienna">口味：</span>
                                            <span class="tag_green">由RD建議</span>
                                        </div>
                                         <div class="tagDiv">
                                            <span>樣本規格：</span>
                                            <span class="tag_sienna">酸甜感</span>
                                            <span class="tag_green">由RD建議</span>
                                        </div>
                                        <div class="tagDiv">
                                            <span>樣本規格：</span>
                                            <span class="tag_sienna">沖泡水量：</span>
                                            <span class="tag_green">沖泡冷水</span>
                                        </div>
                                        <div class="tagDiv">
                                            <span>樣本規格：</span>
                                            <span class="tag_sienna">稠度：</span>
                                            <span class="tag_green">由RD建議</span>
                                        </div>
                                        <div class="tagDiv">
                                            <span>包裝材質：</span>
                                            <span class="tag_sienna">背封粉包：</span>
                                            <span class="tag_green">鋁箔</span>

                                        </div>
                                        <div class="tagDiv">
                                            <span>使用量：</span>
                                            <span class="tag_green">由RD建議</span>
                                        </div>
                                        <div class="tagDiv">
                                            <span>訴求功能：</span>
                                            <span class="tag_green">心血管健康(降三高) </span>
                                            <span class="tag_green">腸胃道保健和排毒</span>
                                        </div>
                                        <div class="tagDiv">
                                            <span>其他：</span>
                                            <span class="tag_green">88蔬果、青汁</span>
                                        </div>
                                        <div class="tagDiv">
                                            <span>原料行銷需求：</span>
                                            <span class="tag_green">無</span>
                                        </div>
                                        <div class="tagDiv">
                                            <span>素食需求：</span>
                                            <span class="tag_green">無</span>
                                        </div>
                                        <div class="tagDiv">
                                            <span>宗教禁忌：</span>
                                            <span class="tag_green">無</span>
                                        </div>
                                        <div class="tagDiv">
                                            <span>口味基底：</span>
                                            <span class="tag_green">由RD建議</span>
                                        </div>
                                        <div class="tagDiv">
                                            <span>甜味劑：</span>
                                            <span class="tag_green">由RD建議</span>
                                        </div>
                                        <div class="tagDiv">
                                            <span>參考標的：</span>
                                            <span class="tag_green">競品</span>
                                        </div>
                                        <div class="tagDiv">
                                            <span>生產工廠：</span>
                                            <span class="tag_green">磐石</span>
                                        </div>
                                        <div class="tagDiv">
                                            <span>進口類型：</span>
                                            <span class="tag_green">食品</span>
                                        </div>
                                        <div class="tagDiv">
                                            <span>產品宣稱(依循法規)：</span>
                                            <span class="tag_green">新無相關需求</span>
                                        </div>
                                        <div class="tagDiv">
                                            <span class="tag_sienna">印刷方式：</span>
                                            <span class="tag_green">非變動式設計(數位或凹版)</span>
                                        </div>
                                    </th>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">訂價策略</th>
                                    <th colspan="3">
                                         <div class="tagDiv">
                                            <span>市場末端產品_包裝規格：</span>
                                            <span class="tag_green">包/單盒(粉包、液態包)</span>
                                        </div>
                                        <div class="tagDiv">
                                            <span>市場末端產品_包裝數量：</span>
                                            <span class="tag_green">-</span>
                                        </div>
                                        <div class="tagDiv">
                                            <span>市場末端產品_售價：</span>
                                            <span class="tag_green">新台幣</span>
                                        </div>
                                        <div class="tagDiv">
                                            <span>配方成本_單位：</span>
                                            <span class="tag_green">單包(粉包、液態包)</span>
                                        </div>
                                        <div class="tagDiv">
                                            <span>配方成本_價格(內料含耗損)：</span>
                                            <span class="tag_green">台幣</span>
                                        </div>
                                    </th>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">預計上市日期</th>
                                    <th colspan="3">
                                        <div class="tagDiv">
                                            <span>日期：</span>
                                            <span class="tag_green">2022/10/01</span>
                                        </div>
                                    </th>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">備註</th>
                                    <th colspan="3" >
                                        <div class="tagDiv">
                                            <span>需求單備註：</span>
                                            <span class="tag_green">-</span>
                                        </div>
                                        <div class="tagDiv">
                                            <span>需求說明(語音)：</span>
                                            <span class="tag_green">因應Chrome升級導致錄音失效.暫時跳過此功能</span>
                                        </div>
                                    </th>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">毛利</th>
                                    <th colspan="3" >
                                        <div class="tagDiv">
                                            <span>預計接單金額：</span>
                                            <span class="tag_green">新台幣</span>
                                        </div>
                                        <div class="tagDiv">
                                            <span>毛利率：</span>
                                            <span class="tag_green">0 %</span>
                                        </div>
                                        <div class="tagDiv">
                                            <span>預計成本：</span>
                                            <span class="tag_green">新台幣</span>
                                        </div>
                                        <div class="tagDiv">
                                            <span>預計毛利：</span>
                                            <span class="tag_green">新台幣-</span>
                                        </div>
                                    </th>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">提案負責</th>
                                    <th colspan="3" >
                                        <div>
                                            <span>提案意見：</span>
                                            <span class="tag_green">實創PD固態製劑組 CLAIRE.OU(歐靖詠)</span>
                                        </div>
                                    </th>
                                </tr>
                            </tbody>
                        </table>

                        <table class="tci-table tci-table-bordered">
                            <tbody>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">配方料號/廠別</th>
                                    <td>FS001997 / 8505</td>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">打樣訴求內容</th>
                                    <td>
                                        【配方編號 Lot Number】:FS001997<br/>
                                        【口味 Flavor】:青汁<br/>
                                        【數量 Quantity】:10<br/>
                                        【日期 Date】:2022/08/05<br/>
                                        【標貼要求 Label】:無<br/>
                                        【品名 Product Name】:TCI快銷粉包-蔬果青汁粉<br/>
                                        【使用方式 Usage】:沖泡冷水<br/>
                                     </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <section class="darkBorderCard tci-mb-3">
            <div class="darkBorderCardTitle">
                <span>簽核流程</span>
                <span class="tci-pl-0 ">
                    <span class=""><i class="fa-solid fa-chevron-up"></i></span>
                    <!-- <span class=""><i class="fa-solid fa-chevron-down"></i></span> -->
                </span>
            </div>
            <div class="darkBorderCardContent print_process_circuit">
                <div class="tci-card tci-mt-2 card-green">
                    <div class="tci-card-header card-header-green"><i class="fa-solid fa-user-tie"></i> 總經理主管</div>
                    <div class="tci-card-body">
                        <p class="tci-card-title">林詠翔<br/>VINCENT.LIN</p>
                        <div>
                            <span class="tci-card-text card-text-green"><i class="fa-solid fa-clock"></i>&nbsp;
                                免簽核</span>
                        </div>
                    </div>
                    <div class="tci-card-footer"></div>
                </div>
                <!-- 手機以上 -->
                <span style="text-align: center;margin: auto 1rem;">
                    <i class="fa-solid fa-left-long fa-2x"></i>
                </span>
                <!-- 手機 向上 Icon -->
                <!-- <span style="text-align:center;">
                        <i class="fa-solid fa-up-long fa-2x" style="width: 100%;"></i>
                    </span> -->
                <div class="tci-card tci-mt-2 card-blue">
                    <div class="tci-card-header card-header-blue"><i class="fa-solid fa-user-tie"></i> 戰略數據中心主管</div>
                    <div class="tci-card-body">
                        <p class="tci-card-title"> 王浩駿<br/>JOHNNY.WANG</p>
                        <div>
                            <span class="tci-card-text card-text-blue"><i class="fa-solid fa-clock"></i>&nbsp;
                                未簽核</span>
                        </div>
                    </div>
                    <div class="tci-card-footer"></div>
                </div>

                <!-- 手機以上 -->
                <span style="text-align: center;margin: auto 1rem;">
                    <i class="fa-solid fa-left-long fa-2x"></i>
                </span>
                <!-- 手機 向上 Icon -->
                <!-- <span style="text-align:center;">
                        <i class="fa-solid fa-up-long fa-2x" style="width: 100%;"></i>
                    </span> -->
                <div class="tci-card tci-mt-2 card-blue">
                    <div class="tci-card-header card-header-blue"><i class="fa-solid fa-user-tie"></i> 軟體整合開發部主管</div>
                    <div class="tci-card-body">
                        <p class="tci-card-title">吳春隆<br/>REX.WU</p>
                        <div>
                            <span class="tci-card-text card-text-blue"><i class="fa-solid fa-clock"></i>&nbsp; 同意</span>
                        </div>
                    </div>
                    <div class="tci-card-footer">2022/07/21 12:31:32</div>
                </div>
                <!-- 手機以上 -->
                <span style="text-align: center;margin: auto 1rem;">
                    <i class="fa-solid fa-left-long fa-2x"></i>
                </span>
                <!-- 手機 向上 Icon -->
                <!-- <span style="text-align:center;">
                        <i class="fa-solid fa-up-long fa-2x" style="width: 100%;"></i>
                    </span> -->
                <div class="tci-card tci-mt-2 card-blue">
                    <div class="tci-card-header card-header-blue"><i class="fa-solid fa-user-tie"></i> 軟體研發組主管</div>
                    <div class="tci-card-body">
                        <p class="tci-card-title">吳春隆<br/>REX.WU</p>
                        <div>
                            <span class="tci-card-text card-text-blue"><i class="fa-solid fa-check"></i>&nbsp; 同意</span>
                        </div>
                    </div>
                    <div class="tci-card-footer">2022/07/21 12:31:32</div>
                </div>
                <!-- 手機以上 -->
                <span style="text-align: center;margin: auto 1rem;">
                    <i class="fa-solid fa-left-long fa-2x"></i>
                </span>
                <!-- 手機 向上 Icon -->
                <!-- <span style="text-align:center;">
                        <i class="fa-solid fa-up-long fa-2x" style="width: 100%;"></i>
                    </span> -->
                <div class="tci-card tci-mt-2 card-blue">
                    <div class="tci-card-header card-header-blue"><i class="fa-solid fa-user"></i> 經辦人</div>
                    <div class="tci-card-body">
                        <p class="tci-card-title">曾莞婷<br/>HEDY.TSENG</p>
                        <div>
                            <span class="tci-card-text card-text-blue"><i class="fa-solid fa-check"></i>&nbsp; 送出</span>
                        </div>
                    </div>
                    <div class="tci-card-footer">2022/07/21 12:31:32</div>
                </div>
            </div>
        </section>
          <!-- 單據附件 start -->
          <section class="darkBorderCard tci-mb-3">
            <div class="darkBorderCardTitle">
                <span>單據附件</span>
                <!-- 展開縮放，icon 切換 -->
                <span class="tci-pl-0 ">
                    <span class=""><i class="fa-solid fa-chevron-up"></i></span>
                    <!-- <span class=""><i class="fa-solid fa-chevron-down"></i></span> -->
                </span>
            </div>
            <div class="darkBorderCardContent">
                <div style="text-align: center;margin: 1rem 0;">
                    <span style="font-weight: bold;">沒有附件</span>
                </div>
            </div>
        </section>
        <!-- 單據附件 end -->

         <!-- 簽核記錄 start -->
         <section class="darkBorderCard approvalBox tci-mb-3">
            <div class="darkBorderCardTitle">
                <span>簽核記錄</span>
                <!-- 展開縮放，icon 切換 -->
                <span class="tci-pl-0 ">
                    <span class=""><i class="fa-solid fa-chevron-up"></i></span>
                    <!-- <span class=""><i class="fa-solid fa-chevron-down"></i></span> -->
                </span>
            </div>
            <ul class="darkBorderCardContent" style="padding-left:20px;margin-top: 0;">
                <li style="color: var(--color-rosybrown);font-size: 14px;">2022/7/21 上午 11:35:21【經辦人-HEDY.TSENG(曾莞婷)工程師】
                    <span style="font-size:12px;color: #949495;font-weight: bold;">上傳附件：新增1個附件</span>
                </li>
                <li style="color: var(--color-rosybrown);font-size: 14px;">2022/7/21 上午 11:35:21【經辦人-HEDY.TSENG(曾莞婷)工程師】
                    <span style="font-size:12px;color: var(--color-dark-green);font-weight: bold;">已簽核：送出單據</span>
                </li>
                <li style="color: var(--color-sienna);font-size: 14px;">等待【軟體整合開發部主管-REX.WU(吳春隆)部門主管】簽核
                </li>
            </ul>
        </section>
        <!-- 簽核記錄 end -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script> -->
</body>

</html>