<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="../../scss/tci-all.css">
    <link rel="stylesheet" href="./style.css">
    <title>產品設計需求單簽核</title>
</head>

<body>
    <div class="container-fluid" id="page_productionDesgin_signoff">
        <div class="pageHeader" style="position: relative;">
            <span class="pageHeaderTitle"><b>產品設計需求單-簽核</b></span>
           <!-- 查詢bar -->
        </div>

         <!-- 上下頁 -->
         <section class="btnTop tci-mb-3">
            <div class="btnGroups">
                <button class="tci-btn bg_darkblue"><i class="fa fa-undo" aria-hidden="true"></i> 關閉單據內容</button>
            </div>
            <div class="btnGroups_lr" style="justify-content: space-between;display: flex;margin-top: .5rem;">
                <button class="tci-btn bg_lightgray" style="width: 49%;"><i class="fa fa-long-arrow-left"
                        aria-hidden="true"></i> 上一筆</button>
                <button class="tci-btn bg_lightgray" style="width: 49%;"><i class="fa fa-long-arrow-right"
                        aria-hidden="true"></i>下一筆</button>
            </div>
        </section>

        <div class="accordion accordion-flush" id="accordionFlush">
            <!-- 留言 -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="messageBox">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-messageBox" aria-expanded="true"
                        aria-controls="panelsStayOpen-messageBox">
                        <span>留言</span>
                    </button>
                </h2>
                <div id="panelsStayOpen-messageBox" class="accordion-collapse collapse show"
                    aria-labelledby="messageBox">
                    <div class="accordion-body messageBoxContent">
                        <div class="messagebtn_message tci-mt-3 message" style="text-align: center;
                    display: flex;
                    padding: 5px;
                    margin: 0 1rem;
                    border-radius: var(--borderRadius);">
                            <button type="button" class="tci-btn tci-btn-orgin" data-bs-toggle="modal"
                                data-bs-target="#messageBoxModal">
                                留言</button>
                            <ul class="tci-mt-3" style="list-style-type: decimal;
                        padding-top: 5px;
                        padding-right: 5px;
                        background-color: var(--color-light-gray);
                        margin: 0;
                        overflow-y: auto;
                        height: 100px;">
                                <li>曾莞婷(HEDY.TSENG) → 吳春隆(REX.WUdfsdfs)
                                    <p style="color: var(--color-blue);">2022/7/21 13:55： 1212</p>
                                </li>
                                <li>曾莞婷(HEDY.TSENG) → 吳春隆(REX.WUdfsdfs)
                                    <p style="color: var(--color-blue);">2022/7/21 13:55： 1212</p>
                                </li>
                                <li>曾莞婷(HEDY.TSENG) → 吳春隆(REX.WUdfsdfs)
                                    <p style="color: var(--color-blue);">2022/7/21 13:55： 1212</p>
                                </li>
                            </ul>
                        </div>
                        <div class="messagebtn_voice tci-mt-3 message" style="text-align: center;
                    display: flex;
                    padding: 5px;
                    margin: 0 1rem;
                    border-radius: var(--borderRadius);">
                            <button type="button" class="tci-btn tci-btn-orgin" data-bs-toggle="modal"
                                data-bs-target="#voiceMessageBoxModal">
                                語言留言</button>
                            <ul class="tci-mt-3" style="list-style-type: decimal;
                        padding-top: 5px;
                        padding-right: 5px;
                        background-color: var(--color-light-gray);
                        margin: 0;
                        overflow-y: auto;
                        height: 100px;">
                                <li>曾莞婷(HEDY.TSENG) → 吳春隆(REX.WU)
                                    <p style="color: var(--color-blue);">2022/7/21 13:55： 1212</p>
                                </li>
                                <li>曾莞婷(HEDY.TSENG) → 吳春隆(REX.WU)
                                    <p style="color: var(--color-blue);">2022/7/21 13:55： 1212</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 簽核意見 -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="description">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-description" aria-expanded="true"
                        aria-controls="panelsStayOpen-description">
                        <span>簽核意見</span>
                    </button>
                </h2>
                <div id="panelsStayOpen-description" class="accordion-collapse collapse show"
                    aria-labelledby="description">
                    <div class="accordion-body">
                        <div class="descriptionBox_invalid tci-text-center tci-mb-2">
                            <span
                                style="border: 1px solid #003D79;background-color:#003D79;padding:0 6px;color: var(--color-snow);font-weight: bold;">此單據已列印</span>
                        </div>
                        <div class="descriptionBoxContent">
                            <div class="descriptionBox_notice">
                                <div class="tci-input-group">
                                    <div class="tci-input-group-prepend">
                                        <span class="tci-input-group-text">內容:&nbsp;
                                            <div class="dropdown open" style="margin-bottom:.5rem;">
                                                <button class="dropdown-toggle tci-btn bg_darkblue py-0" type="button"
                                                    data-bs-toggle="dropdown" data-animations="fadeIn">
                                                    通知人員
                                                </button>
                                                <!-- 下拉清單 -->
                                                <ul class="dropdown-menu">
                                                    <li style="margin-left:5px;cursor:pointer">
                                                        <label><input type="checkbox" class="decisionMsg" value="">
                                                            所有簽核者</label>
                                                    </li>
                                                    <li style="margin-left:5px;cursor:pointer">
                                                        <label><input type="checkbox" class="decisionMsg"
                                                                value="2011A0016">
                                                            吳春隆(REX.WU)</label>
                                                    </li>
                                                </ul>
                                            </div>
                                        </span>
                                    </div>
                                    <textarea class="tci-form-control"></textarea>
                                </div>
                            </div>
                            <div class="descriptionBox_icon tci-text-center">
                                <div class="dropdown file">
                                    <div class="dropdown">
                                        <button class="tci-btn" type="button" data-animations="fadeIn"
                                            data-hover="dropdown"
                                            style="background: none;border-width: 0px;text-align: center;text-decoration: none;padding: 0;"
                                            data-bs-toggle="dropdown" aria-expanded="false" id="dropdownbtn">
                                            <i class="fa-solid fa-file-lines fa-4x" style="color: #b8aba2;"></i>
                                            <p style="color:black;margin-top: .5rem;">其他</p>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">作廢單據</a></li>
                                            <li><a class="dropdown-item" href="#">標示為急件</a></li>
                                            <li><a class="dropdown-item" href="#">修改單據</a></li>
                                            <li><a class="dropdown-item" href="#" data-bs-toggle="modal"
                                                    data-bs-target="#forwardContentModal">轉寄內容</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 單據明細 -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="detailsBox">
                    <button class="accordion-button " type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-detailsBox" aria-expanded="true"
                        aria-controls="panelsStayOpen-detailsBox">
                        <span>單據明細</span>
                    </button>
                </h2>
                <div id="panelsStayOpen-detailsBox" class="accordion-collapse collapse show"
                    aria-labelledby="detailsBox">
                    <div class="accordion-body detailsBoxContent">
                        <div class="detailsBox_company tci-mt-1 tci-mb-2" style="text-align: right;">
                            <span class="detailsBox_companytext"
                                style=" color: #fff;padding: 0 6px;background-color: #83a2b4;border-radius: var(--borderRadius);font-size: 14px;">大江生醫</span>
                        </div>
                        <div class="tableScroll">
                            <div class="tableContent">
                                <div
                                    style="text-align: center;font-size:var(--font-size-xl);font-weight: bold;margin-bottom: 1rem;">
                                    <span>產品設計需求單</span>
                                </div>
                                <div class="btnGroups tci-mb-1">
                                    <button class="tci-btn bg_darkblue">查看需求進度</button>
                                </div>
                                <table class="tci-table tci-table-bordered">
                                    <tbody>
                                        <tr>
                                            <th style="background-color: var(--color-light-gray);">單據編號</th>
                                            <th colspan="3">220607-71-A002<span class="tag_green">CRM預估明細編號 Estimated Item No:0</span></th>
                                        </tr>
                                         <tr>
                                            <th style="background-color: var(--color-light-gray);">產品名稱</th>
                                            <th  colspan="3"><span class="tag_green">快銷粉包公關品-蔬果青汁粉</span></th>
                                        </tr>
                                        <tr>
                                            <th style="background-color: var(--color-light-gray);">負責業務</th>
                                            <th  colspan="3"><span class="tag_green">hedy.tseng</span></th>
                                        </tr>
                                        <tr>
                                            <th style="background-color: var(--color-light-gray);">產品類型</th>
                                            <th colspan="3"><span class="tag_green">固態</span></th>
                                        </tr>
                                        <tr>
                                            <th style="background-color: var(--color-light-gray);">現階段需求</th>
                                            <th colspan="3">
                                                <div class="tagDiv">
                                                    <span class="tag_green">提案</span>
                                                    <span class="tag_green">預開配方表</span>
                                                    <span class="tag_green">打樣</span>
                                                </div>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th style="background-color: var(--color-light-gray);">需求單位</th>
                                            <th colspan="3">
                                                <div  class="tagDiv">
                                                    <span>需求者：</span><span class="tag_green">TCI-產品研發研究所-產品設計部-實創PD固態製劑組-歐靖詠-CLAIRE.OU</span>
                                                </div>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th style="background-color: var(--color-light-gray);">客戶資訊</th>
                                            <th colspan="3" >
                                                <div class="tagDiv">
                                                    <span>客戶名稱：</span>
                                                    <span class="tag_green">TCI</span>
                                                </div>
                                                 <div class="tagDiv">
                                                    <span>客戶名網站稱：</span>
                                                    <span class="tag_green">-</span>
                                                </div>
                                                <div class="tagDiv">
                                                    <span>品牌風格：</span>
                                                    <span class="tag_green">植萃</span>
                                                </div>
                                                <div class="tagDiv">
                                                    <span>主力產品：</span>
                                                    <span class="tag_green">-</span>
                                                </div>
                                                <div class="tagDiv">
                                                    <span>主價格區間：</span>
                                                    <span class="tag_green">TCI</span>
                                                </div>
                                                <div class="tagDiv">
                                                    <span>銷售地區： </span>
                                                    <span class="tag_green">台灣</span>
                                                    <span class="tag_green">中國</span>
                                                    <span class="tag_green">歐洲</span>
                                                    <span class="tag_green">美國</span>
        
                                                </div>
                                                 <div class="tagDiv">
                                                    <span>主銷售通路：</span>
                                                    <span class="tag_green">連鎖通路組-美(藥)妝</span>
                                                    <span class="tag_green">社群銷售組-全球百大直銷</span>
                                                    <span class="tag_green">社群銷售組-本土直銷</span>
        
                                                </div>
                                                <div class="tagDiv">
                                                    <span>銷售年齡層：</span>
                                                    <span class="tag_green">18~24 </span>
                                                    <span class="tag_green">25~30 </span>
                                                    <span class="tag_green">30~35 </span>
                                                    <span class="tag_green">36~40 </span>
                                                    <span class="tag_green">40~50 </span>
                                                    <span class="tag_green">50~60</span>
                                                    <span class="tag_green">60以上</span>
                                                </div>
                                                 <div class="tagDiv">
                                                    <span>銷售族群性別：</span>
                                                    <span class="tag_green">全族群</span>
                                                </div>
                                                 <div class="tagDiv">
                                                    <span>分級：</span>
                                                    <span class="tag_green">A</span>
                                                </div>
                                            </th>
                                        </tr>
                                          <tr>
                                            <th style="background-color: var(--color-light-gray);">產品細節</th>
                                            <th colspan="3">
                                                <div class="tagDiv">
                                                    <span>樣本型態：</span>
                                                    <span class="tag_green">粉劑包 (沖泡飲用 )</span>
                                                </div>
                                                <div class="tagDiv">
                                                    <span>樣本規格：</span>
                                                    <span class="tag_sienna">重量：</span>
                                                    <span class="tag_green">由RD建議</span>
                                                </div>
                                                <div class="tagDiv">
                                                    <span>樣本規格：</span>
                                                    <span class="tag_sienna">口味：</span>
                                                    <span class="tag_green">由RD建議</span>
                                                </div>
                                                 <div class="tagDiv">
                                                    <span>樣本規格：</span>
                                                    <span class="tag_sienna">酸甜感</span>
                                                    <span class="tag_green">由RD建議</span>
                                                </div>
                                                <div class="tagDiv">
                                                    <span>樣本規格：</span>
                                                    <span class="tag_sienna">沖泡水量：</span>
                                                    <span class="tag_green">沖泡冷水</span>
                                                </div>
                                                <div class="tagDiv">
                                                    <span>樣本規格：</span>
                                                    <span class="tag_sienna">稠度：</span>
                                                    <span class="tag_green">由RD建議</span>
                                                </div>
                                                <div class="tagDiv">
                                                    <span>包裝材質：</span>
                                                    <span class="tag_sienna">背封粉包：</span>
                                                    <span class="tag_green">鋁箔</span>
        
                                                </div>
                                                <div class="tagDiv">
                                                    <span>使用量：</span>
                                                    <span class="tag_green">由RD建議</span>
                                                </div>
                                                <div class="tagDiv">
                                                    <span>訴求功能：</span>
                                                    <span class="tag_green">心血管健康(降三高) </span>
                                                    <span class="tag_green">腸胃道保健和排毒</span>
                                                </div>
                                                <div class="tagDiv">
                                                    <span>其他：</span>
                                                    <span class="tag_green">88蔬果、青汁</span>
                                                </div>
                                                <div class="tagDiv">
                                                    <span>原料行銷需求：</span>
                                                    <span class="tag_green">無</span>
                                                </div>
                                                <div class="tagDiv">
                                                    <span>素食需求：</span>
                                                    <span class="tag_green">無</span>
                                                </div>
                                                <div class="tagDiv">
                                                    <span>宗教禁忌：</span>
                                                    <span class="tag_green">無</span>
                                                </div>
                                                <div class="tagDiv">
                                                    <span>口味基底：</span>
                                                    <span class="tag_green">由RD建議</span>
                                                </div>
                                                <div class="tagDiv">
                                                    <span>甜味劑：</span>
                                                    <span class="tag_green">由RD建議</span>
                                                </div>
                                                <div class="tagDiv">
                                                    <span>參考標的：</span>
                                                    <span class="tag_green">競品</span>
                                                </div>
                                                <div class="tagDiv">
                                                    <span>生產工廠：</span>
                                                    <span class="tag_green">磐石</span>
                                                </div>
                                                <div class="tagDiv">
                                                    <span>進口類型：</span>
                                                    <span class="tag_green">食品</span>
                                                </div>
                                                <div class="tagDiv">
                                                    <span>產品宣稱(依循法規)：</span>
                                                    <span class="tag_green">新無相關需求</span>
                                                </div>
                                                <div class="tagDiv">
                                                    <span class="tag_sienna">印刷方式：</span>
                                                    <span class="tag_green">非變動式設計(數位或凹版)</span>
                                                </div>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th style="background-color: var(--color-light-gray);">訂價策略</th>
                                            <th colspan="3">
                                                 <div class="tagDiv">
                                                    <span>市場末端產品_包裝規格：</span>
                                                    <span class="tag_green">包/單盒(粉包、液態包)</span>
                                                </div>
                                                <div class="tagDiv">
                                                    <span>市場末端產品_包裝數量：</span>
                                                    <span class="tag_green">-</span>
                                                </div>
                                                <div class="tagDiv">
                                                    <span>市場末端產品_售價：</span>
                                                    <span class="tag_green">新台幣</span>
                                                </div>
                                                <div class="tagDiv">
                                                    <span>配方成本_單位：</span>
                                                    <span class="tag_green">單包(粉包、液態包)</span>
                                                </div>
                                                <div class="tagDiv">
                                                    <span>配方成本_價格(內料含耗損)：</span>
                                                    <span class="tag_green">台幣</span>
                                                </div>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th style="background-color: var(--color-light-gray);">預計上市日期</th>
                                            <th colspan="3">
                                                <div class="tagDiv">
                                                    <span>日期：</span>
                                                    <span class="tag_green">2022/10/01</span>
                                                </div>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th style="background-color: var(--color-light-gray);">備註</th>
                                            <th colspan="3" >
                                                <div class="tagDiv">
                                                    <span>需求單備註：</span>
                                                    <span class="tag_green">-</span>
                                                </div>
                                                <div class="tagDiv">
                                                    <span>需求說明(語音)：</span>
                                                    <span class="tag_green">因應Chrome升級導致錄音失效.暫時跳過此功能</span>
                                                </div>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th style="background-color: var(--color-light-gray);">毛利</th>
                                            <th colspan="3" >
                                                <div class="tagDiv">
                                                    <span>預計接單金額：</span>
                                                    <span class="tag_green">新台幣</span>
                                                </div>
                                                <div class="tagDiv">
                                                    <span>毛利率：</span>
                                                    <span class="tag_green">0 %</span>
                                                </div>
                                                <div class="tagDiv">
                                                    <span>預計成本：</span>
                                                    <span class="tag_green">新台幣</span>
                                                </div>
                                                <div class="tagDiv">
                                                    <span>預計毛利：</span>
                                                    <span class="tag_green">新台幣-</span>
                                                </div>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th style="background-color: var(--color-light-gray);">提案負責</th>
                                            <th colspan="3" >
                                                <div>
                                                    <span>提案意見：</span>
                                                    <span class="tag_green">實創PD固態製劑組 CLAIRE.OU(歐靖詠)</span>
                                                </div>
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>
        
                                <table class="tci-table tci-table-bordered">
                                    <tbody>
                                        <tr>
                                            <th style="background-color: var(--color-light-gray);width: 15%;">配方料號/廠別</th>
                                            <td>FS001997 / 8505</td>
                                        </tr>
                                        <tr>
                                            <th style="background-color: var(--color-light-gray);">打樣訴求內容</th>
                                            <td>
                                                【配方編號 Lot Number】:FS001997<br/>
                                                【口味 Flavor】:青汁<br/>
                                                【數量 Quantity】:10<br/>
                                                【日期 Date】:2022/08/05<br/>
                                                【標貼要求 Label】:無<br/>
                                                【品名 Product Name】:TCI快銷粉包-蔬果青汁粉<br/>
                                                【使用方式 Usage】:沖泡冷水<br/>
                                             </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>