<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="../../scss/tci-all.css">
    <title>代辦資料</title>
</head>

<body>
    <div class="container-fluid tci-mb-3" id="page_travelExpense">
        <div class="pageHeader">
            <span class="pageHeaderTitle tci-ml-2"><b>旅費報支單</b></span>
        </div>
        <div class="btnGroups">
            <button class="tci-btn bg_lightgray">重新查詢</button>
        </div>
        <section class="travelExpenseGroups">
            <button class="tci-btn bg_darkkhaki">出差申請單內容</button>
            <button class="tci-btn bg_darkkhaki">代辦資料</button>
            <button class="tci-btn bg_darkkhaki">新增報支費用</button>
            <button class="tci-btn bg_darkkhaki">已報支明細</button>

        </section>
        <section class="travelExpense_information tci-mt-1">
            <div class="tableScroll">
                <table class="tci-table tci-table-bordered">
                    <tbody>
                        <tr>
                            <th>代辦機票</th>
                            <td colspan="2">
                                <div class="agency">
                                    <div class="tci-bs-input-group">
                                        <div class="tci-bs-input-group-prepend">
                                            <span class="tci-bs-input-group-text">說明:</span>
                                        </div>
                                        <input type="text" class="tci-form-control">
                                    </div>
                                    <div class="agency_item">
                                        <div class="tci-bs-input-group">
                                            <div class="tci-bs-input-group-prepend">
                                                <span class="tci-bs-input-group-text">支付方式:</span>
                                            </div>
                                            <select class="tci-form-control">
                                                <option selected="">公司支付</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
                                        <div class="tci-bs-input-group" >
                                            <div class="tci-bs-input-group-prepend">
                                                <span class="tci-bs-input-group-text">新台幣:</span>
                                            </div>
                                            <input type="text" class="tci-form-control">
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>代辦住宿</th>
                            <td colspan="2">
                                <div class="agency">
                                    <div class="tci-bs-input-group">
                                        <div class="tci-bs-input-group-prepend">
                                            <span class="tci-bs-input-group-text">說明:</span>
                                        </div>
                                        <input type="text" class="tci-form-control">
                                    </div>
                                    <div class="agency_item">
                                        <div class="tci-bs-input-group">
                                            <div class="tci-bs-input-group-prepend">
                                                <span class="tci-bs-input-group-text">支付方式:</span>
                                            </div>
                                            <select class="tci-form-control">
                                                <option selected="">公司支付</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
                                        <div class="tci-bs-input-group" >
                                            <div class="tci-bs-input-group-prepend">
                                                <span class="tci-bs-input-group-text">新台幣:</span>
                                            </div>
                                            <input type="text" class="tci-form-control">
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>實領旅費
                                <select class="tci-form-control" style="width: 130px;">
                                    <option selected>10種幣種</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </th>
                            <td colspan="2">
                                <div class="travelReal">
                                    <div class="tci-bs-input-group">
                                        <div class="tci-bs-input-group-prepend">
                                            <span class="tci-bs-input-group-text">幣別:</span>
                                        </div>
                                        <select class="tci-form-control">
                                            <option selected>10種幣種</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="tci-bs-input-group">
                                        <div class="tci-bs-input-group-prepend">
                                            <span class="tci-bs-input-group-text">金額:</span>
                                        </div>
                                        <input type="text" class="tci-form-control" />
                                    </div>
                                    <div class="tci-bs-input-group">
                                        <div class="tci-bs-input-group-prepend">
                                            <span class="tci-bs-input-group-text">本幣→外幣匯率:</span>
                                        </div>
                                        <input type="text" class="tci-form-control" />
                                    </div>
                                    <div class="tci-bs-input-group">
                                        <div class="tci-bs-input-group-prepend">
                                            <span class="tci-bs-input-group-text"> 付款:</span>
                                        </div>
                                        <div class="tci-form-control">
                                            <div class="tci-form-check tci-form-check-inline">
                                                <input class="tci-form-check-input" type="radio" name="exampleRadios"
                                                    id="exampleRadios1" value="option1" checked>
                                                <label class="tci-form-check-label" for="exampleRadios1">
                                                    已付
                                                </label>
                                            </div>
                                            <div class="tci-form-check tci-form-check-inline">
                                                <input class="tci-form-check-input" type="radio" name="exampleRadios"
                                                    id="exampleRadios2" value="option2">
                                                <label class="tci-form-check-label" for="exampleRadios2">
                                                    未付
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            </td>
                        </tr>
                        <tr style="color: var(--color-dark-red);">
                            <th>代辦合計</th>
                            <td colspan="2">0</td>
                        </tr>
                        <tr>
                            <th>附件</th>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <th>
                                <div style="display: flex;">
                                    <span>檔案</span>
                                    <select class="tci-form-control" style="width:100px;margin-left: 1rem;">
                                        <option selected>Choose...</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th style="background-color: var(--color-light-gray);text-align: center;">#</th>
                            <th style="background-color: var(--color-light-gray);text-align: center;">檔案</th>
                            <th style="background-color: var(--color-light-gray);text-align: center;">檔案說明</th>
                        </tr>
                        <tr>
                            <th style="text-align: center;">1</th>
                            <td> <input type="file" class="tci-form-control" />
                            </td>
                            <td> <input type="text" class="tci-form-control" />
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align: center;">2</th>
                            <td> <input type="file" class="tci-form-control" />
                            </td>
                            <td> <input type="text" class="tci-form-control" />
                            </td>
                        </tr>
                    </tbody>
                    <tfoot class="btnGroups" style="text-align: right;">
                        <tr>
                            <td colspan="3">
                                <button class="tci-btn bg_darkgreen">儲存資料</button>
                                <button class="tci-btn bg_darkgreen">已完成所有代辦需求</button>
                            </td>
                        </tr>

                    </tfoot>
                </table>
            </div>
        </section>
        <div style="text-align: center;color: var(--color-dark-red);">
            <span>只有出差單經辦人,才能儲存報支單</span>
        </div>
        <hr>
        <div class="userCard_info">
            <span class="user_info">
                <u><b>使用者資訊：</b>
                    <span>大江生醫 - 軟體研發組 - 大江戰士TCI Warrior(2) - 2206A0011 - HEDY.TSENG - 曾莞婷</span></u>
            </span>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>