<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="../../scss/tci-all.css">
    <link rel="stylesheet" href="./style.css">
    <title>出差旅費報支單簽核</title>
</head>

<body>
    <div class="container-fluid" id="page_travelExpenseStatement_signoff">
        <div class="pageHeader">
            <span class="pageHeaderTitle"><b>出差旅費報支單-簽核</b></span>
        </div>

        <!-- 單據明細 -->
        <section class="darkBorderCard detailsBox tci-mb-3">
            <div class="darkBorderCardTitle">
                <span>單據明細</span>
                <span class="tci-pl-0 ">
                    <span class=""><i class="fa-solid fa-chevron-up"></i></span>
                    <!-- <span class=""><i class="fa-solid fa-chevron-down"></i></span> -->
                </span>
            </div>
            <div class="detailsBoxContent darkBorderCardContent">
                <div class="detailsBox_company tci-mt-1 tci-mt-2" style="text-align: right;">
                    <span class="detailsBox_companytext"
                        style=" color: #fff;padding: 0 6px;background-color: #83a2b4;border-radius: var(--borderRadius);font-size: 14px;">百岳特國際貿易(上海)</span>
                </div>
                <div class="tableScroll">
                    <div class="tableContent">
                        <div
                            style="text-align: center;font-size:var(--font-size-xl);font-weight: bold;margin-bottom: 1rem;">
                            <span>大江生醫股份有限公司 出差旅費報支單</span>
                        </div>
                        <!-- <div>
                            <button class="tci-icon bg_lightgray" style="padding: 5px;">單據資訊&nbsp;<i class="fa-solid fa-chevron-up"></i></button>
                        </div> -->
                        <table class="tci-table tci-table-bordered">
                            <thead>
                                <tr
                                    style="font-size: var(--font-size-lg);text-align:center;background-color: var(--color-rosybrown);color: var(--color-snow);">
                                    <th colspan="8">本次出差費用合計(NTD)</th>
                                </tr>
                                <tr style="background-color: var(--color-light-gray);text-align: center;">
                                    <th>費用類別</th>
                                    <th>交通費用</th>
                                    <th>住宿費用</th>
                                    <th>雜膳費用</th>
                                    <th>交際費用</th>
                                    <th>樣品費用</th>
                                    <th>其他費用</th>
                                    <th>無收據費用</th>
                                </tr>
                            </thead>
                            <tbody style="text-align: center;">

                                <tr>
                                    <th>金額</th>
                                    <th>7,570</th>
                                    <th>7,570</th>
                                    <th>7,570</th>
                                    <th>7,570</th>
                                    <th>0</th>
                                    <th>0</th>
                                    <th>0</th>
                                </tr>
                                <tr style="color: var(--color-light-red);font-size: var(--font-size-md);">
                                    <th>合計</th>
                                    <th colspan="7">7,570</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tableScroll">
                    <div class="tableContent">
                        <button class="tci-icon bg_darkblue tci-mt-2" style="padding: 5px;width: 100%;">出差申請內容&nbsp;<i
                                class="fa-solid fa-chevron-up"></i></button>
                        <table class="tci-table tci-table-bordered">
                            <tbody>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">出差申請單號</th>
                                    <td>210906-03-0002</td>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">經辦人</th>
                                    <td>1912A0005-鄭心懿-TERESA.CHENG-高效建廠組-</td>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">出差人員</th>
                                    <td>1912A0005-鄭心懿-TERESA.CHENG-高效建廠組-</td>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">國內/國外</th>
                                    <td>無</td>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">行程</th>
                                    <td>
                                        <table class="tci-table tci-table-bordered">
                                            <thead
                                                style="background-color: var(--color-light-gray);text-align: center;font-weight: bold;">
                                                <tr
                                                    style="font-size: var(--font-size-lg);text-align:center;background-color: var(--color-rosybrown);color: var(--color-snow);">
                                                    <th colspan="7">行程(共計 <span>15</span> 天)</th>
                                                </tr>
                                                <tr
                                                    style="background-color: var(--color-light-gray);text-align: center;font-weight: bold;">
                                                    <td>星期日</td>
                                                    <td>星期一</td>
                                                    <td>星期二</td>
                                                    <td>星期三</td>
                                                    <td>星期四</td>
                                                    <td>星期五</td>
                                                    <td>星期六</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td style="text-align: center;">
                                                        <div>
                                                            <span>2022/22/22</span><br>
                                                            <span>屏東縣</span><br>
                                                            <span>長治鄉</span><br>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: center;">
                                                        <div>
                                                            <span>2022/22/22</span><br>
                                                            <span>屏東縣</span><br>
                                                            <span>長治鄉</span><br>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: center;">
                                                        <div>
                                                            <span>2022/22/22</span><br>
                                                            <span>屏東縣</span><br>
                                                            <span>長治鄉</span><br>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: center;">
                                                        <div>
                                                            <span>2022/22/22</span><br>
                                                            <span>屏東縣</span><br>
                                                            <span>長治鄉</span><br>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: center;">
                                                        <div>
                                                            <span>2022/22/22</span><br>
                                                            <span>屏東縣</span><br>
                                                            <span>長治鄉</span><br>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: center;">
                                                        <div>
                                                            <span>2022/22/22</span><br>
                                                            <span>屏東縣</span><br>
                                                            <span>長治鄉</span><br>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: center;">
                                                        <div>
                                                            <span>2022/22/22</span><br>
                                                            <span>屏東縣</span><br>
                                                            <span>長治鄉</span><br>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">事由</th>
                                    <td>
                                        <table class="tci-table tci-table-bordered">
                                            <thead>
                                                <tr
                                                    style="font-size: var(--font-size-lg);text-align:center;background-color: var(--color-rosybrown);color: var(--color-snow);">
                                                    <th colspan="4">其他事由</th>
                                                </tr>
                                                <tr
                                                    style="background-color: var(--color-light-gray);text-align: center;font-weight: bold;">
                                                    <td>拜訪期間</td>
                                                    <td>事由</td>
                                                    <td>事由說明</td>
                                                    <td>預計效益</td>
                                                </tr>
                                            </thead>
                                            <tbody style="text-align: center;">
                                                <tr>
                                                    <td>2022/01/06~2022/01/09</td>
                                                    <td>其他</td>
                                                    <td>1/6-和康景觀現勘/室裝現場釋疑 1/7-222燈回簽/隱六送燈/景觀維護 1/8.9 HQ10F實驗室工程</td>
                                                    <td>推動各案進度</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">代辦需求</th>
                                    <td>NTD 0</td>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">預支旅費</th>
                                    <td>NTD 0</td>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">實領旅費</th>
                                    <td>
                                        <div>
                                            <span style="color: var(--color-light-red);margin-right: 3rem;">NTD 0</span>
                                            <span>本幣→外幣匯率：</span><span
                                                style="color: var(--color-light-red);">1</span><br>
                                        </div>
                                    </td>
                                </tr>
                                <tr style="color: var(--color-light-red)">
                                    <th style="background-color: var(--color-light-gray);">行程調整</th>
                                    <td>
                                        <div>
                                            <span>結束日延後至: </span><span>2021/9/23</span><br>
                                            <span>原因: </span><span>雙周會議時間變更-改9/23</span><br>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>210906-03-0002</th>
                                    <th>718,730.78</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="tableScroll">
                    <div class="tableContent">
                        <button class="tci-icon bg_darkblue tci-mt-2" style="padding: 5px;width:100%">報支結算&nbsp;<i
                                class="fa-solid fa-chevron-up"></i></button>
                        <table class="tci-table tci-table-bordered">
                            <thead>
                                <tr style="background-color: var(--color-light-gray);text-align: center;">
                                    <th>支付方式</th>
                                    <th>幣別</th>
                                    <th>期初金額</th>
                                    <th>收入</th>
                                    <th>現金支出</th>
                                    <th>非現金支出</th>
                                    <th>剩餘現金</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    style="background-color: var(--color-rosybrown);color: var(--color-snow);text-align: center;">
                                    <th>公司預支金合計</th>
                                    <td>NTD(新台幣)</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr
                                    style="background-color: var(--color-peru);color: var(--color-snow);text-align: center;">
                                    <th>公司卡</th>
                                    <td>NTD(新台幣)</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr
                                    style="background-color: var(--color-dark-green);color: var(--color-snow);text-align: center;">
                                    <th>個人代墊</th>
                                    <td>NTD(新台幣)</td>
                                    <td></td>
                                    <td></td>
                                    <td>10520</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr
                                    style="background-color: var(--color-alge);color: var(--color-snow);text-align: center;text-align: center;">
                                    <th>出差公司預支金合計</th>
                                    <td>NTD(新台幣)</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr
                                    style="background-color: var(--color-gray);color: var(--color-snow);text-align: center;">
                                    <th>AE卡</th>
                                    <td>NTD(新台幣)</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr style="color: var(--color-light-red);text-align: center;">
                                    <th>報支合計</th>
                                    <th>NTD(新台幣)</th>
                                    <th></th>
                                    <th></th>
                                    <th>10520</th>
                                    <th></th>
                                    <th>-10520</th>
                                </tr>
                                <tr>
                                    <td colspan="7">
                                        <table class="tci-table tci-table-bordered">
                                            <thead>
                                                <tr
                                                    style="font-size: var(--font-size-lg);text-align:center;background-color: var(--color-rosybrown);color: var(--color-snow);">
                                                    <th colspan="4">結算</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th
                                                        style="text-align: center;background-color: var(--color-light-gray);width: 10%;padding-top: 20px;">
                                                        出差人應還</th>
                                                    <td style="width: 40%;">&nbsp;</td>
                                                    <th
                                                        style="text-align: center;background-color: var(--color-light-gray);width: 10%;padding-top: 20px;">
                                                        公司應付</th>
                                                    <td>
                                                        <div style="text-align: right;color: var(--color-light-red);">
                                                            <span
                                                                style="border-bottom: 1px solid var(--color-dark);">個人代墊
                                                                = NTD 10,520</span><br>
                                                            <span>合計 = NTD 10,520</span>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="tableScroll">
                    <div class="tableContent">
                        <button class="tci-icon bg_darkblue tci-mt-2" style="padding: 5px;width:100%">費用總計&nbsp;<i
                                class="fa-solid fa-chevron-up"></i></button>
                        <table class="tci-table tci-table-bordered">
                            <thead>
                                <tr style="text-align: center;background-color: var(--color-light-gray);">
                                    <th>費用別</th>
                                    <th>NTD(新台幣1)</th>
                                    <th style="color: var(--color-light-red);">本幣(NTD)合計</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="text-align: center;">
                                    <td>交通費用</td>
                                    <td>7,570</td>
                                    <td style="color: var(--color-light-red);">7,570</td>
                                </tr>
                                <tr style="text-align: center;">
                                    <td>住宿費用</td>
                                    <td>7,570</td>
                                    <td style="color: var(--color-light-red);">7,570</td>
                                </tr>
                                <tr style="text-align: center;color: var(--color-light-red);">
                                    <td>費用總計</td>
                                    <td>7,570</td>
                                    <td>7,570</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <button class="tci-icon bg_darkblue tci-mt-2" style="padding: 5px;width:100%">查看費用明細</button>
                <button class="tci-icon bg_darkblue tci-mt-2" style="padding: 5px;width:100%">查看收據附件</button>
            </div>
        </section>
        <section class="darkBorderCard tci-mb-3">
            <div class="darkBorderCardTitle">
                <span>簽核流程</span>
                <span class="tci-pl-0 ">
                    <span class=""><i class="fa-solid fa-chevron-up"></i></span>
                    <!-- <span class=""><i class="fa-solid fa-chevron-down"></i></span> -->
                </span>
            </div>
            <div class="darkBorderCardContent print_process_circuit">
                <div class="tci-card tci-mt-2 card-green">
                    <div class="tci-card-header card-header-green"><i class="fa-solid fa-user-tie"></i> 總經理主管</div>
                    <div class="tci-card-body">
                        <p class="tci-card-title">林詠翔<br>VINCENT.LIN</p>
                        <div>
                            <span class="tci-card-text card-text-green"><i class="fa-solid fa-clock"></i>&nbsp;
                                免簽核</span>
                        </div>
                    </div>
                    <div class="tci-card-footer"></div>
                </div>
                <!-- 手機以上 -->
                <span style="text-align: center;margin: auto 1rem;">
                    <i class="fa-solid fa-left-long fa-2x"></i>
                </span>
                <!-- 手機 向上 Icon -->
                <!-- <span style="text-align:center;">
                        <i class="fa-solid fa-up-long fa-2x" style="width: 100%;"></i>
                    </span> -->
                <div class="tci-card tci-mt-2 card-blue">
                    <div class="tci-card-header card-header-blue"><i class="fa-solid fa-user-tie"></i> 戰略數據中心主管</div>
                    <div class="tci-card-body">
                        <p class="tci-card-title"> 王浩駿<br>JOHNNY.WANG</p>
                        <div>
                            <span class="tci-card-text card-text-blue"><i class="fa-solid fa-clock"></i>&nbsp;
                                未簽核</span>
                        </div>
                    </div>
                    <div class="tci-card-footer"></div>
                </div>

                <!-- 手機以上 -->
                <span style="text-align: center;margin: auto 1rem;">
                    <i class="fa-solid fa-left-long fa-2x"></i>
                </span>
                <!-- 手機 向上 Icon -->
                <!-- <span style="text-align:center;">
                        <i class="fa-solid fa-up-long fa-2x" style="width: 100%;"></i>
                    </span> -->
                <div class="tci-card tci-mt-2 card-blue">
                    <div class="tci-card-header card-header-blue"><i class="fa-solid fa-user-tie"></i> 軟體整合開發部主管</div>
                    <div class="tci-card-body">
                        <p class="tci-card-title">吳春隆<br>REX.WU</p>
                        <div>
                            <span class="tci-card-text card-text-blue"><i class="fa-solid fa-clock"></i>&nbsp; 同意</span>
                        </div>
                    </div>
                    <div class="tci-card-footer">2022/07/21 12:31:32</div>
                </div>
                <!-- 手機以上 -->
                <span style="text-align: center;margin: auto 1rem;">
                    <i class="fa-solid fa-left-long fa-2x"></i>
                </span>
                <!-- 手機 向上 Icon -->
                <!-- <span style="text-align:center;">
                        <i class="fa-solid fa-up-long fa-2x" style="width: 100%;"></i>
                    </span> -->
                <div class="tci-card tci-mt-2 card-blue">
                    <div class="tci-card-header card-header-blue"><i class="fa-solid fa-user-tie"></i> 軟體研發組主管</div>
                    <div class="tci-card-body">
                        <p class="tci-card-title">吳春隆<br>REX.WU</p>
                        <div>
                            <span class="tci-card-text card-text-blue"><i class="fa-solid fa-check"></i>&nbsp; 同意</span>
                        </div>
                    </div>
                    <div class="tci-card-footer">2022/07/21 12:31:32</div>
                </div>
                <!-- 手機以上 -->
                <span style="text-align: center;margin: auto 1rem;">
                    <i class="fa-solid fa-left-long fa-2x"></i>
                </span>
                <!-- 手機 向上 Icon -->
                <!-- <span style="text-align:center;">
                        <i class="fa-solid fa-up-long fa-2x" style="width: 100%;"></i>
                    </span> -->
                <div class="tci-card tci-mt-2 card-blue">
                    <div class="tci-card-header card-header-blue"><i class="fa-solid fa-user"></i> 經辦人</div>
                    <div class="tci-card-body">
                        <p class="tci-card-title">曾莞婷<br>HEDY.TSENG</p>
                        <div>
                            <span class="tci-card-text card-text-blue"><i class="fa-solid fa-check"></i>&nbsp; 送出</span>
                        </div>
                    </div>
                    <div class="tci-card-footer">2022/07/21 12:31:32</div>
                </div>
            </div>
        </section>
        <!-- 單據附件 start -->
        <section class="darkBorderCard tci-mb-3">
            <div class="darkBorderCardTitle">
                <span>單據附件</span>
                <!-- 展開縮放，icon 切換 -->
                <span class="tci-pl-0 ">
                    <span class=""><i class="fa-solid fa-chevron-up"></i></span>
                    <!-- <span class=""><i class="fa-solid fa-chevron-down"></i></span> -->
                </span>
            </div>
            <div class="darkBorderCardContent">
                <div style="text-align: center;margin: 1rem 0;">
                    <span style="font-weight: bold;">沒有附件</span>
                </div>
            </div>
        </section>
        <!-- 單據附件 end -->

        <!-- 簽核記錄 start -->
        <section class="darkBorderCard approvalBox tci-mb-3">
            <div class="darkBorderCardTitle">
                <span>簽核記錄</span>
                <!-- 展開縮放，icon 切換 -->
                <span class="tci-pl-0 ">
                    <span class=""><i class="fa-solid fa-chevron-up"></i></span>
                    <!-- <span class=""><i class="fa-solid fa-chevron-down"></i></span> -->
                </span>
            </div>
            <ul class="darkBorderCardContent" style="padding-left:20px;margin-top: 0;">
                <li style="color: var(--color-rosybrown);font-size: 14px;">2022/7/21 上午 11:35:21【經辦人-HEDY.TSENG(曾莞婷)工程師】
                    <span style="font-size:12px;color: #949495;font-weight: bold;">上傳附件：新增1個附件</span>
                </li>
                <li style="color: var(--color-rosybrown);font-size: 14px;">2022/7/21 上午 11:35:21【經辦人-HEDY.TSENG(曾莞婷)工程師】
                    <span style="font-size:12px;color: var(--color-dark-green);font-weight: bold;">已簽核：送出單據</span>
                </li>
                <li style="color: var(--color-sienna);font-size: 14px;">等待【軟體整合開發部主管-REX.WU(吳春隆)部門主管】簽核
                </li>
            </ul>
        </section>
        <!-- 簽核記錄 end -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script> -->
</body>

</html>