<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="../../scss/tci-all.css">
    <title>出差申請單內容</title>
</head>

<body>
    <div class="container-fluid tci-mb-3" id="page_travelExpense">
        <div class="pageHeader">
            <span class="pageHeaderTitle tci-ml-2"><b>旅費報支單</b></span>
        </div>
        <div class="btnGroups">
            <button class="tci-btn bg_lightgray">重新查詢</button>
        </div>
        <section class="travelExpenseGroups">
            <button class="tci-btn bg_darkkhaki">出差申請單內容</button>
            <button class="tci-btn bg_darkkhaki">代辦資料</button>
            <button class="tci-btn bg_darkkhaki">新增報支費用</button>
            <button class="tci-btn bg_darkkhaki">已報支明細</button>

        </section>
        <section class="travelExpenseTable tci-mt-1">
            <div class="tableScroll0">
                <table class="tci-table tci-table-bordered">
                    <tbody>
                        <tr>
                            <th>出差申請單號</th>
                            <td>220801-03-A003</td>
                        </tr>
                        <tr>
                            <th>經辦人</th>
                            <td>2007A0010-黃紹情-CHERYL.HUANG-SPD商務組-</td>
                        </tr>
                        <tr>
                            <th>出差人員</th>
                            <td>2007A0010-黃紹情-CHERYL.HUANG-SPD商務組-</td>
                        </tr>
                        <tr>
                            <th>國內/國外</th>
                            <td>國外</td>
                        </tr>
                        <tr>
                            <th>同行人員</th>
                            <td>無</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="formBox_gray tci-mb-4 itinerary">
                <div class="formBox_title">
                    <span>原訂行程</span>
                </div>
                <div class="formBox_content itineraryContent">
                    <div class="tci-text-center">
                        <span>行程(共計<span style="font-weight: bold;color: var(--color-dark_green);">20</span>天)</span>
                    </div>
                    <hr>
                    <div class="tableScroll">
                        <table class="tci-table tci-table-bordered journey">
                            <thead>
                                <tr style="text-align: center;">
                                    <th style="color: var(--color-dark_red);background-color: var(--color-whitesmoke);">
                                        星期天</th>
                                    <th>星期一</th>
                                    <th>星期二</th>
                                    <th>星期三</th>
                                    <th>星期四</th>
                                    <th>星期五</th>
                                    <th style="color: var(--color-dark_red);background-color: var(--color-whitesmoke);">
                                        星期六</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="holiday_td">
                                        <div class="holiday"><span>8/10</span></div>
                                    </td>
                                    <td>
                                        <div class="weekdays_date"><span>8/10</span></div>
                                        <div>
                                            <span class="place">阿拉伯聯合大公國</span><br>
                                            <span class="region">阿布達比</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="weekdays_date"><span>8/10</span></div>
                                        <div>
                                            <span class="place">阿拉伯聯合大公國</span><br>
                                            <span class="region">阿布達比</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="weekdays_date"><span>8/10</span></div>
                                        <div>
                                            <span class="place">阿拉伯聯合大公國</span><br>
                                            <span class="region">阿布達比</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="weekdays_date"><span>8/10</span></div>
                                        <div>
                                            <span class="place">阿拉伯聯合大公國</span><br>
                                            <span class="region">阿布達比</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="weekdays_date"><span>8/10</span></div>
                                        <div>
                                            <span class="place">阿拉伯聯合大公國</span><br>
                                            <span class="region">阿布達比</span>
                                        </div>
                                    </td>
                                    <td class="holiday_td">
                                        <div class="holiday"><span>8/10</span></div>
                                        <div>
                                            <span class="place">阿拉伯聯合大公國</span><br>
                                            <span class="region">阿布達比</span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tableScroll0">
                <table class="tci-table tci-table-bordered">
                    <tbody>
                        <tr>
                            <th style="width: 120px;">事由</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th>代辦需求</th>
                            <td>2007A0010-黃紹情-CHERYL.HUANG-SPD商務組-</td>
                        </tr>
                        <tr>
                            <th>預支旅費</th>
                            <th>NTD 0<br>NTD 0</th>
                        </tr>
                        <tr>
                            <th>實領旅費</th>
                            <th>
                                <div>
                                    <span>NTD 0</span>
                                    <span style="margin-left:4rem;"> 本幣 → 外幣匯率：<span style="color: var(--color-dark_red);">1</span></span>
                                </div>
                                <div>
                                    <span>NTD 0</span>
                                    <span style="margin-left:4rem;"> 本幣 → 外幣匯率：<span style="color: var(--color-dark_red);">1</span></span>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th>同行人員</th>
                            <td>無</td>
                        </tr>
                        <tr>
                            <th>行程調整</th>
                            <td>
                                <div class="strokeAdjustment">
                                    <div class="tci-bs-input-group">
                                        <div class="tci-bs-input-group-prepend">
                                            <span class="tci-bs-input-group-text">出差日提前至:</span>
                                        </div>
                                        <input type="text" class="tci-form-control" />
                                    </div>
                                    <div class="tci-bs-input-group">
                                        <div class="tci-bs-input-group-prepend">
                                            <span class="tci-bs-input-group-text">出差地點:</span>
                                        </div>
                                        <select class="tci-form-control">
                                            <option selected>Choose...</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                        <select class="tci-form-control">
                                            <option selected>Choose...</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                </div>
                                <hr>
                                <div class="strokeAdjustment">
                                    <div class="tci-bs-input-group">
                                        <div class="tci-bs-input-group-prepend">
                                            <span class="tci-bs-input-group-text">結束日延後至:</span>
                                        </div>
                                        <input type="text" class="tci-form-control" />
                                    </div>
                                    <div class="tci-bs-input-group">
                                        <div class="tci-bs-input-group-prepend">
                                            <span class="tci-bs-input-group-text">出差地點:</span>
                                        </div>
                                        <select class="tci-form-control">
                                            <option selected>Choose...</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                        <select class="tci-form-control">
                                            <option selected>Choose...</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                </div>
                                <hr>
                                <div class="tci-bs-input-group">
                                    <div class="tci-bs-input-group-prepend">
                                        <span class="tci-bs-input-group-text">提前或延後說明:</span>
                                    </div>
                                    <input type="text" class="tci-form-control" />
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot class="btnGroups" style="text-align: right;">
                        <tr>
                            <td colspan="2">
                                <button class="tci-btn bg_drakgreen">儲存</button>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </section>
        <div style="text-align: center;color: var(--color-dark_red);">
            <span>只有出差單經辦人,才能儲存報支單</span>
        </div>
        <hr>
        <div class="userCard_info">
            <span class="user_info">
                <u><b>使用者資訊：</b>
                    <span>大江生醫 - 軟體研發組 - 大江戰士TCI Warrior(2) - 2206A0011 - HEDY.TSENG - 曾莞婷</span></u>
            </span>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script> -->
</body>

</html>