<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="../../scss/tci-all.css">
    <title>新增報支費用</title>
</head>

<body>
    <div class="container-fluid tci-mb-3" id="page_travelExpense">
        <div class="pageHeader">
            <span class="pageHeaderTitle tci-ml-2"><b>旅費報支單</b></span>
        </div>
        <div class="btnGroups">
            <button class="tci-btn bg_lightgray">重新查詢</button>
        </div>
        <section class="travelExpenseGroups">
            <button class="tci-btn bg_darkkhaki">出差申請單內容</button>
            <button class="tci-btn bg_darkkhaki">代辦資料</button>
            <button class="tci-btn bg_darkkhaki">新增報支費用</button>
            <button class="tci-btn bg_darkkhaki">已報支明細</button>

        </section>
        <section class="travelExpense_expenseReport tci-mt-1">
            <div class="tableScroll">
                <table class="tci-table tci-table-bordered">
                    <thead style="text-align:center;background-color: var(--color-light-gray);">
                        <th colspan="3">新增報支費用</th>
                    </thead>
                    <tbody>
                        <tr>
                            <th style="width: 10%;">日期</th>
                            <td>
                                <div style="display: flex;">
                                    <select class="tci-form-control" style="width: 150px;">
                                        <option selected>2022/02/02</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                    <span style="padding: .5rem 0;margin: 0 .5rem;">(請依不同花費日期輸入費用資料)</span>
                                </div>
                                <span>若您有更改行程日期，請在【出差申請單內容-實際行程調整】中修改)</span>
                            </td>
                            <td rowspan="9" style="text-align: center;width: 140px;">
                                <div>
                                    <a href="/TCI/BillSign/SOP/旅費報支SOP.ppt" target="_blank">如何報支?</a>
                                    <br/>
                                    <button class="tci-btn bg_darkblue tci-mb-1">輸入資料</button>
                                    <br/>
                                    <button class="tci-btn bg_darkkhaki">上傳附件</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>類別</th>
                            <td>
                                <div style="display: flex;">
                                    <select class="tci-form-control" style="width: 150px;">
                                        <option selected>2022/02/02</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                    <span style="padding: .5rem 0;margin: 0 .5rem;">(先定選費用類別)</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>出差地點</th>
                            <td>
                                <div style="display: flex;">
                                    <select class="tci-form-control" style="width: 200px;">
                                        <option selected>2022/02/02</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>私車公用</th>
                            <td>
                                <div class="carContent">
                                    <div class="tci-form-check tci-form-check-inline">
                                        <input class="tci-form-check-input" type="checkbox" id="inlineCheckbox1"
                                            value="option1">
                                        <div class="car_row">

                                            <div style="display: flex;margin-bottom: .5rem;">
                                                <span style="padding: .5rem 0;margin: 0 .5rem;">車種:</span>
                                                <select class="tci-form-control" style="width: 100px;">
                                                    <option selected>汽車</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
                                            </div>
                                            <div style="display: flex;margin-bottom: .5rem;">
                                                <span style="padding: .5rem 0;margin: 0 .5rem;">出發地:</span>
                                                <input type="text" class="tci-form-control" style="width: 200px;" />
                                            </div>

                                            <div style="display: flex;margin-bottom: .5rem;">
                                                <span style="padding: .5rem 0;margin: 0 .5rem;">目的地:</span>
                                                <input type="text" class="tci-form-control" style="width: 200px;" />
                                            </div>
                                            <div style="display: flex;margin-bottom: .5rem;">
                                                <span style="padding: .5rem 0;margin: 0 .5rem;">總計里程數:</span>
                                                <input type="text" class="tci-form-control" style="width: 100px;" />
                                                <span style="padding: .5rem 0;margin: 0 .5rem;">km</span>
                                            </div>

                                            <div style="display: flex;margin-bottom: .5rem;">
                                                <span style="padding: .5rem 0;margin: 0 .5rem;">過路回數票:</span>
                                                <input type="text" class="tci-form-control" style="width: 70px;" />
                                                <span style="padding: .5rem 0;margin: 0 .5rem;">張</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>費用說明</th>
                            <td>
                                <div style="display: flex;">
                                    <input type="text" class="tci-form-control" style="width: 45%;" />
                                    <span style="padding: .5rem 0;margin: 0 .5rem;">(費用詳細說明,如:搭計程車,吃飯...)</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>事由</th>
                            <td>
                                <div style="display: flex;">
                                    <input type="text" class="tci-form-control" style="width: 45%;" />
                                    <span style="padding: .5rem 0;margin: 0 .5rem;">(花費原因,如:拜訪廠商,早餐中餐晚餐...)</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>參與人員</th>
                            <td>
                                <div style="display: flex;">
                                    <input type="text" class="tci-form-control" style="width: 45%;" />
                                    <span style="padding: .5rem 0;margin: 0 .5rem;">(若與廠商或同行人員合併花費,請在此填寫)</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>費用</th>
                            <td>
                                <div style="display: flex;">
                                    <span style="padding: .5rem 0;margin: 0 .5rem;">幣別</span>
                                    <select class="tci-form-control" style="width: 200px;">
                                        <option selected>幣別幣別</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                    <span style="padding: .5rem 0;margin: 0 .5rem;">金額</span>
                                    <input type="text" class="tci-form-control" style="width:200px" />
                                </div>
                                <span style="padding: .5rem 0;margin: 0 .5rem;">(費用幣別以兌換外幣匯率為主,無兌換外幣時以系統預設匯率計算)</span>
                            </td>
                        </tr>
                        <tr>
                            <th>支付方式</th>
                            <td>
                                <select class="tci-form-control" style="width: 200px;">
                                    <option selected>幣別幣別</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tableScroll">
                <table class="tci-table tci-table-bordered">
                    <thead style="text-align:center;background-color: var(--color-light-gray);">
                        <th colspan="2">兌換外幣</th>
                    </thead>
                    <tbody>
                        <tr>
                            <th style="width: 10%;">金額來源</th>
                            <td>
                                <div style="display: flex;">
                                    <select class="tci-form-control" style="width: 150px;">
                                        <option selected>2022/02/02</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>兌換日期</th>
                            <td>
                                <div style="display: flex;">
                                    <select class="tci-form-control" style="width: 150px;">
                                        <option selected>2022/02/02</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>兌換內容</th>
                            <td>
                                <div style="display: flex;">
                                    <span style="padding: .5rem 0;margin: 0 .5rem;">以</span>
                                    <select class="tci-form-control" style="width: 130px;">
                                        <option selected>2022/02/02</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                    <input type="text" class="tci-form-control" style="width: 130px;" />
                                    <span style="padding: .5rem 0;margin: 0 .5rem;">(本幣)→兌換</span>
                                    <select class="tci-form-control" style="width: 130px;">
                                        <option selected>2022/02/02</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                    <input type="text" class="tci-form-control" style="width: 130px;" />
                                    <span style="padding: .5rem 0;margin: 0 .5rem;">(外幣)</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2" style="text-align: right;">
                                <button class="tci-btn bg_darkblue">輸入資料</button>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </section>
        <div style="text-align: center;color: var(--color-dark-red);">
            <span>只有出差單經辦人,才能儲存報支單</span>
        </div>
        <hr>
        <div class="userCard_info">
            <span class="user_info">
                <u><b>使用者資訊：</b>
                    <span>大江生醫 - 軟體研發組 - 大江戰士TCI Warrior(2) - 2206A0011 - HEDY.TSENG - 曾莞婷</span></u>
            </span>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>