<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="../../scss/tci-all.css">
    <link rel="stylesheet" href="./style.css">
    <title>TCI會計分組</title>
</head>

<body>
    <div class="container-fluid" id="page_tciAccountGroup" style="position: relative;">
        <a name="P1" id="P1"></a>
        <div class="pageHeader">
            <span class="pageHeaderTitle"><b>TCI會計分組</b></span>
        </div>
        <div class="box_top" style="position: fixed;right: 0;bottom: 2px;">
            <a href="#P1"><button class="tci-btn tci-btn-bg-warning">↑ Top</button></a>
        </div>
        <section style="width: 100%;display: flex;justify-content: center;flex-wrap: wrap;">
            <div style="width: 950px;">
                <img src="https://asap.tci-bio.com/TCI/Help/TCI%E6%9C%83%E8%A8%88%E5%88%86%E7%B5%84/%E6%8A%95%E5%BD%B1%E7%89%871.JPG" width="100%" height="100%" usemap="#Map">
            </div>
            <div style="width: 950px;">
                <img src="https://asap.tci-bio.com/TCI/Help/TCI%E6%9C%83%E8%A8%88%E5%88%86%E7%B5%84/%E6%8A%95%E5%BD%B1%E7%89%872.JPG" width="100%" height="100%" usemap="#Map">
            </div>
            <div style="width: 950px;">
                <img src="https://asap.tci-bio.com/TCI/Help/TCI%E6%9C%83%E8%A8%88%E5%88%86%E7%B5%84/%E6%8A%95%E5%BD%B1%E7%89%873.JPG" width="100%" height="100%" usemap="#Map">
            </div>
            <div style="width: 950px;">
                <img src="https://asap.tci-bio.com/TCI/Help/TCI%E6%9C%83%E8%A8%88%E5%88%86%E7%B5%84/%E6%8A%95%E5%BD%B1%E7%89%874.JPG" width="100%" height="100%" usemap="#Map">
            </div>
            <div style="width: 950px;">
                <img src="https://asap.tci-bio.com/TCI/Help/TCI%E6%9C%83%E8%A8%88%E5%88%86%E7%B5%84/%E6%8A%95%E5%BD%B1%E7%89%875.JPG" width="100%" height="100%" usemap="#Map">
            </div>
            <div style="width: 950px;">
                <img src="https://asap.tci-bio.com/TCI/Help/TCI%E6%9C%83%E8%A8%88%E5%88%86%E7%B5%84/%E6%8A%95%E5%BD%B1%E7%89%876.JPG" width="100%" height="100%" usemap="#Map">
            </div>
        </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>