<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" /> -->
    <link rel="stylesheet" href="./tci-all.css">
    <link rel="stylesheet" href="./style.css">
    <title>光速列車</title>
</head>

<body>
    <div id="page_light">
        <div class="pageHeader" style="margin: .5rem;margin-bottom: 1.5rem;">
            <span class="pageHeaderTitle"><b style="font-size: 24px;">光速列車</b></span>
        </div>
        <div class="query" style="margin: 1rem;">
            <div class="tci-field ">
                <div class="tci-field-label">
                    <span class="tci-field-text text-left">新/舊品:</span>
                </div>
                <div style="display: flex;">
                    <div class="form-check tci-mr-3">
                        <input class="form-check-input" type="radio" name="orderRadios" id="orderRadios1"
                            value="option1">
                        <label class="form-check-label" for="orderRadios1">
                            舊品
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="orderRadios" id="orderRadios2"
                            value="option2" checked>
                        <label class="form-check-label" for="orderRadios2">
                            新品
                        </label>
                    </div>
                </div>
            </div>
            <div class="tci-field" style="display: flex;">
                <div class="tci-field-label">
                    <span class="tci-field-text text-left">建立時間起訖：</span>
                </div>
                <div class="tci-valueBtn">
                    <input type="text" class="tci-form-control" value="2022/22/22"/>
                    <button class="tci-icon bg_darkkhaki" style="width: 80px;"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                    <span class="tci-input-group-text">~</span>
                    <input type="text" class="tci-form-control" value="2022/22/22" />
                    <button class="tci-icon bg_darkkhaki" style="width: 80px;"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                </div>
            </div>
            <div class="tci-field" style="display: flex;">
                <div class="tci-field-label">
                    <span class="tci-field-text text-left">預計訂單日起迄：</span>
                </div>
                <div class="tci-valueBtn">
                    <input type="text" class="tci-form-control" value="2022/22/22"/>
                    <button class="tci-icon bg_darkkhaki" style="width: 80px;"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                    <span class="tci-input-group-text">~</span>
                    <input type="text" class="tci-form-control" value="2022/22/22" />
                    <button class="tci-icon bg_darkkhaki" style="width: 80px;"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                </div>
            </div>
            <div class="tci-field">
                <div class="tci-field-label">
                    <span class="tci-field-text text-left">預估明細：</span>
                </div>
                <input type="text" class="tci-field-value" />
            </div>
            <div class="tci-field">
                <div class="tci-field-label">
                    <span class="tci-field-text text-left">客戶名稱(CUID)：</span>
                </div>
                <input type="text" class="tci-field-value" />
            </div>
            <div class="tci-field">
                <div class="tci-field-label">
                    <span class="tci-field-text text-left">商機名稱：</span>
                </div>
                <input type="text" class="tci-field-value" />
            </div>
            <div class="tci-field">
                <div class="tci-field-label">
                    <span class="tci-field-text text-left">銷售地區：</span>
                </div>
                <input type="text" class="tci-field-value" />
            </div>
            <div class="tci-field">
                <div class="tci-field-label">
                    <span class="tci-field-text text-left">PM：</span>
                </div>
                    <div class="dropdown" style="display: flex;">
                        <input type="text" class="tci-form-control">
                        <button class="tci-icon bg_darkblue dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></button>
                        <ul class="dropdown-menu" style="padding: 5px;">
                            <li>
                                <div class="checkbox">
                                    <label><input type="checkbox" style="width:20px;height: 20px;margin: 0;margin-left: -20px;"><span
                                            style="margin:5px">Remember</span></label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox">
                                    <label><input type="checkbox" style="width:20px;height: 20px;margin: 0;margin-left: -20px;"><span
                                            style="margin:5px">Remember</span></label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            <div class="tci-field">
                <div class="tci-field-label">
                    <span class="tci-field-text text-left">業務：</span>
                </div>
                <div class="dropdown" style="display: flex;">
                    <input type="text" class="tci-form-control">
                    <button class="tci-icon bg_darkblue dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></button>
                    <ul class="dropdown-menu" style="padding: 5px;">
                        <li>
                            <div class="checkbox">
                                <label><input type="checkbox" style="width:20px;height: 20px;margin: 0;margin-left: -20px;"><span
                                        style="margin:5px">Remember</span></label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <label><input type="checkbox" style="width:20px;height: 20px;margin: 0;margin-left: -20px;"><span
                                        style="margin:5px">Remember</span></label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="btnGroups tci-mb-1" style="margin: 1rem;">
            <button class="tci-btn bg_darkblue">查詢</button>
            <button class="tci-btn bg_darkgreen">權限平台</button>
        </div>
        <div class="tableScroll" style="margin: 1rem;">
            <table class="tci-table tci-table-bordered">
                <thead>
                    <tr style="background-color: var(--color-light-gray);text-align: center;">
                        <th style="width: 5%;vertical-align: inherit;">NO</th>
                        <th style="vertical-align: inherit;">預估明細 </th>
                        <th style="vertical-align: inherit;">客戶名稱(CUID) </th>
                        <th style="vertical-align: inherit;">商機名稱</th>
                        <th style="vertical-align: inherit;">PM </th>
                        <th style="vertical-align: inherit;">業務 </th>
                        <th style="vertical-align: inherit;">銷售地區：</th>
                        <th>
                            <div style="display: flex;justify-content: space-between;">
                                <div style="margin: auto;">建立時間(新品)</div>
                                <div><span class="up"><i class="fa fa-sort-asc" aria-hidden="true"></i></span><br>
                                    <span class="down"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                                </div>
                            </div>
                        </th>
                        <th>
                            <div style="display: flex;justify-content: space-between;">
                                <div style="margin: auto;">預計訂單日 (舊品)</div>
                                <div><span class="up"><i class="fa fa-sort-asc" aria-hidden="true"></i></span><br>
                                    <span class="down"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                                </div>
                            </div>
                        </th>
                        <th style="vertical-align: inherit;">狀態</th>
                        <th style="width: 5%;"></th>
                    </tr>
                </thead>
                <tbody style="text-align: center;">
                    <tr>
                        <td>100</td>
                        <td>測試</td>
                        <td>測試</td>
                        <td>測試</td>
                        <td>測試</td>
                        <td>hedy.tseng</td>
                        <td>馬來西亞</td>
                        <td>2020/22/22</td>
                        <td>2020/22/22</td>
                        <td></td>
                        <td><button class="tci-btn bg_darkblue" style="min-width: 85px;">流程</button></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>測試</td>
                        <td>測試</td>
                        <td>測試</td>
                        <td>測試</td>
                        <td>測試</td>
                        <td>測試</td>
                        <td>2020/22/22</td>
                        <td>2020/22/22</td>
                        <td></td>
                        <td><button class="tci-btn bg_darkblue" style="min-width: 85px;">流程</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="text-align: center;" class="p3">
            <span style="margin-right:1rem;">
                <span>每頁</span>
                <select class="tci-form-control" style="width: 65px;display: initial;padding: 3px 5px;">
                    <option selected>100</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <span>筆</span>
            </span>
            <span>第&nbsp;<b>2</b>&nbsp;頁</span>/<span>共&nbsp;<b>20</b>&nbsp;頁</span>
            <input type="text" class="tci-form-control" style="width:50px;padding: 3px 5px;display: initial;">
            <button class="tci-btn bg_darkblue"
                style="padding: 2px 0;min-width: 30px;vertical-align: inherit;">跳</button>
            <button class="tci-icon bg_darkblue"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
            <button class="tci-icon bg_darkblue"><i class="fa fa-angle-right" aria-hidden="true"></i></button>

        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>