#page_light {
    .query {
        .tci-field {
            .tci-valueBtn {
                display: flex;
            }
        }
    }

    .tableScroll {
        overflow-x: auto;

        .tci-table {
            width: 1200px;
        }
    }
    .up {
        cursor: pointer;
        color: var(--color-whitesmoke);
        :hover {
            color: var(--color-dark);
        }
    }
    .down {
        cursor: pointer;
        color: var(--color-whitesmoke);
        :hover {
            color: var(--color-dark);
        }
    }
}
.tci-icon {
    border-radius: var(--borderRadius);
    color: var(--color-snow);
    font-weight: bold;
    width: 30px;
    padding: 3px;
    margin: 0 2px;
    vertical-align: baseline;
}
@media (min-width: 768px) {
    #page_light {
        .query {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .tci-field {
                width: 49%;

                .tci-field-label {
                    width: 32%;
                }

                .tci-field-value {
                    width: 68%;
                }

                .tci-valueBtn {
                    width: 68%;
                }
                .dropdown {
                    width: 68%;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    #page_light {
        .tableScroll {
            overflow-x: auto;

            .tci-table {
                width: 100%;
            }
        }
    }
}

////
.container {
    width: 1170px;
}
/* 当屏幕为竖屏时应用的样式 */
@media screen and (orientation: portrait) {
    /*要横屏显示的内容的外层盒子*/
    #page_test3 {
        /* 设置基准点为左上角 */
        transform-origin: top left;
        /* 以左上角为基准点，顺时针旋转90度 然后沿Y轴反方向平移100% */
        /* 为什么沿Y轴，因为旋转使坐标轴方向发生了变化 */
        transform: rotate(90deg) translateY(-100%);
        /*设置元素的宽度为 100%父元素的高度 并提高样式优先级 */
        width: 100vh !important;
        /*设置元素的宽度为 100%父元素的宽度  并提高样式优先级 */
        height: 100vw !important;
    }
}

//page_test3
#page_test3 {
    .content {
        overflow-x: auto;

        .cardContent {
            display: flex;
            flex-wrap: wrap;
            width: 1200px;
            justify-content: space-around;

            .block {
                display: flex;
                width: 22%;
                margin-bottom: 1rem;
            }

            .tci-card {
                min-width: 162px;
                margin-right: 5px;
                width: 190px;

                .tci-card-body {
                    margin: auto;
                    flex: inherit;

                    .tci-card-title {
                        font-weight: bold;
                        font-size: 16px;
                    }

                    button {
                        padding: 3px 5px;
                    }
                }
            }
        }
    }

    .box {
        min-width: 220px;
        text-align: center;
    }

    .step_card {
        line-height: 2;
        background-color: var(--color-light-gray);
        border-radius: var(--borderRadius);
        padding: 5px;
        box-shadow: var(--borderShadow);
        margin: 1rem auto;
        width: 90%;

        .step_card_title {
            font-weight: bold;
            font-size: 14px;
            cursor: pointer;
        }

        .line_one {
            height: 5px;
            background-color: var(--color-dark-green);
        }

        .line_two {
            height: 5px;
            background-color: var(--color-light-red);
        }
    }

    .greenTag {
        font-size: var(--font-size-xs);
        background-color: var(--color-dark-khaki);
        color: var(--color-snow);
        border-radius: var(--borderRadius);
        padding: 0 5px;
    }

    .step-num {
        display: inline-block;
        height: 30px;
        width: 30px;
        color: var(--color-snow);
        background-color: #b9b9b9;
        line-height: 30px;
        border-radius: 50%;
        text-align: center;
    }

    .step_active .step-num {
        background-color: #fff100; //#f3862d;
        color: var(--color-drak);
    }

    .step_pass .step-num {
        background-color: #2ad613;
    }

    .modal-dialog {
        width: 95%;

        .modal-body {
            display: flex;
        }

        .modal_arrow {
            background-color: var(--color-dark-blue);
            color: #fff;
            margin: auto 0.5rem;
            padding: 2rem 1rem;
            border-radius: var(--borderRadius);
        }

        .modal_card {
            display: flex;
            flex-wrap: wrap;
            background-color: #b9b9b9;
            padding: 8px;
            margin-bottom: 1rem;
            border-radius: var(--borderRadius);

            &.secound {
                background-color: antiquewhite;
                border-radius: var(--borderRadius);

                .box {
                    margin: auto;
                }
            }

            .box {
                position: relative;
                .end {
                    bottom: -10px;
                    position: absolute;
                    right: 12px;
                }
            }

            .block {
                display: flex;
                margin-bottom: 1rem;

                &.end {
                    border: 2px solid #2a2a2a;
                    padding: 5px;
                }
            }

            .block_row {
                flex-flow: column;
                border: 3px dashed saddlebrown;
            }

            .tci-card {
                min-width: 162px;
                margin-right: 5px;
                width: 190px;

                .tci-card-body {
                    margin: auto;
                    flex: inherit;

                    .tci-card-title {
                        font-weight: bold;
                        font-size: 16px;
                    }

                    button {
                        padding: 3px 5px;
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {
    #page_test3 {
        .content {
            .cardContent {
                width: 100%;
            }
        }
    }
}

#page_dataflow2 {
    .tableScroll {
        overflow-x: auto;
        .tci-table {
            min-width: 1400px;
            thead {
                opacity: 0.7;
                box-shadow: 3px 3px 3px 0 rgb(0 0 0 / 20%);
            }
            th,
            td {
                border: 1px solid #dee2e6;
            }
            .project {
                min-width: 110px;
                border: none;
            }
            .title {
                writing-mode: vertical-rl;
                vertical-align: inherit;
                border-top: none;
                border-bottom: none;
            }
            .block {
                margin-top: 6rem;
            }
            .box {
                background-color: var(--color-dark-green);
                padding: 1px;
            }
            i {
                &::after {
                    content: "";
                }
            }
        }
    }
}
