#page_createAlternative{
    .paymentListQuery{
        .tci-valueBtn {
            display: flex;
            width: 100%;
        }
    }
}
@media (min-width: 765px) {

    #page_createAlternative{
        .paymentListQuery{
               .tci-input-group-prepend{
                width: 30%;
               } 
            .tci-valueBtn {
                display: flex;
                width: 70%;
                justify-content: end;
            }
        }
    }
}