#page_issueProduction {
    .issueQuery {
        .tci-field {
            flex-wrap: wrap;
            justify-content: space-between;

            .tci-field-label {
                text-align: left;
            }

            .tci-valueBtn {
                display: flex;
                width: 100%;
            }
        }
    }
}
@media (min-width: 768px) {

    #page_issueProduction {
        .issueQuery {
            .tci-field {
                flex-wrap: nowrap;

                .tci-field-label {
                    width: 40%;
                    text-align: right;

                }

                .tci-valueBtn {
                    display: flex;
                    width: 55%;
                    justify-content: end;
                }

                .tci-field-value {
                    width: 80%;
                }
            }
        }
    }
}

#page_issueProduction_signoff {
    .tableScroll {
        overflow-x: auto;

        .tableContent {
            width: 1200px;
        }
    }
}

#page_issueProduction_print {
    .print_table {
        overflow-x: auto;

        .tableContent {
            width: 1200px;
        }
    }
}

@media (min-width: 992px) {
    #page_issueProduction_signoff {
        .tableScroll {
            .tableContent {
                width: 100%;
            }
        }
    }
    #page_issueProduction_print {
    .print_table {
        .tableContent {
            width: 100%;

        }
    }
}
}