#page_issueProduction .issueQuery .tci-valueBtn {
  display: flex;
  width: 100%;
}

@media (min-width: 765px) {
  #page_issueProduction .issueQuery .tci-input-group-prepend {
    width: 30%;
  }
  #page_issueProduction .issueQuery .tci-valueBtn {
    display: flex;
    width: 70%;
    justify-content: end;
  }
}
#page_issueProduction_signoff .tableScroll {
  overflow-x: auto;
}
#page_issueProduction_signoff .tableScroll .tableContent {
  width: 1200px;
}

#page_issueProduction_print .print_table {
  overflow-x: auto;
}
#page_issueProduction_print .print_table .tableContent {
  width: 1200px;
}

@media (min-width: 992px) {
  #page_issueProduction_signoff .tableScroll .tableContent {
    width: 100%;
  }
  #page_issueProduction_print .print_table .tableContent {
    width: 100%;
  }
}