<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="../../scss/tci-all.css">
    <title>生產領料單</title>
</head>

<body>
    <div class="container-fluid tci-mb-3 conditional_page" id="page_createAlternative">
        <div class="pageHeader">
            <span class="pageHeaderTitle tci-ml-2"><b>生產領料單</b></span>
        </div>
        <section class="paymentListQuery">
            <div class="tci-input-group tci-mb-2">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text">生產訂單編號:</span>
                </div>
                <input type="number" class="tci-form-control" min="0"/>
                <button class="tci-btn search_btn">查詢</button>
            </div>
           </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script> -->
</body>

</html>