<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="../../scss/tci-all.css">
    <link rel="stylesheet" href="./style.css">
    <title>供應商資料建檔申請表</title>
</head>

<body>
    <div class="container-fluid" id="page_supplierApplicationForm">
        <div class="pageHeader">
            <span class="pageHeaderTitle"><b>供應商資料建檔申請表</b></span>
        </div>
        <section class="cardContent">
            <div class="tci-card card-gray">
                <div class="tci-card-header card-header-gray" style="text-align: left;padding: .5rem;">基本資料</div>
                <div class="tci-card-body">
                    <div class="tci-field">
                        <div class="tci-field-label">
                            <span class="tci-field-text">所屬公司別</span>
                        </div>
                        <input type="text" class="tci-field-value" />
                    </div>
                    <div class="tci-field">
                        <div class="tci-field-label">
                            <span class="tci-field-text">供應商名稱</span>
                        </div>
                        <input type="text" class="tci-field-value" />
                    </div>
                    <div class="tci-field">
                        <div class="tci-field-label">
                            <span class="tci-field-text">供應商電話</span>
                        </div>
                        <input type="text" class="tci-field-value" />
                    </div>
                    <div class="tci-field">
                        <div class="tci-field-label">
                            <span class="tci-field-text">供應商郵件</span>
                        </div>
                        <input type="text" class="tci-field-value" />
                    </div>
                </div>
            </div>
        </section>

        <section class="cardContent">
            <div class="tci-card card-gray">
                <div class="tci-card-header card-header-gray" style="text-align: left;padding: .5rem;">明細資料</div>
                <div class="tci-card-body">
                    <div class="tci-field">
                        <div class="tci-field-label">
                            <span class="tci-field-text">統一編號</span>
                        </div>
                        <input type="text" class="tci-field-value" />
                    </div>
                    <div class="tci-field">
                        <div class="tci-field-label">
                            <span class="tci-field-text">與TCI交易品項</span>
                        </div>
                        <input type="text" class="tci-field-value" />
                    </div>
                    <div class="tci-field">
                        <div class="tci-field-label">
                            <span class="tci-field-text">供應商性質</span>
                        </div>
                        <input type="text" class="tci-field-value" />
                    </div>
                    <div class="tci-field">
                        <div class="tci-field-label">
                            <span class="tci-field-text">供應商類型</span>
                        </div>
                        <input type="text" class="tci-field-value" />
                    </div>
                    <div class="tci-field">
                        <div class="tci-field-label">
                            <span class="tci-field-text">營業項目</span>
                        </div>
                        <input type="text" class="tci-field-value" />
                    </div>
                    <div class="tci-field">
                        <div class="tci-field-label">
                            <span class="tci-field-text">負責人姓名</span>
                        </div>
                        <input type="text" class="tci-field-value" />
                    </div>
                    <div class="tci-field">
                        <div class="tci-field-label">
                            <span class="tci-field-text">負責人職位</span>
                        </div>
                        <input type="text" class="tci-field-value" />
                    </div>
                    <div class="tci-field">
                        <div class="tci-field-label">
                            <span class="tci-field-text">登記資本額</span>
                        </div>
                        <input type="text" class="tci-field-value" />
                    </div>
                    <div class="tci-field">
                        <div class="tci-field-label">
                            <span class="tci-field-text">產品責任險</span>
                        </div>
                        <input type="text" class="tci-field-value" />
                    </div>
                    <div class="tci-field">
                        <div class="tci-field-label">
                            <span class="tci-field-text">付款條件</span>
                        </div>
                        <input type="text" class="tci-field-value" />
                    </div>
                    <div class="tci-field">
                        <div class="tci-field-label">
                            <span class="tci-field-text">付款方式</span>
                        </div>
                        <input type="text" class="tci-field-value" />
                    </div>
                    <div class="tci-field">
                        <div class="tci-field-label">
                            <span class="tci-field-text">食品業者登錄字號</span>
                        </div>
                        <input type="text" class="tci-field-value" />
                    </div>
                    <div class="tci-field">
                        <div class="tci-field-label">
                            <span class="tci-field-text">工廠電話</span>
                        </div>
                        <input type="text" class="tci-field-value" />
                    </div>
                    <div class="tci-field">
                        <div class="tci-field-label">
                            <span class="tci-field-text">工廠登記證號</span>
                        </div>
                        <input type="text" class="tci-field-value" />
                    </div>
                </div>
            </div>
        </section>

        <section class="cardContent">
            <div class="tci-card card-gray">
                <div class="tci-card-header card-header-gray" style="text-align: left;padding: .5rem;">聯絡人資訊</div>
                <div class="tci-card-body">
                    <span style="width: 100%;text-align:left;font-weight: bold;">※主要聯絡人</span>
                    <div class="tci-field">
                        <div class="tci-field-label">
                            <span class="tci-field-text">聯絡人職位</span>
                        </div>
                        <input type="text" class="tci-field-value" />
                    </div>
                    <div class="tci-field">
                        <div class="tci-field-label">
                            <span class="tci-field-text">聯絡人姓名</span>
                        </div>
                        <input type="text" class="tci-field-value" />
                    </div>
                    <div class="tci-field">
                        <div class="tci-field-label">
                            <span class="tci-field-text">聯絡人電話</span>
                        </div>
                        <input type="text" class="tci-field-value" />
                    </div>
                    <div class="tci-field">
                        <div class="tci-field-label">
                            <span class="tci-field-text">聯絡人郵件</span>
                        </div>
                        <input type="text" class="tci-field-value" />
                    </div>
                </div>
            </div>
        </section>
        <div class="btnGroups">
            <button class="tci-btn bg_darkgreen">儲存</button>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>