#page_salesReturnNotice {
    .salesReturnNoticeQuery {
        .tci-field {
            flex-wrap: wrap;

            .tci-field-value {
                width: 100%;
            }
        }
    }
}

@media (min-width:768px) {
    #page_salesReturnNotice {
        .salesReturnNoticeQuery {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .tci-field {
                width: 58%;
                justify-content: space-between;
                .tci-field-label {
                    width: 55%;
                }

                .tci-field-value {
                    width: 45%;
                }

                &.type {
                    width: 40%;
                    margin-left: .5rem;
                    justify-content: space-between;
                }
            }
        }
    }
}
@media (min-width:768px) {
    #page_salesReturnNotice {
        .salesReturnNoticeQuery {
            .tci-field {
                .tci-field-label {
                    width: 40%;
                }

                .tci-field-value {
                    width: 60%;
                }

                &.type {
                    width: 40%;
                    .tci-field-value{

                    }
                }
            }
        }
    }

}
#page_salesReturnNotice_signoff{
    .tableScroll0{
        overflow-x: auto;
        .tableContent{
            width: 900px;
        }
    }
}
#page_salesReturnNotice_print{
    .print_table{
        overflow-x: auto;
        .tableContent{
            width: 900px;
        }
    }
}
@media (min-width:768px) {
    #page_salesReturnNotice_signoff{
        .tableScroll0{
            .tableContent{
                width: 100%;
            }
        }
    }
    #page_salesReturnNotice_print{
        .print_table{
            .tableContent{
                width: 100%;
            }
        }
    }
}