<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="../../scss/tci-all.css">
    <title>客戶授信額度申請單</title>
</head>

<body>
    <div class="container-fluid" id="page_requestForLineCredit">
        <div class="pageHeader">
            <span class="pageHeaderTitle"><b>客戶授信額度申請單</b></span>
        </div>
        <section class="requestForLineCreditQuery tci-mb-3">
            <div style="text-align: right;margin-bottom: .5rem;font-size: var(--font-size-sm);">
                <span>填表日期:&nbsp;</span>
                <span>2022/08/04</span>
            </div>
            <div class="requestForLineCreditQuery_row">
                <div class="tci-field">
                    <div class="tci-field-label">
                        <span class="tci-field-text text-left">配銷通路:</span>
                    </div>
                    <select class="tci-field-value">
                        <option selected>Choose...</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="tci-field">
                    <div class="tci-field-label">
                        <span class="tci-field-text text-left">CRM客戶查詢:</span>
                    </div>
                    <input type="text" class="tci-field-value" placeholder="輸入客戶名稱關鍵字" />
                </div>
                <div class="tci-field">
                    <div class="tci-field-label">
                        <span class="tci-field-text text-left">申請原因:</span>
                    </div>
                    <select class="tci-field-value">
                        <option selected>變更授信額度</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="tci-field">
                    <div class="tci-field-label">
                        <span class="tci-field-text text-left">首次交易日期:</span>
                    </div>
                    <input type="text" class="tci-field-value" />
                </div>
            </div>
        </section>

        <section class="requestForLineCreditCustomer tci-mb-3">
            <div class="tableScroll">
                <table class="tci-table tci-table-bordered">
                    <thead style="text-align: center;">
                        <tr>
                            <th colspan="6" style="background-color: var(--color-rosybrown);color:var(--color-snow);">客戶基本資料</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>客戶幣別</th>
                            <td>
                                <select class="tci-form-control">
                                    <option selected>Choose...</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </td>
                            <th>客戶負責業務</th>
                            <td colspan="3"><input type="text" class="tci-form-control" /></td>
                        </tr>
                        <tr>
                            <th>客戶名稱</th>
                            <td><input type="text" class="tci-form-control gray" disabled /></td>
                            <th>營利事業統一編號</th>
                            <td><input type="text" class="tci-form-control" /></td>
                            <th>設立時間</th>
                            <td><input type="text" class="tci-form-control" /></td>
                        </tr>
                        <tr>
                            <th>地址</th>
                            <td><input type="text" class="tci-form-control" /></td>
                            <th>電話</th>
                            <td><input type="text" class="tci-form-control" /></td>
                            <th>負責人</th>
                            <td><input type="text" class="tci-form-control" /></td>
                        </tr>
                        <tr>
                            <th>聯絡人</th>
                            <td><input type="text" class="tci-form-control" /></td>
                            <th>聯絡電話</th>
                            <td><input type="text" class="tci-form-control" /></td>
                            <th>傳真電話</th>
                            <td><input type="text" class="tci-form-control" /></td>
                        </tr>
                        <tr>
                            <th>登記資本額</th>
                            <td><input type="number" class="tci-form-control" /></td>
                            <th>實收資本額</th>
                            <td><input type="number" class="tci-form-control" /></td>
                            <th>員工人數</th>
                            <td><input type="text" class="tci-form-control" /></td>
                        </tr>
                        <tr>
                            <th>經營型態</th>
                            <td colspan="5">
                                <select class="tci-form-control">
                                    <option selected>Choose...</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>採購產品類別</th>
                            <td colspan="5">
                                <div>
                                    <div class="tci-form-check tci-form-check-inline">
                                        <input class="tci-form-check-input" type="checkbox" id="inlineCheckbox1"
                                            value="option1">
                                        <label class="tci-form-check-label" for="inlineCheckbox1">Gift Box</label>
                                    </div>
                                    <div class="tci-form-check tci-form-check-inline">
                                        <input class="tci-form-check-input" type="checkbox" id="inlineCheckbox2"
                                            value="option2">
                                        <label class="tci-form-check-label" for="inlineCheckbox2">other</label>
                                    </div>
                                    <div class="tci-form-check tci-form-check-inline">
                                        <input class="tci-form-check-input" type="checkbox" id="inlineCheckbox3"
                                            value="option3">
                                        <label class="tci-form-check-label" for="inlineCheckbox3">pet</label>
                                    </div>
                                    <div class="tci-form-check tci-form-check-inline">
                                        <input class="tci-form-check-input" type="checkbox" id="inlineCheckbox4"
                                            value="option4">
                                        <label class="tci-form-check-label" for="inlineCheckbox4">solid</label>
                                    </div>
                                    <div class="tci-form-check tci-form-check-inline">
                                        <input class="tci-form-check-input" type="checkbox" id="inlineCheckbox5"
                                            value="option4">
                                        <label class="tci-form-check-label" for="inlineCheckbox5">detergent &
                                            cosmetices</label>
                                    </div>
                                    <div class="tci-form-check tci-form-check-inline">
                                        <input class="tci-form-check-input" type="checkbox" id="inlineCheckbox6"
                                            value="option4">
                                        <label class="tci-form-check-label" for="inlineCheckbox6">liquid</label>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>預計採購金額</th>
                            <td colspan="5">
                                <div class="table_row">
                                    <div class="tci-bs-input-group tci-mb-1">
                                        <div class="tci-bs-input-group-prepend">
                                            <span class="tci-bs-input-group-text">年度:</span>
                                        </div>
                                        <input type="text" class="tci-form-control" />
                                        <span class="tci-bs-input-group-text">年</span>
                                    </div>
                                    <div class="tci-bs-input-group tci-mb-1">
                                        <div class="tci-bs-input-group-prepend">
                                            <span class="tci-bs-input-group-text">最高(新台幣):</span>
                                        </div>
                                        <input type="text" class="tci-form-control" />
                                        <span class="tci-bs-input-group-text">/月</span>
                                    </div>
                                    <div class="tci-bs-input-group tci-mb-1">
                                        <div class="tci-bs-input-group-prepend">
                                            <span class="tci-bs-input-group-text">平均:</span>
                                        </div>
                                        <input type="text" class="tci-form-control" />
                                        <span class="tci-bs-input-group-text">/月</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>銷售產品類別</th>
                            <td colspan="5">
                                <div>
                                    <div class="tci-form-check tci-form-check-inline">
                                        <input class="tci-form-check-input" type="checkbox" id="inlineCheckbox1"
                                            value="option1">
                                        <label class="tci-form-check-label" for="inlineCheckbox1">Gift Box</label>
                                    </div>
                                    <div class="tci-form-check tci-form-check-inline">
                                        <input class="tci-form-check-input" type="checkbox" id="inlineCheckbox2"
                                            value="option2">
                                        <label class="tci-form-check-label" for="inlineCheckbox2">other</label>
                                    </div>
                                    <div class="tci-form-check tci-form-check-inline">
                                        <input class="tci-form-check-input" type="checkbox" id="inlineCheckbox3"
                                            value="option3">
                                        <label class="tci-form-check-label" for="inlineCheckbox3">pet</label>
                                    </div>
                                    <div class="tci-form-check tci-form-check-inline">
                                        <input class="tci-form-check-input" type="checkbox" id="inlineCheckbox4"
                                            value="option4">
                                        <label class="tci-form-check-label" for="inlineCheckbox4">solid</label>
                                    </div>
                                    <div class="tci-form-check tci-form-check-inline">
                                        <input class="tci-form-check-input" type="checkbox" id="inlineCheckbox5"
                                            value="option4">
                                        <label class="tci-form-check-label" for="inlineCheckbox5">detergent &
                                            cosmetices</label>
                                    </div>
                                    <div class="tci-form-check tci-form-check-inline">
                                        <input class="tci-form-check-input" type="checkbox" id="inlineCheckbox6"
                                            value="option4">
                                        <label class="tci-form-check-label" for="inlineCheckbox6">liquid</label>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>銷售地區產品通路</th>
                            <td colspan="5">
                                <input type="text" class="tci-form-control" />
                            </td>
                        </tr>
                        <tr>
                            <th>實際採購金額</th>
                            <td colspan="5">
                                <div class="table_row">
                                    <div class="tci-bs-input-group tci-mb-1">
                                        <div class="tci-bs-input-group-prepend">
                                            <span class="tci-bs-input-group-text">開始時間:</span>
                                        </div>
                                        <input type="text" class="tci-form-control" />
                                    </div>
                                    <div class="tci-bs-input-group tci-mb-1">
                                        <div class="tci-bs-input-group-prepend">
                                            <span class="tci-bs-input-group-text">結束時間:</span>
                                        </div>
                                        <input type="text" class="tci-form-control" />
                                    </div>
                                    <div class="tci-bs-input-group tci-mb-1">
                                        <div class="tci-bs-input-group-prepend">
                                            <span class="tci-bs-input-group-text">幣別:</span>
                                        </div>
                                        <input type="text" class="tci-form-control" />
                                    </div>
                                    <div class="tci-bs-input-group tci-mb-1">
                                        <div class="tci-bs-input-group-prepend">
                                            <span class="tci-bs-input-group-text">金額:</span>
                                        </div>
                                        <input type="text" class="tci-form-control" />
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>主要往來銀行</th>
                            <td colspan="5">
                                <input type="text" class="tci-form-control" />
                            </td>
                        </tr>
                        <tr>
                            <th>付款情形</th>
                            <td colspan="5">
                                <select class="tci-form-control">
                                    <option selected>Choose...</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

        <section class="requestForLineCreditApplication">
            <div class="tableScroll">
                <table class="tci-table tci-table-bordered">
                    <thead style="text-align: center;">
                        <tr>
                            <th colspan="2" style="background-color: var(--color-rosybrown);color:var(--color-snow);">授信條件申請</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>原付款條件</th>
                            <td colspan="3"><input type="text" class="tci-form-control gray" disabled /></td>
                        </tr>
                        <tr>
                            <th style="color: var(--color-dark-red);">新付款條件</th>
                            <td>
                                <select class="tci-form-control">
                                    <option selected>Choose...</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th style="color: var(--color-dark-red);">擬授信額度</th>
                            <td colspan="5">
                                <div class="table_row">
                                    <div class="tci-bs-input-group tci-mb-1">
                                        <div class="tci-bs-input-group-prepend">
                                            <span class="tci-bs-input-group-text">期間</span>
                                        </div>
                                        <div class="tci-bs-input-group-prepend">
                                            <span class="tci-bs-input-group-text">自</span>
                                        </div>
                                        <input type="text" class="tci-form-control" />
                                        <div class="tci-bs-input-group-prepend">
                                            <span class="tci-bs-input-group-text">至</span>
                                        </div>
                                        <input type="text" class="tci-form-control" />
                                    </div>
                                    <div class="tci-bs-input-group tci-mb-1">
                                        <div class="tci-bs-input-group-prepend">
                                            <span class="tci-bs-input-group-text">額度</span>
                                        </div>
                                        <div class="tci-bs-input-group-prepend">
                                            <span class="tci-bs-input-group-text">GBP英磅</span>
                                        </div>
                                        <input type="number" class="tci-form-control" />
                                        <div class="tci-bs-input-group-prepend">
                                            <span class="tci-bs-input-group-text">公司本幣</span>
                                        </div>
                                        <div class="tci-bs-input-group-prepend">
                                            <span class="tci-bs-input-group-text">新台幣</span>
                                        </div>
                                        <input type="number" class="tci-form-control" />
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>原授信額度</th>
                            <td>
                                <div class="tci-bs-input-group tci-mb-1">
                                    <div class="tci-bs-input-group-prepend">
                                        <span class="tci-bs-input-group-text">額度</span>
                                    </div>
                                    <div class="tci-bs-input-group-prepend">
                                        <span class="tci-bs-input-group-text">GBP英磅</span>
                                    </div>
                                    <input type="number" class="tci-form-control" />
                                    <div class="tci-bs-input-group-prepend">
                                        <span class="tci-bs-input-group-text">公司本幣</span>
                                    </div>
                                    <div class="tci-bs-input-group-prepend">
                                        <span class="tci-bs-input-group-text">新台幣</span>
                                    </div>
                                    <input type="number" class="tci-form-control" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>變更原因</th>
                            <td><textarea class="tci-form-control"></textarea></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

        <section class="requestForLineCreditRating">
            <div class="tableScroll">
                <table class="tci-table tci-table-bordered">
                    <thead style="text-align: center;">
                        <tr>
                            <th colspan="8" style="background-color: var(--color-rosybrown);color:var(--color-snow);">授信單位意見</th>
                        </tr>
                    </thead>
                    <tbody style="text-align: center;">
                        <tr>
                            <th rowspan="2">評等分類</th>
                            <th rowspan="2">評等項目</th>
                            <th colspan="5">計分標準</th>
                            <th rowspan="2" style="width: 5%;">得分</th>
                        </tr>
                        <tr>
                            <th>A (10分)</th>
                            <th>B (8分)</th>
                            <th>C (6分)</th>
                            <th>D (4分)</th>
                            <th>E (2分)</th>
                        </tr>
                        <tr>
                            <th rowspan="5">發展前途</th>
                            <th>公司設立時間</th>
                            <td>
                                <button type="button" class="tci-btn tci-btn-default-active active">20年以上</button>
                                <input type="radio" style="display:none;" value="20年以上">
                            </td>
                            <td>
                                <button type="button" class="tci-btn tci-btn-default-active">10-20年</button>
                                <input type="radio" style="display:none;" value="10-20年">
                            </td>
                            <td>
                                <button type="button" class="tci-btn tci-btn-default-active">3-10年</button>
                                <input type="radio" style="display:none;" value="3-10年">
                            </td>
                            <td>
                                <button type="button" class="tci-btn tci-btn-default-active">1-3年</button>
                                <input type="radio" style="display:none;" value="1-3年">
                            </td>
                            <td>
                                <button type="button" class="tci-btn tci-btn-default-active">1年內</button>
                                <input type="radio" style="display:none;" value="1年內">
                            </td>
                            <th>3</th>
                        </tr>
                        <tr>
                            <th>實收資本額</th>
                            <td>
                                <button type="button" class="tci-btn tci-btn-default-active">5百萬元以下</button>
                                <input type="radio" style="display:none;" value="20年以上">
                            </td>
                            <td>
                                <button type="button" class="tci-btn tci-btn-default-active">上市貴公司之子公司</button>
                                <input type="radio" style="display:none;" value="20年以上">
                            </td>
                            <td>
                                <button type="button" class="tci-btn tci-btn-default-active">500萬元~1000萬元</button>
                                <input type="radio" style="display:none;" value="20年以上">
                            </td>
                            <td>
                                <button type="button" class="tci-btn tci-btn-default-active">1000萬元~5000萬元</button>
                                <input type="radio" style="display:none;" value="20年以上">
                            </td>
                            <td>
                                <button type="button" class="tci-btn tci-btn-default-active">20年以上</button>
                                <input type="radio" style="display:none;" value="20年以上">
                            </td>
                            <th>3</th>
                        </tr>
                        <tr>
                            <th>經營型態</th>
                            <td>
                                <button type="button" class="tci-btn tci-btn-default-active">5百萬元以下</button>
                                <input type="radio" style="display:none;" value="20年以上">
                            </td>
                            <td>
                                <button type="button" class="tci-btn tci-btn-default-active">上市貴公司之子公司</button>
                                <input type="radio" style="display:none;" value="20年以上">
                            </td>
                            <td>
                                <button type="button" class="tci-btn tci-btn-default-active">500萬元~1000萬元</button>
                                <input type="radio" style="display:none;" value="20年以上">
                            </td>
                            <td>
                                <button type="button" class="tci-btn tci-btn-default-active">1000萬元~5000萬元</button>
                                <input type="radio" style="display:none;" value="20年以上">
                            </td>
                            <td>
                                <button type="button" class="tci-btn tci-btn-default-active">20年以上</button>
                                <input type="radio" style="display:none;" value="20年以上">
                            </td>
                            <th>3</th>
                        </tr>
                        <tr>
                            <th>業務成長</th>
                            <td>
                                <button type="button" class="tci-btn tci-btn-default-active">5百萬元以下</button>
                                <input type="radio" style="display:none;" value="20年以上">
                            </td>
                            <td>
                                <button type="button" class="tci-btn tci-btn-default-active">上市貴公司之子公司</button>
                                <input type="radio" style="display:none;" value="20年以上">
                            </td>
                            <td>
                                <button type="button" class="tci-btn tci-btn-default-active">500萬元~1000萬元</button>
                                <input type="radio" style="display:none;" value="20年以上">
                            </td>
                            <td>
                                <button type="button" class="tci-btn tci-btn-default-active">1000萬元~5000萬元</button>
                                <input type="radio" style="display:none;" value="20年以上">
                            </td>
                            <td>
                                <button type="button" class="tci-btn tci-btn-default-active">20年以上</button>
                                <input type="radio" style="display:none;" value="20年以上">
                            </td>
                            <th>3</th>
                        </tr>
                        <tr>
                            <th>主要往來銀行資本適足率</th>
                            <td>
                                <button type="button" class="tci-btn tci-btn-default-active">5百萬元以下</button>
                                <input type="radio" style="display:none;" value="20年以上">
                            </td>
                            <td>
                                <button type="button" class="tci-btn tci-btn-default-active">上市貴公司之子公司</button>
                                <input type="radio" style="display:none;" value="20年以上">
                            </td>
                            <td>
                                <button type="button" class="tci-btn tci-btn-default-active">500萬元~1000萬元</button>
                                <input type="radio" style="display:none;" value="20年以上">
                            </td>
                            <td>
                                <button type="button" class="tci-btn tci-btn-default-active">1000萬元~5000萬元</button>
                                <input type="radio" style="display:none;" value="20年以上">
                            </td>
                            <td>
                                <button type="button" class="tci-btn tci-btn-default-active">20年以上</button>
                                <input type="radio" style="display:none;" value="20年以上">
                            </td>
                            <th>3</th>
                        </tr>
                        <tr>
                            <th rowspan="4">與公司往來情形</th>
                            <th>合作時間</th>
                            <td>
                                <button type="button" class="tci-btn tci-btn-default-active">5百萬元以下</button>
                                <input type="radio" style="display:none;" value="20年以上">
                            </td>
                            <td>
                                <button type="button" class="tci-btn tci-btn-default-active">上市貴公司之子公司</button>
                                <input type="radio" style="display:none;" value="20年以上">
                            </td>
                            <td>
                                <button type="button" class="tci-btn tci-btn-default-active">500萬元~1000萬元</button>
                                <input type="radio" style="display:none;" value="20年以上">
                            </td>
                            <td>
                                <button type="button" class="tci-btn tci-btn-default-active">1000萬元~5000萬元</button>
                                <input type="radio" style="display:none;" value="20年以上">
                            </td>
                            <td>
                                <button type="button" class="tci-btn tci-btn-default-active">20年以上</button>
                                <input type="radio" style="display:none;" value="20年以上">
                            </td>
                            <th>3</th>
                        </tr>
                        <tr>
                            <th>年交易額</th>
                            <td>
                                <button type="button" class="tci-btn tci-btn-default-active">5百萬元以下</button>
                                <input type="radio" style="display:none;" value="20年以上">
                            </td>
                            <td>
                                <button type="button" class="tci-btn tci-btn-default-active">上市貴公司之子公司</button>
                                <input type="radio" style="display:none;" value="20年以上">
                            </td>
                            <td>
                                <button type="button" class="tci-btn tci-btn-default-active">500萬元~1000萬元</button>
                                <input type="radio" style="display:none;" value="20年以上">
                            </td>
                            <td>
                                <button type="button" class="tci-btn tci-btn-default-active">1000萬元~5000萬元</button>
                                <input type="radio" style="display:none;" value="20年以上">
                            </td>
                            <td>
                                <button type="button" class="tci-btn tci-btn-default-active">20年以上</button>
                                <input type="radio" style="display:none;" value="20年以上">
                            </td>
                            <th>3</th>
                        </tr>
                        <tr>
                            <th rowspan="2">付款情形</th>
                            <th>A (30分)</th>
                            <th>B (25分)</th>
                            <th>C (15分)</th>
                            <th>D (10分)</th>
                            <th>E (5分)</th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>
                                <button type="button" class="tci-btn tci-btn-default-active">5百萬元以下</button>
                                <input type="radio" style="display:none;" value="20年以上">
                            </td>
                            <td>
                                <button type="button" class="tci-btn tci-btn-default-active">上市貴公司之子公司</button>
                                <input type="radio" style="display:none;" value="20年以上">
                            </td>
                            <td>
                                <button type="button" class="tci-btn tci-btn-default-active">500萬元~1000萬元</button>
                                <input type="radio" style="display:none;" value="20年以上">
                            </td>
                            <td>
                                <button type="button" class="tci-btn tci-btn-default-active">1000萬元~5000萬元</button>
                                <input type="radio" style="display:none;" value="20年以上">
                            </td>
                            <td>
                                <button type="button" class="tci-btn tci-btn-default-active">20年以上</button>
                                <input type="radio" style="display:none;" value="20年以上">
                            </td>
                            <th>3</th>
                        </tr>
                        <tr style="text-align: right;color: var(--color-dark-red);">
                            <th colspan="7">總分</th>
                            <th>3</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <section class="fileBox formBox_gray">
            <div class="tci-input-group tci-mb-2 fileContentNo formBox_title" style="margin-bottom: 0;border-bottom-left-radius: 0;border-bottom-right-radius: 0;">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text tci-mr-2">檔案數:</span>
                    <select class="tci-bs-custom-select" style="width:100px">
                        <option selected>100</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
            </div>
            <div class="illustrate formBox_content" style="border-top-left-radius: 0;border-top-right-radius: 0;">
                <div class="fileIllustrate">
                    <div class="tci-input-group tci-mr-1" style="width: 13%;">
                        <div class="tci-input-group-prepend">
                            <span class="tci-input-group-text">序號:</span>
                        </div>
                        <div class="tci-form-control gray">1</div>
                    </div>
                    <div class="tci-input-group tci-mr-1">
                        <div class="tci-input-group-prepend">
                            <span class="tci-input-group-text">檔案:</span>
                        </div>
                        <input type="file" class="tci-form-control" />
                    </div>
                    <div class="tci-input-group">
                        <div class="tci-input-group-prepend">
                            <span class="tci-input-group-text">檔案說明:</span>
                        </div>
                        <input type="text" class="tci-form-control" />
                    </div>
                </div>
                <div class="fileIllustrate ">
                    <div class="tci-input-group tci-mr-1" style="width: 13%;">
                        <div class="tci-input-group-prepend">
                            <span class="tci-input-group-text">序號:</span>
                        </div>
                        <div class="tci-form-control gray">1</div>
                    </div>
                    <div class="tci-input-group tci-mr-1">
                        <div class="tci-input-group-prepend">
                            <span class="tci-input-group-text">檔案:</span>
                        </div>
                        <input type="file" class="tci-form-control" />
                    </div>
                    <div class="tci-input-group">
                        <div class="tci-input-group-prepend">
                            <span class="tci-input-group-text">檔案說明:</span>
                        </div>
                        <input type="text" class="tci-form-control" />
                    </div>
                </div>
            </div>
        </section>
        <div class="btnGroups" style="text-align: right;margin-top: .5rem;">
            <button class="tci-btn bg_darkgreen">確認資料，儲存單據</button>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>