<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
  <link rel="stylesheet" href="../../scss/tci-all.css" />
  <link rel="stylesheet" href="./style.css" />
  <title>客戶授信額度申請單簽核</title>
</head>

<body>
  <div class="container-fluid" id="page_requestForLineCredit_signoff">
    <div class="pageHeader">
      <span class="pageHeaderTitle"><b>客戶授信額度申請單-簽核</b></span>
    </div>

    <!-- 單據明細 -->
    <section class="darkBorderCard detailsBox tci-mb-3">
      <div class="darkBorderCardTitle">
        <span>單據明細</span>
        <span class="tci-pl-0">
          <span class=""><i class="fa-solid fa-chevron-up"></i></span>
          <!-- <span class=""><i class="fa-solid fa-chevron-down"></i></span> -->
        </span>
      </div>
      <div class="detailsBoxContent darkBorderCardContent">
        <div class="detailsBox_company tci-mt-1 tci-mb-2" style="text-align: right">
          <span class="detailsBox_companytext" style="
                color: #fff;
                padding: 0 6px;
                background-color: #83a2b4;
                border-radius: var(--borderRadius);
                font-size: 14px;
              ">百岳特國際貿易(上海)</span>
        </div>
        <div class="tableScroll">
          <div class="tableContent">
            <div style="
                  text-align: center;
                  font-size: var(--font-size-xl);
                  font-weight: bold;
                  margin-bottom: 1rem;
                ">
              <span>客戶授信額度申請單資料</span>
            </div>
            <div style="display: flex; justify-content: space-between">
              <div>
                <span>單號:</span>
                <span>220721-83-Q001</span>
              </div>
              <div>
                <span>填表日期:</span>
                <span>220505-72-G001</span>
              </div>
            </div>
            <div style="display: flex; justify-content: space-between">
              <div>
                <span>申請原因:</span>
                <span>初次申請</span>
              </div>
              <div>
                <span> 首次交易日期:</span>
                <span>220505-72-G001</span>
              </div>
            </div>
            <table class="tci-table tci-table-bordered">
              <thead style="text-align: center">
                <tr>
                  <th colspan="6" style="font-size: var(--font-size-md)">
                    客戶基本資料
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th style="background-color: var(--color-light-gray)">
                    客戶幣別
                  </th>
                  <td colspan="5">USD美金</td>
                </tr>
                <tr>
                  <th style="background-color: var(--color-light-gray)">
                    客戶名稱
                  </th>
                  <td>LifeVantage</td>
                  <th style="background-color: var(--color-light-gray)">
                    營利事業統一編號
                  </th>
                  <td>NA</td>
                  <th style="background-color: var(--color-light-gray)">
                    設立時間
                  </th>
                  <td>NA</td>
                </tr>
                <tr>
                  <th style="background-color: var(--color-light-gray)">
                    地址
                  </th>
                  <td>3300 Triumph Blvd Suite 700, Lehi, UT</td>
                  <th style="background-color: var(--color-light-gray)">
                    電話
                  </th>
                  <td>801-357-9795</td>
                  <th style="background-color: var(--color-light-gray)">
                    負責人
                  </th>
                  <td>NA</td>
                </tr>
                <tr>
                  <th style="background-color: var(--color-light-gray)">
                    聯絡人
                  </th>
                  <td>8014329382</td>
                  <th style="background-color: var(--color-light-gray)">
                    聯絡電話
                  </th>
                  <td>801-357-9795</td>
                  <th style="background-color: var(--color-light-gray)">
                    傳真電話
                  </th>
                  <td>NA</td>
                </tr>
                <tr>
                  <th style="background-color: var(--color-light-gray)">
                    登記資本額
                  </th>
                  <td>0</td>
                  <th style="background-color: var(--color-light-gray)">
                    實收資本額
                  </th>
                  <td>0</td>
                  <th style="background-color: var(--color-light-gray)">
                    員工人數
                  </th>
                  <td>NA</td>
                </tr>
                <tr>
                  <th style="background-color: var(--color-light-gray)">
                    經營型態
                  </th>
                  <td colspan="5">8014329382</td>
                </tr>
                <tr>
                  <th style="background-color: var(--color-light-gray)">
                    採購產品類別
                  </th>
                  <td colspan="5">8014329382</td>
                </tr>
                <tr>
                  <th style="background-color: var(--color-light-gray)">
                    預計採購金額
                  </th>
                  <td colspan="5">年度：2022最高：1,442,000／月,平均：0</td>
                </tr>
                <tr>
                  <th style="background-color: var(--color-light-gray)">
                    銷售產品類別
                  </th>
                  <td colspan="5">Drink</td>
                </tr>
                <tr>
                  <th style="background-color: var(--color-light-gray)">
                    實際採購金額
                  </th>
                  <td colspan="5">
                    時間：自 2022/04/01 至 2022/07/21 金額：1,442,000
                  </td>
                </tr>
                <tr>
                  <th style="background-color: var(--color-light-gray)">
                    主要往來銀行
                  </th>
                  <td colspan="5">Bank of America</td>
                </tr>
                <tr>
                  <th style="background-color: var(--color-light-gray)">
                    付款情形
                  </th>
                  <td colspan="5">優(無延遲)</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="tableScroll">
          <div class="tableContent">
            <table class="tci-table tci-table-bordered">
              <thead style="text-align: center">
                <tr>
                  <th colspan="6" style="font-size: var(--font-size-md)">
                    授信條件申請
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th style="background-color: var(--color-light-gray)">
                    原付款條件
                  </th>
                  <td>RD36:RP04-出貨前付清</td>
                </tr>
                <tr>
                  <th style="background-color: var(--color-light-gray)">
                    擬授信額度
                  </th>
                  <td>
                    <span>
                      期間：自 2022/07/01 至 2023/07/01<br />
                      額度：USD美金 670,000
                    </span>
                  </td>
                </tr>
                <tr>
                  <th style="background-color: var(--color-light-gray)">
                    原授信額度
                  </th>
                  <td>USD美金 0</td>
                </tr>
                <tr>
                  <th style="background-color: var(--color-light-gray)">
                    變更原因
                  </th>
                  <td>
                    Apply new payment term(NET 30) and TCI credit for
                    Lifevantage.
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="tableScroll">
          <div class="tableContent">
            <table class="tci-table tci-table-bordered">
              <thead style="text-align: center">
                <tr>
                  <th colspan="6" style="font-size: var(--font-size-md)">
                    授信單位意見
                  </th>
                </tr>
                <tr>
                  <th style="
                        background-color: var(--color-light-gray);
                        width: 10%;
                      ">
                    評等分類
                  </th>
                  <th style="
                        background-color: var(--color-light-gray);
                        width: 13%;
                      ">
                    評等項目
                  </th>
                  <th style="background-color: var(--color-light-gray)">
                    計分標準
                  </th>
                  <th style="
                        background-color: var(--color-light-gray);
                        width: 8%;
                      ">
                    得分
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th rowspan="5" style="background-color: var(--color-light-gray)">
                    發展前途
                  </th>
                  <th style="background-color: var(--color-light-gray)">
                    公司設立時間
                  </th>
                  <td>USD美金 0</td>
                  <td style="text-align: center">0.000</td>
                </tr>
                <tr>
                  <th style="background-color: var(--color-light-gray)">
                    實收資本額
                  </th>
                  <td>USD美金 0</td>
                  <td style="text-align: center">0.000</td>
                </tr>
                <tr>
                  <th style="background-color: var(--color-light-gray)">
                    經營型態
                  </th>
                  <td>USD美金 0</td>
                  <td style="text-align: center">0.000</td>
                </tr>
                <tr>
                  <th style="background-color: var(--color-light-gray)">
                    業務成長
                  </th>
                  <td>USD美金 0</td>
                  <td style="text-align: center">0.000</td>
                </tr>
                <tr>
                  <th style="background-color: var(--color-light-gray)">
                    主要往來銀行資本適足率
                  </th>
                  <td>USD美金 0</td>
                  <td style="text-align: center">0.000</td>
                </tr>
                <tr>
                  <th rowspan="3" style="background-color: var(--color-light-gray)">
                    與公司往來情形
                  </th>
                  <th style="background-color: var(--color-light-gray)">
                    合作時間
                  </th>
                  <td>USD美金 0</td>
                  <td style="text-align: center">0.000</td>
                </tr>
                <tr>
                  <th style="background-color: var(--color-light-gray)">
                    年交易額
                  </th>
                  <td>USD美金 0</td>
                  <td style="text-align: center">0.000</td>
                </tr>
                <tr>
                  <th style="background-color: var(--color-light-gray)">
                    付款情形
                  </th>
                  <td>USD美金 0</td>
                  <td style="text-align: center">0.000</td>
                </tr>
              </tbody>
              <tfoot style="text-align: right">
                <tr>
                  <th colspan="3">總分</th>
                  <th>0.000</th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </section>
    <!-- 簽核流程 start -->
    <section class="darkBorderCard tci-mb-3">
      <div class="darkBorderCardTitle">
        <span>簽核流程</span>
        <span class="tci-pl-0">
          <span class=""><i class="fa-solid fa-chevron-up"></i></span>
          <!-- <span class=""><i class="fa-solid fa-chevron-down"></i></span> -->
        </span>
      </div>
      <div class="darkBorderCardContent print_process_circuit">
        <div class="tci-card tci-mt-2 card-green">
          <div class="tci-card-header card-header-green">
            <i class="fa-solid fa-user-tie"></i> 總經理主管
          </div>
          <div class="tci-card-body">
            <p class="tci-card-title">林詠翔<br />VINCENT.LIN</p>
            <div>
              <span class="tci-card-text card-text-green"><i class="fa-solid fa-clock"></i>&nbsp; 免簽核</span>
            </div>
          </div>
          <div class="tci-card-footer"></div>
        </div>
        <!-- 手機以上 -->
        <span style="text-align: center; margin: auto 1rem">
          <i class="fa-solid fa-left-long fa-2x"></i>
        </span>
        <!-- 手機 向上 Icon -->
        <!-- <span style="text-align:center;">
                        <i class="fa-solid fa-up-long fa-2x" style="width: 100%;"></i>
                    </span> -->
        <div class="tci-card tci-mt-2 card-blue">
          <div class="tci-card-header card-header-blue">
            <i class="fa-solid fa-user-tie"></i> 戰略數據中心主管
          </div>
          <div class="tci-card-body">
            <p class="tci-card-title">王浩駿<br />JOHNNY.WANG</p>
            <div>
              <span class="tci-card-text card-text-blue"><i class="fa-solid fa-clock"></i>&nbsp; 未簽核</span>
            </div>
          </div>
          <div class="tci-card-footer"></div>
        </div>

        <!-- 手機以上 -->
        <span style="text-align: center; margin: auto 1rem">
          <i class="fa-solid fa-left-long fa-2x"></i>
        </span>
        <!-- 手機 向上 Icon -->
        <!-- <span style="text-align:center;">
                        <i class="fa-solid fa-up-long fa-2x" style="width: 100%;"></i>
                    </span> -->
        <div class="tci-card tci-mt-2 card-blue">
          <div class="tci-card-header card-header-blue">
            <i class="fa-solid fa-user-tie"></i> 軟體整合開發部主管
          </div>
          <div class="tci-card-body">
            <p class="tci-card-title">吳春隆<br />REX.WU</p>
            <div>
              <span class="tci-card-text card-text-blue"><i class="fa-solid fa-clock"></i>&nbsp; 同意</span>
            </div>
          </div>
          <div class="tci-card-footer">2022/07/21 12:31:32</div>
        </div>
        <!-- 手機以上 -->
        <span style="text-align: center; margin: auto 1rem">
          <i class="fa-solid fa-left-long fa-2x"></i>
        </span>
        <!-- 手機 向上 Icon -->
        <!-- <span style="text-align:center;">
                        <i class="fa-solid fa-up-long fa-2x" style="width: 100%;"></i>
                    </span> -->
        <div class="tci-card tci-mt-2 card-blue">
          <div class="tci-card-header card-header-blue">
            <i class="fa-solid fa-user-tie"></i> 軟體研發組主管
          </div>
          <div class="tci-card-body">
            <p class="tci-card-title">吳春隆<br />REX.WU</p>
            <div>
              <span class="tci-card-text card-text-blue"><i class="fa-solid fa-check"></i>&nbsp; 同意</span>
            </div>
          </div>
          <div class="tci-card-footer">2022/07/21 12:31:32</div>
        </div>
        <!-- 手機以上 -->
        <span style="text-align: center; margin: auto 1rem">
          <i class="fa-solid fa-left-long fa-2x"></i>
        </span>
        <!-- 手機 向上 Icon -->
        <!-- <span style="text-align:center;">
                        <i class="fa-solid fa-up-long fa-2x" style="width: 100%;"></i>
                    </span> -->
        <div class="tci-card tci-mt-2 card-blue">
          <div class="tci-card-header card-header-blue">
            <i class="fa-solid fa-user"></i> 經辦人
          </div>
          <div class="tci-card-body">
            <p class="tci-card-title">曾莞婷<br />HEDY.TSENG</p>
            <div>
              <span class="tci-card-text card-text-blue"><i class="fa-solid fa-check"></i>&nbsp; 送出</span>
            </div>
          </div>
          <div class="tci-card-footer">2022/07/21 12:31:32</div>
        </div>
      </div>
    </section>
    <!-- 簽核流程 end -->

    <!-- 單據附件 start -->
    <section class="darkBorderCard tci-mb-3">
      <div class="darkBorderCardTitle">
        <span>單據附件</span>
        <!-- 展開縮放，icon 切換 -->
        <span class="tci-pl-0">
          <span class=""><i class="fa-solid fa-chevron-up"></i></span>
          <!-- <span class=""><i class="fa-solid fa-chevron-down"></i></span> -->
        </span>
      </div>
      <div class="darkBorderCardContent">
        <div style="text-align: center; margin: 1rem 0">
          <span style="font-weight: bold">沒有附件</span>
        </div>
      </div>
    </section>
    <!-- 單據附件 end -->

    <!-- 簽核記錄 start -->
    <section class="darkBorderCard approvalBox tci-mb-3">
      <div class="darkBorderCardTitle">
        <span>簽核記錄</span>
        <!-- 展開縮放，icon 切換 -->
        <span class="tci-pl-0">
          <span class=""><i class="fa-solid fa-chevron-up"></i></span>
          <!-- <span class=""><i class="fa-solid fa-chevron-down"></i></span> -->
        </span>
      </div>
      <ul class="darkBorderCardContent" style="padding-left: 20px; margin-top: 0">
        <li style="color: var(--color-rosybrown); font-size: 14px">
          2022/7/21 上午 11:35:21【經辦人-HEDY.TSENG(曾莞婷)工程師】
          <span style="font-size: 12px; color: #949495; font-weight: bold">上傳附件：新增1個附件</span>
        </li>
        <li style="color: var(--color-rosybrown); font-size: 14px">
          2022/7/21 上午 11:35:21【經辦人-HEDY.TSENG(曾莞婷)工程師】
          <span style="
                font-size: 12px;
                color: var(--color-dark-green);
                font-weight: bold;
              ">已簽核：送出單據</span>
        </li>
        <li style="color: var(--color-sienna); font-size: 14px">
          等待【軟體整合開發部主管-REX.WU(吳春隆)部門主管】簽核
        </li>
      </ul>
    </section>
    <!-- 簽核記錄 end -->
  </div>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script> -->
</body>

</html>