#page_quotation .quotationQuery .tci-field {
  flex-wrap: wrap;
}
#page_quotation .quotationQuery .tci-field .tci-valueBtn {
  display: flex;
  width: 100%;
}

@media (min-width: 765px) {
  #page_quotation .quotationQuery .tci-field {
    flex-wrap: nowrap;
  }
  #page_quotation .quotationQuery .tci-field .tci-valueBtn {
    display: flex;
    width: 70%;
    justify-content: end;
  }
  #page_quotation .quotationQuery .tci-field .tci-field-value {
    width: 70%;
  }
}