#page_quotation{
    .quotationQuery{
        .tci-field{
            flex-wrap: wrap;
            .tci-valueBtn {
                display: flex;
                width: 100%;
            }
        }
    }
}

@media (min-width:765px) {
    #page_quotation{
        .quotationQuery{
            .tci-field{
                flex-wrap: nowrap;
                .tci-valueBtn {
                    display: flex;
                    width: 70%;
                    justify-content: end;
                }
                .tci-field-value{
                    width: 70%;
                }
            }
        }
    }
}

// 簽核
#page_quotation_signoff{
    .detailsBoxContent{
        .tableScroll{
            overflow-x: auto;
            table{
                width: 900px;
                tbody{
                    th{
                        background-color: var(--color-whitesmoke);
                    }
                }
            }
        }
    }
}
@media (min-width:765px) {
    #page_quotation_signoff{
        .detailsBoxContent{
            .tableScroll{
                table{
                    width: 100%;
                }
            }
        }
    }
}