#page_quotation{
    .quotationQuery{
        .tci-field{
            flex-wrap: wrap;
            .tci-valueBtn {
                display: flex;
                width: 100%;
            }
        }
    }
}

@media (min-width:765px) {
    #page_quotation{
        .quotationQuery{
            .tci-field{
                flex-wrap: nowrap;
                .tci-valueBtn {
                    display: flex;
                    width: 70%;
                    justify-content: end;
                }
                .tci-field-value{
                    width: 70%;
                }
            }
        }
    }
}