<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="../../scss/tci-all.css">
    <link rel="stylesheet" href="./style.css">
    <title>估價單列印</title>
</head>

<body>
    <div class="container-fluid" id="page_quotation_print">
        <div class="pageHeader">
            <span class="pageHeaderTitle"><b>估價單-列印</b></span>
        </div>
        <section class="btnTop tci-mb-3">
            <div class="btnGroups">
                <button class="tci-btn bg_darkblue"><i class="fa fa-undo" aria-hidden="true"></i> 關閉單據內容</button>
            </div>
            <div class="btnGroups_lr" style="justify-content: space-between;display: flex;margin-top: .5rem;">
                <button class="tci-btn bg_lightgray" style="width: 49%;"><i class="fa fa-long-arrow-left"
                        aria-hidden="true"></i> 上一筆</button>
                <button class="tci-btn bg_lightgray" style="width: 49%;"><i class="fa fa-long-arrow-right"
                        aria-hidden="true"></i>下一筆</button>
            </div>
        </section>
        <section class="print_btn">
            <div class="btnGroups">
                <button class="tci-btn bg_darkkhaki">顯示簽核記錄</button>
                <button class="tci-btn bg_darkkhaki">列印單據</button>
                <button class="tci-btn bg_darkkhaki">單據列印格式?</button>
                <button class="tci-btn bg_darkkhaki">含稅單價</button>
                <button class="tci-btn bg_darkkhaki">不含稅單價</button>
                <button class="tci-btn bg_darkkhaki">不含稅</button>
                <button class="tci-btn bg_darkkhaki">簡體/繁體</button>
                <button class="tci-btn bg_darkkhaki">英文估價單</button>
            </div>
            <div class="choose">
                <select class="tci-form-control tci-mb-1">
                    <option selected>Choose...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div style="width: 100%;text-align: center;">
                <img src="https://media.istockphoto.com/photos/happy-shiba-inu-dog-on-yellow-redhaired-japanese-dog-smile-portrait-picture-id1197121742?k=20&m=1197121742&s=612x612&w=0&h=HX4DoFCL1RDlegj3P9w4O2H64sgwKvMP0VSki7sBEtE="
                    alt="附件1" style="width: 50%;" />
            </div>
        </section>
        <hr>
        <section class="print_table">
            <div>
                <div style="display: flex;margin-bottom: 1rem;">
                    <div>
                        <img src="https://asap.tci-bio.com/TCI/Images/TCI-Bio.jpg" />
                    </div>
                    <div style="margin: auto 1rem;">
                        <span style="font-weight: bold;">大江生醫股份有限公司</span><br/>
                        <span>Address：</span><span>台北市內湖區港墘路187號8樓</span></span><br/>
                        <span>TEL：</span><span>+886-287977811</span>
                        <span>FAX：</span><span>+886-2-8797-3577</span>
                    </div>
                </div>
                <div class="tableContent">
                    <div id="SalesOrderBarcode" style="width: 100%;height:100%;text-align:right;" class="BarCode"><img
                            style="width: 50px;height:50px"
                            src="https://blog.3bro.info/wp-content/uploads/2016/01/qrcode.jpeg" alt=""></div>
                    <div
                        style="text-align: center;font-size:var(--font-size-xl);font-weight: bold;margin-bottom: 1rem;">
                        <span>大江生醫股份有限公司 估價單</span>
                    </div>
                    <table class="tci-table tci-table-bordered">
                        <tbody>
                            <tr>
                                <th style="background-color: var(--color-light-gray);">客戶編號：</th>
                                <td>10002472</td>
                                <th style="background-color: var(--color-light-gray);">單據號碼：</th>
                                <td>1100003433</td>
                            </tr>
                            <tr>
                                <th style="background-color: var(--color-light-gray);">客戶名稱：</th>
                                <td>尚佳医魔法生物科技（大连市）有限责任公司</td>
                                <th style="background-color: var(--color-light-gray);">製單日期：</th>
                                <td>2022/03/10</td>
                            </tr>
                            <tr>
                                <th style="background-color: var(--color-light-gray);">聯絡人：</th>
                                <td>10002472</td>
                                <th style="background-color: var(--color-light-gray);">最遲回簽/訂單付款日期：</th>
                                <td>1100003433</td>
                            </tr>
                            <tr>
                                <th style="background-color: var(--color-light-gray);">地址：</th>
                                <td>10002472</td>
                                <th style="background-color: var(--color-light-gray);">交易幣別：</th>
                                <td>1100003433</td>
                            </tr>
                            <tr>
                                <th style="background-color: var(--color-light-gray);">電話：</th>
                                <td>10002472</td>
                                <th style="background-color: var(--color-light-gray);">匯率：</th>
                                <td>1100003433</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="tci-table tci-table-bordered">
                        <thead style="background-color: var(--color-light-gray);text-align: center;">
                            <tr>
                                <th style="width: 5%;">#</th>
                                <th>料號</th>
                                <th>品名 / 規格</th>
                                <th>單位</th>
                                <th>訂購數量</th>
                                <th>單價/PC</th>
                                <th>小計</th>
                                <th>備註</th>
                            </tr>
                        </thead>
                        <tbody style="text-align: center;">
                            <tr>
                                <td>1</td>
                                <td>尚佳医-胶原蛋白肽果汁饮料TDN-25ml7包54盒-1T</td>
                                <td>ml</td>
                                <td>233333</td>
                                <td>33333</td>
                                <td>487,999.65</td>
                                <td>1100003433</td>
                                <td>1100003433</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr style="text-align: right;color:var(--color-light-red);">
                                <th colspan="6">總計</th>
                                <th>123,132,024</th>
                                <th></th>
                            </tr>
                            <tr style="font-size: var(--font-size-xs);">
                                <td colspan="8">
                                    <span>
                                        備註：<br/>
                                        估價單/訂單固定說明內容:<br/>
                                        一、以上報價為未稅價<br/>
                                        二、以上報價包含內容物、混料充填費用、330ml瓶器、28T印刷鋁蓋(無蓋內二微 碼)、中轉外箱、棧板，不含以上未提及之包材及代工費用。<br/>
                                        三、報價有效日30天內。<br/>
                                        四、付款方式：依照雙方合約規定。<br/>
                                        五、本訂單構成原簽訂契約內容之一部份，如原簽訂之契約失效或未簽訂，則雙方 權益義務關係依此訂單為準。<br/>
                                        六、貴司產品之文字宣傳及行銷廣告之責任由貴公司自行負擔。<br/>
                                        七、產品名稱或行銷名稱必須符合國家食品標籤標識的相關法律規定，否則需另行 修改。<br/>
                                        八、我方負責將相關產品包裝完畢後由客戶自行至工廠取貨(EXW)<br/>
                                        九、產品允收範圍為+3%。<br/>
                                        十、訂單經雙方確定簽定後，客戶若因任何理由取消或解除本訂購確認單，應賠償 大江生醫股份有限公司因此所生之所有損害，並無條件購回因本訂單產生所購置之
                                        原料、包材、半成品及已完成之成品為賠償金額以本次訂購總價之100%為上限。<br/>
                                        十一、成品完工後，本公司提供15個自然日免費寄庫，超過時間後以台幣20元/板/ 天收取倉儲費用。<br/>
                                        十二、雙方同意由大江生醫股份有限公司及其協力廠商共同製造。
                                    </span>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                    <table class="tci-table noborder">
                        <tbody>
                            <tr style="font-weight:bold;">
                                <td style="width:5%">&nbsp;</td>
                                <td colspan="3">
                                    <div>
                                        <p>大江生醫股份有限公司</p>
                                        <p>沛富生物科技籌備部-業務:蔡智誠 </p>
                                        <p>經辦:專案管理師 郭金霞 </p>
                                    </div>
                                </td>
                                <td style="width:5%">&nbsp;</td>
                                <td colspan="3">
                                    <div style="text-align: center;">
                                        <p>大江生醫TCI 戰推 (波次品)股份有限公司</p>
                                    </div>
                                </td>
                            </tr>
                            <tr style="font-weight:bold;">
                                <td style="width:5%">&nbsp;</td>
                                <td colspan="3" style="text-align: center;border-top:1px solid #2a2a2a;">Authorized Signature</td>
                                <td style="width:5%">&nbsp;</td>
                                <td colspan="3" style="text-align: center;border-top:1px solid #2a2a2a;">Authorized Signature</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <hr>
        <!-- 簽核記錄 start -->
        <section class="approvalBox tci-mb-3">
            <div class="">
                <ul class="" style="padding-left:20px;">
                    <li style="color: var(--color-rosybrown);font-size: 14px;">等待【經辦人】【HEDY.TSENG(曾莞婷) 大江戰士】簽核
                        <span style="font-size:12px;color: #949495;font-weight: bold;">上傳附件：新增1個附件</span>
                    </li>
                    <li style="color: var(--color-rosybrown);font-size: 14px;">2022/6/1 下午
                        02:28:48【經辦人-BENNY.SU(蘇雅雯)管理師】
                        <span style="font-size:12px;color: var(--color-dark-green);font-weight: bold;">已簽核：送出單據</span>
                    </li>
                </ul>
            </div>
        </section>
        <!-- 簽核記錄 end -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>