<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="../../scss/tci-all.css">
    <link rel="stylesheet" href="./style.css">
    <title>估價單簽核</title>
</head>

<body>
    <div class="container-fluid" id="page_quotation_signoff">
        <div class="pageHeader">
            <span class="pageHeaderTitle"><b>估價單-簽核</b></span>
        </div>

        <!-- 單據明細 -->
        <section class="darkBorderCard detailsBox tci-mb-3">
            <div class="darkBorderCardTitle">
                <span>單據明細</span>
                <span class="tci-pl-0 ">
                    <span class=""><i class="fa-solid fa-chevron-up"></i></span>
                    <!-- <span class=""><i class="fa-solid fa-chevron-down"></i></span> -->
                </span>
            </div>
            <div class="detailsBoxContent darkBorderCardContent">
                <div class="detailsBox_company tci-mt-1 tci-mb-2" style="text-align: right;">
                    <span class="detailsBox_companytext"
                        style=" color: #fff;padding: 0 6px;background-color: #83a2b4;border-radius: var(--borderRadius);font-size: 14px;">百岳特國際貿易(上海)</span>
                </div>
                <div class="tableScroll0">
                    <div class="tableContent">
                        <div
                        style="text-align: center;font-size:var(--font-size-xl);font-weight: bold;margin-bottom: 1rem;">
                        <span>估價單</span>
                    </div>
                    <table class="tci-table tci-table-bordered">
                        <tbody>
                            <tr>
                                <th style="background-color: var(--color-light-gray);">客戶編號</th>
                                <td>10002472</td>
                                <th style="background-color: var(--color-light-gray);">單據號碼</th>
                                <td>1100003433</td>
                            </tr>
                            <tr>
                                <th style="background-color: var(--color-light-gray);">客戶名稱</th>
                                <td>尚佳医魔法生物科技（大连市）有限责任公司</td>
                                <th style="background-color: var(--color-light-gray);">製單日期</th>
                                <td>2022/8/10 上午 12:00:00</td>
                            </tr>
                            <tr>
                                <th style="background-color: var(--color-light-gray);">聯絡人</th>
                                <td>10002472</td>
                                <th style="background-color: var(--color-light-gray);">報價有效期限</th>
                                <td>1100003433</td>
                            </tr>
                            <tr>
                                <th style="background-color: var(--color-light-gray);">地址</th>
                                <td>10002472</td>
                                <th style="background-color: var(--color-light-gray);">交易幣別</th>
                                <td>1100003433</td>
                            </tr>
                            <tr>
                                <th style="background-color: var(--color-light-gray);">電話</th>
                                <td>10002472</td>
                                <th style="background-color: var(--color-light-gray);">匯率</th>
                                <td>1100003433</td>
                            </tr>
                            <tr>
                                <th style="background-color: var(--color-light-gray);">傳真</th>
                                <td>10002472</td>
                                <th style="background-color: var(--color-light-gray);">業務分組</th>
                                <td>1100003433</td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                  
                </div>
                <div class="tableScroll">
                    <table class="tci-table tci-table-bordered">
                        <thead
                            style="background-color: var(--color-light-gray);text-align: center;">
                            <tr>
                                <th>#</th>
                                <th>料號</th>
                                <th>品名 / 規格</th>
                                <th>單位</th>
                                <th>訂購數量</th>
                                <th>單價/PC</th>
                                <th>小計</th>
                                <th>備註</th>
                                <th>本次毛利%</th>
                            </tr>
                        </thead>
                        <tbody style="text-align: center;">
                            <tr>
                                <td>1</td>
                                <td>1100003433</td>
                                <td>尚佳医-胶原蛋白肽果汁饮料TDN-25ml7包54盒-1T</td>
                                <td>ml</td>
                                <td>233333</td>
                                <td>33333</td>
                                <td>487,999.65</td>
                                <td>1100003433</td>

                            </tr>
                            <tr>
                                <td colspan="6" style="text-align: right;">稅</td>
                                <td colspan="3"  style="text-align: left;">63,439.95</td>
                            </tr>
                            <tr>
                                <td colspan="6" style="text-align: right;">本幣總計</td>
                                <td colspan="3"  style="text-align: left;">551,439.6</td>
                            </tr>
                        </tbody>
                    </table>
                    <section class="small_mark" style="font-size: 13px;padding: 0 10px;">
                        <p style="font-weight:bold;">備註：</p>
                        <span>估價單/訂單固定說明內容:<br/>
                            ●以上报价含13%增值税、内料、铝袋、混料充填灌装、自动入盒入箱费等，产品 产地为台湾。<br/>
                            ●付款方式：订单确认回传后，请将货款的50%汇入本公司账号后，才算订单成立 ，出货前支付剩余50%货款。<br/>
                            ●以上报价含单点单次河北运费。<br/>
                            ●产品允收范围±3%。<br/>
                            ●贵司产品之文字宣传及营销广告之责任与行政处罚由贵公司自行负担。<br/>
                            ●产品名称或行销名称必须符合国家食品标签标识的相关法律规定，否则需另行修改。<br/>
                            ●我方负责将相关产品运送至贵公司指定仓库，运送过程若因运输原因导致相关产 品损坏由百岳特与物流协商索赔，而入贵司仓库后发生的相关运送所致的任何损失 由贵司自行承担。<br/>
                            ●订单经双方确定签定后，客户若因任何理由取消或解除本订购确认单，应赔偿本 公司因此所生之所有损害，并无条件购回因本订单产生所购置之原料、包材、半成
                            品及已完成之成品为赔偿金额以本次订购总价之100%为上限。<br/>
                            ●双方同意本订单产品由百岳特生物技术 (上海)有限公司及其协力厂商生产制造 。<br/>
                            ●最迟回签/订单付款日期或确稿日期如有延后，或确稿后异动稿件内容、工艺， 则交期双方另议。<br/>
                            ●成品完工后，本公司提供15个自然日免费寄库，超过时间后以人民币1.5元/㎡/ 天收取仓储费用，超过时间后的寄库货品，我司不承担货品因存放导致的保管责任 。<br/>
                            ●如原物料系贵司提供，贵司应于约定交货日30日前将原物料送至我司指定地点， 因客供原物料的延误送达或质量问题致使我司无法如期交货，我司不负交货迟延的
                            责任。如因贵司原物料延误送达或存在质量问题等原因导致我司无法如期交货达三 个月的，贵司需回购我司因本订单采购的全部原料及包材，并应赔偿我司因此所生 之其他损害。
                        </span>
                    </section>
                </div>
            </div>
        </section>
        <section class="darkBorderCard tci-mb-3">
            <div class="darkBorderCardTitle">
                <span>簽核流程</span>
                <span class="tci-pl-0 ">
                    <span class=""><i class="fa-solid fa-chevron-up"></i></span>
                    <!-- <span class=""><i class="fa-solid fa-chevron-down"></i></span> -->
                </span>
            </div>
            <div class="darkBorderCardContent print_process_circuit">
                <div class="tci-card tci-mt-2 card-green">
                    <div class="tci-card-header card-header-green"><i class="fa-solid fa-user-tie"></i> 總經理主管</div>
                    <div class="tci-card-body">
                        <p class="tci-card-title">林詠翔<br/>VINCENT.LIN</p>
                        <div>
                            <span class="tci-card-text card-text-green"><i class="fa-solid fa-clock"></i>&nbsp;
                                免簽核</span>
                        </div>
                    </div>
                    <div class="tci-card-footer"></div>
                </div>
                <!-- 手機以上 -->
                <span style="text-align: center;margin: auto 1rem;">
                    <i class="fa-solid fa-left-long fa-2x"></i>
                </span>
                <!-- 手機 向上 Icon -->
                <!-- <span style="text-align:center;">
                        <i class="fa-solid fa-up-long fa-2x" style="width: 100%;"></i>
                    </span> -->
                <div class="tci-card tci-mt-2 card-blue">
                    <div class="tci-card-header card-header-blue"><i class="fa-solid fa-user-tie"></i> 戰略數據中心主管</div>
                    <div class="tci-card-body">
                        <p class="tci-card-title"> 王浩駿<br/>JOHNNY.WANG</p>
                        <div>
                            <span class="tci-card-text card-text-blue"><i class="fa-solid fa-clock"></i>&nbsp;
                                未簽核</span>
                        </div>
                    </div>
                    <div class="tci-card-footer"></div>
                </div>

                <!-- 手機以上 -->
                <span style="text-align: center;margin: auto 1rem;">
                    <i class="fa-solid fa-left-long fa-2x"></i>
                </span>
                <!-- 手機 向上 Icon -->
                <!-- <span style="text-align:center;">
                        <i class="fa-solid fa-up-long fa-2x" style="width: 100%;"></i>
                    </span> -->
                <div class="tci-card tci-mt-2 card-blue">
                    <div class="tci-card-header card-header-blue"><i class="fa-solid fa-user-tie"></i> 軟體整合開發部主管</div>
                    <div class="tci-card-body">
                        <p class="tci-card-title">吳春隆<br/>REX.WU</p>
                        <div>
                            <span class="tci-card-text card-text-blue"><i class="fa-solid fa-clock"></i>&nbsp; 同意</span>
                        </div>
                    </div>
                    <div class="tci-card-footer">2022/07/21 12:31:32</div>
                </div>
                <!-- 手機以上 -->
                <span style="text-align: center;margin: auto 1rem;">
                    <i class="fa-solid fa-left-long fa-2x"></i>
                </span>
                <!-- 手機 向上 Icon -->
                <!-- <span style="text-align:center;">
                        <i class="fa-solid fa-up-long fa-2x" style="width: 100%;"></i>
                    </span> -->
                <div class="tci-card tci-mt-2 card-blue">
                    <div class="tci-card-header card-header-blue"><i class="fa-solid fa-user-tie"></i> 軟體研發組主管</div>
                    <div class="tci-card-body">
                        <p class="tci-card-title">吳春隆<br/>REX.WU</p>
                        <div>
                            <span class="tci-card-text card-text-blue"><i class="fa-solid fa-check"></i>&nbsp; 同意</span>
                        </div>
                    </div>
                    <div class="tci-card-footer">2022/07/21 12:31:32</div>
                </div>
                <!-- 手機以上 -->
                <span style="text-align: center;margin: auto 1rem;">
                    <i class="fa-solid fa-left-long fa-2x"></i>
                </span>
                <!-- 手機 向上 Icon -->
                <!-- <span style="text-align:center;">
                        <i class="fa-solid fa-up-long fa-2x" style="width: 100%;"></i>
                    </span> -->
                <div class="tci-card tci-mt-2 card-blue">
                    <div class="tci-card-header card-header-blue"><i class="fa-solid fa-user"></i> 經辦人</div>
                    <div class="tci-card-body">
                        <p class="tci-card-title">曾莞婷<br/>HEDY.TSENG</p>
                        <div>
                            <span class="tci-card-text card-text-blue"><i class="fa-solid fa-check"></i>&nbsp; 送出</span>
                        </div>
                    </div>
                    <div class="tci-card-footer">2022/07/21 12:31:32</div>
                </div>
            </div>
        </section>
       <!-- 單據附件 start -->
       <section class="darkBorderCard tci-mb-3">
        <div class="darkBorderCardTitle">
            <span>單據附件</span>
            <!-- 展開縮放，icon 切換 -->
            <span class="tci-pl-0 ">
                <span class=""><i class="fa-solid fa-chevron-up"></i></span>
                <!-- <span class=""><i class="fa-solid fa-chevron-down"></i></span> -->
            </span>
        </div>
        <div class="darkBorderCardContent">
            <div>
                <span>【附件 1】</span>
                <button type="button" class="tci-btn bg_darkgreen"
                    style="padding: 0 1rem;">220721-34-A002-02.png</button>
            </div>
            <div>
                <span>【附件 2】</span>
                <button type="button" class="tci-btn bg_darkgreen"
                    style="padding: 0 1rem;">220721-34-A003-02.png</button>
            </div>
        </div>
    </section>
    <!-- 單據附件 end -->

   <!-- 簽核記錄 start -->
   <section class="darkBorderCard approvalBox tci-mb-3">
    <div class="darkBorderCardTitle">
        <span>簽核記錄</span>
        <!-- 展開縮放，icon 切換 -->
        <span class="tci-pl-0 ">
            <span class=""><i class="fa-solid fa-chevron-up"></i></span>
            <!-- <span class=""><i class="fa-solid fa-chevron-down"></i></span> -->
        </span>
    </div>
    <ul class="darkBorderCardContent" style="padding-left:20px;margin-top: 0;">
        <li style="color: var(--color-rosybrown);font-size: 14px;">2022/7/21 上午 11:35:21【經辦人-HEDY.TSENG(曾莞婷)工程師】
            <span style="font-size:12px;color: #949495;font-weight: bold;">上傳附件：新增1個附件</span>
        </li>
        <li style="color: var(--color-rosybrown);font-size: 14px;">2022/7/21 上午 11:35:21【經辦人-HEDY.TSENG(曾莞婷)工程師】
            <span style="font-size:12px;color: var(--color-dark-green);font-weight: bold;">已簽核：送出單據</span>
        </li>
        <li style="color: var(--color-sienna);font-size: 14px;">等待【軟體整合開發部主管-REX.WU(吳春隆)部門主管】簽核
        </li>
    </ul>
</section>
<!-- 簽核記錄 end -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script> -->
</body>

</html>