<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="../../scss/tci-all.css">
    <title>估價單</title>
</head>

<body>
    <div class="container-fluid" id="page_quotation">
        <div class="pageHeader">
            <span class="pageHeaderTitle"><b>估價單</b></span>
        </div>
        <section class="quotationQuery">
            <div class="tci-field">
                <div class="tci-field-label">
                    <span class="tci-field-text">請輸入估價單編號:</span>
                </div>
                <div class="tci-valueBtn">
                    <input type="text" class="tci-field-value" value="1100000116" />
                    <button class="tci-btn bg_darkblue tci-ml-2">查詢</button>
                </div>
            </div>
        </section>
        <hr>
        <section class="tableScroll" style="overflow-x: auto;">
            <div style="min-width: 730px;">
                <div style="display: flex;margin-bottom: .5rem;">
                    <span><button class="tci-icon bg_darkkhaki"><i
                                class="fa-solid fa-building"></i>&nbsp;部門別</button></span>&nbsp;
                    <div class="tci-field-value gray" style="width: auto;min-width:300px">硬體架構服務部</div>
                </div>
                <div>
                    <table class="tci-table tci-table-bordered">
                        <tbody>
                            <tr>
                                <th style="background-color: var(--color-light-gray);width: 20%;">客戶編號</th>
                                <td style="width: 25%;">10002472</td>
                                <th style="background-color: var(--color-light-gray);width: 20%;">單據號碼</th>
                                <td style="width: 25%;">1100003433</td>
                            </tr>
                            <tr>
                                <th style="background-color: var(--color-light-gray);">客戶名稱</th>
                                <td>尚佳医魔法生物科技（大连市）有限责任公司</td>
                                <th style="background-color: var(--color-light-gray);">製單日期</th>
                                <td>2022/8/10 上午 12:00:00</td>
                            </tr>
                            <tr>
                                <th style="background-color: var(--color-light-gray);">聯絡人</th>
                                <td>10002472</td>
                                <th style="background-color: var(--color-light-gray);">報價有效期限</th>
                                <td>1100003433</td>
                            </tr>
                            <tr>
                                <th style="background-color: var(--color-light-gray);">地址</th>
                                <td>10002472</td>
                                <th style="background-color: var(--color-light-gray);">交易幣別</th>
                                <td>1100003433</td>
                            </tr>
                            <tr>
                                <th style="background-color: var(--color-light-gray);">電話</th>
                                <td>10002472</td>
                                <th style="background-color: var(--color-light-gray);">匯率</th>
                                <td>1100003433</td>
                            </tr>
                            <tr>
                                <th style="background-color: var(--color-light-gray);">傳真</th>
                                <td>10002472</td>
                                <th style="background-color: var(--color-light-gray);">業務分組</th>
                                <td>1100003433</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <section class="tableScroll" style="overflow-x: auto;margin-bottom: 1rem;">
            <table class="tci-table tci-table-bordered" style="min-width: 730px;margin-bottom: 0;">
                <thead style="background-color: var(--color-light-gray);text-align: center;">
                    <tr>
                        <th>#</th>
                        <th>料號</th>
                        <th>品名 / 規格</th>
                        <th>單位</th>
                        <th>訂購數量</th>
                        <th>單價/PC</th>
                        <th>小計</th>
                        <th>備註</th>
                        <th>本次毛利%</th>
                    </tr>
                </thead>
                <tbody style="text-align: center;">
                    <tr>
                        <td>1</td>
                        <td>1100003433</td>
                        <td>尚佳医-胶原蛋白肽果汁饮料TDN-25ml7包54盒-1T</td>
                        <td>ml</td>
                        <td>233333</td>
                        <td>33333</td>
                        <td>487,999.65</td>
                        <td>1100003433</td>
                    </tr>
                    <tr>
                        <td colspan="9">
                            <h2>沒有成本表</h2>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="6" style="text-align: right;color: var(--color-light-red);">稅</th>
                        <th colspan="3" style="text-align: left;color: var(--color-light-red);">63,439.95</th>
                    </tr>
                    <tr>
                        <th colspan="6" style="text-align: right;color: var(--color-light-red);">本幣總計</th>
                        <th colspan="3" style="text-align: left;color: var(--color-light-red);">551,439.6</th>
                    </tr>
                    <tr>
                        <td colspan="9">
                            <span style="font-size: var(--font-size-xs);"><b>備註：</b><br />
                                估價單/訂單固定說明內容:<br />
                                ●以上报价含13%增值税、内料、铝袋、混料充填灌装、自动入盒入箱费等，产品 产地为台湾。<br />
                                ●付款方式：订单确认回传后，请将货款的50%汇入本公司账号后，才算订单成立 ，出货前支付剩余50%货款。<br />
                                ●以上报价含单点单次河北运费。<br />
                                ●产品允收范围±3%。<br />
                                ●贵司产品之文字宣传及营销广告之责任与行政处罚由贵公司自行负担。<br />
                                ●产品名称或行销名称必须符合国家食品标签标识的相关法律规定，否则需另行修改。<br />
                                ●我方负责将相关产品运送至贵公司指定仓库，运送过程若因运输原因导致相关产 品损坏由百岳特与物流协商索赔，而入贵司仓库后发生的相关运送所致的任何损失
                                由贵司自行承担。<br />
                                ●订单经双方确定签定后，客户若因任何理由取消或解除本订购确认单，应赔偿本 公司因此所生之所有损害，并无条件购回因本订单产生所购置之原料、包材、半成
                                品及已完成之成品为赔偿金额以本次订购总价之100%为上限。<br />
                                ●双方同意本订单产品由百岳特生物技术 (上海)有限公司及其协力厂商生产制造 。<br />
                                ●最迟回签/订单付款日期或确稿日期如有延后，或确稿后异动稿件内容、工艺， 则交期双方另议。<br />
                                ●成品完工后，本公司提供15个自然日免费寄库，超过时间后以人民币1.5元/㎡/ 天收取仓储费用，超过时间后的寄库货品，我司不承担货品因存放导致的保管责任 。<br />
                                ●如原物料系贵司提供，贵司应于约定交货日30日前将原物料送至我司指定地点， 因客供原物料的延误送达或质量问题致使我司无法如期交货，我司不负交货迟延的
                                责任。如因贵司原物料延误送达或存在质量问题等原因导致我司无法如期交货达三 个月的，贵司需回购我司因本订单采购的全部原料及包材，并应赔偿我司因此所生 之其他损害。
                            </span>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </section>
        <section class="fileBox formBox_gray">
            <div class="tci-input-group tci-mb-2 fileContentNo formBox_title"
                style="margin-bottom: 0;border-bottom-left-radius: 0;border-bottom-right-radius: 0;">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text tci-mr-2">檔案數:</span>
                    <select class="tci-bs-custom-select" style="width:100px">
                        <option selected>100</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
            </div>
            <div class="illustrate formBox_content" style="border-top-left-radius: 0;border-top-right-radius: 0;">
                <div class="fileIllustrate">
                    <div class="tci-input-group tci-mr-1" style="width: 10%;">
                        <div class="tci-input-group-prepend">
                            <span class="tci-input-group-text">序號:</span>
                        </div>
                        <div class="tci-form-control gray">1</div>
                    </div>
                    <div class="tci-input-group tci-mr-1">
                        <div class="tci-input-group-prepend">
                            <span class="tci-input-group-text">檔案:</span>
                        </div>
                        <input type="file" class="tci-form-control" />
                    </div>
                    <div class="tci-input-group">
                        <div class="tci-input-group-prepend">
                            <span class="tci-input-group-text">檔案說明:</span>
                        </div>
                        <input type="text" class="tci-form-control" />
                    </div>
                </div>
                <div class="fileIllustrate ">
                    <div class="tci-input-group tci-mr-1" style="width: 10%;">
                        <div class="tci-input-group-prepend">
                            <span class="tci-input-group-text">序號:</span>
                        </div>
                        <div class="tci-form-control gray">1</div>
                    </div>
                    <div class="tci-input-group tci-mr-1">
                        <div class="tci-input-group-prepend">
                            <span class="tci-input-group-text">檔案:</span>
                        </div>
                        <input type="file" class="tci-form-control" />
                    </div>
                    <div class="tci-input-group">
                        <div class="tci-input-group-prepend">
                            <span class="tci-input-group-text">檔案說明:</span>
                        </div>
                        <input type="text" class="tci-form-control" />
                    </div>
                </div>
            </div>
        </section>
        <div class="btnGroups">
            <button class="tci-btn bg_darkgreen">確認資料，預覽單據</button>
        </div>
        <div class="userCard_info">
            <span class="user_info">
                <u><b>使用者資訊：</b>
                    <span>大江生醫 - 軟體研發組 - 大江戰士TCI Warrior(2) - 2206A0011 - HEDY.TSENG - 曾莞婷</span></u>
            </span>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>