.tci-btn {
    display: inline-block;
    font-weight: 400;
    color: var(--color-dark);
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.3rem 1rem;
    font-size: var(--font-size-sm);
    line-height: 1.5;
    border-radius: var(--borderRadius);
    cursor: pointer;
    // min-width: 100px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.tci-btn-icon {
    display: inline-block;
    font-weight: 400;
    color: var(--color-dark);
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    font-size: var(--font-size-sm);
    line-height: 1.5;
    border-radius: var(--borderRadius);
    cursor: pointer;
}

.tci-icon {
    display: inline-block;
    font-weight: 400;
    color: var(--color-dark);
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    font-size: var(--font-size-sm);
    line-height: 1.5;
    border-radius: var(--borderRadius);
    cursor: pointer;
}

.tci-btn-blue {
    background: var(--color-blue);
    color: var(--color-snow);

    &:hover {
        background-color: #195feb;
    }
}

.tci-btn-error {
    background-color: var(--color-error);
    color: var(--color-snow);

    &:hover {
        background-color: #e02117;
    }
}

.tci-btn-success {
    background-color: var(--color-success);
    color: var(--color-snow);

    &:hover {
        background-color: #649642;
    }
}

.tci-btn-warning {
    background-color: var(--color-warning);
    color: var(--color-snow);

    &:hover {
        background-color: #da9603;
    }
}

.tci-btn-orgin {
    color: var(--color-snow);
    border-color: var(--color-orgin);
    background-color: var(--color-orgin);

    &:hover {
        color: var(--color-snow);
        background-color: #c6522b;
        border-color: #c6522b;
    }
}

.btn-radius {
    border-radius: 4rem;
}

//box shadow == bs
.tci-btn-bs-blue {
    color: var(--color-blue);
    border: 1px solid var(--color-whitesmoke);
    box-shadow: var(--borderShadow);

    &:hover {
        color: var(--color-light-blue);
        background-color: var(--color-blue);
    }
}

.tci-btn-bs-warning {
    color: var(--color-warning);
    border: 1px solid var(--color-whitesmoke);
    box-shadow: var(--borderShadow);

    &:hover {
        color: var(--color-light-warning);
        background-color: var(--color-warning);
    }
}

.tci-btn-bs-success {
    color: var(--color-success);
    border: 1px solid var(--color-whitesmoke);
    box-shadow: var(--borderShadow);

    &:hover {
        color: var(--color-light-success);
        background-color: var(--color-success);
    }
}

.tci-btn-bs-error {
    color: var(--color-error);
    border: 1px solid var(--color-whitesmoke);
    box-shadow: var(--borderShadow);

    &:hover {
        color: var(--color-light-error);
        background-color: var(--color-error);
    }
}

//
.tci-btn-regular {
    color: var(--color-snow);
    background-color: #9a9790;

    &:hover {
        color: #202129;
        background-color: #e1e2e2;
    }

    &:active {
        background-color: #d5d6d6;
        opacity: 1;
    }
}

.tci-btn-dark {
    color: var(--color-snow);
    background: var(--color-dark);

    &:focus {
        outline: 1px dotted var(--color-snow);
        outline-offset: -4px;
    }
}

.tci-btn-grass {
    color: var(--color-snow);
    background: var(--color-grass);
}
.tci-btn-sun {
    color: #f15c5c;
    background: var(--color-sun);
}



//background-color == bg
.tci-btn-bg-blue {
    color: var(--color-blue);
    background-color: var(--color-light-blue);

    &:hover {
        color: var(--color-light-blue);
        background-color: var(--color-blue);
    }
}

.tci-btn-bg-warning {
    color: var(--color-warning);
    background-color: var(--color-light-warning);

    &:hover {
        color: var(--color-light-warning);
        background-color: var(--color-warning);
    }
}

.tci-btn-bg-success {
    color: var(--color-success);
    background-color: var(--color-light-success);

    &:hover {
        color: var(--color-light-success);
        background-color: var(--color-success);
    }
}

.tci-btn-bg-error {
    color: var(--color-error);
    background-color: var(--color-light-error);

    &:hover {
        color: var(--color-light-error);
        background-color: var(--color-error);
    }
}

//boder
.tci-btn-bd-blue {
    color: var(--color-blue);
    border: 1px solid var(--color-blue);

    &:hover {
        background-color: var(--color-blue);
        color: var(--color-snow);
    }
}

.tci-btn-bd-warning {
    color: var(--color-warning);
    border: 1px solid var(--color-warning);

    &:hover {
        background-color: var(--color-warning);
        color: var(--color-snow);
    }
}

.tci-btn-bd-success {
    color: var(--color-success);
    border: 1px solid var(--color-success);

    &:hover {
        background-color: var(--color-success);
        color: var(--color-snow);
    }
}

.tci-btn-bd-error {
    color: var(--color-error);
    border: 1px solid var(--color-error);

    &:hover {
        background-color: var(--color-error);
        color: var(--color-snow);
    }
}

.bg_darkgreen {
    background-color: var(--color-dark-green);
    color: var(--color-snow);

    &:hover {
        background-color: var(--color-light-green);
    }
}

.bg_darkblue {
    background-color: var(--color-dark-blue);
    color: var(--color-snow);

    &:hover {
        background-color: #0066CC;
    }
}

.bg_darkred {
    background-color: var(--color-dark-red);
    color: var(--color-snow);

    &:hover {
        background-color: var(--color-light-red);
    }
}
.bg_darkkhaki {
    color: var(--color-snow);
    background: var(--color-dark-khaki);

    &:hover {
        background-color: rgb(102, 90, 78);
    }
}
.bg_lightgray {
    background-color: var(--color-rosybrown);
    color: var(--color-snow);

    &:hover {
        background-color: var(--color-light-gray);
    }
}

.tci-btn-default-active {

    color: var(--color-gray);
    background-color: var(--color-snow);
    border: 1px solid var(--color-light-gray);
    border-radius: var(--borderRadius);
    width: 100%;

    &.active {
        outline: 0;
        box-shadow: inset 2px 2px 3px rgba(20%, 20%, 40%, 0.5);
        background-color: var(--color-whitesmoke);
        border: 1px solid var(--color-light-gray);
    }

    &:hover {
        box-shadow: inset 2px 3px 3px rgba(20%, 20%, 40%, 0.5);
    }
}