.tci-card {
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: var(--color-snow);
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: var(--borderRadius);
    min-width: 200px;

    &.card-green {
        color: var(--color-light-green);

        .card-header-green {
            background-color: var(--color-light-green);
            color: var(--color-snow);
        }
        .tci-card-body{
            .card-text-green{
                background-color: var(--color-light-green);
                color: var(--color-snow);
                padding: .25rem;
                border-radius: var(--borderRadius);
            }
        }
    }
    &.card-brown{
        color: var(--color-sienna);
        .card-header-brown {
            background-color: var(--color-sienna);
            color: var(--color-snow);
        }
        .tci-card-body{
            .card-text-brown{
                background-color: var(--color-sienna);
                color: var(--color-snow);
                padding: .25rem;
                border-radius: var(--borderRadius);
            }
        }
    }
    &.card-red{
        color: var(--color-dark-red);
        .card-header-red {
            background-color: var(--color-dark-red);
            color: var(--color-snow);
        }
        .tci-card-body{
            .card-text-red{
                background-color: var(--color-dark-red);
                color: var(--color-snow);
                padding: .25rem;
                border-radius: var(--borderRadius);
            }
        }
    }
    &.card-gray{
        color: var(--color-rosybrown);
        .card-header-gray {
            background-color: var(--color-rosybrown);
            color: var(--color-snow);
        }
        .tci-card-body{
            .card-text-gray{
                background-color: var(--color-rosybrown);
                color: var(--color-snow);
                padding: .25rem;
                border-radius: var(--borderRadius);
            }
        }
    }
    &.card-blue{
        color: var(--color-dark-blue);
        .card-header-blue {
            background-color: var(--color-dark-blue);
            color: var(--color-snow);
        }
        .tci-card-body{
            .card-text-blue{
                background-color: var(--color-dark-blue);
                color: var(--color-snow);
                padding: .25rem;
                border-radius: var(--borderRadius);
            }
        }
    }
}

.tci-card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.tci-card-header {
    padding: 0.25rem;
    font-weight: bold;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    font-size: var(--font-size-sm);
}

.tci-card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: .5rem;
}

.tci-card-title {
    margin-bottom: 0.5rem;
    font-size: var(--font-size-sm);
}

.tci-card-text {
    font-size: 12px;
}

.tci-card-footer:last-child {
    border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.tci-card-footer {
    padding: 0.2rem;
    font-size: .75rem;
    background-color: rgba(0, 0, 0, .03);
    border-top: 1px solid rgba(0, 0, 0, .125);
}

.tci-panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: var(--borderRadius);
    box-shadow: var(--borderShadow);
}
.tci-panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #ddd;
    margin-top: -1px;
    margin-left: -1px;
    font-weight: bold;
}
.tci-panel-heading>.tci-icon{
    color:var(--color-snow);
}
.tci-panel-body {
    padding: 15px;
}
.tci-panel-blue {
    border-color: var(--color-dark-blue);
}
.tci-panel-blue>.tci-panel-heading {
    color: var(--color-snow);
    background-color: var(--color-dark-blue);
    border-color: var(--color-dark-blue);
}
.tci-panel-yellow {
    border-color: var(--color-warning);
}
.tci-panel-yellow>.tci-panel-heading {
    color: var(--color-snow);
    background-color: var(--color-warning);
    border-color: var(--color-warning);
}
.tci-panel-green {
    border-color: var(--color-dark-green);
}
.tci-panel-green>.tci-panel-heading {
    color: var(--color-snow);
    background-color: var(--color-dark-green);
    border-color: var(--color-dark-green);
}
.tci-panel-khaki {
    border-color: var(--color-dark-khaki);
}
.tci-panel-khaki>.tci-panel-heading {
    color: var(--color-snow);
    background-color: var(--color-dark-khaki);
    border-color: var(--color-dark-khaki);
}
.tci-panel-rosybrown {
    border-color: var(--color-rosybrown);
}
.tci-panel-rosybrown>.tci-panel-heading {
    color: var(--color-snow);
    background-color: var(--color-rosybrown);
    border-color: var(--color-rosybrown);
}
.tci-panel-gray {
    border-color: var(--border-color);
}
.tci-panel-gray>.tci-panel-heading {
    color: var(--color-dark);
    background-color: var(--border-color);
    border-color: var(--border-color);
}