body {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: var(--font-size-sm);
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

*,
::after,
::before {
    box-sizing: border-box;
}
//強制不换行、超出顯示省略號
.fontNoWrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

//標題
.pageHeader {
    margin: .5rem 0 1.5rem 0;
    border-left: 5px solid var(--color-dark_khaki);
    box-shadow: var(--borderShadow);
    border-radius: var(--borderRadius);
    padding: .5rem 0;

    .pageHeaderTitle {
        font-size: var(--font-size-md);
        color: var(--color-dark_khaki);
        margin-left: 1rem;
    }
}

//超鏈接，沒有底線，字體為黑色
.no_style {
    text-decoration: none;
    color: var(--color-dark);

    &:hover {
        text-decoration: none;
        color: var(--color-dark);
    }
}

//棕色框，棕色背景標題
.darkBorderCard {
    .darkBorderCardTitle {
        text-align: center;
        background-color: var(--color-dark_khaki);
        color: var(--color-snow);
        padding: 5px;
        border-radius: var(--borderRadius);
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;

        span {
            font-weight: bold;
            font-size: var(--font-size-sm);
        }
    }

    .darkBorderCardContent {
        border: 2px solid var(--color-dark_khaki);
        border-radius: var(--borderRadius);
        padding: 5px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}
//灰色框
.formBox_gray {
    .formBox_title {
        background-color: var(--color-whitesmoke);
        border-radius: var(--borderRadius);
        font-weight: bold;
        padding: 2px;
        margin-bottom: .5rem;
    }

    .formBox_content {
        border: 3px solid var(--color-whitesmoke);
        border-radius: var(--borderRadius);
        padding: 5px;
        margin-bottom: .5rem;
    }

    .formBox_footer {
        border: 3px solid var(--color-whitesmoke);
        border-radius: var(--borderRadius);
        padding: 5px;
        margin-bottom: 1rem;
        font-weight: bold;
    }
}

// 灰色標題背景
.lightGrayBack {
    background-color: var(--color-whitesmoke);
    font-weight: bold;
    margin-bottom: .5rem;
}

//表格底下的“使用者資訊”
.userCard_info {
    text-align: right;
    margin-top: .75rem;

    .user_info {
        font-size: var(--font-size-xs);
        color: #AAA;
        font-style: italic;
    }
}

//內容分開
.flex_between {
    display: flex;
    justify-content: space-between;
}

//列印的button
.print_btn {
    .btnGroups {
        text-align: center;

        button {
            width: 100%;
            margin-bottom: .5rem;
        }
    }
}

.print_table {
    .tableContent {
        margin-bottom: 2rem;

        .tci-table-bordered td,
        .tci-table-bordered th {
            border: 1px solid var(--color-dark);
        }

        .tableScroll {
            overflow-x: auto;

            .tableAuto {
                width: 900px;
            }
        }
    }
}

.btnGroups {
    text-align: right;
}

// .addTable {
//     display: flex;
//     margin: 5px;
//     .addTableNo {
//         width: 70px;
//         background-color: var(--color-rosybrown);
//         margin-right: .5rem;
//         text-align: center;
//         display: flex;
//         align-items: center;
//         border-radius: var(--borderRadius);
//         span {
//             width: 100%;
//             font-weight: bold;
//             color: var(--color-snow);
//         }
//     }
// .addTableContent{
//     padding: 5px;
//     border: 3px solid var(--color-rosybrown);
//     border-radius: var(--borderRadius);
//     .tci-form-control.gray{
//         background-color: var(--color-whitesmoke);
//     }
// }
// }
@media (min-width: 765px) {
    body {
        font-size: var(--font-size-md);
    }

    .pageHeader {
        .pageHeaderTitle {
            font-size: var(--font-size-xl);
        }
    }

    .darkBorderCard {
        .darkBorderCardTitle {
            span {
                font-size: 1.25rem;
            }
        }
    }

    //列印的button
    .print_btn {
        .btnGroups {
            text-align: center;

            button {
                width: auto;
                height: 60px;
                margin-bottom: .5rem;
            }
        }
    }

    //列印表格
    .print_table {
        .tableContent {
            margin-bottom: 2rem;

            .tci-table-bordered td,
            .tci-table-bordered th {
                border: 1px solid var(--color-dark);
            }

            .tableScroll {
                .tableAuto {
                    width: 100%;
                }
            }
        }
    }

    .print_process {

        // 簽核流程
        .print_process_circuit {
            display: flex;
            flex-wrap: wrap;
        }
    }

    //檔案數
    .fileBox {
        .illustrate {
            .fileIllustrate {
                display: flex;

                .tci-input-group {
                    margin-bottom: .5rem;
                }
            }
        }
    }
}