:root {
    --color-grass: #3dd28d;
    --color-snow: #FFFFFF;
    --color-alge: #7999a9;

    --color-dark: #2a2a2a;
    --color-dark-blue:#003D79; //查詢
    --color-dark-red: #9d0f0f; //警告
    --color-dark-khaki:#aa9767;
    --color-dark-green:#5b6835;

    --color-blue: #3773eb;
    --color-error: #df3a30;
    --color-warning: #e8a210;
    --color-success: #6ea54a;
    --color-gray: #333;
    --color-orgin: #f2602f;
    
    --color-light-blue: #dee4f5;
    --color-light-error: #f4dcd9;
    --color-light-warning: #f0ebca;
    --color-light-success: #d2eedc;
    --color-light-green:#778546;
    --color-light-red: #931e1e;
    --color-light-gray:#e0dcd4;  //表格
    
    --color-whitesmoke:#efefef;  //輸入框背景
    --color-rosybrown:#9e937e;
    --color-peru:#dda15e;
    --color-sienna:#9c512e;

    --borderShadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    --borderRadius: .25rem;
    --borderRadiusCircular: 4rem;
    --border-color:#ced4da;

    --font-size-xs: 13px;
    --font-size-sm: 14px;
    --font-size-md: 1rem;       //16px  
    --font-size-lg: 1.25rem;   //20px 
    --font-size-xl: 1.5rem;    //24px

    --font-weight-bg:bold;
}