.tci-input-group > .tci-custom-file, .tci-input-group > .tci-custom-select,
.tci-input-group > .tci-form-control, .tci-input-group > .tci-form-control-plaintext {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
  margin-bottom: 0;
}

.tci-input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.tci-input-group-prepend {
  margin-right: -1px;
  display: flex;
}

.tci-input-group-text {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
}

.tci-form-control {
  display: block;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
  margin-bottom: 0;
}

.tci-custom-select {
  display: inline-block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  background: #fff;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
  margin-bottom: 0;
}

.tci-custom-file {
  position: relative;
  display: inline-block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  margin-bottom: 0;
}

.tci-custom-file-input {
  position: relative;
  z-index: 2;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  margin: 0;
  overflow: hidden;
  opacity: 0;
}

.tci-custom-file-label {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  overflow: hidden;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.tci-btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.tci-btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.tci-btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.tci-btn-blue {
  color: #fff;
  background-color: #176ac2;
  border-color: #176ac2;
}
.tci-btn-blue:hover {
  color: #fff;
  background-color: #105aa8;
  border-color: #105aa8;
}

.tci-btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.tci-btn-secondary:hover {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}

.tci-btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}
.tci-btn-success:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}

.tci-btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
.tci-btn-danger:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}

.tci-btn-warning {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}
.tci-btn-warning:hover {
  color: #212529;
  background-color: #e0a800;
  border-color: #d39e00;
}

.tci-btn-dark {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}
.tci-btn-dark:hover {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
}

.tci-btn-outline-primary {
  color: #007bff;
  border-color: #007bff;
}
.tci-btn-outline-primary:hover {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.tci-btn-outline-secondary {
  color: #6c757d;
  border-color: #6c757d;
}
.tci-btn-outline-secondary:hover {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.tci-btn-outline-success {
  color: #28a745;
  border-color: #28a745;
}
.tci-btn-outline-success:hover {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.tci-btn-outline-danger {
  color: #dc3545;
  border-color: #dc3545;
}
.tci-btn-outline-danger:hover {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.tci-btn-outline-warning {
  color: #ffc107;
  border-color: #ffc107;
}
.tci-btn-outline-warning:hover {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

.tci-btn-outline-dark {
  color: #343a40;
  border-color: #343a40;
}
.tci-btn-outline-dark:hover {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.tci-btn-orgin {
  color: #fff;
  border-color: #f2602f;
  background-color: #f2602f;
}
.tci-btn-orgin:hover {
  color: #fff;
  background-color: #c6522b;
  border-color: #c6522b;
}

.tci-btn-outline-orgin {
  color: #343a40;
  border-color: #f2602f;
}
.tci-btn-outline-orgin:hover {
  color: #fff;
  background-color: #f2602f;
  border-color: #f2602f;
}

.tci-green100-nh {
  color: #343a40;
  background-color: #c3e6cb;
}

.tci-blue100-nh {
  color: #343a40;
  background-color: #b8daff;
}

.tci-gray100-nh {
  color: #343a40;
  background-color: #d6d8db;
}

.tci-green100-nh {
  color: #343a40;
  background-color: #c3e6cb;
}

.tci-pink100-nh {
  color: #343a40;
  background-color: #f5c6cb;
}

.tci-yellow100-nh {
  color: #343a40;
  background-color: #ffeeba;
}

.tci-m-0 {
  margin: 0;
}

.tci-mt-0 {
  margin-top: 0;
}

.tci-mr-0 {
  margin-right: 0;
}

.tci-mb-0 {
  margin-bottom: 0;
}

.tci-ml-0 {
  margin-left: 0;
}

.tci-m-auto {
  margin: auto;
}

.tci-mt-auto {
  margin-top: auto;
}

.tci-mr-auto {
  margin-right: auto;
}

.tci-mb-auto {
  margin-bottom: auto;
}

.tci-ml-auto {
  margin-left: auto;
}

.tci-m-1 {
  margin: 0.25rem;
}

.tci-mt-1 {
  margin-top: 0.25rem;
}

.tci-mr-1 {
  margin-right: 0.25rem;
}

.tci-mb-1 {
  margin-bottom: 0.25rem;
}

.tci-ml-1 {
  margin-left: 0.25rem;
}

.tci-m-2 {
  margin: 0.5rem;
}

.tci-mt-2 {
  margin-top: 0.5rem;
}

.tci-mr-2 {
  margin-right: 0.5rem;
}

.tci-mb-2 {
  margin-bottom: 0.5rem;
}

.tci-ml-2 {
  margin-left: 0.5rem;
}

.tci-m-3 {
  margin: 1rem;
}

.tci-mt-3 {
  margin-top: 1rem;
}

.tci-mr-3 {
  margin-right: 1rem;
}

.tci-mb-3 {
  margin-bottom: 1rem;
}

.tci-ml-3 {
  margin-left: 1rem;
}

.tci-m-4 {
  margin: 1.5rem;
}

.tci-mt-4 {
  margin-top: 1.5rem;
}

.tci-mr-4 {
  margin-right: 1.5rem;
}

.tci-mb-4 {
  margin-bottom: 1.5rem;
}

.tci-ml-4 {
  margin-left: 1.5rem;
}

.tci-p-0 {
  padding: 0;
}

.tci-pt-0 {
  padding-top: 0;
}

.tci-pr-0 {
  padding-right: 0;
}

.tci-pb-0 {
  padding-bottom: 0;
}

.tci-pl-0 {
  padding-left: 0;
}

.tci-p-1 {
  padding: 0.25rem;
}

.tci-pt-1 {
  padding-top: 0.25rem;
}

.tci-pr-1 {
  padding-right: 0.25rem;
}

.tci-pb-1 {
  padding-bottom: 0.25rem;
}

.tci-pl-1 {
  padding-left: 0.25rem;
}

.tci-p-2 {
  padding: 0.5rem;
}

.tci-pt-2 {
  padding-top: 0.5rem;
}

.tci-pr-2 {
  padding-right: 0.5rem;
}

.tci-pb-2 {
  padding-bottom: 0.5rem;
}

.tci-pl-2 {
  padding-left: 0.5rem;
}

.tci-p-3 {
  padding: 1rem;
}

.tci-pt-3 {
  padding-top: 1rem;
}

.tci-pr-3 {
  padding-right: 1rem;
}

.tci-pb-3 {
  padding-bottom: 1rem;
}

.tci-pl-3 {
  padding-left: 1rem;
}

.tci-p-4 {
  padding: 1.5rem;
}

.tci-pt-4 {
  padding-top: 1.5rem;
}

.tci-pr-4 {
  padding-right: 1.5rem;
}

.tci-pb-4 {
  padding-bottom: 1.5rem;
}

.tci-pl-4 {
  padding-left: 1.5rem;
}

.tci-list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  border-radius: 0.25rem;
}

.tci-list-group-item-action {
  width: 100%;
  color: #495057;
  text-align: inherit;
}
.tci-list-group-item-action:hover {
  z-index: 1;
  color: #495057;
  text-decoration: none;
  background-color: #f8f9fa;
}

.tci-list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.tci-list-group-item.current {
  background: linear-gradient(89.03deg, #D4BB60 -4.53%, #E6D7A4 47.41%, #D4BB60 100.22%);
  color: #2a2a2a;
}
.tci-list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.tci-list-group-item:last-child {
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
}

.tci-list-group-item:first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.tci-text-left {
  text-align: left;
}

.tci-text-center {
  text-align: center;
}

.tci-text-right {
  text-align: right;
}

.tci-text-justify {
  text-align: justify;
}

@media (min-width: 576px) {
  .tci-text-sm-left {
    text-align: left;
  }
  .tci-text-sm-center {
    text-align: center;
  }
  .tci-text-sm-right {
    text-align: right;
  }
}
@media (min-width: 768px) {
  .tci-text-md-left {
    text-align: left;
  }
  .tci-text-md-center {
    text-align: center;
  }
  .tci-text-md-right {
    text-align: right;
  }
}
@media (min-width: 992px) {
  .tci-text-lg-left {
    text-align: left;
  }
  .tci-text-lg-center {
    text-align: center;
  }
  .tci-text-lg-right {
    text-align: right;
  }
}
.tci-font-weight-bold {
  font-weight: 700;
}

.tci-font-weight-bolder {
  font-weight: bolder;
}

.tci-font-weight-normal {
  font-weight: 400;
}

.tci-font-weight-light {
  font-weight: 300;
}

.tci-font-weight-lighter {
  font-weight: lighter;
}

.tci-font-italic {
  font-weight: italic;
}/*# sourceMappingURL=tci-all.css.map */