#page_oldgoodsReceipt{
    .tableScroll {
        overflow-x: auto;

        .tci-table {
            width: 992px;
        }
    }
}
#page_oldgoodsReceipt_createView{
    .tableScroll {
        overflow-x: auto;

        .tci-table {
            width: 992px;
        }
    }
}
@media (min-width: 768px) {
    #page_oldgoodsReceipt{
        .oldgoodsReceipt_query {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .tci-field {
                width: 48%;
            }
        }
       
    }
    #page_oldgoodsReceipt_createView {
        .oldgoodsReceipt_query {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .tci-field {
                width: 48%;
            }
        }
    }
}
@media (min-width: 992px) {
    #page_oldgoodsReceipt_createView {
        .tableScroll {
            .tci-table {
                width: 100%;
            }
        }
    }
    #page_oldgoodsReceipt{
        .tableScroll {
            overflow-x: auto;
    
            .tci-table {
                width: 100%;
            }
        }
    }
}
//簽核 列印
#page_oldgoodsReceipt_signoff {
    .tableScroll {
        overflow-x: auto;

        .tableContent {
            width: 992px;
        }
    }
}

#page_oldgoodsReceipt_print {
    .print_table {
        .tableContent {
            margin-bottom: 0;

            .tableScroll {
                overflow-x: auto;

                .tableAuto {
                    width: 1400px;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    #page_oldgoodsReceipt_signoff {
        .tableScroll {
            .tableContent {
                width: 100%;
            }
        }
    }
    #page_oldgoodsReceipt_print {
        .print_table {
            .tableContent {
                .tableScroll {
                    .tableAuto {
                        &.manager{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: 1400px) {
    #page_oldgoodsReceipt_print {
        .print_table {
            .tableContent {
                .tableScroll {
                    .tableAuto {
                        width: 100%;
                    }
                }
            }
        }
    }
}