#page_createPurchaseOrder .mark {
  padding: 0.5rem;
  background-color: var(--color-gainsboro);
  border-radius: var(--borderRadius);
}
#page_createPurchaseOrder .tci-field-text,
#page_createPurchaseOrder .tci-input-group-text,
#page_createPurchaseOrder .tci-label-top {
  font-weight: bold;
}
#page_createPurchaseOrder hr {
  border-top: 1px solid gainsboro;
}
#page_createPurchaseOrder .query {
  border: 2px solid var(--color-gainsboro);
  border-radius: 0.4rem;
  padding: 0.3rem;
}
#page_createPurchaseOrder .tci-field-value,
#page_createPurchaseOrder .tci-form-control {
  background-color: #EFEFEF;
}
#page_createPurchaseOrder .content_label {
  height: 300px;
  overflow-y: auto;
}
#page_createPurchaseOrder .content_label .table_label {
  border: 1px solid var(--color-alge);
  padding: 5px;
  border-radius: var(--borderRadius);
}
#page_createPurchaseOrder table .table_thead {
  background-color: var(--color-smoke);
}
#page_createPurchaseOrder table th {
  padding: 0.25rem;
}
#page_createPurchaseOrder .undeliveredContent .undeliveredContent_title {
  background-color: #aa9767;
  text-align: center;
  padding: 5px;
  color: #fff;
  border-radius: 0.25rem;
}
#page_createPurchaseOrder .undeliveredContent .table_label {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1rem;
}
#page_createPurchaseOrder .undeliveredContent .table_label .tci-label-group {
  margin-top: 11px;
}
#page_createPurchaseOrder .undeliveredContent .table_label .tci-label-group.content {
  width: 100%;
}
#page_createPurchaseOrder .undeliveredContent .table_label .tci-label-group.content .tci-label-text {
  overflow-x: auto;
}

@media (min-width: 765px) {
  .pageContent .pageContentTitle {
    font-size: var(--font-size-lg);
  }
  #page_createPurchaseOrder .content .content_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #page_createPurchaseOrder .content .content_row .tci-input-group {
    width: 30%;
  }
  #page_createPurchaseOrder .content_label .table_label {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #page_createPurchaseOrder .content_label .table_label .tci-label-group {
    width: 30%;
  }
  #page_createPurchaseOrder .content_label .table_label .tci-label-group.no {
    width: 5%;
  }
  #page_createPurchaseOrder .content_label .table_label .tci-label-group.middle {
    width: 90%;
  }
  #page_createPurchaseOrder .content_label .table_label .tci-label-group.long {
    width: 100%;
  }
  #page_createPurchaseOrder .content_label .table_label .tci-label-group .ecNum {
    font-size: 12px;
    border-bottom: 3px double;
  }
  #page_createPurchaseOrder .mark .mark_file {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #page_createPurchaseOrder .mark .mark_file .tci-input-group {
    width: 48%;
  }
  #page_createPurchaseOrder #supply_satues .table_label {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #page_createPurchaseOrder #supply_satues .table_label .tci-label-group {
    margin-right: 6px;
    width: 30%;
  }
  #page_createPurchaseOrder .modal hr {
    border-top: 2px solid var(--color-dimgray);
  }
  #page_createPurchaseOrder .modal .modal-content {
    width: 95vw;
    height: 95vh;
  }
  #page_createPurchaseOrder .undeliveredContent .table_label .tci-label-group {
    width: 30%;
  }
  #page_createPurchaseOrder .undeliveredContent .table_label .tci-label-group.content {
    width: 100%;
  }
}
@media (min-width: 992px) {
  #page_createPurchaseOrder .content .content_row .tci-input-group {
    width: 24%;
  }
  #page_createPurchaseOrder .content_label .table_label .tci-label-group {
    width: 23%;
  }
  #page_createPurchaseOrder #supply_satues .table_label .tci-label-group {
    margin-right: 6px;
    width: 23%;
  }
  #page_createPurchaseOrder #supply_satues .table_label .tci-label-group.name {
    width: 49%;
  }
}