#page_createPurchaseOrder .tci-field-text,
#page_createPurchaseOrder .tci-input-group-text,
#page_createPurchaseOrder .tci-label-top {
  font-weight: bold;
}
#page_createPurchaseOrder .query {
  padding: 0.3rem;
}
#page_createPurchaseOrder .query .tci-valueBtn {
  display: flex;
  width: 100%;
}
#page_createPurchaseOrder table .table_thead {
  background-color: var(--color-smoke);
}
#page_createPurchaseOrder table th {
  padding: 0.25rem;
}
#page_createPurchaseOrder .tableScroll0 {
  overflow-x: auto;
}
#page_createPurchaseOrder .tableScroll0 .tci-table {
  min-width: 768px;
}
#page_createPurchaseOrder .tableScroll {
  overflow-x: auto;
}
#page_createPurchaseOrder .tableScroll .tci-table {
  min-width: 1024px;
}

@media (min-width: 768px) {
  .pageContent .pageContentTitle {
    font-size: var(--font-size-lg);
  }
  #page_createPurchaseOrder .tci-field-label {
    width: 30%;
  }
  #page_createPurchaseOrder .query .tci-valueBtn {
    display: flex;
    width: 70%;
    justify-content: end;
  }
  #page_createPurchaseOrder .query .tci-field-value {
    width: 70%;
  }
  #page_createPurchaseOrder .query_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #page_createPurchaseOrder .query_flex .tci-field {
    width: 48%;
  }
  #page_createPurchaseOrder .fileBox .illustrate .fileIllustrate {
    display: flex;
  }
  #page_createPurchaseOrder .fileBox .illustrate .fileIllustrate .tci-input-group {
    margin-bottom: 0.5rem;
  }
  #page_createPurchaseOrder #supply_satues .table_label {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #page_createPurchaseOrder #supply_satues .table_label .tci-label-group {
    margin-right: 6px;
    width: 30%;
  }
  #page_createPurchaseOrder .modal .modal-content {
    width: 95vw;
    height: 95vh;
  }
}
@media (min-width: 992px) {
  #page_createPurchaseOrder #supply_satues .table_label .tci-label-group {
    margin-right: 6px;
    width: 23%;
  }
  #page_createPurchaseOrder #supply_satues .table_label .tci-label-group.name {
    width: 49%;
  }
}
#page_createPurchaseOrder_signoff .tableScroll0 {
  overflow-x: auto;
}
#page_createPurchaseOrder_signoff .tableScroll0 .tableContent {
  width: 900px;
}
#page_createPurchaseOrder_signoff .tableScroll {
  overflow-x: auto;
}
#page_createPurchaseOrder_signoff .tableScroll .tableContent {
  width: 1200px;
}

#page_createPurchaseOrder_print .print_table {
  overflow-x: auto;
}
#page_createPurchaseOrder_print .print_table .tableContent {
  width: 900px;
}
#page_createPurchaseOrder_print .print_table .tableContent .noborder th,
#page_createPurchaseOrder_print .print_table .tableContent .noborder td {
  border: none;
}

@media (min-width: 768px) {
  #page_createPurchaseOrder_signoff .tableScroll0 .tableContent {
    width: 100%;
  }
  #page_createPurchaseOrder_print .choose {
    display: flex;
    justify-content: center;
  }
  #page_createPurchaseOrder_print .choose select {
    width: 300px;
  }
}
@media (min-width: 992px) {
  #page_createPurchaseOrder_signoff .tableScroll .tableContent {
    width: 100%;
  }
  #page_createPurchaseOrder_print .print_table {
    overflow-x: auto;
  }
  #page_createPurchaseOrder_print .print_table .tableContent {
    width: 100%;
  }
}