#page_createPurchaseOrder {
    .tci-field-text,
    .tci-input-group-text,
    .tci-label-top {
        font-weight: bold;
    }

    .query {
        padding: .3rem;

        .tci-valueBtn {
            display: flex;
            width: 100%;
        }
    }

    table {
        .table_thead {
            background-color: var(--color-smoke);
        }

        th {
            padding: .25rem;
        }
    }

    .tableScroll0 {
        overflow-x: auto;

        .tci-table {
            min-width: 768px;
        }
    }
    .tableScroll {
        overflow-x: auto;

        .tci-table {
            min-width: 1024px;
        }
    }
}

@media (min-width: 768px) {
    .pageContent {
        .pageContentTitle {
            font-size: var(--font-size-lg);
        }
    }

    #page_createPurchaseOrder {
        .tci-field-label {
            width: 30%;
        }

        .query {
            .tci-valueBtn {
                display: flex;
                width: 70%;
                justify-content: end;
            }

            .tci-field-value {
                width: 70%;
            }
        }

        .query_flex {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .tci-field {
                width: 48%;
            }
        }
        .fileBox {
            .illustrate {
                .fileIllustrate {
                    display: flex;

                    .tci-input-group {
                        margin-bottom: .5rem;
                    }
                }
            }
        }

        #supply_satues {
            .table_label {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                .tci-label-group {
                    margin-right: 6px;
                    width: 30%;

                }
            }
        }

        .modal {
            .modal-content {
                width: 95vw;
                height: 95vh;
            }
        }
    }

}

@media (min-width: 992px) {
    #page_createPurchaseOrder {

        #supply_satues {
            .table_label {
                .tci-label-group {
                    margin-right: 6px;
                    width: 23%;

                    &.name {
                        width: 49%;
                    }
                }
            }
        }
    }
}

#page_createPurchaseOrder_signoff {
    .tableScroll0 {
        overflow-x: auto;

        .tableContent {
            width: 992px;
        }
    }

    .tableScroll {
        overflow-x: auto;

        .tableContent {
            width: 1200px;
        }
    }
}

#page_createPurchaseOrder_print {
    .print_table {
        overflow-x: auto;

        .tableContent {
            width: 900px;

            .noborder {

                th,
                td {
                    border: none;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    #page_createPurchaseOrder_signoff {
        .tableScroll0 {
            .tableContent {
                width: 100%;
            }
        }
    }

    #page_createPurchaseOrder_print {
        .choose {
            display: flex;
            justify-content: center;

            select {
                width: 300px;
            }
        }
    }
}

@media (min-width: 992px) {
    #page_createPurchaseOrder_signoff {
        .tableScroll {
            .tableContent {
                width: 100%;
            }
        }
    }

    #page_createPurchaseOrder_print {
        .print_table {
            overflow-x: auto;

            .tableContent {
                width: 100%;
            }
        }
    }
}