#page_coinRequest{
    .coinList{
        .tableScroll{
            overflow-x: auto;
            .tci-table{
                width: 990px;
            }
        }
    }
}
@media (min-width: 768px) {
    #page_coinRequest{
        .coinList{
            .tableScroll{
                overflow-x: auto;
                .tci-table{
                    width: 100%;
                }
            }
        }
        .fileBox {
            .illustrate {
                .fileIllustrate {
                    display: flex;
                    .tci-input-group{
                        margin-bottom: .5rem;
                    }
                }
            }
        }
    }
}
#page_coinRequest_signoff{
    .tableScroll{
        overflow-x: auto;
        .tableContent{
            width: 768px;
        }
    }
}
#page_coinRequest_print{
    .print_table{
        overflow-x: auto;
        .tableContent{
            width: 768px;
        }
    }
}
@media (min-width: 768px) {
    #page_coinRequest_signoff{
        .tableScroll{
            .tableContent{
                width: 100%;
            }
        }
    }
    #page_coinRequest_print{
        .print_table{
            .tableContent{
                width: 100%;
            }
        }
    }
}