#page_coinRequest .coinList .tableScroll {
  overflow-x: auto;
}
#page_coinRequest .coinList .tableScroll .tci-table {
  width: 990px;
}

@media (min-width: 768px) {
  #page_coinRequest .coinList .tableScroll {
    overflow-x: auto;
  }
  #page_coinRequest .coinList .tableScroll .tci-table {
    width: 100%;
  }
  #page_coinRequest .fileBox .illustrate .fileIllustrate {
    display: flex;
  }
  #page_coinRequest .fileBox .illustrate .fileIllustrate .tci-input-group {
    margin-bottom: 0.5rem;
  }
}
#page_coinRequest_signoff .tableScroll {
  overflow-x: auto;
}
#page_coinRequest_signoff .tableScroll .tableContent {
  width: 768px;
}

#page_coinRequest_print .print_table {
  overflow-x: auto;
}
#page_coinRequest_print .print_table .tableContent {
  width: 768px;
}

@media (min-width: 768px) {
  #page_coinRequest_signoff .tableScroll .tableContent {
    width: 100%;
  }
  #page_coinRequest_print .print_table .tableContent {
    width: 100%;
  }
}