#page_quotation08 {
    .tci-valueBtn {
        width: 100%;
        text-align: end;

        button {
            margin-top: .5rem;
        }
    }
}

@media (min-width:768px) {
    #page_quotation08 {
        .tci-field-label{
            width: 20%;
        }
        .tci-valueBtn {
            width: 80%;
            display: flex;
            .tci-field-value {
                width: 200px;
            }

            button {
                margin-top: 0;
                margin-left: .5rem;
            }
        }
    }
}