#page_overtimeApplication{
    .overtimeApplicationQuery{
        .date{
           display: flex;
           width: 100%;
            .tci-valueBtn{
                display: flex;
                flex-wrap: wrap;
                .time{
                    display: flex;
                }
                button{
                    width: 100%;
                    margin-top: .5rem;
                    margin-left: .5rem;
                }
            }
        }
    }
    .applicationAddTableBox{
        margin-top: .5rem;
        .addTable {
            display: flex;

            .addTableNo {
                width: 70px;
                background-color: var(--color-rosybrown);
                margin-right: .5rem;
                text-align: center;
                display: flex;
                align-items: center;
                border-radius: var(--borderRadius);
                span {
                    width: 100%;
                    font-weight: bold;
                    color: var(--color-snow);
                }
            }
            .addTableContent{
                padding: 5px;
                border: 3px solid var(--color-rosybrown);
                border-radius: var(--borderRadius);
                .tci-form-control.gray{
                    background-color: var(--color-whitesmoke);
                }
            }
        }

    }
}
@media (min-width: 768px) {
    #page_overtimeApplication{
        .overtimeApplicationQuery{
            .date{
                justify-content: space-between;
                .tci-input-group-prepend{
                    width:30%;
                    justify-content: flex-end;
                }
                .tci-valueBtn{
                    width: 70%;
                    justify-content: end;
                    .time{
                        display: flex;
                    }
                    button{
                        width: auto;
                        margin-top: 0;
                    }
                }
            }
        }
        .applicationAddTableBox {
            .addTable {
                .addTableNo {
                    width: 100px;
                }

                .addTableContent {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-start;

                    .tci-input-group {
                        width: 22%;
                        margin-right: 1rem;
                        &.name{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: 992px) {
    #page_overtimeApplication{
        .overtimeApplicationQuery{
            .date{
                .tci-input-group-prepend{
                    width:50%;
                }
                .tci-valueBtn{
                    width: 50%;
                }
            }
        }
        .applicationAddTableBox {
            .addTable {

                .addTableContent {
                    .tci-input-group {
                        width: 18%;
                    }
                }
            }
        }
    }
}
@media (min-width: 1200px) {
    #page_overtimeApplication{
        .applicationAddTableBox {
            .addTable {

                .addTableContent {
                    .tci-input-group {
                        width: 14%;
                    }
                }
            }
        }
    }
}