<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="../../scss/tci-all.css">
    <link rel="stylesheet" href="./style.css">
    <title>加班申請單簽核</title>
</head>

<body>
    <div class="container-fluid" id="page_overtimeApplication_signoff">
        <div class="pageHeader">
            <span class="pageHeaderTitle"><b>加班申請單-簽核</b></span>
        </div>

        <!-- 單據明細 -->
        <section class="darkBorderCard detailsBox tci-mb-3">
            <div class="darkBorderCardTitle">
                <span>單據明細</span>
                <span class="tci-pl-0 ">
                    <span class=""><i class="fa-solid fa-chevron-up"></i></span>
                    <!-- <span class=""><i class="fa-solid fa-chevron-down"></i></span> -->
                </span>
            </div>
            <div class="detailsBoxContent darkBorderCardContent">
                <div class="detailsBox_company tci-mt-1 tci-mb-2" style="text-align: right;">
                    <span class="detailsBox_companytext"
                        style=" color: #fff;padding: 0 6px;background-color: #83a2b4;border-radius: var(--borderRadius);font-size: 14px;">百岳特國際貿易(上海)</span>
                </div>
                <div class="tableScroll">
                    <div class="tableContent">
                        <div
                            style="text-align: center;font-size:var(--font-size-xl);font-weight: bold;margin-bottom: 1rem;">
                            <span>大江生醫股份有限公司 加班申請單</span>
                        </div>
                        <div>
                            <button class="tci-icon bg_lightgray" style="padding: 5px;">單據資訊&nbsp;<i
                                    class="fa-solid fa-chevron-up"></i></button>
                        </div>
                        <table class="tci-table tci-table-bordered">
                            <tbody>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">單據資訊</th>
                                    <td colspan="5">
                                        <button class="tci-btn bg_darkblue">精簡資訊</button>
                                        <button class="tci-btn bg_darkblue">完整資訊</button>
                                    </td>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">單據號碼<span>(合計已請款)</span></th>
                                    <td>10002238</td>
                                    <th style="background-color: var(--color-light-gray);">公司</th>
                                    <td colspan="3">大江生醫股份有限公司</td>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">文件日期</th>
                                    <td>2022/07/02</td>
                                    <th style="background-color: var(--color-light-gray);">部門別</th>
                                    <td colspan="3">M05</td>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">公司統編</th>
                                    <td>10002238-大江生意股份有限公司</td>
                                    <th style="background-color: var(--color-light-gray);">幣別</th>
                                    <td>新台幣</td>
                                    <th style="background-color: var(--color-light-gray);">匯率</th>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">請款金額 (NTD)</th>
                                    <td style="color: var(--color-light-red);font-weight: bold;">9,359.00</td>
                                    <th style="background-color: var(--color-light-gray);">請款金額 (NTD)</th>
                                    <td colspan="3" style="color: var(--color-light-red);font-weight: bold;">9,359.00
                                    </td>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">稅額 (NTD)</th>
                                    <td>0.00</td>
                                    <th style="background-color: var(--color-light-gray);">過帳日期</th>
                                    <td colspan="3">2022/07/02</td>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">付款方式</th>
                                    <td>員工1-1</td>
                                    <th style="background-color: var(--color-light-gray);">領款人</th>
                                    <td colspan="3">邱琮傑(JACK.CHIU)</td>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">付款條件</th>
                                    <td colspan="5">开票后15天付款</td>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">請款備註</th>
                                    <td colspan="5">9,359.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tableScroll">
                    <div class="tableContent">
                        <table class="tci-table tci-table-bordered">
                            <thead>
                                <tr
                                    style="font-size: var(--font-size-lg);text-align:center;background-color: var(--color-rosybrown);color: var(--color-snow);">
                                    <th colspan="7">票據明細</th>
                                </tr>
                                <tr style="text-align: center;background-color: var(--color-light-gray);">
                                    <th>NO</th>
                                    <th>票據類型</th>
                                    <th>票據號碼</th>
                                    <th>票據日期</th>
                                    <th>賣方票據抬頭</th>
                                    <th>票據金額(含稅)</th>
                                    <th>賣方統一編號</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="text-align: center;">1</td>
                                    <td style="text-align: center;">發票</td>
                                    <td style="text-align: center;">DJ05261287</td>
                                    <td style="text-align: center;">2022/07/25</td>
                                    <td style="text-align: center;">台灣普客二四股份有限公司</td>
                                    <td style="text-align: right;">1,330.00</td>
                                    <td style="text-align: center;">87670630</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr style="color: var(--color-light-red);text-align: right;">
                                    <th colspan="5">總計</th>
                                    <th>718,730.78</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="tableScroll">
                    <div class="tableContent">
                        <table class="tci-table tci-table-bordered">
                            <thead>
                                <tr
                                    style="font-size: var(--font-size-lg);text-align:center;background-color: var(--color-rosybrown);color: var(--color-snow);">
                                    <th colspan="9">請款明細</th>
                                </tr>
                                <tr style="text-align: center;background-color: var(--color-light-gray);">
                                    <th>NO</th>
                                    <th>請款類別</th>
                                    <th>摘要說明</th>
                                    <th>金額(含稅)</th>
                                    <th>歸屬人</th>
                                    <th>成本中心</th>
                                    <th>專案代號</th>
                                    <th>關聯票據</th>
                                    <th>項目備註</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="text-align: center;">1</td>
                                    <td style="text-align: center;">發票</td>
                                    <td style="text-align: center;">DJ05261287</td>
                                    <td style="text-align: center;">2022/07/25</td>
                                    <td style="text-align: center;">台灣普客二四股份有限公司</td>
                                    <td style="text-align: right;">1,330.00</td>
                                    <td style="text-align: center;">87670630</td>
                                    <td style="text-align: center;">16.DJ05261287</td>
                                    <td style="text-align: center;">87670630</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr style="color: var(--color-light-red);text-align: right;">
                                    <th colspan="3">總計</th>
                                    <th>718,730.78</th>
                                    <th colspan="6"></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="tableScroll">
                    <div class="content">
                        <div class="tci-input-group tci-mb-2">
                            <div class="tci-input-group-prepend">
                                <span class="tci-input-group-text">請採(優先)/合約單號:</span>
                            </div>
                            <input type="text" class="tci-form-control" />
                        </div>
                        <div class="tci-input-group tci-mb-2">
                            <div class="tci-input-group-prepend">
                                <span class="tci-input-group-text">固定資產若無請採單/合約請說明原因:</span>
                            </div>
                            <input type="text" class="tci-form-control" />
                        </div>
                    </div>
                    <div class="tableContent">
                        <table class="tci-table tci-table-bordered">
                            <thead>
                                <tr
                                    style="font-size: var(--font-size-lg);text-align:center;background-color: var(--color-rosybrown);color: var(--color-snow);">
                                    <th colspan="7">請採單明細</th>
                                </tr>
                                <tr style="text-align: center;background-color: var(--color-light-gray);">
                                    <th>請採單</th>
                                    <th>採購金額</th>
                                    <th>合約</th>
                                    <th>請款單</th>
                                    <th>驗收單</th>
                                    <th>合計已請款(不含本單)</th>
                                    <th>合計待請款(含本單)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="text-align: center;">發票</td>
                                    <td style="text-align: center;">DJ05261287</td>
                                    <td style="text-align: center;">2022/07/25</td>
                                    <td style="text-align: center;">台灣普客二四股份有限公司</td>
                                    <td style="text-align: right;">1,330.00</td>
                                    <td style="text-align: center;">87670630</td>
                                    <td style="text-align: center;">16.DJ05261287</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <section class="darkBorderCard tci-mb-3">
            <div class="darkBorderCardTitle">
                <span>簽核流程</span>
                <span class="tci-pl-0 ">
                    <span class=""><i class="fa-solid fa-chevron-up"></i></span>
                    <!-- <span class=""><i class="fa-solid fa-chevron-down"></i></span> -->
                </span>
            </div>
            <div class="darkBorderCardContent print_process_circuit">
                <div class="tci-card tci-mt-2 card-green">
                    <div class="tci-card-header card-header-green"><i class="fa-solid fa-user-tie"></i> 總經理主管</div>
                    <div class="tci-card-body">
                        <p class="tci-card-title">林詠翔<br/>VINCENT.LIN</p>
                        <div>
                            <span class="tci-card-text card-text-green"><i class="fa-solid fa-clock"></i>&nbsp;
                                免簽核</span>
                        </div>
                    </div>
                    <div class="tci-card-footer"></div>
                </div>
                <!-- 手機以上 -->
                <span style="text-align: center;margin: auto 1rem;">
                    <i class="fa-solid fa-left-long fa-2x"></i>
                </span>
                <!-- 手機 向上 Icon -->
                <!-- <span style="text-align:center;">
                        <i class="fa-solid fa-up-long fa-2x" style="width: 100%;"></i>
                    </span> -->
                <div class="tci-card tci-mt-2 card-blue">
                    <div class="tci-card-header card-header-blue"><i class="fa-solid fa-user-tie"></i> 戰略數據中心主管</div>
                    <div class="tci-card-body">
                        <p class="tci-card-title"> 王浩駿<br/>JOHNNY.WANG</p>
                        <div>
                            <span class="tci-card-text card-text-blue"><i class="fa-solid fa-clock"></i>&nbsp;
                                未簽核</span>
                        </div>
                    </div>
                    <div class="tci-card-footer"></div>
                </div>

                <!-- 手機以上 -->
                <span style="text-align: center;margin: auto 1rem;">
                    <i class="fa-solid fa-left-long fa-2x"></i>
                </span>
                <!-- 手機 向上 Icon -->
                <!-- <span style="text-align:center;">
                        <i class="fa-solid fa-up-long fa-2x" style="width: 100%;"></i>
                    </span> -->
                <div class="tci-card tci-mt-2 card-blue">
                    <div class="tci-card-header card-header-blue"><i class="fa-solid fa-user-tie"></i> 軟體整合開發部主管</div>
                    <div class="tci-card-body">
                        <p class="tci-card-title">吳春隆<br/>REX.WU</p>
                        <div>
                            <span class="tci-card-text card-text-blue"><i class="fa-solid fa-clock"></i>&nbsp; 同意</span>
                        </div>
                    </div>
                    <div class="tci-card-footer">2022/07/21 12:31:32</div>
                </div>
                <!-- 手機以上 -->
                <span style="text-align: center;margin: auto 1rem;">
                    <i class="fa-solid fa-left-long fa-2x"></i>
                </span>
                <!-- 手機 向上 Icon -->
                <!-- <span style="text-align:center;">
                        <i class="fa-solid fa-up-long fa-2x" style="width: 100%;"></i>
                    </span> -->
                <div class="tci-card tci-mt-2 card-blue">
                    <div class="tci-card-header card-header-blue"><i class="fa-solid fa-user-tie"></i> 軟體研發組主管</div>
                    <div class="tci-card-body">
                        <p class="tci-card-title">吳春隆<br/>REX.WU</p>
                        <div>
                            <span class="tci-card-text card-text-blue"><i class="fa-solid fa-check"></i>&nbsp; 同意</span>
                        </div>
                    </div>
                    <div class="tci-card-footer">2022/07/21 12:31:32</div>
                </div>
                <!-- 手機以上 -->
                <span style="text-align: center;margin: auto 1rem;">
                    <i class="fa-solid fa-left-long fa-2x"></i>
                </span>
                <!-- 手機 向上 Icon -->
                <!-- <span style="text-align:center;">
                        <i class="fa-solid fa-up-long fa-2x" style="width: 100%;"></i>
                    </span> -->
                <div class="tci-card tci-mt-2 card-blue">
                    <div class="tci-card-header card-header-blue"><i class="fa-solid fa-user"></i> 經辦人</div>
                    <div class="tci-card-body">
                        <p class="tci-card-title">曾莞婷<br/>HEDY.TSENG</p>
                        <div>
                            <span class="tci-card-text card-text-blue"><i class="fa-solid fa-check"></i>&nbsp; 送出</span>
                        </div>
                    </div>
                    <div class="tci-card-footer">2022/07/21 12:31:32</div>
                </div>
            </div>
        </section>
        <!-- 單據附件 start -->
        <section class="darkBorderCard tci-mb-3">
            <div class="darkBorderCardTitle">
                <span>單據附件</span>
                <!-- 展開縮放，icon 切換 -->
                <span class="tci-pl-0 ">
                    <span class=""><i class="fa-solid fa-chevron-up"></i></span>
                    <!-- <span class=""><i class="fa-solid fa-chevron-down"></i></span> -->
                </span>
            </div>
            <div class="darkBorderCardContent">
                <div style="text-align: center;margin: 1rem 0;">
                    <span style="font-weight: bold;">沒有附件</span>
                </div>
            </div>
        </section>
        <!-- 單據附件 end -->

        <!-- 簽核記錄 start -->
        <section class="darkBorderCard approvalBox tci-mb-3">
            <div class="darkBorderCardTitle">
                <span>簽核記錄</span>
                <!-- 展開縮放，icon 切換 -->
                <span class="tci-pl-0 ">
                    <span class=""><i class="fa-solid fa-chevron-up"></i></span>
                    <!-- <span class=""><i class="fa-solid fa-chevron-down"></i></span> -->
                </span>
            </div>
            <ul class="darkBorderCardContent" style="padding-left:20px;margin-top: 0;">
                <li style="color: var(--color-rosybrown);font-size: 14px;">2022/7/21 上午 11:35:21【經辦人-HEDY.TSENG(曾莞婷)工程師】
                    <span style="font-size:12px;color: #949495;font-weight: bold;">上傳附件：新增1個附件</span>
                </li>
                <li style="color: var(--color-rosybrown);font-size: 14px;">2022/7/21 上午 11:35:21【經辦人-HEDY.TSENG(曾莞婷)工程師】
                    <span style="font-size:12px;color: var(--color-dark-green);font-weight: bold;">已簽核：送出單據</span>
                </li>
                <li style="color: var(--color-sienna);font-size: 14px;">等待【軟體整合開發部主管-REX.WU(吳春隆)部門主管】簽核
                </li>
            </ul>
        </section>
        <!-- 簽核記錄 end -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script> -->
</body>

</html>