#page_acceptanceForm .acceptanceFormQuery .tci-field {
  flex-wrap: wrap;
}
#page_acceptanceForm .acceptanceFormQuery .tci-field .tci-field-label {
  width: 100%;
}
#page_acceptanceForm .acceptanceFormQuery .tci-field .tci-valuebtn {
  display: flex;
  width: 100%;
}
#page_acceptanceForm .acceptanceFormQuery .tci-field .tci-valuebtn .tci-field-value {
  width: 100%;
}

@media (min-width: 765px) {
  #page_acceptanceForm .acceptanceFormQuery .tci-field {
    flex-wrap: nowrap;
  }
  #page_acceptanceForm .acceptanceFormQuery .tci-field .tci-field-label {
    width: 40%;
  }
  #page_acceptanceForm .acceptanceFormQuery .tci-field .tci-valuebtn {
    width: 60%;
    justify-content: flex-end;
  }
  #page_acceptanceForm .acceptanceFormQuery .tci-field .tci-valuebtn .tci-field-value {
    width: 60%;
  }
  .descriptionBox .descriptionBox_content {
    display: flex;
    justify-content: center;
  }
  .descriptionBox .descriptionBox_content .descriptionBox_icon {
    display: flex;
    justify-content: center;
  }
  .descriptionBox .descriptionBox_content .descriptionBox_icon .check {
    margin: 0 1.5rem;
  }
}
#page_acceptanceForm_signoff .next_signer {
  margin: 0.5rem 0;
}
#page_acceptanceForm_signoff .tableScroll {
  overflow-x: auto;
}
#page_acceptanceForm_signoff .tableScroll .tableContent {
  width: 992px;
}

@media (min-width: 765px) {
  #page_acceptanceForm_signoff .next_signer {
    margin: 0.5rem 0;
    display: flex;
    justify-content: center;
  }
  #page_acceptanceForm_signoff .next_signer .tci-bs-input-group {
    width: 50%;
  }
  #page_acceptanceForm_signoff .tableScroll .tableContent {
    width: 100%;
  }
}