#page_acceptanceForm {
    .acceptanceFormQuery {
        .tci-field {
            .tci-field-label {
                text-align: left;
            }

            .tci-valuebtn {
                display: flex;
                width: 100%;
            }
        }
    }
}

@media (min-width: 768px) {
    #page_acceptanceForm {
        .acceptanceFormQuery {
            .tci-field {
                .tci-field-label {
                    justify-content: flex-end;
                    text-align: right;
                    width: 70%;

                }

                .tci-valuebtn {
                    width: 30%;

                    .tci-field-value {
                        width: 100%;
                    }
                    button{
                        margin-left: .5rem;
                    }
                }
            }
        }
    }

    //簽核意見
    .descriptionBox {
        .descriptionBox_content {
            display: flex;
            justify-content: center;

            .descriptionBox_icon {
                display: flex;
                justify-content: center;

                .check {
                    margin: 0 1.5rem;
                }
            }
        }
    }
}
#page_acceptanceForm_signoff {

    .tableScroll {
        overflow-x: auto;

        .tableContent {
            width: 992px;
        }
    }
}

@media (min-width: 768px) {
    #page_acceptanceForm_signoff {

        .tableScroll {
            .tableContent {
                width: 100%;
            }
        }
    }
}