#page_advancedBilling .advancedBillingQuery .tci-field {
  flex-wrap: wrap;
}
#page_advancedBilling .advancedBillingQuery .tci-field .tci-field-label {
  width: 100%;
}
#page_advancedBilling .advancedBillingQuery .tci-field .tci-valueBtn {
  display: flex;
  width: 100%;
}
#page_advancedBilling .advancedBillingQuery .tci-field .tci-valueBtn .tci-field-value {
  width: 100%;
}
#page_advancedBilling .advancedBillingTable {
  overflow-x: auto;
}
#page_advancedBilling .advancedBillingTable .tci-table {
  width: 700px;
  text-align: center;
}
#page_advancedBilling .advancedBillingTable .tci-table thead {
  background-color: var(--color-rosybrown);
  color: var(--color-snow);
}
#page_advancedBilling .advancedBillingTable .tci-table tbody th {
  background-color: var(--color-light-gray);
}

@media (min-width: 765px) {
  #page_advancedBilling .advancedBillingQuery .tci-field .tci-field-label {
    width: 40%;
  }
  #page_advancedBilling .advancedBillingQuery .tci-field .tci-valueBtn {
    display: flex;
    width: 60%;
  }
  #page_advancedBilling .advancedBillingQuery .tci-field .tci-valueBtn .tci-field-value {
    width: 100%;
  }
  #page_advancedBilling .advancedBillingTable {
    overflow-x: auto;
  }
  #page_advancedBilling .advancedBillingTable .tci-table {
    width: 100%;
  }
  #page_advancedBilling .advancedBillingTable .tci-table th {
    text-align: center;
  }
}