#page_invoice {
    .tableContent {
        overflow-x: auto;

        .tableScroll {
            width: 992px;
        }
    }
}

// 清單
#page_clientList {
    padding-top: 1rem;

    .query {
        margin-bottom: .5rem;

        .valueBtn {
            display: flex;
            width: 100%;
        }
    }

    .tableScroll {
        overflow-x: auto;

        .tci-table {
            width: 765px;
        }
    }

    .panelCard {
        .panelData {
            display: flex;
            flex-wrap: wrap;

            .tci-field {
                margin-right: 1rem;
            }
        }
    }
}

.modal {
    .tableScoll_data {
        height: 150px;
        overflow-y: auto;
        margin-bottom: 1.5rem;
    }

    .tableScoll {
        height: 400px;
        overflow-y: auto;
    }

    .checkTag {
        text-align: center;
        min-width: auto;
        border: 1px solid #2a2a2a;
        width: auto;
    }
}

@media (min-width:765px) {
    #page_invoice {
        .tableContent {
            .tableScroll {
                width: 100%;
            }
        }
    }

    #page_clientList {
        .query {
            display: flex;
            justify-content: space-between;

            .valueBtn {
                display: flex;
                width: 70%;
            }

            .tci-field {
                width: 40%;
            }
        }

        .tableScroll {
            overflow-x: auto;

            .tci-table {
                width: 100%;
            }
        }
    }
}