#page_invoice .tableContent {
  overflow-x: auto;
}
#page_invoice .tableContent .tableScroll {
  width: 992px;
}

#page_clientList {
  padding-top: 1rem;
}
#page_clientList .query {
  margin-bottom: 0.5rem;
}
#page_clientList .query .valueBtn {
  display: flex;
  width: 100%;
}
#page_clientList .tableScroll {
  overflow-x: auto;
}
#page_clientList .tableScroll .tci-table {
  width: 768px;
}
#page_clientList .panelCard .panelData {
  display: flex;
  flex-wrap: wrap;
}
#page_clientList .panelCard .panelData .tci-field {
  margin-right: 1rem;
}

.modal .tableScoll_data {
  height: 150px;
  overflow-y: auto;
  margin-bottom: 1.5rem;
}
.modal .tableScoll {
  height: 400px;
  overflow-y: auto;
}
.modal .checkTag {
  text-align: center;
  min-width: auto;
  border: 1px solid #2a2a2a;
  width: auto;
}
.modal .modal_flex .modal_flex_right {
  background-color: var(--color-light-gray);
  border-radius: var(--borderRadius);
}

@media (min-width: 768px) {
  #page_invoice .tableContent .tableScroll {
    width: 100%;
  }
  #page_clientList .query {
    display: flex;
    justify-content: space-between;
  }
  #page_clientList .query .valueBtn {
    display: flex;
    width: 70%;
  }
  #page_clientList .query .tci-field {
    width: 40%;
  }
  #page_clientList .tableScroll {
    overflow-x: auto;
  }
  #page_clientList .tableScroll .tci-table {
    width: 100%;
  }
  .modal #lineRight::after {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0%;
    margin: auto 1rem;
    background: #F0F0F0;
  }
  .modal .modal_flex {
    display: flex;
    justify-content: space-between;
  }
  .modal .modal_flex .modal_flex_left {
    width: 60%;
  }
  .modal .modal_flex .modal_flex_right {
    width: 35%;
  }
}