#page_oldgoodsIssue_signoff .tableScroll {
  overflow-x: auto;
}
#page_oldgoodsIssue_signoff .tableScroll .tableContent {
  width: 992px;
}

#page_oldgoodsIssue_print .print_table .tableContent {
  margin-bottom: 0;
}
#page_oldgoodsIssue_print .print_table .tableContent .tableScroll {
  overflow-x: auto;
}
#page_oldgoodsIssue_print .print_table .tableContent .tableScroll .tableAuto {
  width: 1200px;
}

@media (min-width: 765px) {
  #page_oldgoodsIssue_print .print_table .tableContent .tableScroll .tableAuto.manager {
    width: 100%;
  }
}
@media (min-width: 992px) {
  #page_oldgoodsIssue_signoff .tableScroll .tableContent {
    width: 100%;
  }
  #page_oldgoodsIssue_print .print_table .tableContent .tableScroll .tableAuto.manager {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  #page_oldgoodsIssue_print .print_table .tableContent .tableScroll .tableAuto {
    width: 100%;
  }
}