#page_oldgoodsIssue {
    .tableScroll {
        overflow-x: auto;

        .tci-table {
            width: 992px;
        }
    }
}
#page_oldgoodsIssue_createView {
    .tableScroll {
        overflow-x: auto;

        .tci-table {
            width: 992px;
        }
    }
}
@media (min-width: 768px) {
    #page_oldgoodsIssue {
        .oldgoodsIssue_query {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .tci-field {
                width: 48%;
            }
        }
    }

    #page_oldgoodsIssue_createView {
        .oldgoodsIssue_query {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .tci-field {
                width: 48%;
            }
        }
    }
}

@media (min-width: 992px) {
    #page_oldgoodsIssue {
        .tableScroll {
            overflow-x: auto;
    
            .tci-table {
                width: 100%;
            }
        }
    }
    #page_oldgoodsIssue_createView {
        .tableScroll {
            .tci-table {
                width: 100%;
            }
        }
    }
}

//簽核 列印
#page_oldgoodsIssue_signoff {
    .tableScroll {
        overflow-x: auto;

        .tableContent {
            width: 992px;
        }
    }
}

#page_oldgoodsIssue_print {
    .print_table {
        .tableContent {
            margin-bottom: 0;

            .tableScroll {
                overflow-x: auto;

                .tableAuto {
                    width: 1200px;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    #page_oldgoodsIssue_print {
        .print_table {
            .tableContent {
                .tableScroll {
                    .tableAuto {
                        &.manager {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {
    #page_oldgoodsIssue_signoff {
        .tableScroll {
            .tableContent {
                width: 100%;
            }
        }
    }

    #page_oldgoodsIssue_print {
        .print_table {
            .tableContent {
                .tableScroll {
                    .tableAuto {
                        &.manager {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    #page_oldgoodsIssue_print {
        .print_table {
            .tableContent {
                .tableScroll {
                    .tableAuto {
                        width: 100%;
                    }
                }
            }
        }
    }
}