<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="../../scss/tci-all.css">
    <link rel="stylesheet" href="./style.css">
    <title>一般領料單</title>
</head>

<body>
    <div class="container-fluid" id="page_oldgoodsIssue">
        <div class="pageHeader">
            <span class="pageHeaderTitle"><b>一般領料單</b></span>
        </div>

        <section class="oldgoodsIssue_query">
            <div class="tci-field">
                <div class="tci-field-label">
                    <span class="tci-field-text text-left">申請部門&nbsp;<button class="tci-icon bg_darkkhaki"><i class="fa-solid fa-building"></i></button>：</span>
                </div>
                <input type="text" class="tci-field-value gray" value="大江-行政服務中心TCI-倪潔莉ILYN.NI" disabled/>
            </div>
            <div class="tci-field">
                <div class="tci-field-label">
                    <span class="tci-field-text text-left">業務分組：</span>
                </div>
                <select class="tci-field-value">
                    <option selected>業務事業部-國際流通組</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="tci-field">
                <div class="tci-field-label">
                    <span class="tci-field-text text-left">申請人：</span>
                </div>
                <input type="text" class="tci-field-value gray" value="許田坪(CLOUD.HSU)" disabled/>
            </div>
            <div class="tci-field">
                <div class="tci-field-label">
                    <span class="tci-field-text text-left">申請日期：</span>
                </div>
                <input type="text" class="tci-field-value gray" value="2022/22/22" disabled/>
            </div>
        </section>
        <section>
            <div class="tableScroll">
                <table class="tci-table tci-table-bordered">
                    <thead style="text-align: center;background-color:var(--color-light-gray)">
                        <tr>
                            <th style="width: 80px;">項次<br />
                                <select class="tci-form-control">
                                    <option selected>50</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </th>
                            <th style="width: 10%;">料號</th>
                            <th>品名</th>
                            <th style="width: 5%;">單位</th>
                            <th style="width: 18%;">專案代號</th>
                            <th style="width: 8%;">請領數量</th>
                            <th style="width: 8%;">倉庫</th>
                            <th style="width: 12%;">請領單位</th>
                            <th style="width: 8%;">用途</th>
                        </tr>
                    </thead>
                    <tbody style="text-align: center;">
                        <tr>
                            <td>1</td>
                            <td><input type="text" class="tci-form-control" /></td>
                            <td>取得專案業務取得專案業務</td>
                            <td>1</td>
                            <td style="display: flex;flex-wrap: wrap;justify-content: center;">
                                <input type="text" class="tci-form-control"/>
                                <button class="tci-btn bg_darkblue" style="padding: .3rem 0;width: 100%;">取得專案業務</button>
                            </td>
                            <td><input type="text" class="tci-form-control" /></td>
                            <td><button class="tci-btn bg_darkblue" style="padding: .3rem 0;">選擇倉庫</button></td>
                            <td>
                                <button class="tci-btn bg_darkblue" style="padding: .3rem 0;">選擇部門</button><br />
                                <span>大江-戰略數據中心</span>
                            </td>
                            <td>
                                <select class="tci-form-control">
                                    <option selected>公關品</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
                <div class="tci-field">
                    <div class="tci-field-label" style="width: 20%;">
                        <span class="tci-field-text text-left">領料備註:</span>
                    </div>
                    <textarea  style="width: 80%;" class="tci-field-value"></textarea>
                </div>
        </section>
        <div class="btnGroups">
            <button class="tci-btn bg_lightgray">全部清除</button>
            <button class="tci-btn bg_darkgreen">確認資料，預覽資料</button>
        </div>
        <div class="userCard_info">
            <span class="user_info">
                <u><b>使用者資訊：</b>
                    <span>大江生醫 - 軟體研發組 - 大江戰士TCI Warrior(2) - 2206A0011 - HEDY.TSENG - 曾莞婷</span></u>
            </span>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>