#page_paymentList{
    .tci-valueBtn{
        display: flex;
        width: 100%;
    }
}

@media (min-width:765px) {
    #page_paymentList{
        .tci-input-group-prepend{
            width: 30%;
        }
        .tci-valueBtn{
            width: 70%;
        }
    }
}
#page_paymentList_signoff{
    .tableScroll{
        overflow-x: auto;
        .tableContent{
            width: 992px;
        }
    }
}
#page_paymentList_print{
    .print_table{
        overflow-x: auto;
        .tableContent{
            width: 992px;
        }
    }
}
@media (min-width:992px) {
    #page_paymentList_signoff{
        .tableScroll{
            .tableContent{
                width: 100%;
            }
        }
    }

    #page_paymentList_print{
        .print_table{
            .tableContent{
                width: 100%;
            }
        }
    }
}