<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="../../scss/tci-all.css">
    <link rel="stylesheet" href="./style.css">
    <title>職務薪資異動單簽核</title>
</head>

<body>
    <div class="container-fluid" id="page_dutyPayroll_signoff">
        <div class="pageHeader">
            <span class="pageHeaderTitle"><b>職務薪資異動單簽核</b></span>
        </div>
        <!-- 單據明細 -->
        <section class="darkBorderCard detailsBox tci-mb-3">
            <div class="darkBorderCardTitle">
                <span>單據明細</span>
                <span class="tci-pl-0 ">
                    <span class=""><i class="fa-solid fa-chevron-up"></i></span>
                    <!-- <span class=""><i class="fa-solid fa-chevron-down"></i></span> -->
                </span>
            </div>
            <div class="detailsBoxContent darkBorderCardContent">
                <div class="detailsBox_company tci-mt-1 tci-mb-2" style="text-align: right;">
                    <span class="detailsBox_companytext"
                        style=" color: #fff;padding: 0 6px;background-color: #83a2b4;border-radius: var(--borderRadius);font-size: 14px;">百岳特國際貿易(上海)</span>
                </div>
                <div class="tableScroll0">
                    <div class="tableContent">
                        <div
                            style="text-align: center;font-size:var(--font-size-xl);font-weight: bold;margin-bottom: 1rem;">
                            <span>職務薪資異動單</span>
                        </div>
                        <table class="tci-table tci-table-bordered">
                            <tbody>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">單據號碼</th>
                                    <td>220429-51-G001</td>
                                    <th style="background-color: var(--color-light-gray);">異動生效日</th>
                                    <td>2022/22/22</td>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">姓名</th>
                                    <td>陳禹碩(NICK.CHEN) - 2103G0001</td>
                                    <th style="background-color: var(--color-light-gray);">到職日</th>
                                    <td>2021/3/8</td>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">人員屬性</th>
                                    <td colspan="3">一般</td>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">異動項目</th>
                                    <td>部門調動</td>
                                    <th style="background-color: var(--color-light-gray);">異動原因</th>
                                    <td>1100003433</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tableScroll0">
                    <div class="tableContent">
                        <table class="tci-table tci-table-bordered">
                            <thead
                                style="background-color: var(--color-rosybrown);color: var(--color-snow);text-align: center;">
                                <tr>
                                    <th></th>
                                    <th>異動前</th>
                                    <th>異動後</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">公司</th>
                                    <td>大江基因醫學</td>
                                    <td>大江基因醫學</td>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">中心</th>
                                    <td>基因醫學研究所</td>
                                    <td>業務管理部</td>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">部門</th>
                                    <td>細胞功效驗證實驗室</td>
                                    <td>幹細胞實驗室</td>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">對內職稱 / 對外職稱</th>
                                    <td>大江戰士 / 工程師</td>
                                    <td>大江戰士 / 工程師</td>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">職務說明</th>
                                    <td>新台幣</td>
                                    <td>業務管理部</td>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">幣別 </th>
                                    <td colspan="2">新台幣</td>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">基本薪資</th>
                                    <td>基因醫學研究所</td>
                                    <td>業務管理部</td>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">主管加給</th>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">交通津貼</th>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">伙食津貼</th>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">外派津貼</th>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">薪資總額(不含全勤)</th>
                                    <td>NTD 10,000</td>
                                    <td>NTD 10,000</td>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">補充說明</th>
                                    <td colspan="2">0</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>