<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="../../scss/tci-all.css">
    <title>職務薪資異動單-確認</title>
</head>

<body>
    <div class="container-fluid" id="page_dutyPayroll_createView">
        <div class="pageHeader">
            <span class="pageHeaderTitle"><b>職務薪資異動單-確認</b></span>
        </div>
        <section class="applicationForm" style="overflow-x: auto;">
            <div class="tableScroll" style="min-width: 740px;">
                <table class="tci-table tci-table-bordered" style="margin-bottom:0;">
                    <tbody>
                        <tr>
                            <th style="background-color: var(--color-light-gray);width: 20%;">姓名</th>
                            <td colspan="3">陳陳陳 xx</td>
                        </tr>
                        <tr>
                            <th style="background-color: var(--color-light-gray);">到職日</th>
                            <td style="width:30%;">陳陳陳 xx</td>
                            <th style="background-color: var(--color-light-gray);width:20%;">異動生效日</th>
                            <td>陳陳陳 xx</td>
                        </tr>
                        <tr>
                            <th style="background-color: var(--color-light-gray);">人員屬性</th>
                            <td colspan="3">
                                <div>
                                    <div class="tci-form-check tci-form-check-inline" style="margin-bottom: 0;">
                                        <input class="tci-form-check-input" type="radio" name="exampleRadios"
                                            id="exampleRadios1" value="option1" checked disabled>
                                        <label class="tci-form-check-label" for="exampleRadios1">
                                            一般
                                        </label>
                                    </div>
                                    <div class="tci-form-check tci-form-check-inline" style="margin-bottom: 0;">
                                        <input class="tci-form-check-input" type="radio" name="exampleRadios"
                                            id="exampleRadios2" value="option2" disabled>
                                        <label class="tci-form-check-label" for="exampleRadios2">
                                            主管
                                        </label>
                                    </div>
                                    <div class="tci-form-check tci-form-check-inline" style="margin-bottom: 0;">
                                        <input class="tci-form-check-input" type="radio" name="exampleRadios"
                                            id="exampleRadios3" value="option1" disabled>
                                        <label class="tci-form-check-label" for="exampleRadios3">
                                            作業員
                                        </label>
                                    </div>
                                    <div class="tci-form-check tci-form-check-inline" style="margin-bottom: 0;">
                                        <input class="tci-form-check-input" type="radio" name="exampleRadios"
                                            id="exampleRadios4" value="option2" disabled>
                                        <label class="tci-form-check-label" for="exampleRadios4">
                                            臨時人員
                                        </label>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th style="background-color: var(--color-light-gray);">異動項目 / 異動原因</th>
                            <td colspan="3">(2022/09/12)，原因：過試用期
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="tci-table tci-table-bordered">
                    <thead>
                        <tr style="text-align: center;background-color:var(--color-light-gray);">
                            <th style="width: 20%;"></th>
                            <th style="width: 30%;">異動前</th>
                            <th style="width: 20%;"></th>
                            <th style="width: 30%;">異動後</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th style="background-color:var(--color-light-gray);">公司</th>
                            <td>大江生醫</td>
                            <th style="background-color:var(--color-light-gray);">公司</th>
                            <td>大江生醫</td>
                        </tr>
                        <tr>
                            <th style="background-color:var(--color-light-gray);">人事範圍</th>
                            <td>大江生醫</td>
                            <th style="background-color:var(--color-light-gray);">人事範圍</th>
                            <td>test</td>
                        </tr>
                        <tr>
                            <th style="background-color:var(--color-light-gray);">人事子範圍</th>
                            <td>大江生醫</td>
                            <th style="background-color:var(--color-light-gray);">人事子範圍</th>
                            <td>大江生醫</td>
                        </tr>
                        <tr>
                            <th style="background-color:var(--color-light-gray);">工資範圍</th>
                            <td>大江生醫</td>
                            <th style="background-color:var(--color-light-gray);">工資範圍</th>
                            <td>test</td>
                        </tr>
                        <tr>
                            <th style="background-color:var(--color-light-gray);">員工群組</th>
                            <td>大江生醫</td>
                            <th style="background-color:var(--color-light-gray);">員工群組</th>
                            <td>test</td>
                        </tr>
                        <tr>
                            <th style="background-color:var(--color-light-gray);">員工子群組</th>
                            <td>大江生醫</td>
                            <th style="background-color:var(--color-light-gray);">員工子群組</th>
                            <td>test</td>
                        </tr>
                        <tr>
                            <th style="background-color:var(--color-light-gray);">中心</th>
                            <td>戰略數據中心</td>
                            <th style="background-color:var(--color-light-gray);">中心</th>
                            <td>戰略數據中心</td>
                        </tr>
                        <tr>
                            <th style="background-color:var(--color-light-gray);">部門</th>
                            <td>軟體整合開發部</td>
                            <th style="background-color:var(--color-light-gray);">部門</th>
                            <td>軟體整合開發部</td>
                        </tr>
                        <tr>
                            <th style="background-color:var(--color-light-gray);">組別</th>
                            <td>軟體研發組</td>
                            <th style="background-color:var(--color-light-gray);">組別</th>
                            <td>軟體研發組</td>
                        </tr>
                        <tr>
                            <th style="background-color:var(--color-light-gray);">對內職稱 / 對外職稱</th>
                            <td>大江戰士 / 工程師</td>
                            <th style="background-color:var(--color-light-gray);">對內職稱 / 對外職稱</th>
                            <td>大江戰士 / 工程師</td>
                        </tr>
                        <tr>
                            <th style="background-color:var(--color-light-gray);">職務說明</th>
                            <td>大江生醫</td>
                            <th style="background-color:var(--color-light-gray);">職務說明</th>
                            <td>test</td>
                        </tr>
                        <tr>
                            <th style="background-color:var(--color-light-gray);">幣別</th>
                            <td colspan="3">test</td>
                        </tr>
                        <tr>
                            <th style="background-color:var(--color-light-gray);">主管加給</th>
                            <td>test</td>
                            <th style="background-color:var(--color-light-gray);">主管加給</th>
                            <td>test</td>
                        </tr>
                        <tr>
                            <th style="background-color:var(--color-light-gray);">職務加給</th>
                            <td>test</td>
                            <th style="background-color:var(--color-light-gray);">職務加給</th>
                            <td>test</td>
                        </tr>
                        <tr>
                            <th style="background-color:var(--color-light-gray);">交通津貼</th>
                            <td>test</td>
                            <th style="background-color:var(--color-light-gray);">交通津貼</th>
                            <td>test</td>
                        </tr>
                        <tr>
                            <th style="background-color:var(--color-light-gray);">伙食津貼</th>
                            <td>test</td>
                            <th style="background-color:var(--color-light-gray);">伙食津貼</th>
                            <td>test</td>
                        </tr>
                        <tr>
                            <th style="background-color:var(--color-light-gray);">外派津貼</th>
                            <td>test</td>
                            <th style="background-color:var(--color-light-gray);">外派津貼</th>
                            <td>test</td>
                        </tr>
                        <tr>
                            <th style="background-color:var(--color-light-gray);">全勤獎金</th>
                            <td>test</td>
                            <th style="background-color:var(--color-light-gray);">全勤獎金</th>
                            <td>test</td>
                        </tr>
                        <tr>
                            <th style="background-color:var(--color-light-gray);">test</th>
                            <td>test</td>
                            <th style="background-color:var(--color-light-gray);"></th>
                            <td>test</td>
                        </tr>
                        <tr>
                            <th style="background-color:var(--color-light-gray);">test</th>
                            <td>test</td>
                            <th style="background-color:var(--color-light-gray);"></th>
                            <td>test</td>
                        </tr>
                        <tr>
                            <th style="background-color:var(--color-light-gray);">薪資總額<br />(不含全勤)</th>
                            <td>test</td>
                            <th style="background-color:var(--color-light-gray);">薪資總額<br />(不含全勤)</th>
                            <td>test</td>
                        </tr>
                        <tr>
                            <th style="background-color:var(--color-light-gray);">矩陣主管 (完簽發信通知)</th>
                            <td colspan="3">xxx</td>
                        </tr>
                        <tr>
                            <th style="background-color:var(--color-light-gray);">補充說明</th>
                            <td colspan="3">
                                <textarea class="tci-form-control gray" disabled>異動前：
異動後：</textarea>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </section>
        <div class="btnGroups">
            <button class="tci-btn bg_lightgray">回上一頁</button>
            <button class="tci-btn bg_darkgreen">儲存單據</button>
        </div>
        <div class="userCard_info">
            <span class="user_info">
                <u><b>使用者資訊：</b>
                    <span>大江生醫 - 軟體研發組 - 大江戰士TCI Warrior(2) - 2206A0011 - HEDY.TSENG - 曾莞婷</span>
                </u>
            </span>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>