<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <title>Document</title>
    <link rel="stylesheet" href="../../scss/tci-all.css">
</head>

<body>

    <div class="pagination p1">
        <ul>
            <a href="#">
                <li>上一頁</li>
            </a>
            <a href="#">
                <li>1</li>
            </a>
            <a href="#">
                <li>2</li>
            </a>
            <a href="#">
                <li>3</li>
            </a>
            <a href="#">
                <li>4</li>
            </a>
            <a href="#">
                <li>5</li>
            </a>
            <a class="is-active" href="#">
                <li>6</li>
            </a>
            <a href="#">
                <li>下一頁</li>
            </a>
        </ul>
    </div>

    <div class="pagination p2">
        <ul>
            <a href="#">
                <li>
                    <</li>
            </a>
            <a class="is-active" href="#">
                <li>1</li>
            </a>
            <a href="#">
                <li>2</li>
            </a>
            <a href="#">
                <li>3</li>
            </a>
            <a href="#">
                <li>4</li>
            </a>
            <a href="#">
                <li>5</li>
            </a>
            <a href="#">
                <li>6</li>
            </a>
            <a href="#">
                <li>></li>
            </a>
        </ul>
    </div>

    <div class="pagination p3 tci-mt-2">
        <button class="tci-icon"><i class="fa-solid fa-backward-step"></i></button>
        <button class="tci-icon"><i class="fa-solid fa-caret-left"></i></button>
        <input type="text" class="text_input"/><span class="text_span">/ 40</span>
        
        <button class="tci-icon"><i class="fa-solid fa-caret-right"></i></button>
        <button class="tci-icon"><i class="fa-solid fa-forward-step"></i></button>

        <select class="text_setect">
            <option selected>25</option>
            <option value="1">50</option>
            <option value="2">70</option>
            <option value="3">100</option>
        </select>
    </div>



</body>

</html>