.pageContent {
    margin: 0.5rem;
}

.pageContent .pageContentTitle {
    font-size: 1rem;
}

.fs-14 {
    font-size: 14px;
}

//請假單
#LeaveApplicant {
    .formTitleBox {
        margin-bottom: .75rem;
        display: flex;

        .formTitle {
            background-color: #ddd;
            padding: 5px;
            border-radius: .25rem;
        }
    }

    .tableBox {
        overflow-x: auto;
        width: 100vw;
        float: right;
        padding: 0 20px;
    }
}

@media (min-width: 765px) {
    .pageContent {
        .pageContentTitle {
            font-size: 1.75rem;
        }
    }
}

@media (min-width: 992px) {
    .pageContent {
        .pageContentTitle {
            font-size: 1.75rem;
        }
    }

    //請假單
    #LeaveApplicant {
        .formTitleBox {
            margin-bottom: 0;

            .formTitle {
                background-color: #ddd;
                padding: 5px;
                border-radius: .25rem;
            }
        }

        .tableBox {
            width: 75%;
        }
    }
}