.pageContent {
  margin: 0.5rem;
}

.pageContent .pageContentTitle {
  font-size: 1rem;
}

.fs-14 {
  font-size: 14px;
}

#LeaveApplicant .formTitleBox {
  margin-bottom: 0.75rem;
  display: flex;
}
#LeaveApplicant .formTitleBox .formTitle {
  background-color: #ddd;
  padding: 5px;
  border-radius: 0.25rem;
}
#LeaveApplicant .tableBox {
  overflow-x: auto;
  width: 100vw;
  float: right;
  padding: 0 20px;
}

@media (min-width: 765px) {
  .pageContent .pageContentTitle {
    font-size: 1.75rem;
  }
}
@media (min-width: 992px) {
  .pageContent .pageContentTitle {
    font-size: 1.75rem;
  }
  #LeaveApplicant .formTitleBox {
    margin-bottom: 0;
  }
  #LeaveApplicant .formTitleBox .formTitle {
    background-color: #ddd;
    padding: 5px;
    border-radius: 0.25rem;
  }
  #LeaveApplicant .tableBox {
    width: 75%;
  }
}