#page_salesReturnNotice {
    .salesReturnNoticeQuery {
        .tci-field {
            flex-wrap: wrap;

            .tci-field-value {
                width: 100%;
            }
        }
    }
}

@media (min-width:765px) {
    #page_salesReturnNotice {
        .salesReturnNoticeQuery {
            .tci-field {
                flex-wrap: nowrap;

                .tci-field-value {
                    width: 100%;
                }
            }
        }
    }
}