#page_purchaseConfirmation {
    .purchaseConfirmationQuery {
        .tci-field {
            flex-wrap: wrap;

            .tci-field-value {
                width: 100%;
            }
        }
    }
}

@media (min-width:768px) {
    #page_purchaseConfirmation {
        .purchaseConfirmationQuery {
            .tci-field {
                flex-wrap: nowrap;

                .tci-field-value {
                    width: 100%;
                }
            }
        }
    }
}

// 簽核
#page_purchaseConfirmation_signoff {
    .tableScroll {
        overflow-x: auto;

        .tableContent {
            width: 1200px;
        }
    }
}

#page_purchaseConfirmation_print {
    .print_table {
        overflow-x: auto;
        .tableContent {
            width:1200px;

            #SalesOrderBarcode{
                text-align: end;
            }
            .tci-table {
                &.noborder {
                    margin-bottom: 0;
                    th,
                    td {
                        padding: 0;
                        border: none;
                    }

                    th {
                        text-align: right;
                    }
                }
            }
        }
    }
}

@media (min-width:992px) {
    #page_purchaseConfirmation_signoff {
        .tableScroll {
            .tableContent {
                width: 100%;
            }
        }
    }
    #page_purchaseConfirmation_print {
        .print_table {
            .tableContent{
                width:100%;
            }
        }
    }
}