<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="../../scss/tci-all.css">
    <title>銷售訂單</title>
</head>

<body>
    <div class="container-fluid" id="page_purchaseConfirmation">
        <div class="pageHeader">
            <span class="pageHeaderTitle"><b>銷售訂單</b></span>
        </div>
        <section class="purchaseConfirmationQuery">
            <div class="tci-field">
                <div class="tci-field-label">
                    <span class="tci-field-text text-left">請輸入銷售訂單編號:</span>
                </div>
                <input type="number" class="tci-field-value" value="22222222222"/>
            </div>
            <div class="tci-field type">
                <div class="tci-field-label">
                    <span class="tci-field-text text-left">訂單類型:</span>
                </div>
                <select class="tci-field-value">
                    <option selected>Choose...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
        </section>
        <div class="btnGroups">
            <button class="tci-btn bg_darkblue">查詢</button>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>