#page_goodsIssue .goodsIssueTable {
  overflow-x: auto;
}
#page_goodsIssue .goodsIssueTable .tci-table {
  width: 900px;
}
#page_goodsIssue .goodsIssueTable .tci-table tbody th {
  color: var(--color-sienna);
}
#page_goodsIssue .goodsIssueTable .tci-table .input_part .btnGroups_company {
  width: 100%;
}
#page_goodsIssue .goodsIssueTable .tci-table .input_part .btnGroups_company button {
  width: 100%;
}
#page_goodsIssue .goodsIssueOther .total {
  padding: 5px;
  border-radius: var(--borderRadius);
  border: 3px solid var(--color-rosybrown);
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  font-weight: bold;
}
#page_goodsIssue .goodsIssueOther .mark {
  margin-bottom: 0.5rem;
  padding: 5px;
}

@media (min-width: 768px) {
  #page_goodsIssue .goodsIssueQuery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #page_goodsIssue .goodsIssueQuery .tci-bs-input-group {
    width: 33%;
  }
  #page_goodsIssue .goodsIssueTable .tci-table {
    width: 100%;
  }
}
@media (min-width: 992px) {
  #page_goodsIssue .goodsIssueQuery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #page_goodsIssue .goodsIssueQuery .tci-bs-input-group {
    width: 33%;
  }
  #page_goodsIssue .goodsIssueTable .tci-table .input_part .btnGroups_company {
    width: auto;
  }
  #page_goodsIssue .goodsIssueTable .tci-table .input_part .btnGroups_company button {
    width: auto;
  }
}
#page_goodsIssue_signoff .tableScroll {
  overflow-x: auto;
}
#page_goodsIssue_signoff .tableScroll .tableContent {
  width: 1200px;
}

#page_goodsReceipt_print .print_table {
  overflow-x: auto;
}
#page_goodsReceipt_print .print_table .tableContent {
  width: 1200px;
}

@media (min-width: 992px) {
  #page_goodsIssue_signoff .tableScroll .tableContent {
    width: 100%;
  }
  #page_goodsReceipt_print .print_table .tableContent {
    width: 100%;
  }
}