#page_goodsIssue .tci-bs-input-group-text,
#page_goodsIssue .tci-bs-custom-select {
  padding: 3px;
}
#page_goodsIssue .tableScroll {
  overflow-x: auto;
}
#page_goodsIssue .tableScroll .tci-table {
  width: 1200px;
}
#page_goodsIssue .tableScroll .tci-table th {
  padding: 3px;
  color: var(--color-sienna);
  vertical-align: middle;
}
#page_goodsIssue .tableScroll .tci-table td {
  padding: 3px;
}
#page_goodsIssue .goodsIssueOther .total {
  padding: 5px;
  border-radius: var(--borderRadius);
  border: 3px solid var(--color-rosybrown);
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

@media (min-width: 768px) {
  #page_goodsIssue .goodsIssueQuery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #page_goodsIssue .goodsIssueQuery .tci-bs-input-group {
    width: 33%;
  }
}
@media (min-width: 992px) {
  #page_goodsIssue .goodsIssueQuery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #page_goodsIssue .goodsIssueQuery .tci-bs-input-group {
    width: 33%;
  }
  #page_goodsIssue .tableScroll .tci-table {
    width: 100%;
  }
}
#page_goodsIssue_signoff .tableScroll {
  overflow-x: auto;
}
#page_goodsIssue_signoff .tableScroll .tableContent {
  width: 1200px;
}

#page_goodsReceipt_print .print_table {
  overflow-x: auto;
}
#page_goodsReceipt_print .print_table .tableContent {
  width: 1200px;
}

@media (min-width: 992px) {
  #page_goodsIssue_signoff .tableScroll .tableContent {
    width: 100%;
  }
  #page_goodsReceipt_print .print_table .tableContent {
    width: 100%;
  }
}