<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="./tci-all.css">
    <title>item 管理</title>
</head>

<body>
    <div class="container-fluid" id="page_ItemTemplate" style="line-height: 2;">
        <div class="pageHeader">
            <span class="pageHeaderTitle" style="font-size: 24px;"><b>item 管理</span></b>
        </div>
        <div class="btnGroups tci-mb-3">
            <button class="tci-btn bg_lightgray">明細模版管理</button>
            <button class="tci-btn tci-btn-warning">行為狀態</button>
        </div>
        <section class="itemTemplate_content content">
            <section class="query tci-mb-4">
                <div class="flex">
                    <div class="tci-field">
                        <div class="tci-field-label">
                            <span class="tci-field-text text-left">Item 名稱：</span>
                        </div>
                        <div class="tci-valueBtn">
                            <input type="text" class="tci-field-value" value="text" />
                            <button class="tci-btn bg_darkblue tci-ml-3">查詢</button>
                            <button class="tci-btn bg_darkkhaki tci-ml-3" data-toggle="modal" data-target="#additemTemplate">新增
                                Item</button>
                        </div>
                    </div>
                </div>
            </section>
            <div class="table_content">
                <table class="tci-table tci-table-bordered">
                    <thead style="background-color: var(--color-light-gray);">
                        <tr>
                            <th style="width: 10%;text-align: center;">序號</th>
                            <th>Item 名稱</th>
                            <th>明細模版</th>
                            <th>行為模版</th>
                            <th>條碼方式</th>
                            <th style="width: auto"></th>
                        </tr>
                    </thead>
                    <tbody style="background-color: var(--color-snow);">
                        <tr>
                            <td style="text-align: center;">1</td>
                            <td>公務車管理</td>
                            <td>公務車</td>
                            <td>公務車租借</td>
                            <td>QR Code</td>
                            <td style="text-align: center;">
                                <button class="tci-icon tci-btn-warning"  data-toggle="modal" data-target="#edititemTemplate"> <i class="fa-solid fa-pencil"></i></button>
                                <button class="tci-icon bg_darkred"  data-toggle="modal" data-target="#deleteTable"><i class="fa-solid fa-trash-can"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">2</td>
                            <td>電腦管理</td>
                            <td>電腦</td>
                            <td>維修</td>
                            <td>QR Code</td>
                            <td style="text-align: center;">
                                <button class="tci-icon tci-btn-warning"  data-toggle="modal" data-target="#edititemTemplate"> <i class="fa-solid fa-pencil"></i></button>
                                <button class="tci-icon bg_darkred"  data-toggle="modal" data-target="#deleteTable"><i class="fa-solid fa-trash-can"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">1</td>
                            <td>公務車管理</td>
                            <td>公務車</td>
                            <td>公務車租借</td>
                            <td>QR Code</td>
                            <td style="text-align: center;">
                                <button class="tci-icon tci-btn-warning"  data-toggle="modal" data-target="#edititemTemplate"> <i class="fa-solid fa-pencil"></i></button>
                                <button class="tci-icon bg_darkred"  data-toggle="modal" data-target="#deleteTable"><i class="fa-solid fa-trash-can"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">2</td>
                            <td>電腦管理</td>
                            <td>電腦</td>
                            <td>維修</td>
                            <td>QR Code</td>
                            <td style="text-align: center;">
                                <button class="tci-icon tci-btn-warning"  data-toggle="modal" data-target="#edititemTemplate"> <i class="fa-solid fa-pencil"></i></button>
                                <button class="tci-icon bg_darkred"  data-toggle="modal" data-target="#deleteTable"><i class="fa-solid fa-trash-can"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">1</td>
                            <td>公務車管理</td>
                            <td>公務車</td>
                            <td>公務車租借</td>
                            <td>QR Code</td>
                            <td style="text-align: center;">
                                <button class="tci-icon tci-btn-warning"  data-toggle="modal" data-target="#edititemTemplate"> <i class="fa-solid fa-pencil"></i></button>
                                <button class="tci-icon bg_darkred"  data-toggle="modal" data-target="#deleteTable"><i class="fa-solid fa-trash-can"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">2</td>
                            <td>電腦管理</td>
                            <td>電腦</td>
                            <td>維修</td>
                            <td>QR Code</td>
                            <td style="text-align: center;">
                                <button class="tci-icon tci-btn-warning"  data-toggle="modal" data-target="#edititemTemplate"> <i class="fa-solid fa-pencil"></i></button>
                                <button class="tci-icon bg_darkred"  data-toggle="modal" data-target="#deleteTable"><i class="fa-solid fa-trash-can"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">1</td>
                            <td>公務車管理</td>
                            <td>公務車</td>
                            <td>公務車租借</td>
                            <td>QR Code</td>
                            <td style="text-align: center;">
                                <button class="tci-icon tci-btn-warning"  data-toggle="modal" data-target="#edititemTemplate"> <i class="fa-solid fa-pencil"></i></button>
                                <button class="tci-icon bg_darkred"  data-toggle="modal" data-target="#deleteTable"><i class="fa-solid fa-trash-can"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">2</td>
                            <td>電腦管理</td>
                            <td>電腦</td>
                            <td>維修</td>
                            <td>QR Code</td>
                            <td style="text-align: center;">
                                <button class="tci-icon tci-btn-warning"  data-toggle="modal" data-target="#edititemTemplate"> <i class="fa-solid fa-pencil"></i></button>
                                <button class="tci-icon bg_darkred"  data-toggle="modal" data-target="#deleteTable"><i class="fa-solid fa-trash-can"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">1</td>
                            <td>公務車管理</td>
                            <td>公務車</td>
                            <td>公務車租借</td>
                            <td>QR Code</td>
                            <td style="text-align: center;">
                                <button class="tci-icon tci-btn-warning"  data-toggle="modal" data-target="#edititemTemplate"> <i class="fa-solid fa-pencil"></i></button>
                                <button class="tci-icon bg_darkred"  data-toggle="modal" data-target="#deleteTable"><i class="fa-solid fa-trash-can"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">2</td>
                            <td>電腦管理</td>
                            <td>電腦</td>
                            <td>維修</td>
                            <td>QR Code</td>
                            <td style="text-align: center;">
                                <button class="tci-icon tci-btn-warning"  data-toggle="modal" data-target="#edititemTemplate"> <i class="fa-solid fa-pencil"></i></button>
                                <button class="tci-icon bg_darkred"  data-toggle="modal" data-target="#deleteTable"><i class="fa-solid fa-trash-can"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">1</td>
                            <td>公務車管理</td>
                            <td>公務車</td>
                            <td>公務車租借</td>
                            <td>QR Code</td>
                            <td style="text-align: center;">
                                <button class="tci-icon tci-btn-warning"  data-toggle="modal" data-target="#edititemTemplate"> <i class="fa-solid fa-pencil"></i></button>
                                <button class="tci-icon bg_darkred"  data-toggle="modal" data-target="#deleteTable"><i class="fa-solid fa-trash-can"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">2</td>
                            <td>電腦管理</td>
                            <td>電腦</td>
                            <td>維修</td>
                            <td>QR Code</td>
                            <td style="text-align: center;">
                                <button class="tci-icon tci-btn-warning"  data-toggle="modal" data-target="#edititemTemplate"> <i class="fa-solid fa-pencil"></i></button>
                                <button class="tci-icon bg_darkred"  data-toggle="modal" data-target="#deleteTable"><i class="fa-solid fa-trash-can"></i></button>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
            <div style="text-align: center;width: 100%;">
                <div class="pagination p3 tci-mt-2">
                    <button class="tci-icon"><i class="fa fa-angle-double-left" aria-hidden="true"></i></button>
                    <button class="tci-icon"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
                    <input type="text" class="text_input" /><span class="text_span">/ 40</span>
                    <button class="btn bg_lightgray">跳</button>
                    
                    <button class="tci-icon"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
                    <button class="tci-icon"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
                    <select class="text_setect">
                        <option selected>25</option>
                        <option value="1">50</option>
                        <option value="2">70</option>
                        <option value="3">100</option>
                    </select>
                </div>
            </div>
        </section>

    </div>
    <!-- additemTemplate -->
    <div class="modal fade" id="additemTemplate" tabindex="-1" role="dialog" aria-labelledby="additemTemplateLabel"
        aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="additemTemplateLabel">新增 item 名稱</h5>
                </div>
                <div class="modal-body">
                    <div class="tci-field">
                        <div class="tci-field-label">
                            <span class="tci-field-text text-left">Item 名稱:</span>
                        </div>
                        <input type="text" class="tci-field-value" />
                    </div>
                    <div class="tci-field">
                        <div class="tci-field-label">
                            <span class="tci-field-text text-left">條碼方式:</span>
                        </div>
                        <select class="tci-field-value">
                            <option value="123">QR code</option>
                            <option value="123">Barcode</option>
                            <option value="123">Barcode/QR code</option>
                        </select>
                    </div>
                    <div class="itemAddBehavior">
                        <div class="tci-field">
                            <div class="tci-field-label">
                                <span class="tci-field-text text-left">明細模版 :</span>
                            </div>
                            <input type="text" class="tci-field-value" value="text" />
                        </div>
                        <div style="margin-top:2px;">
                            <span style="font-size: 2rem;padding: 0 5px;"> <i class="fa-solid fa-circle-plus"></i>
                            </span>
                        </div>
                        <div class="tci-field">
                            <div class="tci-field-label">
                                <span class="tci-field-text text-left">行為模版 :</span>
                            </div>
                            <input type="text" class="tci-field-value" value="text" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="tci-btn tci-btn-regular" data-dismiss="modal">關閉</button>
                    <button type="button" class="tci-btn bg_darkgreen">儲存</button>
                </div>
            </div>
        </div>
    </div>

    <!-- edititemTemplate -->
    <div class="modal fade" id="edititemTemplate" tabindex="-1" role="dialog" aria-labelledby="edititemTemplateLabel"
        aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="edititemTemplateLabel">編輯 item 名稱</h5>
                </div>
                <div class="modal-body">
                    <div class="tci-field">
                        <div class="tci-field-label">
                            <span class="tci-field-text text-left">Item 名稱:</span>
                        </div>
                        <input type="text" class="tci-field-value" value="公務車管理">
                    </div>
                    <div class="tci-field">
                        <div class="tci-field-label">
                            <span class="tci-field-text text-left">條碼方式:</span>
                        </div>
                        <select class="tci-field-value">
                            <option value="123">QR code</option>
                            <option value="123">Barcode</option>
                            <option value="123">Barcode/QR code</option>
                        </select>
                    </div>
                    <div class="itemAddBehavior">
                        <div class="tci-field">
                            <div class="tci-field-label">
                                <span class="tci-field-text text-left">明細模版 :</span>
                            </div>
                            <input type="text" class="tci-field-value" value="text" />
                        </div>
                        <div style="margin-top:2px;">
                            <span style="font-size: 2rem;padding: 0 5px;"> <i class="fa-solid fa-circle-plus"></i>
                            </span>
                        </div>
                        <div class="tci-field">
                            <div class="tci-field-label">
                                <span class="tci-field-text text-left">行為模版 :</span>
                            </div>
                            <input type="text" class="tci-field-value" value="text" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="tci-btn tci-btn-regular" data-dismiss="modal">關閉</button>
                    <button type="button" class="tci-btn bg_darkgreen">儲存</button>
                </div>
            </div>
        </div>
    </div>

    <!-- deleteTable -->
    <div class="modal fade" id="deleteTable" tabindex="-1" aria-labelledby="deleteTableLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="deleteTableLabel">刪除</h5>
                </div>
                <div class="modal-body">
                    是否要刪除？
                </div>
                <div class="modal-footer">
                    <button type="button" class="tci-btn tci-btn-regular" data-dismiss="modal">關閉</button>
                    <button type="button" class="tci-btn bg_darkgreen">確定</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js"></script>
</body>

</html>