<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="../../scss/tci-all.css">
    <title>item 管理</title>
</head>

<body>
    <div class="container-fluid mb-3" id="page_ItemTemplate">
        <div class="tci-text-center pageHeader">
            <span class="pageHeaderTitle ml-2"><b>item 管理</span></b>
        </div>
        <section class="itemTemplate_query">
            <div class="itemTemplate_flex">
                <div class="tci-field">
                    <div class="tci-field-label">
                        <span class="tci-field-text text-left">Item 名稱：</span>
                    </div>
                    <select class="tci-field-value tci-mr-2">
                        <option selected>Choose...</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <button class="tci-btn save_btn">查詢</button>
                </div>
                <div class="itemTemplate_btn">
                    <button class="tci-btn tci-btn-darkkhaki" data-toggle="modal" data-target="#additemTemplate">新增
                        Item</button>
                </div>
            </div>
        </section>
        <section class="itemTemplate_content">
            <div class="table_content">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Item 名稱</th>
                            <th>明細樣板</th>
                            <th>行為樣板</th>
                            <th>條碼方式</th>
                            <th style="width: 140px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>公務車管理</td>
                            <td>公務車</td>
                            <td>出租</td>
                            <th>QR Code</th>
                            <td>
                                <button class="tci-btn table_icon" data-toggle="modal" data-target="#edititemTemplate">
                                    <i class="fa-solid fa-pencil"></i>
                                </button>
                                <button class="tci-btn table_icon" data-toggle="modal" data-target="#deleteItemTable"
                                    >
                                    <i class="fa-solid fa-trash-can"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>電腦管理</td>
                            <td>電腦</td>
                            <td>維修</td>
                            <th>QR Code</th>
                            <td>
                                <button class="tci-btn table_icon" data-toggle="modal" data-target="#edititemTemplate">
                                    <i class="fa-solid fa-pencil"></i>
                                </button>
                                <button class="tci-btn table_icon" data-toggle="modal" data-target="#deleteItemTable">
                                    <i class="fa-solid fa-trash-can"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

    </div>
    <!-- additemTemplate -->
    <div class="modal fade" id="additemTemplate" tabindex="-1" role="dialog" aria-labelledby="additemTemplateLabel"
        aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="additemTemplateLabel">新增 item 名稱</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="tci-field">
                        <div class="tci-field-label">
                            <span class="tci-field-text text-left">Item 名稱:</span>
                        </div>
                        <input type="text" class="tci-field-value" />
                    </div>
                    <div class="tci-field">
                        <div class="tci-field-label">
                            <span class="tci-field-text text-left">條碼方式:</span>
                        </div>
                        <select class="tci-field-value">
                            <option value="123">QR code</option>
                            <option value="123">Barcode</option>
                            <option value="123">Barcode/QR code</option>
                        </select>
                    </div>
                    <div class="itemAddBehavior">
                        <div class="tci-field">
                            <div class="tci-field-label">
                                <span class="tci-field-text text-left">明細樣版 :</span>
                            </div>
                            <select class="tci-field-value">
                                <option value="公務車">公務車</option>
                                <option value="電腦">電腦</option>
                                <option value="123">213</option>
                            </select>
                        </div>
                        <div>
                            <span style="font-size: 1.5rem;padding: 0 5px;"> <i class="fa-solid fa-circle-plus"></i>
                            </span>
                        </div>
                        <div class="tci-field">
                            <div class="tci-field-label">
                                <span class="tci-field-text text-left">行為樣版 :</span>
                            </div>
                            <select class="tci-field-value">
                                <option value="出租">出租</option>
                                <option value="維修">維修</option>
                                <option value="報廢">報廢</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="tci-btn tci-btn-regular" data-dismiss="modal">關閉</button>
                    <button type="button" class="tci-btn save_btn">儲存</button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- edititemTemplate -->
    <div class="modal fade" id="edititemTemplate" tabindex="-1" role="dialog" aria-labelledby="edititemTemplateLabel"
        aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="edititemTemplateLabel">編輯 item 名稱</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="tci-field">
                        <div class="tci-field-label">
                            <span class="tci-field-text text-left">Item 名稱:</span>
                        </div>
                        <input type="text" class="tci-field-value" />
                    </div>
                    <div class="tci-field">
                        <div class="tci-field-label">
                            <span class="tci-field-text text-left">條碼方式:</span>
                        </div>
                        <select class="tci-field-value">
                            <option value="123">QR code</option>
                            <option value="123">Barcode</option>
                            <option value="123">Barcode/QR code</option>
                        </select>
                    </div>
                    <div class="itemAddBehavior">
                        <div class="tci-field">
                            <div class="tci-field-label">
                                <span class="tci-field-text text-left">明細樣版 :</span>
                            </div>
                            <select class="tci-field-value">
                                <option value="公務車">公務車</option>
                                <option value="電腦">電腦</option>
                                <option value="123">213</option>
                            </select>
                        </div>
                        <div>
                            <span style="font-size: 1.5rem;padding: 0 5px;"> <i class="fa-solid fa-circle-plus"></i>
                            </span>
                        </div>
                        <div class="tci-field">
                            <div class="tci-field-label">
                                <span class="tci-field-text text-left">行為樣版 :</span>
                            </div>
                            <select class="tci-field-value">
                                <option value="出租">出租</option>
                                <option value="維修">維修</option>
                                <option value="報廢">報廢</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="tci-btn tci-btn-regular" data-dismiss="modal">關閉</button>
                    <button type="button" class="tci-btn save_btn">儲存</button>
                </div>
            </div>
        </div>
    </div>

    <!-- deleteItemTable -->
    <div class="modal fade" id="deleteItemTable" tabindex="-1" aria-labelledby="deleteItemTableLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteItemTableLabel">刪除</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    是否要刪除？
                </div>
                <div class="modal-footer">
                    <button type="button" class="tci-btn tci-btn-regular" data-dismiss="modal">關閉</button>
                    <button type="button" class="tci-btn save_btn">確定</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>