.modal table td {
  padding: 0.25rem;
}
.modal .itemAddBehavior {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
.modal .itemAddBehavior .tci-field {
  width: 100%;
}
.modal .itemAddBehavior .tci-field-value {
  width: 60%;
}

.table_icon {
  padding: 0 7px !important;
  min-width: 50px !important;
}
.table_icon i {
  color: var(--color-dark-khaki);
}

.content_shadow, #page_ItemTemplate .itemTemplate_content, #page_BehaviorTemplate .behaviorTemplate_content, #page_DetailTemplate .detailTemplate_content {
  box-shadow: var(--borderShadow);
  min-height: calc(100vh - 150px);
  margin-top: 1rem;
  border-radius: var(--borderRadius);
  padding: 10px;
}

.query .flex .tci-field {
  padding: 5px;
  border-radius: var(--borderRadius);
}
.query .flex .tci-field .tci-valueBtn {
  display: flex;
  width: 100%;
}
.query .flex .tci-field .tci-valueBtn input {
  margin-right: 0.5rem;
}

#page_DetailTemplate {
  position: relative;
}
#page_DetailTemplate .detailTemplate_content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #efefef;
  background-image: url(./for-rent.png);
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-position: left bottom;
}
#page_DetailTemplate .detailTemplate_content .table_content {
  padding: 1rem;
  width: 500px;
  overflow-y: auto;
  height: 500px;
}
#page_DetailTemplate .detailTemplate_content .detailTemplate_box .detailTemplate_table {
  overflow-x: auto;
}
#page_DetailTemplate .detailTemplate_content .detailTemplate_box .detailTemplate_table .table {
  width: 400px;
}

#page_BehaviorTemplate .behaviorTemplate_content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#page_BehaviorTemplate .behaviorTemplate_content .table_content {
  padding: 1rem;
  width: 500px;
  overflow-y: auto;
  height: 500px;
}
#page_BehaviorTemplate .behaviorTemplate_content .behaviorTemplate_box .behaviorTemplate_table {
  overflow-x: auto;
}
#page_BehaviorTemplate .behaviorTemplate_content .behaviorTemplate_box .behaviorTemplate_table .table {
  width: 400px;
}

#page_ItemTemplate .itemTemplate_content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#page_ItemTemplate .itemTemplate_content .table_content {
  overflow-x: auto;
  overflow-y: auto;
  height: 500px;
}
#page_ItemTemplate .itemTemplate_content .table_content .tci-table {
  width: 786px;
}

@media (min-width: 768px) {
  .query .flex {
    display: flex;
    justify-content: space-between;
  }
  .query .flex .tci-field {
    width: 100%;
    margin-bottom: 0;
  }
  .query .flex .tci-field .tci-field-label {
    width: 15%;
  }
  .query .flex .tci-field .tci-valueBtn {
    width: 85%;
  }
  .query .flex .tci-field .tci-valueBtn .tci-field-value {
    width: 100%;
  }
  #page_DetailTemplate .detailTemplate_content .detailTemplate_box .detailTemplate_table {
    overflow-x: auto;
  }
  #page_DetailTemplate .detailTemplate_content .detailTemplate_box .detailTemplate_table .table {
    width: 100%;
  }
  #page_BehaviorTemplate .behaviorTemplate_content .behaviorTemplate_box .behaviorTemplate_table {
    overflow-x: auto;
  }
  #page_BehaviorTemplate .behaviorTemplate_content .behaviorTemplate_box .behaviorTemplate_table .table {
    width: 100%;
  }
  #page_ItemTemplate .itemTemplate_content .table_content .table {
    width: 100%;
  }
  .modal .itemAddBehavior {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
  }
  .modal .itemAddBehavior .tci-field {
    width: 46%;
  }
  .modal .itemAddBehavior .tci-field-value {
    width: 60%;
  }
}