<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="./tci-all.css">
    <title>明細模版管理</title>
</head>

<body>
    <div class="container-fluid" id="page_DetailTemplate" style="line-height: 2;">
        <div class="pageHeader">
            <span class="pageHeaderTitle" style="font-size: 24px;"><b>明細模版管理</span></b>
        </div>
        <div class="btnGroups tci-mb-3">
            <button class="tci-btn tci-btn-warning">行為狀態</button>
            <button class="tci-btn bg_darkgreen">item 管理</button>
        </div>
        <section class="detailTemplate_content content">
            <div class="query tci-mb-4">
                <div class="flex">
                    <div class="tci-field">
                        <div class="tci-field-label">
                            <span class="tci-field-text text-left">模版名稱：</span>
                        </div>
                        <div class="tci-valueBtn">
                            <input type="text" class="tci-field-value" value="text" />
                            <button class="tci-btn bg_darkblue tci-ml-3">查詢</button>
                            <button class="tci-btn bg_darkkhaki tci-ml-3" data-toggle="modal"
                                data-target="#adddetailTemplate">新增樣版</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table_content">
                <table class="tci-table tci-table-bordered">
                    <thead style="background-color: var(--color-light-gray);">
                        <tr>
                            <th style="width: 10%;text-align: center;">序號</th>
                            <th>名稱</th>
                            <th style="width: 80px;text-align: center;">內容</th>
                        </tr>
                    </thead>
                    <tbody style="background-color: var(--color-snow);">
                        <tr>
                            <td style="text-align: center;">1</td>
                            <td>公務車</td>
                            <td style="text-align: center;">
                                <button class="tci-icon tci-btn-warning"  data-toggle="modal" data-target="#dataIcon"> <i class="fa-solid fa-pencil"></i></button>
                                <button class="tci-icon bg_darkred"  data-toggle="modal" data-target="#deleteItemTable"><i class="fa-solid fa-trash-can"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">1</td>
                            <td>筆記型電腦</td>
                            <td style="text-align: center;">
                                <button class="tci-icon tci-btn-warning"  data-toggle="modal" data-target="#dataIcon"> <i class="fa-solid fa-pencil"></i></button>
                                <button class="tci-icon bg_darkred"  data-toggle="modal" data-target="#deleteItemTable"><i class="fa-solid fa-trash-can"></i></button>
                            </td>
                        </tr>
                </table>
            </div>
            <div style="text-align: center;width: 100%;">
                <div class="pagination p3 tci-mt-2">
                    <button class="tci-icon"><i class="fa fa-angle-double-left" aria-hidden="true"></i></button>
                    <button class="tci-icon"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
                    <input type="text" class="text_input" /><span class="text_span">/ 40</span>
                    <button class="btn bg_lightgray">跳</button>
                    
                    <button class="tci-icon"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
                    <button class="tci-icon"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
                    <select class="text_setect">
                        <option selected>25</option>
                        <option value="1">50</option>
                        <option value="2">70</option>
                        <option value="3">100</option>
                    </select>
                </div>
            </div>
        </section>
    </div>

    <!-- adddetailTemplate -->
    <div class="modal fade" id="adddetailTemplate" tabindex="-1" role="dialog" aria-labelledby="adddetailTemplateLabel"
        aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="adddetailTemplateLabel">新增明細模版名稱</h5>
                </div>
                <div class="modal-body">
                    <div class="tci-field">
                        <div class="tci-field-label">
                            <span class="tci-field-text text-left">名稱:</span>
                        </div>
                        <input type="text" class="tci-field-value" />
                    </div>
                    <hr>
                    <div class="detailTemplate_box">
                        <div style="margin-bottom:1rem;text-align:right;">
                            <button class="tci-btn bg_darkkhaki">新增欄位</button>
                        </div>
                        <div class="detailTemplate_table">
                            <table class="tci-table text-center tci-table-bordered">
                                <thead style="background-color: var(--color-light-gray);">
                                    <tr>
                                        <th>欄位名稱</th>
                                        <th>型態</th>
                                        <th style="width: 70px;text-align: center;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="text" style="width: 100%;" class="tci-field-value"
                                                value="公務車名稱" />
                                        </td>
                                        <td>
                                            <select style="margin: auto;width: 100%;" class="tci-field-value">
                                                <option value="">整數</option>
                                                <option value="">小數</option>
                                                <option value="">文字</option>
                                                <option value="">日期時間</option>
                                                <option value="">圖片</option>
                                            </select>
                                        </td>
                                        <td>
                                            <button class="tci-icon bg_darkred" data-toggle="modal"
                                                data-target="#deleteTable"><i class="fa-solid fa-trash-can"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" style="width:100%;" class="tci-field-value" value="車型" />
                                        </td>
                                        <td>
                                            <select style="margin: auto;width: 100%;" class="tci-field-value">
                                                <option value="">整數</option>
                                                <option value="">小數</option>
                                                <option value="">文字</option>
                                                <option value="">日期時間</option>
                                                <option value="">圖片</option>
                                            </select>
                                        </td>
                                        <td style="text-align: center;">
                                            <button class="tci-icon bg_darkred" data-toggle="modal"
                                                data-target="#deleteTable"><i class="fa-solid fa-trash-can"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="tci-btn tci-btn-regular" data-dismiss="modal">關閉</button>
                    <button type="button" class="tci-btn bg_darkgreen">儲存</button>
                </div>
            </div>
        </div>
    </div>
    <!--All dataIcon -->
    <div class="modal fade" id="dataIcon" tabindex="-1" role="dialog" aria-labelledby="dataIconLabel" aria-hidden="true"
        data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="dataIconLabel">內容</h5>
                </div>
                <div class="modal-body">
                    <div class="tci-field">
                        <div class="tci-field-label">
                            <span class="tci-field-text text-left">名稱:</span>
                        </div>
                        <input type="text" class="tci-field-value" value="公務車">
                    </div>
                    <hr>

                    <div style="text-align: right;">
                        <button class="tci-btn bg_darkkhaki">新增欄位</button>
                    </div>
                    <div style="margin-top: 1rem;">
                        <table class="tci-table tci-table-bordered tci-tabletext-center">
                            <thead style="background-color: var(--color-light-gray);">
                                <tr>
                                    <th>欄位名稱</th>
                                    <th>型態</th>
                                    <th style="width: 70px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" style="width: 100%;" class="tci-field-value" value="公務車名稱" />
                                    </td>
                                    <td>
                                        <select style="margin: auto;width: 100%;" class="tci-field-value">
                                            <option value="">整數</option>
                                            <option value="">小數</option>
                                            <option value="">文字</option>
                                            <option value="">日期時間</option>
                                            <option value="">圖片</option>
                                        </select>
                                    </td>
                                    <td style="text-align: center;">
                                        <button class="tci-icon bg_darkred" data-toggle="modal"
                                            data-target="#deleteTable"><i class="fa-solid fa-trash-can"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><input type="text" style="width:100%;" class="tci-field-value" value="車型" />
                                    </td>
                                    <td>
                                        <select style="margin: auto;width: 100%;" class="tci-field-value">
                                            <option value="">整數</option>
                                            <option value="">小數</option>
                                            <option value="">文字</option>
                                            <option value="">日期時間</option>
                                            <option value="">圖片</option>
                                        </select>
                                    </td>
                                    <td style="text-align: center;">
                                        <button class="tci-icon bg_darkred" data-toggle="modal"
                                            data-target="#deleteTable"><i class="fa-solid fa-trash-can"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="tci-btn tci-btn-regular" data-dismiss="modal">關閉</button>
                    <button type="button" class="tci-btn bg_darkgreen">儲存</button>
                </div>
            </div>
        </div>
    </div>
    <!-- delete -->
    <div class="modal fade" id="deleteTable" tabindex="-1" aria-labelledby="deleteTableLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="deleteTableLabel">刪除</h5>
                </div>
                <div class="modal-body">
                    是否要刪除此欄位？
                </div>
                <div class="modal-footer">
                    <button type="button" class="tci-btn tci-btn-regular" data-dismiss="modal">關閉</button>
                    <button type="button" class="tci-btn bg_darkgreen">確定</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js"></script>
</body>

</html>