<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="./tci-all.css">
    <link rel="stylesheet" href="./style.css">
    <title>行為管理</title>
</head>

<body>
    <div class="container-fluid" id="page_BehaviorTemplate">
        <div class="pageHeader">
            <span class="pageHeaderTitle"><b>行為管理</span></b>
        </div>
        <section class="behaviorTemplate_query">
            <div class="behaviorTemplate_flex">
                <div class="tci-field">
                    <div class="tci-field-label">
                        <span class="tci-field-text text-left">模版名稱：</span>
                    </div>
                    <div class="tci-valueBtn">
                        <select class="tci-field-value">
                            <option selected>All</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                        <button class="tci-btn bg_drakgreen">查詢</button>
                    </div>
                  
                </div>
                <div class="behaviorTemplate_btn">
                    <button class="tci-btn bg_darkkhaki" data-toggle="modal"
                        data-target="#addbehaviorTemplate">新增樣版</button>
                </div>
            </div>
        </section>
        <section class="behaviorTemplate_content">
            <!-- 選項 All start-->
            <div class="table_content">
                <table class="tci-table tci-table-bordered">
                    <thead>
                        <tr>
                            <th>名稱</th>
                            <th style="width: 80px;text-align: center;">內容</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>公務車租借</td>
                            <td>
                                <button class="tci-btn table_icon" data-toggle="modal" data-target="#behaviordataIcon">
                                    <i class="fa-solid fa-table"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>筆記型電腦</td>
                            <td>
                                <button class="tci-btn table_icon" data-toggle="modal" data-target="#behaviordataIcon">
                                    <i class="fa-solid fa-table"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- 選項 All end -->

            <!-- 單一一個產品 start-->
            <div style="padding: 1rem;">
                <div class="behaviorTemplate_box">
                    <div style="margin-bottom:1rem;text-align:right;">
                        <button class="tci-btn bg_darkkhaki">新增欄位</button>
                        <button class="tci-btn bg_drakgreen">全部儲存</button>
                    </div>
                    <div class="behaviorTemplate_contenttitle">
                        <span class="pl-2">公務車租借</span>
                    </div>
                    <div class="behaviorTemplate_table">
                        <table class="tci-table text-center tci-table-bordered">
                            <thead>
                                <tr>
                                    <th>行為狀態</th>
                                    <th style="width: 70px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" style="width: 100%;" class="tci-field-value" value="公務車出租" />
                                    </td>
                                    <td>
                                        <button class="tci-btn trash_icon" data-toggle="modal" data-target="#deleteTable">
                                            <i class="fa-solid fa-trash-can"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><input type="text" style="width:100%;" class="tci-field-value" value="公務車歸還" />
                                    </td>
                                    <td>
                                        <button class="tci-btn trash_icon" data-toggle="modal" data-target="#deleteTable">
                                            <i class="fa-solid fa-trash-can"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- 單一一個產品 end-->

        </section>
    </div>

    <!-- addbehaviorTemplate -->
    <div class="modal fade" id="addbehaviorTemplate" tabindex="-1" role="dialog"
        aria-labelledby="addbehaviorTemplateLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addbehaviorTemplateLabel">新增行為模版名稱</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="tci-field">
                        <div class="tci-field-label">
                            <span class="tci-field-text text-left">名稱:</span>
                        </div>
                        <input type="text" class="tci-field-value" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="tci-btn tci-btn-regular" data-dismiss="modal">關閉</button>
                    <button type="button" class="tci-btn bg_drakgreen">儲存</button>
                </div>
            </div>
        </div>
    </div>
    <!--All behaviordataIcon -->
    <div class="modal fade" id="behaviordataIcon" tabindex="-1" role="dialog" aria-labelledby="behaviordataIconLabel"
        aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="behaviordataIconLabel">內容</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="tci-field">
                        <div class="tci-field-label">
                            <span class="tci-field-text text-left">名稱:</span>
                        </div>
                        <div class="tci-field-value gray">公務車租借</div>
                    </div>
                    <hr>
                    <div style="text-align: right;">
                        <button class="tci-btn bg_darkkhaki">新增狀態</button>
                    </div>
                    <div style="margin-top: 1rem;">
                        <table class="table text-center">
                            <thead>
                                <tr>
                                    <th>行為狀態</th>
                                    <th style="width: 70px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" style="width: 100%;" class="tci-field-value" value="公務車出租" />
                                    </td>
                                    <td>
                                        <button class="tci-btn trash_icon"
                                        data-toggle="modal" data-target="#deleteTable">
                                            <i class="fa-solid fa-trash-can"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><input type="text" style="width:100%;" class="tci-field-value" value="公務車歸還" />
                                    </td>
                                    <td>
                                        <button class="tci-btn trash_icon"
                                        data-toggle="modal" data-target="#deleteTable">
                                            <i class="fa-solid fa-trash-can"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="tci-btn tci-btn-regular" data-dismiss="modal">關閉</button>
                    <button type="button" class="tci-btn bg_drakgreen">儲存</button>
                </div>
            </div>
        </div>
    </div>

    <!-- delete -->
<div class="modal fade" id="deleteTable" tabindex="-1" aria-labelledby="deleteTableLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteTableLabel">刪除</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          是否要刪除此欄位？
        </div>
        <div class="modal-footer">
          <button type="button" class="tci-btn tci-btn-regular" data-dismiss="modal">關閉</button>
          <button type="button" class="tci-btn bg_drakgreen">確定</button>
        </div>
      </div>
    </div>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>