//查詢單據 bar
#dropdownMenuButton {
    background-color: var(--color-light-gray);
    padding: 4px;
    color: var(--color-dark-green);
    font-weight: bold;
}
#page_documentQuery {

    //簽核單據查詢-查詢單據
    .documentrequester {
        .box {
            border-radius: var(--borderRadius);
            border: 2px solid var(--color-light-gray);
            margin-bottom: 1rem;
            padding: 5px;
        }

        .requester_people {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: .5rem;

            .requester_title {
                padding: 5px;
                border-radius: var(--borderRadius);
                width: 100%;

                span {
                    background-color: var(--color-light-gray);
                    border-radius: var(--borderRadius);
                    padding: 0 10px;
                }

                .requester_icon {
                    padding: 0 5px;
                    width: 25px;
                    height: 25px;
                    border-radius: 4rem;
                }
            }

            .requester_value {
                width: 100%;
                display: flex;
                justify-content: space-between;

                .tci-field-value {
                    width: 48%;
                }
            }
        }

        .requester_btn {
            width: 100%;
            margin-bottom: 1rem;

            button {
                width: 100%;
            }
        }
    }
}

@media (min-width: 765px) {
    #page_documentQuery {
        .documentQuery {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .tci-input-group {
                width: 48%;
            }
        }

        .documentrequester {

            .requester_people {
                justify-content: space-between;

                .requester_title {
                    width: auto;
                }

                .requester_value {
                    width: 70%;
                    display: flex;
                    justify-content: space-between;

                    .tci-field-value {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {
    #page_documentQuery {


        .documentrequester {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .box {
                display: flex;
                flex-wrap: wrap;
                width: 49%;
            }

            .requester_people {
                width: 100%;
                &.short {
                    .requester_value{
                        width: 53%;
                    }
                }
            }
        }
    }
}