.text_red {
  color: var(--color-error);
}

.userCard_info {
  text-align: right;
  margin-top: 0.75rem;
}
.userCard_info .user_info {
  font-size: 10pt;
  color: #AAA;
  font-style: italic;
}

.darkBorderCard {
  margin-top: 1rem;
  border: 2px solid var(--color-darkkhaki);
  border-radius: var(--borderRadius);
  padding: 5px;
  margin-bottom: 0.5rem;
}
.darkBorderCard .darkBorderCardTitle {
  text-align: center;
  margin-bottom: 1rem;
  background-color: var(--color-darkkhaki);
  color: var(--color-snow);
}
.darkBorderCard .darkBorderCardTitle span {
  font-weight: bold;
  font-size: 1.25rem;
}

#page_documentQuery .tci-field-value,
#page_documentQuery .tci-form-control {
  background-color: #EFEFEF;
}
#page_documentQuery .requester .box {
  border-radius: var(--borderRadius);
  border: 2px solid var(--color-gainsboro);
  margin-bottom: 1rem;
  padding: 5px;
}
#page_documentQuery .requester .requester_title {
  padding: 5px;
  border-radius: var(--borderRadius);
  width: 100%;
}
#page_documentQuery .requester .requester_title span {
  background-color: var(--color-gainsboro);
  border-radius: var(--borderRadius);
  padding: 0 10px;
}
#page_documentQuery .requester .requester_title .requester_icon {
  padding: 0 5px;
  width: 25px;
  height: 25px;
  border-radius: 4rem;
}
#page_documentQuery .requester .requester_people {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
#page_documentQuery .requester .requester_people .tci-field-value {
  width: 48%;
}
#page_documentQuery .requester .requester_btn {
  width: 100%;
}
#page_documentQuery .requester .requester_btn button {
  width: 100%;
}
#page_documentQuery .conditionalFilter {
  margin-top: 10px;
}
#page_documentQuery .conditionalFilter .conditionalFilter_box {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--color-light-gray);
  padding: 0.5rem;
  border-radius: var(--borderRadius);
}
#page_documentQuery .conditionalFilter .conditionalFilter_box .conditionalFilter_text {
  width: 100%;
}
#page_documentQuery .conditionalFilter .conditionalFilter_query {
  border-radius: var(--borderRadius);
  margin-top: 10px;
  padding: 0.5rem;
}
#page_documentQuery .conditional_content {
  border-radius: var(--borderRadius);
  border: 2px solid var(--color-gainsboro);
  margin-top: 10px;
  padding: 0.5rem;
}
#page_documentQuery .conditional_content .conditional_tabs {
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
}
#page_documentQuery .conditional_content .conditional_tabs .badge {
  border-radius: var(--borderRadiusCircular);
  background-color: var(--color-light-green);
  color: var(--color-snow);
}
#page_documentQuery .conditional_content .conditional_box {
  border-radius: var(--borderRadius);
  padding: 0.5rem;
  font-size: 1rem;
  margin-bottom: 0.4rem;
}
#page_documentQuery .conditional_content .conditional_box .conditional_contenttitle {
  background-color: var(--color-darkkhaki);
  color: var(--color-snow);
  border-radius: var(--borderRadius);
  padding: 0.2rem;
}
#page_documentQuery .conditional_content .conditional_box .conditional_contenttitle .label {
  font-size: 10px;
  padding: 3px;
  border-radius: var(--borderRadius);
}
#page_documentQuery .conditional_content .conditional_box .conditional_contenttitle .label.red {
  background-color: var(--color-error);
}
#page_documentQuery .conditional_content .conditional_box .conditional_contenttitle .label.blue {
  background-color: var(--color-search);
}
#page_documentQuery .conditional_content .conditional_box .conditional_contenttitle .label.green {
  background-color: var(--color-darkGreen);
}
#page_documentQuery .conditional_content .conditional_box .conditional_contenttitle .label.dark {
  background-color: var(--color-gray);
}
#page_documentQuery .conditional_content .conditional_box .conditional_contenttitle .label.yellow {
  background-color: var(--color-peru);
}
#page_documentQuery .conditional_content .conditional_box .conditional_btn {
  background-color: var(--color-light-gray);
  border-radius: var(--borderRadius);
}
#page_documentQuery .conditional_content .conditional_box .conditional_btn p {
  color: var(--color-darkkhaki);
}
#page_documentQuery .editDocuments .editDocuments_lists .tci-field {
  flex-wrap: wrap;
}
#page_documentQuery .editDocuments .editDocuments_lists .tci-field .tci-field-label {
  width: 100%;
}
#page_documentQuery .editDocuments .editDocuments_lists .tci-field .tci-field-value {
  width: 100%;
}
#page_documentQuery .editDocuments_leave {
  border: 2px solid var(--color-darkkhaki);
  border-radius: var(--borderRadius);
  padding: 5px;
  margin-bottom: 0.5rem;
}
#page_documentQuery .editDocuments_form .editDocuments_data .tci-field .tci-field-label {
  white-space: normal;
  width: 100%;
}
#page_documentQuery .editDocuments_form .editDocuments_data .tci-field .tci-field-value {
  width: 35%;
}
#page_documentQuery .btnGroups_lr {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 0.5rem;
}
#page_documentQuery .btnGroups_lr button {
  width: 49%;
  padding: 0.2rem;
}
#page_documentQuery .descriptionBox .descriptionBoxContent .dropdown.open {
  width: 100%;
}
#page_documentQuery .descriptionBox .descriptionBoxContent .dropdown.open button {
  width: 100%;
}
#page_documentQuery .detailsBox .detailsBox_rt {
  color: #fff;
  padding: 0 6px;
  background-color: #83a2b4;
  border-radius: var(--borderRadius);
  font-size: 14px;
}
#page_documentQuery .detailsBox .grayborder {
  border: 1px solid #ddd;
  padding: 10px;
  margin-top: 1rem;
}
#page_documentQuery .detailsBox .detailsBox_form .detailsBox_data .detailsBox_title {
  background-color: #ddd;
  margin-bottom: 1rem;
  font-weight: bold;
}
#page_documentQuery .detailsBox .detailsBox_form .detailsBox_data .tci-field .tci-field-label {
  width: 100%;
  white-space: normal;
}
#page_documentQuery .detailsBox .detailsBox_form .detailsBox_data .tci-field .tci-field-value {
  width: 30%;
}
#page_documentQuery .detailsBox .formFlow .formFlowGrid {
  border: 1px solid #ddd;
  background-color: antiquewhite;
  padding: 5px;
  border-radius: 0.25rem;
}
#page_documentQuery .detailsBox .formFlow .items {
  list-style-type: none;
  margin: 1px;
  padding: 1px;
}
#page_documentQuery .detailsBox .formFlow .signflow .sortable li {
  margin: 2px;
  padding: 2px;
  border-radius: 3px;
  display: inline-block;
  clear: both;
}
#page_documentQuery .detailsBox .formFlow .signflow .sortable .list {
  background-color: lightblue;
  border: 1px solid gray;
  cursor: no-drop;
}
#page_documentQuery .detailsBox .formFlow .signflow .sortable .list3 {
  background-color: lightgray;
  border: 1px solid gray;
  margin: 2px;
  padding: 2px;
  border-radius: 3px;
  display: inline-block;
  cursor: no-drop;
}

@media (min-width: 765px) {
  #page_documentQuery .query {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #page_documentQuery .query .tci-input-group {
    width: 48%;
  }
  #page_documentQuery .query .tci-input-group.company {
    width: 100%;
  }
  #page_documentQuery .conditionalFilter .conditionalFilter_box .conditionalFilter_text {
    width: auto;
  }
  #page_documentQuery .conditionalFilter .conditionalFilter_box .conditionalFilter_text.month {
    font-weight: bold;
    color: var(--color-darkGreen);
  }
  #page_documentQuery .conditionalFilter .conditionalFilter_query {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #page_documentQuery .conditionalFilter .conditionalFilter_query .tci-input-group {
    width: 48%;
  }
  #page_documentQuery .conditional_content .conditional_tabs {
    font-size: 1.5rem;
  }
  #page_documentQuery .conditional_content .conditional_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  #page_documentQuery .conditional_content .conditional_flex .conditional_box {
    width: 48%;
    margin-right: 0.5rem;
  }
  #page_documentQuery .editDocuments .editDocuments_title {
    text-align: center;
  }
  #page_documentQuery .editDocuments .editDocuments_lists .tci-field {
    flex-wrap: wrap;
  }
  #page_documentQuery .editDocuments .editDocuments_lists .tci-field .tci-field-label {
    width: 40%;
  }
  #page_documentQuery .editDocuments .editDocuments_lists .tci-field .tci-field-value {
    width: 60%;
  }
  #page_documentQuery .editDocuments_form .editDocuments_data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #page_documentQuery .editDocuments_form .editDocuments_data .editDocuments_title {
    width: 100%;
  }
  #page_documentQuery .editDocuments_form .editDocuments_data .tci-field {
    width: 48%;
  }
  #page_documentQuery .editDocuments_form .editDocuments_data .tci-field .tci-field-label {
    width: 70%;
    white-space: normal;
  }
  #page_documentQuery .editDocuments_form .editDocuments_data .tci-field .tci-field-value {
    width: 30%;
  }
  #page_documentQuery .messageBox .messageBoxContent {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
  }
  #page_documentQuery .messageBox .messageBox_modal {
    width: 60%;
    margin: auto;
    margin-top: 1rem;
  }
  #page_documentQuery .descriptionBox .descriptionBoxContent {
    display: flex;
    justify-content: center;
  }
  #page_documentQuery .descriptionBox .descriptionBoxContent .left {
    margin-right: 1rem;
  }
  #page_documentQuery .descriptionBox .descriptionBoxContent .left .dropdown button {
    width: 100%;
  }
  #page_documentQuery .descriptionBox .descriptionBoxContent .left .tci-input-group {
    width: 100%;
  }
  #page_documentQuery .descriptionBox .descriptionBoxContent .right {
    display: flex;
    justify-content: center;
    padding: 5px;
  }
  #page_documentQuery .descriptionBox .descriptionBoxContent .right .dropdown button {
    width: 100%;
  }
  #page_documentQuery .descriptionBox .descriptionBoxContent .right .dropdown.check {
    width: 40%;
  }
  #page_documentQuery .descriptionBox .descriptionBoxContent .right .dropdown.open {
    width: 100%;
  }
  #page_documentQuery .descriptionBox .descriptionBoxContent .right .dropdown.open button {
    width: 100%;
  }
  #page_documentQuery .detailsBox .pageForm .form01 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  #page_documentQuery .detailsBox .pageForm .form01 .tci-label-group {
    width: 48%;
    margin-right: 0.5rem;
  }
  #page_documentQuery .detailsBox .detailsBox_form .detailsBox_data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #page_documentQuery .detailsBox .detailsBox_form .detailsBox_data .detailsBox_title {
    width: 100%;
  }
  #page_documentQuery .detailsBox .detailsBox_form .detailsBox_data .tci-field {
    width: 48%;
  }
  #page_documentQuery .detailsBox .detailsBox_form .detailsBox_data .tci-field .tci-field-label {
    width: 70%;
    white-space: normal;
  }
  #page_documentQuery .detailsBox .detailsBox_form .detailsBox_data .tci-field .tci-field-value {
    width: 30%;
  }
  #page_documentQuery .detailsBox .work_process {
    display: flex;
    flex-wrap: wrap;
  }
  #page_documentQuery .detailsBox .work_process .tci-card {
    margin-right: 0.5rem;
  }
  #page_documentQuery .work_process_circuit {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 992px) {
  #page_documentQuery .query {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #page_documentQuery .query .tci-input-group {
    width: 33%;
  }
  #page_documentQuery .query .tci-input-group.company {
    width: 65%;
  }
  #page_documentQuery .requester {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #page_documentQuery .requester .requester_title {
    min-width: 140px;
    width: auto;
  }
  #page_documentQuery .requester .box {
    width: 48%;
    padding: 5px;
  }
  #page_documentQuery .requester .requester_people .tci-field-value {
    width: 35%;
  }
  #page_documentQuery .conditionalFilter .conditionalFilter_query .tci-input-group {
    width: 23%;
  }
  #page_documentQuery .conditional_content .conditional_flex .conditional_box {
    width: 32%;
  }
  #page_documentQuery .editDocuments_form .editDocuments_data .editDocuments_title {
    width: 100%;
  }
  #page_documentQuery .editDocuments_form .editDocuments_data .tci-field {
    width: 32%;
  }
  #page_documentQuery .editDocuments_form .editDocuments_data .tci-field .tci-field-label {
    width: 70%;
    white-space: normal;
  }
  #page_documentQuery .editDocuments_form .editDocuments_data .tci-field .tci-field-value {
    width: 60%;
  }
  #page_documentQuery .detailsBox .detailsBox_form .detailsBox_data .detailsBox_title {
    width: 100%;
  }
  #page_documentQuery .detailsBox .detailsBox_form .detailsBox_data .tci-field {
    width: 32%;
  }
  #page_documentQuery .detailsBox .detailsBox_form .detailsBox_data .tci-field .tci-field-label {
    width: 70%;
    white-space: normal;
  }
  #page_documentQuery .detailsBox .detailsBox_form .detailsBox_data .tci-field .tci-field-value {
    width: 60%;
  }
}
@media (min-width: 1200px) {
  #page_documentQuery .query {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #page_documentQuery .query .tci-input-group {
    width: 24%;
  }
  #page_documentQuery .query .tci-input-group.content {
    width: 49%;
  }
  #page_documentQuery .query .tci-input-group.company {
    width: 100%;
  }
}
#dropdownMenuButton {
  background-color: var(--color-gainsboro);
  padding: 4px;
  color: var(--color-darkGreen);
  font-weight: bold;
}

.multi-level .panel-heading {
  background-color: var(--color-darkkhaki);
  color: var(--color-snow);
}
.multi-level .panel-heading .panel-title {
  text-align: center;
  font-weight: bold;
  padding: 5px;
}
.multi-level table td {
  padding-top: 4px;
  padding-bottom: 4px;
}
.multi-level table td:hover {
  background-color: var(--color-gainsboro);
}
.multi-level table .current {
  background-color: var(--color-gainsboro);
}
.multi-level .badge {
  border-radius: var(--borderRadiusCircular);
}