#dropdownMenuButton {
  background-color: var(--color-light-gray);
  padding: 4px;
  color: var(--color-dark-green);
  font-weight: bold;
}

#page_documentQuery .documentrequester .box {
  border-radius: var(--borderRadius);
  border: 2px solid var(--color-light-gray);
  margin-bottom: 1rem;
  padding: 5px;
}
#page_documentQuery .documentrequester .requester_people {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
#page_documentQuery .documentrequester .requester_people .requester_title {
  border-radius: var(--borderRadius);
  width: 100%;
}
#page_documentQuery .documentrequester .requester_people .requester_title span {
  background-color: var(--color-light-gray);
  border-radius: var(--borderRadius);
  padding: 0 10px;
}
#page_documentQuery .documentrequester .requester_people .requester_title .requester_icon {
  padding: 0 5px;
  width: 25px;
  height: 25px;
  border-radius: 4rem;
}
#page_documentQuery .documentrequester .requester_people .requester_value {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#page_documentQuery .documentrequester .requester_people .requester_value .tci-field-value {
  width: 48%;
}
#page_documentQuery .documentrequester .requester_btn {
  width: 100%;
  margin-bottom: 1rem;
}
#page_documentQuery .documentrequester .requester_btn button {
  width: 100%;
}

@media (min-width: 768px) {
  #page_documentQuery .documentQuery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #page_documentQuery .documentQuery .tci-input-group {
    width: 48%;
  }
  #page_documentQuery .documentrequester .requester_people {
    justify-content: space-between;
  }
  #page_documentQuery .documentrequester .requester_people .requester_title {
    width: auto;
  }
  #page_documentQuery .documentrequester .requester_people .requester_value {
    width: 70%;
    display: flex;
    justify-content: space-between;
  }
  #page_documentQuery .documentrequester .requester_people .requester_value .tci-field-value {
    width: 100%;
  }
}
@media (min-width: 992px) {
  #page_documentQuery .documentrequester {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #page_documentQuery .documentrequester .box {
    display: flex;
    flex-wrap: wrap;
    width: 49%;
  }
  #page_documentQuery .documentrequester .requester_people {
    width: 100%;
  }
  #page_documentQuery .documentrequester .requester_people.short .requester_value {
    width: 53%;
  }
}