<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="../../scss/tci-all.css">
    <title>簽核單據查詢-查詢單據</title>
</head>

<body>
    <div class="container-fluid tci-mb-3" id="page_documentQuery">
        <div class="pageHeader" style="position: relative;">
            <span class="pageHeaderTitle ml-2"><b>簽核單據查詢</b></span>
            <div style="position:absolute;z-index:99;right: 0;top:0;">
                <button class="tci-btn dropdown-toggle" type="button" 
                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-list" aria-hidden="true"></i> &nbsp; <span id="menuTabName">查詢單據</span>
                </button>
            </div>
        </div>
        <div class="btnGroups mt-2" style="text-align: end;">
            <button class="tci-btn bg_darkkhaki">取消查詢</button>
            <button class="tci-btn tci-btn-warning">重新查詢</button>
            <button class="tci-btn bg_drakgreen">查詢</button>
        </div>
        <section class="query tci-mt-3">
            <div class="tci-input-group tci-mb-3">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text">單據編號</span>
                </div>
                <input type="text" class="tci-form-control" />
            </div>
            <div class="tci-input-group tci-mb-3">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text">公司別</span>
                </div>
                <select class="tci-form-control">
                    <option value="1">13.專用原物料特採申請單</option>
                    <option value="2">單一/指定廠商</option>
                    <option value="3">舊品採購量增加</option>
                    <option value="4">舊品改稿</option>
                    <option value="5">舊品採購量不變</option>
                    <option value="6">其它原因</option>
                </select>
            </div>
            <div class="tci-input-group tci-mb-3">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text">單據類型</span>
                </div>
                <select class="tci-form-control">
                    <option value="1">13.專用原物料特採申請單</option>
                    <option value="2">單一/指定廠商</option>
                    <option value="3">舊品採購量增加</option>
                    <option value="4">舊品改稿</option>
                    <option value="5">舊品採購量不變</option>
                    <option value="6">其它原因</option>
                </select>
            </div>
            <div class="tci-input-group tci-mb-3">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text">單據狀態</span>
                </div>
                <select class="tci-form-control">
                    <option value="1">13.專用原物料特採申請單</option>
                    <option value="2">單一/指定廠商</option>
                    <option value="3">舊品採購量增加</option>
                    <option value="4">舊品改稿</option>
                    <option value="5">舊品採購量不變</option>
                    <option value="6">其它原因</option>
                </select>
            </div>
            <div class="tci-input-group tci-mb-3">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text">單據金額</span>
                </div>
                <div style="display: flex;justify-content: space-between;width: 100%;">
                    <input type="text" class="tci-form-control" style="width: 100%;"/>
                    <div class="tci-input-group-prepend" style="width: auto;">
                        <span class="tci-input-group-text">~</span>
                    </div>
                    <input type="text" class="tci-form-control" style="width: 100%;"/>
                </div>
            </div>
            <div class="tci-input-group tci-mb-3">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text">發票編號</span>
                </div>
                <input type="text" class="tci-form-control" />
            </div>
            <div class="tci-input-group tci-mb-3 content">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text">摘要內容</span>
                </div>
                <input type="text" class="tci-form-control" />
            </div>
            <div class="tci-input-group tci-mb-3 company">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text">公司名稱</span>
                </div>
                <input type="text" class="tci-form-control" />
            </div>
        </section>
        <section class="requester">
            <div class="box">
                <div class="requester_people">
                    <div class="requester_title">
                        <span class="tci-field-text" style="cursor: pointer;"><i class="fa-solid fa-user"></i> 經辦人</span>
                        
                    </div>
                    <div class="tci-field-value">2206A0011</div>
                    <div class="tci-field-value">HEDY.TSENG 曾莞婷</div>
                </div>
                <div class="requester_people">
                    <div class="requester_title">
                        <span class="tci-field-text">快查</span>
                    </div>
                    <input type="text" class="tci-field-value" />
                    <select class="tci-field-value" >
                        <option value="">All</option>
                        <option value="宋玉春">HARU.SUNG宋玉春</option>
                        <option value="王筱玲">IRENE.WANG王筱玲</option>
                    </select>
                </div>
                <div class="requester_btn tci-mb-2">
                    <button class="tci-btn bg_darkkhaki">所有人員</button>
                </div>
                <div class="requester_people">
                    <div class="requester_title">
                        <span class="tci-field-text" style="cursor: pointer;">
                            <i class="fa-solid fa-building-user"></i> 經辦人部門別
                        </span>
                    </div>
                    <div class="tci-field-value">2206A0011</div>
                    <div class="tci-field-value">HEDY.TSENG 曾莞婷</div>
                </div>
                <div class="requester_btn tci-mb-2">
                    <button class="tci-btn bg_darkkhaki">取消選取</button>
                </div>
                <div class="requester_people">
                    <div class="requester_title">
                        <span class="tci-field-text">單據建立日</span>
                    </div>
                    <input type="text" class="tci-field-value" />
                    <span>~</span>
                    <input type="text" class="tci-field-value" />
                </div>
            </div>
            <div class="box">
                <div class="requester_people">
                    <div class="requester_title">
                        <span class="tci-field-text" style="cursor: pointer;" data-toggle="modal" data-target="#exampleModal">
                            <i class="fa-solid fa-user-check"></i> 最後簽核者</span>
                    </div>
                    <div class="tci-field-value">2206A0011</div>
                    <div class="tci-field-value">HEDY.TSENG 曾莞婷</div>
                </div>
                <div class="requester_people">
                    <div class="requester_title">
                        <span class="tci-field-text">快查</span>
                    </div>
                    <input type="text" class="tci-field-value" />
                    <select class="tci-field-value" >
                        <option value="">All</option>
                        <option value="宋玉春">HARU.SUNG宋玉春</option>
                        <option value="王筱玲">IRENE.WANG王筱玲</option>
                    </select>
                </div>
                <div class="requester_btn mb-2">
                    <button class="tci-btn bg_darkkhaki">取消選取</button>
                </div>
                <div class="requester_people">
                    <div class="requester_title">
                        <span class="tci-field-text" style="cursor: pointer;"><i class="fa-solid fa-user-pen"></i> 簽核者</span>
                    </div>
                    <div class="tci-field-value">2206A0011</div>
                    <div class="tci-field-value">HEDY.TSENG 曾莞婷</div>
                </div>
                <div class="requester_people">
                    <div class="requester_title">
                        <span class="tci-field-text">快查</span>
                    </div>
                    <input type="text" class="tci-field-value" />
                    <select class="tci-field-value" >
                        <option value="">All</option>
                        <option value="宋玉春">HARU.SUNG宋玉春</option>
                        <option value="王筱玲">IRENE.WANG王筱玲</option>
                    </select>
                </div>
                <div class="requester_btn tci-mb-2">
                    <button class="tci-btn bg_darkkhaki">取消選取</button>
                </div>
                <div class="requester_people">
                    <div class="requester_title">
                        <span class="tci-field-text">簽核日期</span>
                    </div>
                    <input type="text" class="tci-field-value" />
                    <span>~</span>
                    <input type="text" class="tci-field-value" />
                </div>
            </div>
        </section>

        
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>