#page_leaveVacation {
    .leaveVacationContent {
        .leaveVacationContentTitle {
            font-size: 1.25rem;
            font-weight: bold;
            text-align: center;
        }
    }

    .tableScroll {
        overflow-x: auto;

        .tci-table {
            width: 990px;
            text-align: center;
        }
    }
}
@media (min-width: 768px) {
    #page_leaveVacation {

        .tableScroll {
            .tci-table {
                width: 100%;
            }
        }
    }

    #page_reconfirmLeave {
        .reconfirmLeaveContent {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .tci-input-group {
                width: 49%;
            }

            .formBox_gray {
                width: 100%;
                color: var(--color-dark-red);

                .formBox_content {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;

                    .tci-input-group {
                        width: 33%;
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    #page_reconfirmLeave {
        .reconfirmLeaveContent {
            justify-content: flex-start;

            .tci-input-group{
                width: 24%;
                margin-right: .5rem;
            }
            .formBox_gray {
                .formBox_content {
                    flex-wrap: nowrap;

                    .tci-input-group {
                        margin-right: 5px;
                        width: 25%;
                    }
                }

            }
        }
    }
}
#page_leaveVacation_signoff{
    .tableScroll{
        overflow-x: auto;
        .tableContent{
            width: 768px;
        }
    }
}
@media (min-width: 768px) {
    #page_leaveVacation_signoff{
        .tableScroll{
            .tableContent{
                width: 100%;
            }
        }
    }
}