<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="../../scss/tci-all.css">
    <link rel="stylesheet" href="./style.css">
    <title>銷假單簽核</title>
</head>

<body>
    <div class="container-fluid" id="page_leaveVacation_signoff">
        <div class="pageHeader">
            <span class="pageHeaderTitle"><b>銷假單-簽核</b></span>
        </div>

        <!-- 單據明細 -->
        <section class="darkBorderCard detailsBox tci-mb-3">
            <div class="darkBorderCardTitle">
                <span>單據明細</span>
                <span class="tci-pl-0 ">
                    <span class=""><i class="fa-solid fa-chevron-up"></i></span>
                    <!-- <span class=""><i class="fa-solid fa-chevron-down"></i></span> -->
                </span>
            </div>
            <div class="detailsBoxContent darkBorderCardContent">
                <div class="detailsBox_company tci-mt-1 tci-mb-2" style="text-align: right;">
                    <span class="detailsBox_companytext"
                        style=" color: #fff;padding: 0 6px;background-color: #83a2b4;border-radius: var(--borderRadius);font-size: 14px;">百岳特國際貿易(上海)</span>
                </div>
                <div class="tableScroll">
                    <div class="tableContent">
                        <div
                            style="text-align: center;font-size:var(--font-size-xl);font-weight: bold;margin-bottom: 1rem;">
                            <span>大江生醫股份有限公司 銷假單</span>
                        </div>
                        <table class="tci-table tci-table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="4" style="background-color: var(--color-rosybrown);color: var(--color-snow);font-size: var(--font-size-md);">申請核銷以下請假內容</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">銷假單號</th>
                                    <td>220804-36-A001</td>
                                    <th style="background-color: var(--color-light-gray);">請假單號</th>
                                    <td>220802-34-A006</td>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">請假人</th>
                                    <td>大江戰士-JIANSIAN.LIN(李建賢)</td>
                                    <th style="background-color: var(--color-light-gray);">假別</th>
                                    <td>特別休假</td>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">開始時間</th>
                                    <td>2022/08/05 - 07:00</td>
                                    <th style="background-color: var(--color-light-gray);">結束日期</th>
                                    <td>2022/08/05 - 16:00</td>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">時數計算</th>
                                    <td colspan="3">
                                        <table class="tci-table tci-table-bordered">
                                            <thead>
                                                <tr style="background-color: var(--color-light-gray);text-align: center;">
                                                    <th>日期</th>
                                                    <th>請假時間</th>
                                                    <th>上班時間</th>
                                                    <th>間休時間</th>
                                                    <th>實請時間</th>
                                                    <th>時數</th>
                                                </tr>
                                            </thead>
                                            <tbody style="text-align: center;">
                                                <tr>
                                                    <td>2022/08/05(星期五)</td>
                                                    <td>07:00 ~ 14:00</td>
                                                    <td>07:00 ~ 16:00</td>
                                                    <td>12:00 ~ 13:00</td>
                                                    <td>07:00 ~ 14:00</td>
                                                    <td>6.0 </td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr style="text-align: right;color:var(--color-light-red)">
                                                    <th colspan="5">合計</th>
                                                    <th style="text-align: center;">6.0</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <th style="background-color: var(--color-light-gray);">請假事由</th>
                                    <td colspan="3">載孩子回醫院檢查</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr style="color: var(--color-light-red);">
                                    <th style="background-color: var(--color-light-gray);">銷假原因</th>
                                    <th colspan="3">因排程及人力需求</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <section class="darkBorderCard tci-mb-3">
            <div class="darkBorderCardTitle">
                <span>簽核流程</span>
                <span class="tci-pl-0 ">
                    <span class=""><i class="fa-solid fa-chevron-up"></i></span>
                    <!-- <span class=""><i class="fa-solid fa-chevron-down"></i></span> -->
                </span>
            </div>
            <div class="darkBorderCardContent print_process_circuit">
                <div class="tci-card tci-mt-2 card-green">
                    <div class="tci-card-header card-header-green"><i class="fa-solid fa-user-tie"></i> 總經理主管</div>
                    <div class="tci-card-body">
                        <p class="tci-card-title">林詠翔<br/>VINCENT.LIN</p>
                        <div>
                            <span class="tci-card-text card-text-green"><i class="fa-solid fa-clock"></i>&nbsp;
                                免簽核</span>
                        </div>
                    </div>
                    <div class="tci-card-footer"></div>
                </div>
                <!-- 手機以上 -->
                <span style="text-align: center;margin: auto 1rem;">
                    <i class="fa-solid fa-left-long fa-2x"></i>
                </span>
                <!-- 手機 向上 Icon -->
                <!-- <span style="text-align:center;">
                        <i class="fa-solid fa-up-long fa-2x" style="width: 100%;"></i>
                    </span> -->
                <div class="tci-card tci-mt-2 card-blue">
                    <div class="tci-card-header card-header-blue"><i class="fa-solid fa-user-tie"></i> 戰略數據中心主管</div>
                    <div class="tci-card-body">
                        <p class="tci-card-title"> 王浩駿<br/>JOHNNY.WANG</p>
                        <div>
                            <span class="tci-card-text card-text-blue"><i class="fa-solid fa-clock"></i>&nbsp;
                                未簽核</span>
                        </div>
                    </div>
                    <div class="tci-card-footer"></div>
                </div>

                <!-- 手機以上 -->
                <span style="text-align: center;margin: auto 1rem;">
                    <i class="fa-solid fa-left-long fa-2x"></i>
                </span>
                <!-- 手機 向上 Icon -->
                <!-- <span style="text-align:center;">
                        <i class="fa-solid fa-up-long fa-2x" style="width: 100%;"></i>
                    </span> -->
                <div class="tci-card tci-mt-2 card-blue">
                    <div class="tci-card-header card-header-blue"><i class="fa-solid fa-user-tie"></i> 軟體整合開發部主管</div>
                    <div class="tci-card-body">
                        <p class="tci-card-title">吳春隆<br/>REX.WU</p>
                        <div>
                            <span class="tci-card-text card-text-blue"><i class="fa-solid fa-clock"></i>&nbsp; 同意</span>
                        </div>
                    </div>
                    <div class="tci-card-footer">2022/07/21 12:31:32</div>
                </div>
                <!-- 手機以上 -->
                <span style="text-align: center;margin: auto 1rem;">
                    <i class="fa-solid fa-left-long fa-2x"></i>
                </span>
                <!-- 手機 向上 Icon -->
                <!-- <span style="text-align:center;">
                        <i class="fa-solid fa-up-long fa-2x" style="width: 100%;"></i>
                    </span> -->
                <div class="tci-card tci-mt-2 card-blue">
                    <div class="tci-card-header card-header-blue"><i class="fa-solid fa-user-tie"></i> 軟體研發組主管</div>
                    <div class="tci-card-body">
                        <p class="tci-card-title">吳春隆<br/>REX.WU</p>
                        <div>
                            <span class="tci-card-text card-text-blue"><i class="fa-solid fa-check"></i>&nbsp; 同意</span>
                        </div>
                    </div>
                    <div class="tci-card-footer">2022/07/21 12:31:32</div>
                </div>
                <!-- 手機以上 -->
                <span style="text-align: center;margin: auto 1rem;">
                    <i class="fa-solid fa-left-long fa-2x"></i>
                </span>
                <!-- 手機 向上 Icon -->
                <!-- <span style="text-align:center;">
                        <i class="fa-solid fa-up-long fa-2x" style="width: 100%;"></i>
                    </span> -->
                <div class="tci-card tci-mt-2 card-blue">
                    <div class="tci-card-header card-header-blue"><i class="fa-solid fa-user"></i> 經辦人</div>
                    <div class="tci-card-body">
                        <p class="tci-card-title">曾莞婷<br/>HEDY.TSENG</p>
                        <div>
                            <span class="tci-card-text card-text-blue"><i class="fa-solid fa-check"></i>&nbsp; 送出</span>
                        </div>
                    </div>
                    <div class="tci-card-footer">2022/07/21 12:31:32</div>
                </div>
            </div>
        </section>
        <!-- 單據附件 start -->
        <section class="darkBorderCard tci-mb-3">
            <div class="darkBorderCardTitle">
                <span>單據附件</span>
                <!-- 展開縮放，icon 切換 -->
                <span class="tci-pl-0 ">
                    <span class=""><i class="fa-solid fa-chevron-up"></i></span>
                    <!-- <span class=""><i class="fa-solid fa-chevron-down"></i></span> -->
                </span>
            </div>
            <div class="darkBorderCardContent">
                <div style="text-align: center;margin: 1rem 0;">
                    <span style="font-weight: bold;">沒有附件</span>
                </div>
            </div>
        </section>
        <!-- 單據附件 end -->

        <!-- 簽核記錄 start -->
        <section class="darkBorderCard approvalBox tci-mb-3">
            <div class="darkBorderCardTitle">
                <span>簽核記錄</span>
                <!-- 展開縮放，icon 切換 -->
                <span class="tci-pl-0 ">
                    <span class=""><i class="fa-solid fa-chevron-up"></i></span>
                    <!-- <span class=""><i class="fa-solid fa-chevron-down"></i></span> -->
                </span>
            </div>
            <ul class="darkBorderCardContent" style="padding-left:20px;margin-top: 0;">
                <li style="color: var(--color-rosybrown);font-size: 14px;">2022/7/21 上午 11:35:21【經辦人-HEDY.TSENG(曾莞婷)工程師】
                    <span style="font-size:12px;color: #949495;font-weight: bold;">上傳附件：新增1個附件</span>
                </li>
                <li style="color: var(--color-rosybrown);font-size: 14px;">2022/7/21 上午 11:35:21【經辦人-HEDY.TSENG(曾莞婷)工程師】
                    <span style="font-size:12px;color: var(--color-dark-green);font-weight: bold;">已簽核：送出單據</span>
                </li>
                <li style="color: var(--color-sienna);font-size: 14px;">等待【軟體整合開發部主管-REX.WU(吳春隆)部門主管】簽核
                </li>
            </ul>
        </section>
        <!-- 簽核記錄 end -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>