<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./tci-all.css">
    <title>網頁錯誤訊息</title>
    <style>
        body {
            background: url(notfound01.png);
            height: 100%;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: contain;
        }
        span{
            background-color: var(--color-light-gray);
            padding: 5px;
            border-radius: var(--borderRadius);
            box-shadow: var(--borderShadow);
        }
    </style>
</head>

<body>
    <div style="text-align: center;margin-top: 2rem;">
        <button class="tci-btn bg_darkblue" style="margin:auto;margin-bottom: 1.5rem;">返回首頁</button><br/>
        <span>xxx</span>
    </div>
</body>

</html>