<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="./tci-all.css">
    <link rel="stylesheet" href="./style.css">
    <title>notfound</title>
</head>

<body>
    <div class="container-fluid" id="page_notfound">
        <div class="notfound_header">
            <span class="pageHeaderTitle">SYSTEM MAINTENANCE</span>
            <span class="small_title">為提升更好的服務，系統正在進行維護，敬請見諒，謝謝!</span>
            <span class="small_title_english">The system is under maintenance for service upgrade. We apologize for the
                inconvenience.Thank you!</span>
            <div style="margin-top:2rem;">
                <button class="tci-btn bg_darkblue">返回首頁</button>
            </div>
        </div>

        <div class="content">
            <div class="text_content">
                <div class="text_content_title">
                    <span>公告內容如下</span>
                </div>
                <div class="text">
                    事由: C.R.M. - 預估明細記錄 - 需求單進度 顯示資料修正.<br>
                    日期(UTC+8): 2022/08/17 13:00(三) - 2022/08/17 13:30(三) <br>
                    影響範圍: EIP系統版本更新，此時間內將暫時無法使用。造成不便敬請見諒，謝謝！
                </div>
                <div class="text">
                    Reason: C.R.M. - Estimated Item History - PD Request Progress Buttons fix.<br>
                    Date(UTC+8): 2022/08/17 13:00(Wed) - 2022/08/17 13:30(Wed) <br>
                    Impact: The EIP system will be updating. During this time, the EIP system will be inaccessible. We
                    apologize for the inconvenience. Thank you!
                </div>

            </div>
            <div class="img_content">
                <img src="./shutterstock_2.png" alt="">
            </div>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script> -->
</body>

</html>