body {
  background-color: #e0dcd4;
}

#page_notfound .notfound_header {
  text-align: center;
  font-weight: bold;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
}
#page_notfound .notfound_header .pageHeaderTitle {
  font-size: 24px;
}
#page_notfound .notfound_header .small_title {
  margin-top: 2rem;
  font-size: var(--font-size-sm);
}
#page_notfound .notfound_header .small_title_english {
  margin: auto;
}
#page_notfound .notfound_header button {
  box-shadow: var(--borderShadow);
}
#page_notfound .content {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  flex-wrap: wrap;
  flex-direction: column-reverse;
}
#page_notfound .content .text_content {
  margin-top: 1rem;
  width: 100%;
  margin-right: 2rem;
  line-height: 1.5;
  padding: 5px;
  border-radius: 0.25rem;
  box-shadow: var(--borderShadow);
  background-color: var(--color-snow);
  padding: 15px 14px;
  color: var(--color-dark-green);
  font-weight: bold;
  height: 300px;
  overflow: auto;
}
#page_notfound .content .text_content .text_content_title {
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 18px;
}
#page_notfound .content .text_content .text {
  font-size: 16px;
  text-align: left;
}
#page_notfound .img_content {
  width: 100%;
  text-align: center;
  margin: auto 0;
}
#page_notfound .img_content img {
  width: 50%;
}

@media (min-width: 768px) {
  #page_notfound .notfound_header .pageHeaderTitle {
    font-size: 34px;
  }
  #page_notfound .notfound_header .small_title_english {
    max-width: 65%;
  }
  #page_notfound .content {
    flex-direction: initial;
  }
  #page_notfound .content .text_content {
    margin: auto 0;
    width: 45%;
  }
  #page_notfound .content .text_content .text_content_title {
    font-size: 20px;
  }
  #page_notfound .img_content {
    width: 45%;
  }
  #page_notfound .img_content img {
    width: 80%;
  }
}
@media (min-width: 1200px) {
  #page_notfound .content .text_content {
    line-height: 2.5;
  }
}
#page_notfound2 {
  text-align: center;
  background-image: url("shutterstock_4.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 98vh;
  width: 100%;
}
#page_notfound2 .notfound_header {
  text-align: center;
  font-weight: bold;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#page_notfound2 .notfound_header .pageHeaderTitle {
  font-size: 24px;
}
#page_notfound2 .notfound_header .small_title {
  margin-top: 2rem;
  font-size: var(--font-size-sm);
}
#page_notfound2 .notfound_header .small_title_english {
  margin: auto;
}
#page_notfound2 .content2 {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  flex-wrap: wrap;
  flex-direction: column-reverse;
}
#page_notfound2 .content2 .text_content {
  margin-top: 2rem;
  width: 100%;
  margin-right: 2rem;
  line-height: 1.5;
  text-align: left;
}
#page_notfound2 .content2 .text_content .text_content_title {
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 18px;
}
#page_notfound2 .content2 .text_content .text {
  font-size: 16px;
  margin-bottom: 2rem;
  text-align: left;
}

@media (min-width: 768px) {
  #page_notfound2 .content2 .text_content {
    width: 55%;
    margin-left: 2rem;
  }
}