<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="../../scss/tci-all.css">
    <link rel="stylesheet" href="./style.css">
    <title>A/P發票請款單</title>
</head>

<body>
    <div class="container-fluid" id="page_invoicePaper02">
        <div class="pageHeader">
            <span class="pageHeaderTitle"><b>A/P發票請款單</b></span>
        </div>
        <div style="text-align: right;font-size: var(--font-size-sm);margin-bottom: 1rem;">
            <span
                style="font-size: var(--font-size-xs);background-color: var(--color-alge);color: var(--color-snow);padding: 2px;border-radius: var(--borderRadius);">公司別：<b>大江生活</b></span>
        </div>
        <section class="query">
            <div class="tci-field">
                <div class="tci-field-label">
                    <span class="tci-field-text">單據別:</span>
                </div>
                <div class="tci-valueBtn" style="display: flex;justify-content: flex-end;">
                    <select class="tci-field-value">
                        <option selected>收貨採購單</option>
                        <option value="1">A/P發票-文件號碼</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <input type="text" class="tci-field-value" value="160407-09-0001" style="width: 200px;">
                </div>
            </div>
            <div class="tci-field short">
                <div class="tci-field-label">
                    <span class="tci-field-text">收貨採購單:</span>
                </div>
                <select class="tci-field-value">
                    <option selected>有</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="btnGroups">
                <button class="tci-btn bg_darkblue">查詢</button>
                <button class="tci-btn tci-btn-grass">A/P 未送簽清單</button>
            </div>
        </section>
        <!-- 選擇其他下拉資料，顯示以下內容 -->
        <!-- <div style="display: flex;justify-content: end;margin-top: 1rem;">
            <span style="margin: auto 3px;flex: none;">查詢訂單：</span>
            <select class="tci-field-value" style="width: 80px;">
                <option selected>2022</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
            <span style="margin: auto 3px;flex: none;">年</span>
            <select class="tci-field-value" style="width: 70px;">
                <option selected>09</option>
                <option value="1">One</option>
                <option value="2">Two</option>
            </select>
            <span style="margin: auto 3px;flex: none;">月</span>
            <select class="tci-field-value" style="width: 120px;">
                <option selected>無銷售人員</option>
                <option value="1">One</option>
            </select>
            <span style="margin: auto 3px;flex: none;">銷售人員</span>
            <button class="tci-btn bg_darkblue">查詢</button>
        </div> -->
        <hr>
        <section class="well">

            <div class="form">
                <div class="left">
                    <div class="input-group mb-3">
                        <label class="input-group-text" style="font-size: var(--font-size-sm);">部門別</label>
                        <select class="form-select" style="font-size: var(--font-size-sm);">
                            <option selected>精準執照中心磐石園區</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="input-group mb-3 type">
                        <label class="input-group-text" style="font-size: var(--font-size-sm);">組別</label>
                        <select class="form-select" style="font-size: var(--font-size-sm);">
                            <option selected>共用</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
                <div class="input-group mb-3" style="width:200px;">
                    <label class="input-group-text" style="font-size: var(--font-size-sm);">日期</label>
                    <input type="text" class="form-control" disabled value="2022/22/22"
                        style="font-size: var(--font-size-sm);">
                </div>
            </div>
            <section class="btnBox" style="text-align: center;">
                <button class="tci-btn bg_darkblue">採購單122202-00-0000內容</button>
                <button class="tci-btn bg_darkblue">採購單122202-00-0000內容</button>
                <button class="tci-btn bg_darkblue">採購單122202-00-0000內容</button>
                <button class="tci-btn tci-btn-orgin">收採單122202-00-0000內容</button>
            </section>
            <section class="tableScorll" style="overflow-x: auto;margin-top: 1rem;">
                <div class="btnGroups">
                    <button class="tci-btn bg_darkblue" style="padding: 3px;"> 顯示明細</button>
                </div>
                <div style="min-width: 940px;">
                    <div style="font-size: 13px;">
                        <div style="display: flex;justify-content: space-between;">
                            <span><b>廠商名稱：</b>美奐有限公司</span>
                            <span style="width: 200px;"><b>文件日期：</b>2016/11/30</span>
                        </div>
                        <div style="display: flex;justify-content: space-between;">
                            <span><b>專案名稱：</b>美奐有限公司</span>
                            <span style="width: 200px;"><b>文件號碼：</b> 878</span>
                        </div>
                    </div>
                    <table class="tci-table-bordered" style="padding: 3px;width:100%;font-size: 13px;">
                        <thead>
                            <tr style="text-align: center;background-color:var(--color-light-gray);">
                                <th style="width: 20px;">NO</th>
                                <th>項目號碼</th>
                                <th>專案代號</th>
                                <th>品名/規格</th>
                                <th>倉庫</th>
                                <th>數量</th>
                                <th>單位</th>
                                <th>單價</th>
                                <th>小計</th>
                                <th>採購單價/數量</th>
                                <th>備註</th>
                                <th>檢驗</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="text-align: center;">1</td>
                                <td style="text-align: center;">D35ZZ0021</td>
                                <td style="text-align: center;">1222</td>
                                <td>Home Dr.-黃精馬卡帝王錠(550mg/顆，3顆/包，15包/盒)-外盒</td>
                                <td style="text-align: center;">S9</td>
                                <td style="text-align: center;">5,250.00 </td>
                                <td style="text-align: center;">kg</td>
                                <td style="text-align: center;">NTD 15.5000</td>
                                <td style="text-align: center;">NTD 79,825</td>
                                <td style="text-align: center;">NTD 15.5000 / 5,150.00(差異:0.00%) </td>
                                <td style="text-align: center;">S9</td>
                                <td style="text-align: center;">免驗</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">1</td>
                                <td style="text-align: center;">D35ZZ0021</td>
                                <td style="text-align: center;">1222</td>
                                <td>Home Dr.-黃精馬卡帝王錠(550mg/顆，3顆/包，15包/盒)-外盒</td>
                                <td style="text-align: center;">S9</td>
                                <td style="text-align: center;">5,250.00 </td>
                                <td style="text-align: center;">kg</td>
                                <td style="text-align: center;">NTD 15.5000</td>
                                <td style="text-align: center;">NTD 79,825</td>
                                <td style="text-align: center;">NTD 15.5000 / 5,150.00(差異:0.00%) </td>
                                <td style="text-align: center;">S9</td>
                                <td style="text-align: center;">免驗</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td></td>
                                <td colspan="3" valign="top">
                                    <table style="padding: 3px;width:100%;font-size: var(--font-size-xs);">
                                        <tbody>
                                            <tr>
                                                <th style="border: 0;width: 80px;padding: 3px;white-space: nowrap;">發票日期：</th>
                                                <td style="border: 0;padding: 3px;">2022/6/14</td>
                                            </tr>
                                            <tr>
                                                <th style="border: 0;padding: 3px;">發票聯式：</th>
                                                <td style="border: 0;padding: 3px;">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <th style="border: 0;padding: 3px;">發票編號：</th>
                                                <td style="border: 0;padding: 3px;"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td colspan="4" valign="top">
                                    <table style="padding: 3px;width:100%;font-size: 13px;margin-bottom: 0;">
                                        <tbody>
                                            <tr>
                                                <th style="border: 0;width: 80px;padding: 3px;white-space: nowrap;">數量合計：</th>
                                                <td style="border: 0;padding: 3px;">0.00</td>
                                            </tr>
                                            <tr>
                                                <th style="border: 0;padding: 3px;">付款條件：</th>
                                                <td style="border: 0;padding: 3px;">P TT 當月結</td>
                                            </tr>
                                            <tr>
                                                <th style="border: 0;padding: 3px;">付款日期：</th>
                                                <td style="border: 0;padding: 3px;">2009/12/31</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td colspan="5" valign="top">
                                    <table style="padding: 3px;width:100%;font-size: 13px;margin-bottom: 0;">
                                        <tbody>
                                            <tr>
                                                <th style="border: 0;width: 20%;padding: 3px;">合　計：</th>
                                                <td style="border: 0;padding: 3px;">&nbsp;</td>
                                                <td style="border: 0;text-align: right;padding: 3px;">NTD 6,707</td>
                                            </tr>
                                            <tr>
                                                <th style="border: 0;padding: 3px;">稅　額：</th>
                                                <td style="border: 0;padding: 3px;">&nbsp;</td>
                                                <td style="border: 0;text-align: right;padding: 3px;">NTD 0</td>
                                            </tr>
                                            <tr>
                                                <th style="border: 0;padding: 3px;">訂　金：</th>
                                                <td style="border: 0;padding: 3px;">100%</td>
                                                <td style="border: 0;text-align: right;padding: 3px;">NTD 6,707</td>
                                            </tr>
                                            <tr>
                                                <th style="border: 0;padding: 3px;">小　計：</th>
                                                <td style="border: 0;padding: 3px;">&nbsp;</td>
                                                <td style="border: 0;text-align: right;padding: 3px;">NTD 6,707</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td colspan="7">
                                    <table style="width:100%;">
                                        <tbody>
                                            <tr>
                                                <th style="border: 0;width: 15%;">附　註：</th>
                                                <td style="border: 0;">NTD 6,707</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td colspan="4">
                                    <table style="width:100%;">
                                        <tbody>
                                            <tr>
                                                <th style="border: 0;width: 20%;">總　計：</th>
                                                <td style="border: 0;text-align: right;">NTD 6,707</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                    <div
                        style="background-color: var(--color-light-red);color: var(--color-snow);padding: 5px;text-align: center;">
                        <span>此單據已申請(單據編號161208-02-0001)</span>
                    </div>
                </div>
            </section>
            <div class="btnGroups  tci-mt-2">
                <button class="tci-btn bg_darkblue">重新查詢</button>
                <button class="tci-btn bg_darkgreen">確認資料，預覽單據</button>
            </div>
        </section>
        <div class="userCard_info">
            <span class="user_info">
                <u><b>使用者資訊：</b>
                    <span>大江生醫 - 軟體研發組 - 大江戰士TCI Warrior(2) - 2206A0011 - HEDY.TSENG - 曾莞婷</span></u>
            </span>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>