.page_02{

    .btnBox{
        background-color: var(--color-light-blue);
        padding: .5rem;
        border-radius: var(--borderRadius);
        button{
            padding-left: 5px;
            padding-right: 5px;
            margin-bottom: 5px;
        }
    }
}
@media (min-width:768px) {
    .page_02 {
        .query {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;

            .tci-field {
                width: 70%;
                justify-content: space-between;

                .tci-field-label {
                    width: 42%;
                    text-align: right;
                }

                .tci-valueBtn {
                    width: 55%;
                }

                &.short {
                    width: 25%;

                    .tci-field-label {
                        width: 63%;
                        text-align: right;
                    }

                    .tci-field-value {
                        width: 34%;

                    }
                }
            }
        }
        .form {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .left {
                width: 70%;
                display: flex;
                flex-wrap: wrap;

                .input-group {
                    width: 60%;
                    &.type{
                        width: 30%;
                    }
                }
            }
            .input-group {
                width: 25%;
            }
        }
    }
}

@media (min-width:992px) {
    .page_02 {
        .query {
            .tci-field {
                width: 50%;

                .tci-field-label {
                    width: 40%;
                }

                .tci-valueBtn {
                    width: 60%;
                }

                &.short {
                    width: 20%;
                }
            }

            .btnGroups {
                button {
                    min-width: auto;
                    margin-left: .5rem;
                }
            }
        }
        .form {
            .left {
                .input-group {
                    width: 45%;
                    &.type{
                        width: 25%;
                    }
                }
            }
        }
     
    }
}
#page_invoicePaper02_print{
    table{
        th,td{
            padding: 3px;
        }
    }
}
#page_invoicePaper02_signoff{
    table{
        th,td{
            padding: 3px;
        }
    }
}