.page_02 .btnBox {
  background-color: var(--color-light-blue);
  padding: 0.5rem;
  border-radius: var(--borderRadius);
}
.page_02 .btnBox button {
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 5px;
}

@media (min-width: 768px) {
  .page_02 .query {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .page_02 .query .tci-field {
    width: 70%;
    justify-content: space-between;
  }
  .page_02 .query .tci-field .tci-field-label {
    width: 42%;
    text-align: right;
  }
  .page_02 .query .tci-field .tci-valueBtn {
    width: 55%;
  }
  .page_02 .query .tci-field.short {
    width: 25%;
  }
  .page_02 .query .tci-field.short .tci-field-label {
    width: 63%;
    text-align: right;
  }
  .page_02 .query .tci-field.short .tci-field-value {
    width: 34%;
  }
  .page_02 .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .page_02 .form .left {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
  }
  .page_02 .form .left .input-group {
    width: 60%;
  }
  .page_02 .form .left .input-group.type {
    width: 30%;
  }
  .page_02 .form .input-group {
    width: 25%;
  }
}
@media (min-width: 992px) {
  .page_02 .query .tci-field {
    width: 50%;
  }
  .page_02 .query .tci-field .tci-field-label {
    width: 40%;
  }
  .page_02 .query .tci-field .tci-valueBtn {
    width: 60%;
  }
  .page_02 .query .tci-field.short {
    width: 20%;
  }
  .page_02 .query .btnGroups button {
    min-width: auto;
    margin-left: 0.5rem;
  }
  .page_02 .form .left .input-group {
    width: 45%;
  }
  .page_02 .form .left .input-group.type {
    width: 25%;
  }
}
#page_invoicePaper02_print table th, #page_invoicePaper02_print table td {
  padding: 3px;
}

#page_invoicePaper02_signoff table th, #page_invoicePaper02_signoff table td {
  padding: 3px;
}