#page_deliveryCredit{
    .deliveryCreditQuery{
        .tci-field{
            flex-wrap: wrap;
            .inputquery{
                width: 100%;
                display: flex;
                input{
                width: 100%;
                }
            }
        }
    }
}

@media (min-width:765px) {
    #page_deliveryCredit{
        .deliveryCreditQuery{
            .tci-field{
                flex-wrap: nowrap;
                .inputquery{
                    width: 60%;
                    display: flex;
                    input{
                    width: 100%;
                    }
                }
            }
        }
    }
}