#page_deliveryCredit {
    .deliveryCreditQuery {
        .tci-field {
            .tci-field-label {
                text-align: left;
            }

            .tci-valueBtn {
                display: flex;
                width: 100%;
            }
        }
    }
}

@media (min-width: 768px) {
    #page_deliveryCredit {
        .deliveryCreditQuery {
            .tci-field {
                justify-content: space-between;

                .tci-field-label {
                    text-align: right;
                }
                .tci-field-label {
                    width: 50%;
                }
                .tci-valueBtn {
                    display: flex;
                    width: 50%;
                    justify-content: end;
                }
                .tci-field-value {
                    width: 100%;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    #page_deliveryCredit {
        .deliveryCreditQuery {
            .tci-field {
                .tci-field-label {
                    width: 50%;
                }
                .tci-valueBtn {
                    display: flex;
                    width: 50%;
                    justify-content: end;
                }

                .tci-field-value {
                    width: 70%;
                }
            }
        }
    }
}
