#page_deliveryCredit{
    .deliveryCreditQuery{
        .tci-field{
            .tci-valueBtn {
                display: flex;
                width: 100%;
            }
        }
    }
}

@media (min-width:765px) {
    #page_deliveryCredit{
        .deliveryCreditQuery{
            .tci-field{
                .tci-valueBtn {
                    display: flex;
                    width: 70%;
                    justify-content: end;
                }
                .tci-field-value{
                    width: 70%;
                }
            }
        }
    }
}