<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="../../scss/tci-all.css">
    <title>出貨超額授信單</title>
</head>

<body>
    <div class="container-fluid" id="page_deliveryCredit">
        <div class="pageHeader">
            <span class="pageHeaderTitle"><b>出貨超額授信單</b></span>
        </div>
        <section class="deliveryCreditQuery">
            <div class="tci-field">
                <div class="tci-field-label">
                    <span class="tci-field-text">請輸入出貨單:</span>
                </div>
                <div class="tci-valueBtn">
                    <input type="text" class="tci-field-value" />
                    <button class="tci-btn bg_darkblue tci-ml-2">查詢</button>
                </div>

            </div>
        </section>
        <section class="tableScroll">
            <div class="tableContent">
                <div
                    style="text-align: center;font-size:var(--font-size-xl);font-weight: bold;margin-bottom: .5rem;background-color: var(--color-light-red);color: var(--color-snow);">
                    <span>信用額度超額訊息</span>
                </div>
                <table class="tci-table tci-table-bordered">
                    <tbody>
                        <tr>
                            <th style="background-color: var(--color-light-gray);">出貨單號</th>
                            <td colspan="3">220607-71-A002</td>
                        </tr>
                        <tr>
                            <th style="background-color: var(--color-light-gray);width: 20%;">客戶編號</th>
                            <td style="width: 25%;">10002238</td>
                            <th style="background-color: var(--color-light-gray);width: 20%;">客戶名稱</th>
                            <td style="width: 25%;">陳品有限公司</td>
                        </tr>
                        <tr>
                            <th style="background-color: var(--color-light-gray);">信用額度超額幣別</th>
                            <td>10002238</td>
                            <th style="background-color: var(--color-light-gray);">核定授信額度</th>
                            <td>陳品有限公司</td>
                        </tr>
                        <tr>
                            <th style="background-color: var(--color-light-gray);">已出貨未開票</th>
                            <td>10002238</td>
                            <th style="background-color: var(--color-light-gray);">已請款未立帳</th>
                            <td>陳品有限公司</td>
                        </tr>
                        <tr>
                            <th style="background-color: var(--color-light-gray);">應收款項餘額</th>
                            <td>10002238</td>
                            <th style="background-color: var(--color-light-gray);">可用授信額度</th>
                            <td>-146,394.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <section class="tableScroll" style="overflow-x: auto;">
            <div class="tableContent" style="min-width:742px;">
                <table class="tci-table tci-table-bordered">
                    <tbody>
                        <tr style="text-align: center;background-color: var(--color-light-gray);">
                            <th>No</th>
                            <th>產品編號 </th>
                            <th>產品名稱/規格</th>
                            <th>出貨數量</th>
                            <th>單位</th>
                            <th>業務分組</th>
                            <th>付款條件</th>
                            <th>小計</th>
                        </tr>
                        <tr style="text-align: center;">
                            <td>1</td>
                            <td>34011669</td>
                            <td>陳品-燕麥清新舒敏卸妝乳250g</td>
                            <td>9,313.00</td>
                            <td>PCS</td>
                            <td>M102</td>
                            <td>月結30天</td>
                            <td style="text-align: right;">718,730.78</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr style="color: var(--color-light-red);text-align: right;">
                            <th colspan="7">(含稅)外幣總計</th>
                            <th>718,730.78</th>
                        </tr>
                        <tr style="color: var(--color-light-red);text-align: right;">
                            <th colspan="7">本幣總計TWD</th>
                            <th>718,730.78</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </section>

        <section class="fileBox formBox_gray">
            <div class="tci-input-group tci-mb-2 fileContentNo formBox_title"
                style="margin-bottom: 0;border-bottom-left-radius: 0;border-bottom-right-radius: 0;">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text tci-mr-2">檔案數:</span>
                    <select class="tci-bs-custom-select" style="width:100px">
                        <option selected>100</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
            </div>
            <div class="illustrate formBox_content" style="border-top-left-radius: 0;border-top-right-radius: 0;">
                <div class="fileIllustrate">
                    <div class="tci-input-group tci-mr-1" style="width: 10%;">
                        <div class="tci-input-group-prepend">
                            <span class="tci-input-group-text">序號:</span>
                        </div>
                        <div class="tci-form-control gray">1</div>
                    </div>
                    <div class="tci-input-group tci-mr-1">
                        <div class="tci-input-group-prepend">
                            <span class="tci-input-group-text">檔案:</span>
                        </div>
                        <input type="file" class="tci-form-control" />
                    </div>
                    <div class="tci-input-group">
                        <div class="tci-input-group-prepend">
                            <span class="tci-input-group-text">檔案說明:</span>
                        </div>
                        <input type="text" class="tci-form-control" />
                    </div>
                </div>
                <div class="fileIllustrate ">
                    <div class="tci-input-group tci-mr-1" style="width: 10%;">
                        <div class="tci-input-group-prepend">
                            <span class="tci-input-group-text">序號:</span>
                        </div>
                        <div class="tci-form-control gray">1</div>
                    </div>
                    <div class="tci-input-group tci-mr-1">
                        <div class="tci-input-group-prepend">
                            <span class="tci-input-group-text">檔案:</span>
                        </div>
                        <input type="file" class="tci-form-control" />
                    </div>
                    <div class="tci-input-group">
                        <div class="tci-input-group-prepend">
                            <span class="tci-input-group-text">檔案說明:</span>
                        </div>
                        <input type="text" class="tci-form-control" />
                    </div>
                </div>
            </div>
        </section>
        <div class="btnGroups">
            <button class="tci-btn bg_darkgreen">確認資料，儲存單據</button>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>