<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="../../scss/tci-all.css">
    <title>Document</title>
</head>

<body>
    <div class="tci-card card-green">
        <div class="tci-card-header card-header-green">
            Featured
        </div>
        <div class="tci-card-body">
            <h5 class="tci-card-title">Special title treatment</h5>
            <p class="tci-card-text ">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="tci-card-footer text-muted card-text-green">
            2 days ago
        </div>
    </div>

    <div class="tci-card tci-mt-2">
        <div class="tci-card-header">
          Quote
        </div>
        <div class="tci-card-body">
            <p>A well-known quote, contained in a blockquote element.</p>
        </div>
      </div>
</body>

</html>