<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../scss/tci-all.css">
</head>

<body>
    <!-- 上下 -->
    <div class="tci-input-group">
        <div class="tci-input-group-prepend">
            <span class="tci-input-group-text">上下:</span>
        </div>
        <input type="text" class="tci-form-control" />
    </div>
    
    <textarea class="tci-form-control"></textarea>
    <div class="tci-form-control">軟體研發組</div>


    <hr>
    <!-- 靠左 -->
    <div class="tci-field">
        <div class="tci-field-label">
            <span class="tci-field-text text-left">靠左:</span>
        </div>
        <input type="text" class="tci-field-value" />
    </div>

    <!-- 靠右 -->
    <div class="tci-field">
        <div class="tci-field-label">
            <span class="tci-field-text text-right">靠右：</span>
        </div>
        <input type="text" class="tci-field-value" />
    </div>

    <hr>
    <div class="tci-bs-input-group">
        <div class="tci-bs-input-group-prepend">
            <span class="tci-bs-input-group-text">bootstrap名稱:</span>
        </div>
        <input type="text" class="tci-form-control" />
    </div>
    <hr>
    <div class="tci-bs-input-group tci-mb-3">
        <input type="text" class="tci-bs-form-control">
        <div class="tci-bs-input-group-append">
            <button class="tci-btn tci-btn-blue" type="button">bootstrap名稱有前後</button>
        </div>
    </div>

    <hr>
    <div class="tci-bs-input-group">
        <div class="tci-bs-input-group-prepend">
            <span class="tci-bs-input-group-text">bs:</span>
        </div>
        <select class="tci-bs-custom-select">
            <option selected>Choose...</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
    <hr>

    <select class="tci-form-control">
        <option selected>Choose...</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
    </select>

    <div class="tci-label-group">
        <input type="text" class="tci-label-text">
        <label class="tci-label-top">label-上下</label>
    </div>
</body>

</html>