<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="../../scss/tci-all.css">
    <title>新增-換料申請單</title>
</head>

<body>
    <div class="container-fluid" id="page_changeRequest">
        <div class="pageHeader">
            <span class="pageHeaderTitle"><b>新增 換料申請單</b></span>
        </div>
        <section class="changeRequestQuery">
            <div class="tci-input-group tci-mb-3 single">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text">Single Refueling - Production Order / Outsourcing Purchase Order Number:</span>
                </div>
                <input type="text" class="tci-form-control" />
                <button class="tci-btn bg_drakgreen">提交</button>
            </div>
            <div class="tci-input-group tci-mb-3 bom">
                <div class="tci-input-group-prepend">
                    <span class="tci-input-group-text">Permanent Refill - BOM/Product Number:</span>
                </div>
                <input type="text" class="tci-form-control" />
                <span style="font-size: 1.25rem;margin:0 .5rem">:</span>
                <select class="tci-form-control">
                    <option selected>Choose...</option>
                    <option value="1">8505磐石生產中心</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <button class="tci-btn bg_drakgreen">提交</button>
            </div>
        </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script> -->
</body>

</html>