#page_purchaseRequisition .purchaseTable .tci-field-label {
  white-space: normal;
}
#page_purchaseRequisition .purchaseTable .reason {
  width: 100%;
}

@media (min-width: 768px) {
  #page_purchaseRequisition .purchaseTable .reason {
    width: 65%;
  }
  #page_purchaseRequisition .purchaseTable .reason .tci-field-value {
    width: 100%;
  }
  #page_purchaseRequisition .tci-field .tci-field-label {
    width: 35%;
  }
  #page_purchaseRequisition .tci-field .tci-field-value {
    width: 65%;
  }
}
@media (min-width: 1200px) {
  #page_purchaseRequisition .purchaseTable .purchaseTable_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #page_purchaseRequisition .purchaseTable .purchaseTable_form .tci-field {
    width: 48%;
  }
  #page_purchaseRequisition .purchaseTable .purchaseTable_form .tci-field .tci-field-label {
    width: 22%;
  }
  #page_purchaseRequisition .purchaseTable .purchaseTable_form .tci-field .tci-field-value {
    width: 77%;
  }
}
#page_purchaseRequisition_signoff .tableScroll {
  overflow-x: auto;
}
#page_purchaseRequisition_signoff .tableScroll .tableContent {
  width: 1200px;
}

#page_purchaseRequisition_print .tableScroll {
  overflow-x: auto;
}
#page_purchaseRequisition_print .tableScroll .tableAuto {
  width: 992px;
}

@media (min-width: 992px) {
  #page_purchaseRequisition_signoff .tableScroll .tableContent {
    width: 100%;
  }
  #page_purchaseRequisition_print .tableScroll .tableAuto {
    width: 100%;
  }
}