.purchaseTable {
    .tci-field-label {
        white-space: normal;
    }

    .purchaseBox {
        .reason {
            width: 100%;
            .tci-valueBtn{
                display: flex;
            }
        }
        .tci-valueTable {
            width: 100%;
        }
    }
}
#page_purchaseRequisition {
    .tableScroll {
        table {
            th,
            td {
                padding: 3px !important;
            }
        }
    }
}

@media (min-width: 768px) {
    .purchaseTable {
        .purchaseBox {
            .tci-field {
                .tci-field-label {
                    width: 35%;
                }
                .tci-field-value {
                    width: 65%;
                }
            }
            .tci-valueTable {
                width: 65%;
            }
        }
    }
}

@media (min-width: 992px) {
    .purchaseTable {
        .purchaseBox {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .tci-field {
                width: 48%;
                justify-content: space-between;
                &.w100 {
                    width: 100%;
                    .tci-field-label {
                        width:  17%;
                    }
                    .tci-valueTable {
                        width: 83%;
                    }
                    .tci-field-value{
                        width: 83%;
                    }
                }
                &.date{
                    width: 100%;
                    justify-content: flex-start;
                    .tci-field-label {
                        width:  17%;
                    }
                    .tci-field-value{
                        width: 31%;
                    }
                }
                .tci-field-label {
                    width: 35%;
                }
                .tci-field-value {
                    width: 65%;
                }
                .tci-valueBtn {
                    width: 65%;
                }
                &.reason {
                    .tci-field-label {
                        width: 17%;
                    }
                    .tci-valueBtn {
                        width: 83%;
                    }
                }
            }
            
        }
    }
}

#page_purchaseRequisition_signoff {
    .tableScroll {
        overflow-x: auto;

        .tableContent {
            width: 1200px;
        }
    }
}
#page_purchaseRequisition_print {
    .tableScroll {
        overflow-x: auto;

        .tableAuto {
            width: 992px;
        }
    }
}
@media (min-width: 992px) {
    #page_purchaseRequisition_signoff {
        .tableScroll {
            .tableContent {
                width: 100%;
            }
        }
    }
    #page_purchaseRequisition_print {
        .tableScroll {
            .tableAuto {
                width: 100%;
            }
        }
    }
}
