#page_purchaseRequisition {
    .purchaseTable {
        .tci-field-label {
            white-space: normal;
        }
        .reason{
            width: 100%;
        }

        .purchaseTable_form {
            padding: 1rem;
        }
    }
}
@media (min-width: 765px) {
    #page_purchaseRequisition {
        .purchaseTable {
            .reason{
                width: 60%;
                .tci-field-value{
                    width: 100%;
                }
            }
        }
    }
}
@media (min-width: 1200px) {
    #page_purchaseRequisition {
        .purchaseTable {
            .purchaseTable_form {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
    
                .tci-field {
                    width: 48%;
    
                    .tci-field-label {
                        width: 22%;
                    }
    
                    .tci-field-value {
                        width: 77%;
                    }
                }
            }
        }
    }
}