#page_createDocument .createDocumentTable .tci-field-label {
  white-space: normal;
}
#page_createDocument .createDocumentTable .createDocumentTable_form {
  padding: 1rem;
}

@media (min-width: 1200px) {
  #page_createDocument .createDocumentTable .createDocumentTable_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #page_createDocument .createDocumentTable .createDocumentTable_form .tci-field {
    width: 48%;
  }
  #page_createDocument .createDocumentTable .createDocumentTable_form .tci-field .tci-field-label {
    width: 22%;
  }
  #page_createDocument .createDocumentTable .createDocumentTable_form .tci-field .tci-field-value {
    width: 77%;
  }
}