#page_invoiceQuery {
    .queryContentAll {
        border: 3px solid var(--color-dark-khaki);
        border-radius: var(--borderRadius);
        padding: 5px;

        .tci-form-control {
            background-color: var(--color-whitesmoke);
        }

        .queryData {
            text-align: end;
        }

        .queryRow {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .tci-form-control {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .tci-input-group {
                width: 48%;
            }
        }
    }
}

#page_invoicePaper {
    .flex_between{
        display: flex;
        justify-content: space-between;
    }
    .invoiceTable{
        overflow-x: auto;
        .tableScroll{
            width: 900px;
        }
    }
    .invoiceContainer {
        margin-top: 1rem;

        .invoiceTitle {
            text-align: center;
            font-size: var(--font-size-sm);
            font-weight: bold;
        }
    }
}

@media (min-width:768px) {
    #page_invoiceQuery {
        .query {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .tci-input-group {
                width: 48%;
            }
        }

        .queryContentAll {
            .queryRow {
                .tci-input-group {
                    width: 32%;
                }
            }
        }
    }

    #page_invoicePaper {
        .invoiceTable{
            overflow-x: auto;
            .tableScroll{
                width: 100%;
            }
        }
        .fileBox {
            .illustrate {
                .fileIllustrate {
                    display: flex;
                    .tci-input-group{
                        margin-bottom: .5rem;
                    }
                }
            }
        }
        .btnGroups {
            text-align: right;
            margin-bottom: 1rem;
        }

        .invoicePaperQuery {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .tci-bs-input-group {
                width: 48%;
                margin-right: .5rem;
            }
        }

        .invoiceContainer {
            .invoiceTitle {
                font-size: 24px;
            }
        }
    }
}

@media (min-width:992px) {
    #page_invoiceQuery {
        .query {
            .tci-input-group {
                width: 30%;
            }
        }
        .queryContentAll {
            .queryRow {
                .tci-input-group {
                    width: 15%;
                }
            }
        }
    }

    #page_invoicePaper {
        .invoicePaperQuery {
            justify-content: space-between;

            .tci-bs-input-group {
                width: 30%;
                margin-right: 0;
            }
        }
    }
}

@media (min-width:1200px) {
    #page_invoiceQuery {
        .queryContentAll {
            .queryRow {
                justify-content: flex-start;

                .tci-input-group {
                    width: 12%;
                    margin-right: 5px;
                }
            }
        }
    }

}
// 列印
#page_invoiceQuery_signoff{
    .tableScroll{
        overflow-x: auto;
        .tableContent{
            width: 900px;
        }
    }
}
@media (min-width:768px) {
    #page_invoiceQuery_signoff{
        .tableScroll{
            .tableContent{
                width: 100%;
            }
        }
    }
}